[2015-05-15 18:33] germanattanasio opened #1 "Add support for Natural Language Classifier"
Natural Language Classifier was released few days ago.
We need to add the support in the `java-wrapper`

[2015-05-20 20:38] germanattanasio commented on #1
Fixed in 4a66820a108b1342597738d356339e4f0ae23505

[2015-05-20 20:38] #1 closed

[2015-06-09 01:52] germanattanasio opened #2 "Investigate the use of enumerations instead of strings for Natural language classifier"
Classifier status is a string instead of an enumeration. There are places in the code where we may want to check the classifiers state, e.g.
[code]

This prevents us from needing to hardcode the status strings, or define them as constants in our codebase.

[2015-06-22 03:12] germanattanasio opened #4 "Text to Speech: Synthesize should be POST not GET"
`/v1/synthesize` should be POST so that we can increase the limit for `text` to 4MB

[2015-06-23 02:35] germanattanasio opened #5 "Speech to text: Create session should accept the modelName we want to use"
We need to allow users to create sessions with a given model name. Currently we don't accept a model name so all the sessions are created with the default model.

[2015-06-23 03:27] germanattanasio opened #6 "Speech to Text: do we want to implement the `/observeResult`?"
The Speech to Text service doesn't have the a way to do live recognition. We need to add the interim_result functionality.

[2015-06-23 04:59] germanattanasio opened #7 "Speech-to-text: implement getRecognizeStatus"
The Speech to Text service doesn't have the a way to get the status of the `recognize` engine for a given session.

[2015-07-02 20:32] germanattanasio commented on #4
Fixed

[2015-07-02 20:32] #4 closed

[2015-07-02 20:33] germanattanasio commented on #5
fixed

[2015-07-02 20:33] #5 closed

[2015-07-02 20:33] germanattanasio commented on #6
can't be implemented in java.

[2015-07-02 20:33] #6 closed

[2015-07-02 20:33] germanattanasio commented on #7
fixed

[2015-07-02 20:33] #7 closed

[2015-07-08 22:17] germanattanasio opened #8 "Invalid use of BasicClientConnManager: connection still allocated"
Currently the `execute()` method is single thread and try to use only one HTTP connection. This is a big problem if the wrapper is being used in a multi-thread environment so we need to add a http connection pool.

See:

* http://stackoverflow.com/questions/14866362/invalid-use-of-basicclientconnmanager-connection-still-allocated
* http://hc.apache.org/httpcomponents-client-ga/tutorial/html/connmg

[2015-07-09 21:29] germanattanasio opened #9 "UTF-8 compatible"
Looks like the wrapper is not encoding the requests as UTF-8.

Specially for the dialog service when we try to update the profile

[2015-07-10 04:10] germanattanasio opened #10 "Add test cases"
We need tests cases to make sure that code changes don't break the existing functionality. We need to choose a good framework to mock rest calls.

I heard good comments about http://www.mock-server.com/

- [x] Add coveralls.io
- [x] Choose the test framework to use
- [x] Add test cases for the GA services

[2015-07-10 14:46] aarora91 commented on #9
Need to check with John Zakos to see if it's a WDS issue. The user input gets displayed correctly in the response json but the WDS response text is not.

[2015-07-16 13:21] germanattanasio opened #11 "Add support for Tone Analyzer"
Add Tone Analyzer support

[2015-07-20 18:28] germanattanasio commented on #9
Any update onthis @aarora91 ?

[2015-07-20 18:36] aarora91 commented on #9
None so far. I have checked with John and he believes it's not a WDS issue. Dan O' Connor is looking into this. I'll let you know if we feel it's an issue with the SDK code in particular. Thanks!

[2015-07-20 20:38] germanattanasio commented on #8
I'm going to fully read the `InputStream` and that should be enough to close the http connection. I may also include a connection manager to also handle a pool of http connections.

I'm currently looking at: http://grepcode.com/file/repo1.maven.org/maven2/org.apache.httpcomponents/httpcore/4.0.1/org/apache/http/util/EntityUtils.java

[2015-07-21 16:23] germanattanasio commented on #8
More work on 5f4420efa799b65de0c5f1789f0bf75bfb296452

[2015-07-21 21:39] germanattanasio commented on #2
Fixed

[2015-07-21 21:39] #2 closed

[2015-07-21 21:40] germanattanasio commented on #9
Fixed in 258439c4284d9a716f612c028c288cce8701ab95

[2015-07-21 21:40] #9 closed

[2015-07-21 21:40] germanattanasio commented on #9
I tested and the wrapper has support for UTF-8

[2015-07-21 23:10] germanattanasio commented on #11
@herchu can you please review the implementation? I will be finishing with `/synonym` tomorrow and adding some tests cases too.

[2015-07-22 15:39] herchu commented on #11
Looks good. My comments:

* The default path
private static final String URL ...
should be /tone-analyzer-experimental (not -beta)

* The scorecard name in getTone() should be optional. Or, default to the default scorecard name if null. We should define "email" as the default scorecard in the wrapper, somewhere in the constants, to simplify usage (This is intended for future growth of the service,

[2015-07-22 17:20] germanattanasio commented on #11
Can you please take a look at the POJOs in `tone_analyzer.v1.model` and make sure the javadoc is complete?  I love the idea of having a pull request with javadoc for the service and the model classes :ear:

[2015-07-22 18:56] aarora91 commented on #8
Thanks. Just tested this with the update. Works fine.

[2015-07-22 20:10] scarrdi opened #12 "Concept Expansion Error"
Issue with a call from the source of the wrapper.

![ce_error](https://cloud.githubusercontent.com/assets/13457503/8836014/0f014976-308c-11e5-981e-b7803386318e.PNG)
![ce_code](https://cloud.githubusercontent.com/assets/13457503/8836015/0f8bd226-308c-11e5-8546-f2d23fcbfc2d.PNG)

[2015-07-22 20:26] germanattanasio commented on #12
Fixed in 499babd5d283765d9a2e2f2c2c17f371ec3f407d

[2015-07-22 20:26] #12 closed

[2015-07-22 20:26] #8 closed

[2015-07-24 20:39] #11 closed

[2015-08-07 20:09] germanattanasio opened #13 "Get service credentials from VCAP_SERVICES"
If `VCAP_SERVICES` is available, get the credentials from there.

[2015-08-12 19:20] germanattanasio opened #14 "Add range and preference to the tradeoff analytics service"
`Problem.java` doesn't have all the values that users can specify when submitting a problem to `/v1/dilemmas`.

- [x] Learn how to specify a `range` in json
- [x] Check that the `gson` library can handle specific serialization for ranges

[2015-08-14 03:01] germanattanasio opened #15 "[speech-to-text] Investigate the use if WebSocket"
HI @daniel-bolanos I was thinking we can provide support for WebSockets in the wrapper by adding an existing library and handling the authorization using the `authorization` service.
What do you think?

We should:
- [x] Find a websocket library
- [x] Design a listener/observer pattern to model websockets

[2015-08-14 18:45] daniel-bolanos commented on #15
Hi @germanattanasio, I agree, I already have a working java client for the STT service, I think I pointed you to it some time ago. We can reuse that and add the token authentication part.

[2015-08-14 19:17] germanattanasio commented on #15
Why don't you move that code to your github account and I will take a look at it

[2015-08-14 21:21] germanattanasio commented on #10
HI @alseddnm, can you help me with this?

[2015-08-18 18:25] scprotz opened #18 "Missing methods/variables in Natural Language Classifier Model (Classifier.java)"
This class is missing the following variables and accessors as per the API:

name (getName(), setName())
created (getCreated(), setCreated())
language (getLanguaged(), setLanguage())

Easy to fix (I just added the variables and methods to my own clone).

[2015-08-18 21:42] germanattanasio commented on #18
@alseddnm I know you are working on the test cases but can you put this on the list?

[2015-08-21 15:10] germanattanasio opened #20 "Add a deleteAll in the dialog service"
[code]

[2015-08-21 15:12] germanattanasio commented on #20
The method should be `service.deleteAllDialog()`

[2015-08-21 15:15] germanattanasio commented on #20
Well seems like this method will not see the light of day

[2015-08-21 15:15] #20 closed

[2015-08-22 04:10] germanattanasio commented on #14
fixed in b3d364f675be6a9d1653d1ff73e65724d2c0dbb6

[2015-08-22 04:10] #14 closed

[2015-08-24 15:11] scprotz opened #21 "CSV results from Personality Insights not accessible"
Wondering if it'd be possible to include a .getCSV(String text) method to the PersonalityInsights service.  This is a native capability of the service.  (Not sure if this request is more of a feature request - but included it here as it is a missing feature that comes from the actual API).

Thanks

[2015-08-24 17:19] germanattanasio opened #22 "Add support for custom headers"
Users should be able to specify a list of custom headers and values that are passed to the service along with every request.

[2015-08-24 20:35] germanattanasio opened #25 "Add support for retrieve and rank"
We need to add support for retrieve and rank. I will wait for @gjs29 to help us on this.

[2015-08-25 13:53] germanattanasio opened #26 "Add support to Concept Insights"
Users want to use the Concept Insights in the java wrapper

[2015-09-01 13:23] SirSpidey opened #28 "Readme has 404"
Link to examples is https://github.com/watson-developer-cloud/java-wrapper/tree/master/src/main/examples/java/com/ibm/watson/developer_cloud

I think it should be
https://github.com/watson-developer-cloud/java-wrapper/tree/master/examples/java/com/ibm/watson/developer_cloud

[2015-09-01 13:28] #28 closed

[2015-09-01 18:33] SirSpidey opened #29 "Natural Language Classifier is missing a Get Status method"
Natural Language Classifier code doesn't have a method to retrieve the status of a classifier.

[2015-09-01 18:37] SirSpidey opened #30 "Accept csv in Natural Language Classifier createClassifier method"
Want to support reading in the csv training data instead of having to create a file that corresponds to the TrainingData class

[2015-09-08 14:09] jsstylos opened #31 "Remove Language Identification and Machine Translation"
I propose that we completely remove these, rather than leaving stubs with warnings, so as to make discovery for new users easier.

[2015-09-09 09:56] germanattanasio opened #32 "Update ResponseUtils to always throw Runtime Exceptions"
ResponseUtils currently throw IOExceptions and we are always doing a try/catch on each service call for each Watson service to transform that into a Runtime Exception. Why don't we just update ResponseUtils to always throw a runtime exception and remove the try/catch from the services...

## Current implementation

ResponseUtils:
[code]
Example service call:

[code]

## Proposed change
ResponseUti

[2015-09-09 10:02] germanattanasio opened #33 "Add a metadata map to POJOs returned by service calls"
We need to add an optional metadata map that could be filled by the services in each of the top level POJOs we have e.g: `Corpora`, `Matches`, `Document`, etc...

[2015-09-09 14:22] germanattanasio commented on #25
@alseddnm we need to add this to our to-do list.
See the service documentation [here](http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/retrieve-rank/).

[2015-09-11 13:12] germanattanasio commented on #10
fixed by @alseddnm

[2015-09-11 13:12] #10 closed

[2015-09-11 14:53] #18 closed

[2015-09-11 14:59] jorge683 opened #38 "Uploading dialog file using java wrapper returns BadRequestException"
Hi

When trying to upload an XML file to the dialog service to create a dialog I receive an error with the following message:

[error] c.i.w.d.s.WatsonService - HTTP Status: 400, message: Failed to import file. Possibly due to corrupt or invalid file or system error. - Input length (with padding) not multiple of 16 bytes

I am not sure why, I suspect that is due to a bad header sent in the request

[2015-09-11 15:15] germanattanasio commented on #38
Hi @jorge683 can we get the xml you are using? I'm testing the `create` method and it seems to be working for me.

[2015-09-11 15:32] jorge683 commented on #38
Hi

I'm using one of the sample files provided (https://raw.githubusercontent.com/watson-developer-cloud/dialog-tool/master/dialogs/pizza_sample.xml).
Can you include sample on how you call the createDialog API function (I am not able to find a create method)?

Thank you.

[2015-09-11 18:05] germanattanasio commented on #30
fixed

[2015-09-11 18:05] #30 closed

[2015-09-12 13:06] germanattanasio commented on #38
Hi @jorge683, I just tried:

[code]
And it's working. Make sure you use `https://gateway.watsonplatform.net/dialog-beta/api` because by default the service will try to use the experimental version which is `https://gateway.watsonplatform.net/dialog-experimental/api` and it doesn't support xml.

[2015-09-13 11:56] germanattanasio opened #44 "[documentation] Automatically update gh-pages with maven on every commit"
We should use `maven:site` to update our javadocs and examples in the github site.
Right now this is a manual process I do for every release we have. The idea is to have something like:

1. http://watson-developer-cloud.github.io/java-wrapper/docs/latest to see the latest javadocs for the latest release in maven central.
1. http://watson-developer-cloud.github.io/java-wrapper/docs/1.0.3 for `1.0.3

[2015-09-15 19:27] jsstylos opened #47 "[documentation] Add descriptive Javadoc comments for Concept Insights classes, methods"
Especially needed for Integer fields that represent counts of documents processed ("Integer error").

[2015-09-16 05:10] #38 closed

[2015-09-16 13:31] germanattanasio opened #50 "[tradeoff-analytics] Add support for events and metadata"
There is a new api call in Tradeoff Analytics that is not supported by the java wrapper.

[2015-09-17 01:35] germanattanasio commented on #44
from @nfriedly: http://benlimmer.com/2013/12/26/automatically-publish-javadoc-to-gh-pages-with-travis-ci/

[2015-09-17 20:51] germanattanasio opened #54 "Add the raw responses into the top level object"
Return a string with the raw response on top level POJOs.

Something like `rawResponse`

[2015-09-19 18:43] germanattanasio opened #61 "Use cookies for each WatsonService"
We need to send the cookies that each service generate so that we don't need to send the `authentication` key on every api call

[2015-09-21 04:28] shikida opened #62 "Just 2 suggestions (speech to text and language translation)"
First of all, congrats for this fine piece of software. Extremely useful.
Here go my suggestions:

# Speech to text
I'm getting much better results using
[code]
instead of
[code]
my wav file properties, when I right click using linux UI says

Codec: Uncompressed 16-bit PCM audio
Channels: Stereo
Sample rate: 44100 Hz
Bitrate: N/A

# LanguageTranslation

When I try to translate "obrigacão" from pt

[2015-09-21 21:28] germanattanasio opened #63 "create a classifier from a csv file."

[2015-09-23 17:36] scprotz commented on #21
Here is some code I wrote to augment the existing PersonalityInsight.java class to add CSV to it.

It now has a method .getProfileAsCSV(String text) and the response is a CSV record.

I modified it pretty quickly, so might need some cleanup/analysis to make sure it is doing what it is supposed to do, but works for the simple case above.

[code]

[2015-09-25 01:02] scprotz opened #64 "New Alchemy API does not support standard characters"
I get
[code]
when running text that has characters like `&` in them.

I think we either need a definition of supported characters or some automated encoding in the method:
[code]

[2015-09-25 01:28] scprotz commented on #64
Some other characters that cause it to break: '-' and '/'.

[2015-09-25 13:40] germanattanasio commented on #64
I can reproduce the issue.. seems to be something related to how we encode the `form-urlencoded`.

[2015-10-02 00:23] msushkov opened #66 "Concept Insights: fix corpus id in createCorpus"
Concept Insights API requires corpus `id` to be of the form `/corpora/{account_id}/{corpus}`. `createCorpus()` takes in a `Corpus` object, where an `id` is required. `createCorpus()` creates a URL for the request by concatenating `/v2/corpora/{account_id}` and the `id` from the `Corpus` object; currently this concatenation results in `/v2/corpora/{account_id}/corpora/{account_id}/corpus`.

Propose

[2015-10-02 21:51] #26 closed

[2015-10-07 04:46] shikida opened #68 "Doubt - how to retrieve documents from Alchemy News?"
Sorry, I can see that DocumentsResult toString() returns a clear JSON with all the results.
But I am kind of lost about iterating on the objects.

DocumentsResult docs = s.getNewsDocuments(map);
Documents documents = docs.getDocuments();
System.out.println(documents.getNext()); => returns something I can't understand that seems like some serialized object

How do I access the elements inside the D

[2015-10-07 13:54] shikida commented on #68
Silly me.
Just add
public List<Document> getDocuments() {
		return documents;
	}
to Documents POJO and
		public Sentiment getSentiment() {
			return sentiment;
		}
to Article.EnrichedTitle

[2015-10-07 16:11] germanattanasio commented on #68
did you have to update the code to support that? That looks suspicious. If that's the case, can you do a Pull request with your changes?

[2015-10-07 22:50] shikida commented on #68
Seems like a minor problem. Someone probably forgot to generate getters/setters for some attributes. I am not used to GIT :-) I have to spend some time to learn its incantations :-)

[2015-10-08 01:29] shikida commented on #68
Much more important than that, IMO, is to guarantee that the result is always serialized / deserialized to JSON, because since some APIs (such as Alchemy) are limited daily, users can save the response and reuse it for tests / development (e.g. DocumentsResult docs = GsonSingleton.getGson().fromJson(json,DocumentsResult.class))

[2015-10-08 01:49] germanattanasio commented on #68
@shikida that's a very good point. All our classes redefine the toString to be the json representation. so you can serialized them easily by calling the `toString()`

[2015-10-08 01:50] germanattanasio opened #69 "Add getter/setter to POJOs in AlchemyNews"
Related to #68 We need to add the setter/getter to some POJOs in Alchemy DataNews

[2015-10-08 18:03] msushkov commented on #66
@alseddnm

[2015-10-08 18:07] germanattanasio commented on #66
@alseddnm is working on this.

[2015-10-08 20:12] tdalbo92 opened #70 "Classification object should have getTopClassConfidence()"
Without a method like this, I have to get all the classes, iterate through the list, and check each ClassifiedClass name with the string returned to me by Classification.getTopClass()

It'd be nice and more efficient to have that confidence built into the Classification object.

[2015-10-09 05:52] germanattanasio commented on #66
@alseddnm did some work on this e447b8ccdb50f65f13e64253dbd79aa74e13e30b

[2015-10-12 03:42] #70 closed

[2015-10-12 03:46] #69 closed

[2015-10-12 03:50] germanattanasio commented on #63
fixed

[2015-10-12 03:50] #63 closed

[2015-10-12 03:55] germanattanasio commented on #54
I think this is related to #33

[2015-10-12 03:57] germanattanasio opened #71 "v2.0.0 goals"
I'm going to summarize all the tasks we need to accomplish in order to release the v2.0.0

- [x] Add Retrieve and Rank #25
- [x] Switch from HttpClient to [OkHttp](http://square.github.io/okhttp/)
- [x] Encode `form-urlencoded` requests. (#64, #62)
- [ ] raw responses from services, see #54
- [ ] metadata to responses, similar to #54
- [ ] Add support for custom headers #22

[2015-10-12 04:02] germanattanasio commented on #29
`getClassifier()` will return the classifier information along with the `status`

[2015-10-12 04:02] #29 closed

[2015-10-12 04:03] germanattanasio commented on #29
See https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/natural_language_classifier/v1/NaturalLanguageClassifier.java#L164

[2015-10-12 04:04] germanattanasio opened #72 "Switch away from HttpClient"
We need to find an alternative to HttpClient. I'm going to investigate OkHttp and probably go with it.

[2015-10-12 19:30] tdalbo92 commented on #70
:+1:

[2015-10-12 20:25] alseddnm commented on #72
Other options we can consider are:
http://kevinsawicki.github.io/http-request/
and
https://developers.google.com/api-client-library/java/google-http-java-client/setup

[2015-10-13 07:31] weiwunb opened #75 "UnsupportedEncodingException is never thrown from the try statement body"
`com.ibm.watson.developer_cloud.service.Request	`

Unreachable catch block for UnsupportedEncodingException. This exception is never thrown from the try statement body

	public Request withContent(String content, String contentType) {
		try {
			StringEntity stringEntity = new StringEntity(content, UTF_8);
			if (contentType != null) {
				stringEntity.setContentType(contentType);
			}
			return w

[2015-10-13 08:17] shafiblogs opened #76 "Date Format Exception for Android"
While using jar file, I got an exception in android " Unknown pattern charecter 'X' "

Solution for this issue.

package name: com.ibm.watson.developer_cloud.util
class name: GsonSingleton
change string constant
`String DATE_FORMAT_UTC = "yyyy-MM-dd'T'HH:mm:ss.SSSX";`
like this
`String DATE_FORMAT_UTC = "yyyy-MM-dd'T'HH:mm:ss.SSSZ";`

Please change one line above and deploy new jar.

[2015-10-13 19:55] germanattanasio opened #79 "Return the raw response when we have an error in the api call"
As part of the error message in the exception we can also send the headers and raw body of the response whenever we have an error

[2015-10-14 00:38] #31 closed

[2015-10-14 14:41] germanattanasio opened #80 "Update API calls from Document Conversion"
Remove all the API calls and leave only the synchronous single document conversion.

[2015-10-14 14:41] germanattanasio commented on #80
@adityagai, @samir-patel

[2015-10-14 16:31] germanattanasio commented on #15
@daniel-bolanos can you help me with this: https://gist.github.com/germanattanasio/275c6abab90b042f4925 I'm trying to write an example with websockets.

You will need to clone this repo and create a file with that content

[2015-10-14 17:40] germanattanasio commented on #76
We currently have: `""yyyy-MM-dd'T'HH:mm:ss.SSSZ"`. Hopefully this will be part of our next release. Thanks

[2015-10-14 20:47] germanattanasio opened #81 "[text-to-speech] Return AudioInputStream instead of InputStream"
Lots of users are trying to use the InputStream they get from Text to Speech into an `AudioInputStream` without luck.

[2015-10-14 21:05] #80 closed

[2015-10-14 21:06] germanattanasio commented on #76
fixed in the next release

[2015-10-14 21:06] #76 closed

[2015-10-14 21:06] germanattanasio commented on #66
fixed in the next release

[2015-10-14 21:06] #66 closed

[2015-10-15 19:58] glennrfisher opened #82 "Unable to Execute Tradeoff Analytics"
I attempted to use your Java SDK to integrate Tradeoff Analytics into an application that we are developing at the Mobile Innovation Lab. We imported your jar (even downloaded and re-built it with gradle) and tried to execute the example test for Tradeoff Analytics, but were greeted with an error.

The error seemed to be related to GSON, which required the Column class to have a default constructo

[2015-10-15 20:02] glennrfisher opened #83 "Tradeoff Analytics Example Out-Of-Sync"
The Tradeoff Analytics example contained within the repository's readme does not seem to be consistent with the most recent version of the API you provide for the Tradeoff Analytics service.

While investigating the use of your Java SDK in an application we are building at the Mobile Innovation Lab, I started by trying to execute the provided example in the readme. Unfortunately, it failed to comp

[2015-10-15 20:03] svergara1987 commented on #81
Hello, I'm one of those having this problem.
I've tried different variants and was able to save an audio file in my file system and play it later (not by code). But couldn't play the stream using Java.
Attached, you can see the last test and the corresponding output.
Any suggestion?
![new test code](https://cloud.githubusercontent.com/assets/15147119/10526037/aed70ca0-735e-11e5-89c1-022be173dbcf.P

[2015-10-15 21:40] germanattanasio commented on #82
you are talking about the example we have in the `examples` folder ?

[2015-10-15 22:25] glennrfisher commented on #82
Yes. Sorry for the confusion.

The example linked below compiled, but failed for us due to the lack of a default constructor for the Column class with no arguments.

https://github.com/watson-developer-cloud/java-sdk/blob/master/examples/java/com/ibm/watson/developer_cloud/tradeoff_analytics/v1/TradeoffAnalyticsExample.java

[2015-10-16 01:28] germanattanasio commented on #83
duplicate of #82

[2015-10-16 01:28] #83 closed

[2015-10-16 01:29] germanattanasio commented on #83
I will be updating the example and code for Tradeoff Analytics in #82

[2015-10-16 02:39] germanattanasio commented on #82
Fixed in the next release

[2015-10-16 02:39] #82 closed

[2015-10-16 03:26] germanattanasio commented on #81
@daniel-bolanos I think this is related to the way we save the wav file by default. It could be the encoding we are using. What do you think?

[2015-10-16 14:24] germanattanasio commented on #81
@daniel-bolanos I've created a test Case so that we can test the problem: https://gist.github.com/germanattanasio/e2b1e3d25fa85a16a503

[2015-10-16 19:31] #13 closed

[2015-10-16 20:28] germanattanasio commented on #81
The issue is that the InputStream coming from `/synthesize` doesn't have the `content-length` specified because it was streamed (`InputStream`) :bowtie:.
There are two options:
 1. Read the inputStream and put the `content-length` manually
 1. Find a way to reproduce it without `content-length`

I'm going to implement the first one in a `Utils` class.

cc: @svergara1987

[2015-10-16 20:29] germanattanasio commented on #81
@daniel-bolanos discovered this by adding manually the `content-length`, after that I was able to reproduce the file with `AudioInputStream`.

[2015-10-16 20:33] svergara1987 commented on #81
Great! Thanks @germanattanasio .
I'm already waiting for that Utils class

[2015-10-16 20:37] germanattanasio commented on #21
Fixed in the next release

[2015-10-16 20:37] #21 closed

[2015-10-16 21:20] germanattanasio commented on #64
I've added test cases and I think the problem is fixed.
Example:
[code]

[2015-10-18 15:29] shafiblogs commented on #76
Thanks

On Thu, Oct 15, 2015 at 1:06 AM, German Attanasio Ruiz <
notifications@github.com> wrote:

[2015-10-18 16:51] germanattanasio commented on #76
http://developer.android.com/reference/java/text/SimpleDateFormat.html for future reference

[2015-10-21 16:33] scprotz opened #85 "Alchemy News URLs empty"
When trying to grab alchemy news URLs, they are not populate (as the original API suggests they should).

[2015-10-21 19:15] aarora91 opened #86 "updateProfile method sometimes throws com.ibm.watson.developer_cloud.service.NotFoundException"
The exception is thrown sometimes and sometimes it works fine with the same input and dialogid.
**Stack trace:**
[code]

[2015-10-21 21:50] scprotz commented on #85
This turns out NOT to be a bug but lack of parameters for Alchemy.  By adding the parameter: enriched.url.url, I was able to get URLs to be returned.  (This is not very intuitive though :(  )

[2015-10-22 18:31] germanattanasio opened #88 "Add unit tests"
We need to add more unit tests using `mockServer`.
The list below shows the classes we need to start looking at.

The [Document Conversion Test class](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/test/java/com/ibm/watson/developer_cloud/document_conversion/v1/DocumentConversionTest.java) is a good example of how to do a good test using resource files to generate responses

![

[2015-10-23 19:08] shikida commented on #68
shouldn't have something like d.getSource().getEnriched().getArticle().getEnrichedTitle().getSentiment() ? How do I get the Sentiment from an anticle using 1.1.1?

[2015-10-23 20:13] germanattanasio commented on #68
Sorry but I don't understand what you are asking: ( can you please provide the snippet you are using and describe what the problem is.

[2015-10-26 10:54] shikida commented on #68
Sorry, I was not finding this object path -- d.getSource().getEnriched().getArticle().getEnrichedTitle().getEntities().get(0).getSentiment()

please close this issue, thanks

[2015-10-26 13:13] #68 closed

[2015-10-27 18:58] jsstylos opened #92 "Support multiple targets for GetTargetedSentiment"
The GetTargetedSentiment implies that it supports specifying multiple targets in a single call. http://www.alchemyapi.com/api/sentiment/textc.html#targetedsentiment However, it's not clear how you specify multiple targets to the REST API (you use the "targets" field instead of the "target", but how do you segment the multiple targets?). The Java wrapper should support this, and not check just for

[2015-10-27 20:42] germanattanasio opened #93 "List the required dependencies along with their licenses"
| Dependency        | License           | url  |
| ------------- |:-------------:|:-----:|
| com.squareup.okhttp:okhttp:2.5.0 | Apache 2.0 | http://square.github.io/okhttp/ |
| com.google.code.gson:gson:2.3.1 | Apache 2.0 | https://github.com/google/gson/blob/master/LICENSE |
| org.apache.commons:commons-csv:1.2 | Apache 2.0 | https://commons.apache.org/proper/commons-csv/ |
| org.apache.commons:c

[2015-11-03 21:32] Decker87 opened #94 "Include optional parameters in AlchemyVision examples"
There are a couple optional parameters to some AlchemyVision APIs that would be nice to include in the examples:
#### GetRankedImageFaceTags
- [x] knowledgeGraph=(0|1)

#### GetRankedImageKeywords.
- [x] forceShowAll=(0|1)

[2015-11-06 02:00] germanattanasio commented on #25
This will be done once we finish with #72. I think I can have that for tomorrow.

[2015-11-06 19:02] bramach5 opened #95 "Watson Language translation call from Android app - code crashes in translate call"
I am trying to do a simple Android app that calls Watson language translation API.

Below is the code ...
[code]
App does work fine without the Watson service... so, I guess something must be going wrong in the above snippet that calls Watson service. It crashes on the translate line.

One other strange thing that seems to be happening is that even if I give an incorrect password, it still crashes

[2015-11-07 01:31] germanattanasio commented on #95
@bramach5 this will be fixed in the next release.

[2015-11-07 02:11] #72 closed

[2015-11-07 02:13] germanattanasio commented on #32
fixed

[2015-11-07 02:13] #32 closed

[2015-11-07 02:15] germanattanasio commented on #54
We can probably do this using the `RequestBody` from `OkHttp`. The idea will be to have a transient field in the `GenericModel`. The problem with this is that we are revealing our underlying implementation.

[2015-11-07 02:16] germanattanasio commented on #61
fixed

[2015-11-07 02:16] #61 closed

[2015-11-07 02:16] #95 closed

[2015-11-07 02:22] germanattanasio commented on #86
Hi @aarora91, I did some testing and seems like the problem is in the API. I was able to reproduce the issue while sending multiple requests to the same dialog.

The current workaround is to wait ~.5 seconds between API calls.

[2015-11-07 02:27] #93 closed

[2015-11-07 02:31] germanattanasio commented on #75
As a result of #72, this was fixed.

[2015-11-07 02:31] #75 closed

[2015-11-07 02:39] germanattanasio commented on #62
fixed as part of #72

[2015-11-07 02:39] #62 closed

[2015-11-09 16:05] #86 closed

[2015-11-09 16:17] #94 closed

[2015-11-09 16:18] germanattanasio commented on #92
I'll wait until @jsstylos find out how to actually send the targets.

[2015-11-09 16:18] #85 closed

[2015-11-10 20:25] germanattanasio opened #110 "Remove Author from all the classes"
I realized that since lots of people is working on this project having an author tag in the javadoc doesn't work

[2015-11-10 23:38] #25 closed

[2015-11-10 23:38] #54 closed

[2015-11-11 02:49] #110 closed

[2015-11-11 18:28] jsstylos commented on #92
And the answer is... pipe characters: cats|dogs

[2015-11-12 19:42] wnm3 opened #113 "URL in DialogService.java still references -beta but credentials no longer use that -- get 403 Forbidden"
Trying a simple example as shown in the README.md for Java to list the dialog id's I get a 403 Access Forbidden error because my credentials use a different URL than is hard coded in DialogService.java on line 110.  By adding service.setEndPoint to the URL in my credentials I was able to get this fixed, but I believe a new jar file should be produced with the correct URL, and/or the examples shown

[2015-11-12 22:15] wnm3 opened #114 "Please provide a way to get an assigned client id other than calling converse"
I realize we can assign a client id of our own, and we can have one assigned when we call converse if the parameter map doesn't contain one, however, the javadoc for updateProfile states it can be called without a clientId but the code tests for null and will complain. Ideally a different signature in Java with just the dialog id and namevalue list could assign and return a unique client id.

The

[2015-11-13 03:14] germanattanasio commented on #113
Thanks for the feedback.
The examples that you were trying to use work if you use the code in `master`.
You can navigate the tags: https://github.com/watson-developer-cloud/java-sdk/tags to see the examples for previous releases like `java-wrapper-1.0.1`.

[2015-11-13 03:28] germanattanasio commented on #114
Thanks for reporting this. I've fixed the issue and it will be included in the v2.0.0 release tomorrow.

[2015-11-13 03:28] #114 closed

[2015-11-13 04:40] #92 closed

[2015-11-13 04:41] germanattanasio commented on #79
fixed by @gjs29

[2015-11-13 04:41] #79 closed

[2015-11-14 06:59] germanattanasio opened #117 "Investigate encoding issues."
I think that #74 fixed all the encoding issues but we should investigate the one below.

Based on a [comment](http://stackoverflow.com/questions/33623773/watson-speech-to-text-service-how-to-return-language-other-than-english-in-java) in stackoverflow:

[code]
for line:
[code]
When I change it to following code to use IOUtils.copy instead of EntityUtils, problem is gone.
[code]

[2015-11-14 18:38] germanattanasio commented on #117
I just tested and with [this](https://github.com/watson-developer-cloud/speech-to-text-nodejs/blob/master/public/audio/sample-Ja_JP-wide1.wav) audio file and it's working fine with the v2.0.0 release

[code]

[2015-11-14 18:38] #117 closed

[2015-11-14 20:36] germanattanasio commented on #113
fixed with the latest release

[2015-11-14 20:36] #113 closed

[2015-11-14 20:36] germanattanasio commented on #71
closing this since we just released v2.0.0

[2015-11-14 20:36] #71 closed

[2015-11-16 20:10] ruslan120101 opened #118 "DocumentAuthors should be singular"
The **Alchemy Language API** returns a singular **DOCUMENT_AUTHOR** as documented [here](http://www.alchemyapi.com/api/author/urls.html) for *URL* and [here](http://www.alchemyapi.com/api/author/htmlc.html) for *HTML*.

The issue is in the following model class (and any associated classes dependent upon the class **DocumentAuthors**)
https://github.com/watson-developer-cloud/java-sdk/blob/master/s

[2015-11-17 16:49] ruslan120101 commented on #118
Duly noted

[2015-11-17 16:49] #118 closed

[2015-11-18 10:21] PromedDeveloper opened #119 "DocumentConversion media type not supported"
Hi,
I'm testing DocumentConversion API  and I get the following exception:

[code]
Document is in Word format, it contains text, not images.
The java test code is the following:
[code]

When I try same document using curl, it WORKS FINE (I have masked user/password):
[code]
Could you give me any advice on this?

[2015-11-19 05:03] germanattanasio opened #120 "AlchemyLanguage- geTaxonomy should be getTaxonomy."
See: https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/alchemy/v1/AlchemyLanguage.java#L125

[2015-11-19 21:33] #120 closed

[2015-11-19 22:08] mfulgo commented on #119
@germanattanasio The `"config"` part of the form data needs to have its Content-type set to `"application/json"`.

[2015-11-19 22:29] germanattanasio commented on #119
I fixed the issue and added some integration tests so that we don't have this problem again.

We have unit tests but I don't know why we didn't cover the scenario where the mediaType for config is checke.

[2015-11-19 22:29] germanattanasio commented on #119
The fix will be released tomorrow

[2015-11-20 01:37] #119 closed

[2015-11-20 09:57] PromedDeveloper commented on #119
Thanks German!

[2015-11-26 13:04] RobWills opened #124 "Error when calling synthesize method of TextToSpeech() class. Is this a bug?"
When I call the synthesize method of TextToSpeech() like so:

    TextToSpeech tts_service = new TextToSpeech();
    tts_service.setUsernameAndPassword("username_here", "password_here");
    InputStream is = tts_service.synthesize("The cat sat on the mat");

I get a bad request exception:

[code]

Is this a bug in the API or am I calling it wrong? I have been using other services in the same API w

[2015-11-27 05:00] germanattanasio commented on #124
I've fixed the issue, it will be available in the next release. For you I would suggest you to extend the `TextToSpeech` class and override
[code]
with:

[code]

[2015-11-27 05:00] #124 closed

[2015-11-27 07:14] RobWills commented on #124
German,

Much obliged for such a quick and personal response. Keep up the good work.

Regards,

Rob

From: German Attanasio Ruiz [mailto:notifications@github.com]
Sent: 27 November 2015 05:00
To: watson-developer-cloud/java-sdk
Cc: Robin Wills
Subject: Re: [java-sdk] Error when calling synthesize method of TextToSpeech() class. Is this a bug? (#124)

I've fixed the issue, it will be available in t

[2015-11-27 13:49] RobWills commented on #81
Is this the kind of solution you need?

    InputStream is;
    is = tts_service.synthesize(text, Voice.GB_KATE, HttpMediaType.AUDIO_WAV);

    File audio = new File(System.getProperty( "user.home" ) + "/" + "output.wav");

    OutputStream outStream = null;
    try {
        outStream = new FileOutputStream(audio);

        byte[] buffer = new byte[8 * 1024];
        int bytesRead;
        while

[2015-11-27 16:01] germanattanasio commented on #81
I think the problem is that the service is streaming the audio back to the user and since it doesn't know the size, is not adding the proper headers to the wav file.
Some modern audio players can play the audio without knowing the size but when you are trying to play it in java you need to know those things.

The android-speech-sdk has a class that deal with this and I was thinking on copy some of

[2015-11-30 11:05] RobWills opened #126 "[VR-v1] Add Support for ByteArray?"
How easy would it be to provide a recognize method for a bytearray instead of a file? I am unable to store a file on the Bluemix file system but have a bytearray of a file that I uploaded locally.

[2015-11-30 12:06] germanattanasio commented on #126
can't you create a temporary file?
What if we provide a `recognize(InputStream stream)` so instead of `ByteArray` we use an `InputStream`

[2015-11-30 12:16] jsstylos commented on #126
+1 for an InputStream

[2015-11-30 12:25] RobWills commented on #126
No I can’t seem to create a temporary file from within my Bluemix java session. I think this is by design.

I am trying to upload files locally but can’t save them as a java.io.File and instead have them as byte[].

I don’t think I can create a FileInputStream as there is no file to read from but I could create a ByteArrayInputStream OK so I assume that would be fine.

Rob

From: German Attanasio

[2015-11-30 12:52] germanattanasio commented on #126
@RobWills where are you getting the image? from a url?

[2015-11-30 12:59] RobWills commented on #126
No, I have a server side component that uploads via my browser.

That can provide me with a java.io.File or a byte[].

I was simply using a File when developing locally in Eclipse with Tomcat but run into trouble when deploying to Bluemix. So the file exists locally behind my firewall so is inaccessible to the server side java code.

I think InputStream would work well (better than byte[] actually

[2015-11-30 13:18] pplesky commented on #126
@RobWills
I am using this class to recognize an image: https://github.com/mstahv/watson-java-api/blob/master/watson-api/src/main/java/org/watson/visualrecognition/VisualRecognitionService.java

[2015-11-30 13:31] RobWills commented on #126
Ah yes. I had seen that a few days ago. It looks like it has implemented something like what I want though it would be better in the base package ideally.
Thanks very much for reminding me about that.
Rob

From: Patrik Plesky [mailto:notifications@github.com]
Sent: 30 November 2015 13:18
To: watson-developer-cloud/java-sdk
Cc: Robin Wills
Subject: Re: [java-sdk] Visual Recognition of bytearray? (#

[2015-11-30 13:56] germanattanasio commented on #126
I've added a recognize method that takes an `InputStream`.

[code]

This will be available in our next release, probably this Friday.

[2015-11-30 14:03] RobWills commented on #126
German, As before very impressive turn around. Could I be really cheeky and ask for the  code you wrote so I can extend the class temporarily? I’ve already missed my deadline and really want to get this sorted. Of course I will test accordingly. Rob

[2015-11-30 19:37] germanattanasio commented on #126
@RobWills we usually push changes to the `dev` branch and only change `master` with releases.

You can always get the latest stable changes by switching to the `dev` branch and building the SNAPSHOT jar.

In this case, I added a utility class to send an InputStream in the request body.

You need two classes:
VisualRecognition: https://github.com/watson-developer-cloud/java-sdk/blob/dev/src/main/ja

[2015-11-30 20:58] RobWills commented on #126
German, Once again thank you for all your help. I decided simply to extend those two classes to include your enhancement for the time being as I am not too familiar with git / maven etc. It is working fine locally but for some reason not in Bluemix. I’m going to try and take a look at the logs. Rob

[2015-11-30 21:58] RobWills commented on #126
[log.txt](https://github.com/watson-developer-cloud/java-sdk/files/47851/log.txt)

I've attached my log file. When running locally, it works fine. When deployed to Bluemix as war file, the call to recognize returned JSON but without the labels array (i.e. just the image_id and image_name elements). No crashes or anything. It just doesn't return the interesting bit!

I'm happy to do further testing

[2015-11-30 22:35] germanattanasio commented on #126
That's normal, if they image can't be classified it doesn't return labels. Check that you are calling recognize without sending labels so that the service runs all the classifiers

[2015-11-30 22:44] RobWills commented on #126
German,

The same image gets classified when I run locally on Tomcat (the classifications are at the bottom of the log file I attached).

I did also try adding a label that was one of the classifications locally but no returned labels this way either.

It definitely doesn’t seem to be working  ☹

Rob

[2015-12-01 20:49] mfulgo opened #128 "Make a fresh checkout build cleanly"
It would be nice if a fresh clone of the repo actually passed all of the non-integration tests. Currently, most of the non-integration tests also fail because of missing config settings, such as `mock.server.port` and `mock.server.host`.

[2015-12-01 21:20] germanattanasio commented on #128
Good Idea, I'm going to work on having a way to only run unit tests also

[2015-12-03 16:40] jollyrubber opened #132 "[PI] ContentItem Date Serialization"
The Date properties of a Content item are getting serialize to JSON in a "yyyy-MM-dd'T'HH:mm:ss.SSS" format, when it should be in milliseconds since midnight 1/1/1970 UTC. This results in a "Invalid JSON input at line x, column y" error message from the personality profile service.

[2015-12-03 20:50] birkanu opened #133 "[STT]Audio is not a valid audio file?!"
Hi,

I am trying to run SpeechToTextExample.java with the sample wav file you provide. However, I have been getting the following error:

[code]
Does anyone know why this might be happening?

Thanks!

[2015-12-03 21:04] birkanu commented on #133
I also tried a flac file, but that did not work either.

[2015-12-03 21:33] birkanu commented on #133
Unfortunately, trying to transcript using HTTP or a WebSocket also fails with the same error.

[2015-12-03 23:06] germanattanasio commented on #133
When calling the recognize you need to specify the audio format and it should be a valid media type.

I just tested the example below and it's working:

[code]

Make sure that you send a valid `contentType` link `audio/wav`

[2015-12-04 01:23] birkanu commented on #133
It's interesting because I used the exact same example with sample1.wav file, and I got the error I mentioned above. However, the same file worked when I used it in a cURL command.

[2015-12-04 01:28] birkanu commented on #15
I am having the same problem. Each time I try connecting to the service, my connection is closed. I am pretty sure I am using the correct API endpoints to get a token and then connect to the WebSocket server. Can there be an SSL issue?

[2015-12-04 16:53] daniel-bolanos commented on #15
Hello @birkanu and @rathnaum , what is the error message that you get? Can you please try the Python or Ruby WebSocket clients while we solve this issue?

https://github.com/watson-developer-cloud/speech-to-text-websockets-python
https://github.com/watson-developer-cloud/speech-to-text-websockets-ruby

thank you

[2015-12-04 17:11] nfriedly commented on #128
BTW, the node-sdk works around this by only running the integration tests if there is a config file present: https://github.com/watson-developer-cloud/node-sdk/blob/master/test/test.integration-all-services.js

[2015-12-04 18:13] birkanu commented on #15
Here is what's printed out on the console:

[code]

[2015-12-04 18:25] rathnaum commented on #15
I got the exact same error message too. Cheers.

Date: Fri, 4 Dec 2015 10:13:24 -0800
From: notifications@github.com
To: java-sdk@noreply.github.com
CC: rathnaum@hotmail.com
Subject: Re: [java-sdk] Investigate websocket support for speech-to-text (#15)

Here is what's printed out on the console:

Transcript using WebSockets
Closed connection.
CONNECTED: false
HERE: false
java.nio.channels.NotYetCo

[2015-12-04 20:44] birkanu commented on #15
I am not sure if this will help you, but I tried opening a WebSocket connection using [Tyrus](https://tyrus.java.net/documentation/1.12/user-guide.html) which is a reference implementation of websockets in Java. This time I got a `Handshake Error`, caused by the following reason: `Response code was not 101: 400`. There must be something wrong with the SSL Configuration.

[2015-12-05 03:40] germanattanasio commented on #133
So the request never gets to the server because the `contentType` is incorrect. Try to use the example I pasted above and let me know if it doesn't work.

[2015-12-05 03:42] germanattanasio opened #135 "[speech-to-text] Detect the audio format automatically based on the file extension."
Detect the audio format automatically when calling `recognize`

[2015-12-05 03:45] germanattanasio commented on #132
Good catch. I will work on this and hopefully it will be fixed and released next Friday

[2015-12-05 03:50] germanattanasio commented on #126
@RobWills we released the v2 of visual recognition which supports training your own classifier. I will be adding support for that in the SDK next week.

[2015-12-06 00:10] birkanu commented on #133
The example works now. Turns out the path for my `wav` file was incorrect.

[2015-12-06 00:27] jsstylos commented on #133
@germanattanasio: Can we detect InputStreams that represent missing files and give a more useful error message?

[2015-12-06 00:51] germanattanasio commented on #133
we are returning "audio is not a valid audio file". I guess I could say "file not found"

[2015-12-06 00:52] germanattanasio commented on #133
what about "audio file is null or does not exist"

[2015-12-06 00:53] jsstylos commented on #133
The point would be to have two separate error messages, assuming we can differentiate between them.

[2015-12-07 21:16] birkanu commented on #15
@daniel-bolanos  and @germanattanasio, any updates on this?

[2015-12-07 23:36] germanattanasio commented on #15
I'm working in other things now, will probably have some time to look at this on Wednesday.

If you have some time please look at the documentation and the ruby and python samples in this organization. You can learn how to use the websocket api and fix the sample by the time I start working on this again.

[2015-12-09 18:12] #133 closed

[2015-12-10 00:43] birkanu opened #137 "Speech Recognition Grammar Specification"
Hi,

Is there any way to provide a [grammar](https://en.wikipedia.org/wiki/Speech_Recognition_Grammar_Specification) for the speech that is being recognized? Most speech recognizers allow for this functionality.

Thanks,
Birkan

[2015-12-10 00:49] daniel-bolanos commented on #137
Hello @birkanu , not yet, but this is a feature that we are working on.

Dani

[2015-12-10 22:21] germanattanasio opened #138 "Separate releases from api versions"
We currently don't have a way to separate releases like `experimental` or `beta` from the api version.

This is a breaking change and I think the way to implement it will be to use the package name not only for the api version but also for the release.

For example

`document_conversion.v1_experimental`

[2015-12-11 01:42] germanattanasio commented on #137
I'm closing this since it's not a problem in the java-sdk. The take away is that the service is working on this and will be available in a future release

[2015-12-11 01:42] #137 closed

[2015-12-11 01:43] germanattanasio opened #139 "[visual-recognition] Add support for v2 which includes training"
Visual recognition v2 was released last week. The SDK should support v2

[2015-12-11 05:27] germanattanasio opened #140 "[retrieve-and-rank] testCreateRankerAndRankResults integration test fails in travis"
I'm using the same credentials as travis, the test works locally but not in travis so I disabled it until we fix it.

Text: `testCreateRankerAndRankResults`

@gjs29 can you help me with this?

[2015-12-11 05:29] germanattanasio commented on #128
I've fixed the issue by using the maven `failsafe` plugin.
I've also updated travis so that integration tests are only runned for non pull requests as with the node-sdk.

Unit tests:

[code]
Integration tests:

[code]

[2015-12-11 05:29] #128 closed

[2015-12-11 05:30] germanattanasio commented on #132
fixed

[2015-12-11 05:30] #132 closed

[2015-12-11 06:25] #126 closed

[2015-12-14 22:20] PranavSathy opened #143 "[speech-to-text] RecognizeOptions not functioning properly"
I am running the `java-sdk` version `2.3.0`, added to my project via SBT.  The following code is in Scala:

[code]

This returns the appropriate transcript for my audio, but it is not returning word confidence or timestamps at all. Does anyone know why?

[2015-12-14 22:28] PranavSathy commented on #143
On further investigation it seems like there is no support within the TTS code for word_confidence and timestamps?

[2015-12-14 22:32] daniel-bolanos commented on #143
STT has word_confidence and timestamps, TTS does not, at some point we hope to provide timestamps for TTS but not ready yet. Confidence for TTS I'm not sure what it would mean.

thank you

Dani

[2015-12-14 23:04] PranavSathy commented on #143
Hi @daniel-bolanos , I apologize I editted my message, I meant STT. There is no serializer for word_confidence and timestamp JSON response from the Watson API. Like it sends the headers all correct, but they are not stored within any of the classes.

[2015-12-15 00:02] daniel-bolanos commented on #143
Hello @PranavSathy , it seems like the code is incomplete them, sorry about that. Can you add the fix and make a pull request? you seem to have a good understanding of the code.

thank you :)

[2015-12-15 05:41] PranavSathy commented on #143
Hi Daniel! I will try my best :) I am trying to ensure I understand it myself haha!

[2015-12-19 20:32] pridkett opened #149 "[natural-language-classifier] improper timestamp on classifier information"
I created a classifier at 3:13pm EST on Saturday, December 19th and when I invoke `listClassifiers()` the `Date` objects have the UTC time but the EST timezone. In other words they're showing up as being created five hours in the future.

Here's a snippet of code I used to display the classifier information:
[code]
And the output:

[code]

A direct rest request shows the creation times formatted a

[2015-12-20 01:42] germanattanasio commented on #149
This is a bug. Looks like we are not parsing the timezone from the date.

[2015-12-22 16:54] PranavSathy commented on #143
PR #148 Addressed this issue

[2015-12-22 16:54] #143 closed

[2015-12-30 20:16] amiddavid opened #150 "[tradeoff-analytics] missing getter\setter for status_cause on Solution"
https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/tradeoff_analytics/v1/model/Solution.java
misses a getter\setter for status_cause

[2016-01-06 17:18] l2fprod opened #151 "[personality-insights] NullPointerException when serializing a Profile with Jackson"
Hello,

I want to persist the Personality Insights Profile in Cloudant with Ektorp which uses Jackson. Jackson throws NullPointerException when serializing a Trait:

[code]

Debugging the rawScore object is null, thus the unboxing to "double" fails when getRawScore is called, leading to NPE

So is the use of Double a typo or is it on purpose? In in java-sdk/src/main/java/com/ibm/watson/developer_c

[2016-01-06 17:28] germanattanasio commented on #151
@l2fprod which version of the Java SDK are you using?

Regarding Double vs double. We are trying to use objects instead of primitive types.

`null` values are deserialized as `0.0` when using `double` and `null` when using `Double`.

Looks like we [have](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/personality_insights/v2/model/Trait.j

[2016-01-06 17:31] germanattanasio commented on #151
@l2fprod, the SDK uses `gson` so as a workaround you can serialize the profile doing something like:

[code]

[2016-01-07 09:26] l2fprod commented on #151
For now, I workaround the issue by traversing the tree and settings the null values to 0, ugly but then I can use the POJO and nice features of Ektorp for CouchDB.

Whether you use double or Double in the model, I guess it is the "getter" that will need to be fixed. Either changing to return a "Double" or properly handling the null value to avoid NPE.

[code]
currently throws NPE.

[2016-01-07 15:33] debojyotiIBM opened #152 "[speech-to-text] The recognize api is not producing output with wordconfidence and timestamp."
[code]
Output:
[code]

[2016-01-07 18:51] germanattanasio commented on #152
this is related to #143, it was fixed but not released yet

[2016-01-08 10:41] debojyotiIBM commented on #152
Thanks for clarifying. Appreciate your support! Any idea when this will be published??

[2016-01-08 15:56] josephlam1984 commented on #139
I can't wait for the library to begin supporting VR V2.

[2016-01-09 16:17] Tympanix commented on #81
Did you ever finish the utils class and would you mind sharing?

[2016-01-10 09:22] amiddavid commented on #150
created a PR
https://github.com/watson-developer-cloud/java-sdk/pull/154

[2016-01-10 19:52] amiddavid commented on #150
now PR https://github.com/watson-developer-cloud/java-sdk/pull/155 on dev, I hope.

[2016-01-11 05:47] #152 closed

[2016-01-11 05:47] germanattanasio commented on #152
It will be released in a few hours :smile:

[2016-01-11 19:50] #135 closed

[2016-01-11 20:24] germanattanasio commented on #150
Fixed in the latest release

[2016-01-11 20:24] #150 closed

[2016-01-11 20:24] germanattanasio commented on #151
Fixed in the latest release

[2016-01-11 20:24] #151 closed

[2016-01-11 20:24] germanattanasio commented on #139
fixed in the latest release

[2016-01-11 20:24] #139 closed

[2016-01-11 20:25] germanattanasio commented on #140
@gjs29 I tried to fix this today but the problem is in the service not in the SDK. Can you help me?

[2016-01-11 20:29] germanattanasio commented on #33
I'm closing this since we don't seems to have this requirement anymore

[2016-01-11 20:29] #33 closed

[2016-01-11 21:04] germanattanasio commented on #22
Fixed by @gjs29

[2016-01-11 21:04] #22 closed

[2016-01-11 21:05] germanattanasio commented on #88
@fmerici any update on this ?

[2016-01-12 03:23] germanattanasio commented on #44
Fixed

[2016-01-12 03:23] #44 closed

[2016-01-12 10:52] l2fprod commented on #151
moved to 2.5. works perfectly! thank you!

[2016-01-13 04:14] germanattanasio commented on #81
There is a fix already in `dev`. The idea is to read the `InputStream` into a `byte[]` and once we know the audio file size create a new WAV header with it.

The header of a WAV (RIFF) file is 44 bytes long and has the following format:

Positions	| Sample Value | Description
--- | --- | ---
1 - 4 |	"RIFF" |	Marks the file as a riff file. Characters are each 1 byte long.
**5 - 8** |	**File size (i

[2016-01-13 04:15] germanattanasio commented on #81
@Tympanix, @svergara1987 can you guys check if the code in `dev` fixes the issue you were facing here?

[2016-01-16 04:19] germanattanasio commented on #15
We decided to use https://github.com/TakahikoKawasaki/nv-websocket-client. It's only 60kb and works in Android.

[2016-01-16 04:40] germanattanasio commented on #81
Fixed in https://github.com/watson-developer-cloud/java-sdk/releases/tag/java-sdk-2.6.0

[2016-01-16 04:40] #81 closed

[2016-01-16 04:41] germanattanasio commented on #15
Fixed in https://github.com/watson-developer-cloud/java-sdk/releases/tag/java-sdk-2.6.0

[2016-01-16 04:41] #15 closed

[2016-01-16 04:41] #88 closed

[2016-01-19 20:33] g-may opened #163 "[concept-insights] getConceptRelatedConcepts method does not support multiple source concepts"
cURL and Node SDKs allow multple source concepts to be passed in the `concepts` query parameter at the following endpoint:
`/v2/{graph-id-path}/related_concepts`

The SDK currently uses
`/v2/{concept-id-path}/related_concepts`
and is restricted to only one query concept

example request:
[code]

[2016-01-21 20:13] germanattanasio commented on #163
I think the method you are looking for is `getGraphRelatedConcepts` which allows you to get the related concepts based on a given *Graph*

[2016-01-22 04:52] #149 closed

[2016-01-22 04:52] #163 closed

[2016-01-22 05:24] germanattanasio opened #166 "Use TypeAdapters instead of JsonDeserializers"
A good advice from our friends at foursquare:

[2016-01-25 21:37] josephlam1984 opened #167 "java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/naming/InitialContext;"
I recently upgraded to the latest version of 'com.ibm.watson.developer_cloud:java-sdk:2.7.0' in my Android application.  Upon building the project, I received the following error messages in logcat:

java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/naming/InitialContext;
                                                                     at com.ibm.watson.developer_cloud.util.Credenti

[2016-01-26 19:52] g-may opened #168 "[concept-insights] Corpus model doesn't support expiration date"
[Corpus](http://watson-developer-cloud.github.io/java-sdk/docs/master/com/ibm/watson/developer_cloud/concept_insights/v2/model/Corpus.html) objects should be able to support [expires_on and ttl_hours](https://watson-api-explorer.mybluemix.net/apis/concept-insights-v2?cm_mc_uid=84951209618014501948083&cm_mc_sid_50200000=1453837794#!/corpora/createCorpus) attributes

[2016-01-27 15:48] germanattanasio opened #169 "Add X-Watson-Opt-Out to out integration tests"

[2016-01-28 05:22] RollinJin opened #171 "Error: unknown tag (prallel_corpus_ct)"
With Watson Language Translation Service in Bluemix, if try to create model with Parallel Corpus, get errors when use below code:
[code]

[code]

[2016-01-28 05:26] RollinJin opened #172 "[language-translation] forced glossary, monolingual corpus or parallel corpus should be allowed more than one during model creation"
In LanguageTranslation.java, it seems either forced glossary, monolingual corpus or parallel corpus can be specified.
Yet, it should be allowed to input more than one options during the model training.
Such as train a new customized model with both forced glossary and parallel corpus

[2016-01-28 15:16] germanattanasio commented on #172
@kcheat is this something the service support?

[2016-01-28 15:40] germanattanasio commented on #171
DO you have the file you are trying to use ?

[2016-01-29 02:03] RollinJin commented on #171
It might not be related to the file I used.
Is it possible that "prallel_corpus" is something defined in class LanguageTranslation?

[2016-01-30 09:28] akankshajain opened #173 "setApiKey not there in class AlchemyLanguage"
Hello,

I tried to use Alchemy Language sample and I got compilation error in setApiKey method saying that method does not exist. On looking at AlchemyLanguage  I found that the method is really absent in this class.

Where exactly this method is defined?
[code]
Thanks.

[2016-01-31 05:16] germanattanasio commented on #173
The method is defined in [`WatsonService.java`](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/service/WatsonService.java#L296).
Are you trying to compile the code in `master` or using the **jar** file?

[2016-01-31 13:07] jensleis opened #174 "Java 1.6"
Are there any plans to get the lib compatible with Java 1.6, which is still more common on enterprise environments?
With the dependency to Java 1.7 it makes it nearly impossible at the moment to implement Watson services (in a simple way) for the most companies :(

[2016-01-31 15:17] germanattanasio commented on #174
The library is being compiled and distributed using Java 1.6. See the [`pom.xml`](https://github.com/watson-developer-cloud/java-sdk/blob/master/pom.xml#L99)

[code]

[2016-01-31 15:34] jensleis commented on #174
Yes, this library. But due to the dependency to OkHttp it not usable with Java 1.6. (as also pointed out in the readme).
When I use the ‘with dependencies’-jar file, I’m getting a JVMCFRE003.
Hopefully I did something wrong :)

[2016-01-31 16:31] germanattanasio commented on #174
You are right, I just found an [issue](https://github.com/square/okhttp/issues/528) where the problem was discussed. It looks like I will have to mention this in the README.md.
Sadly I don't think we can find a solution here. `OkHttp` is being used as the underlying HTTP library.

Regarding your initial asumption that Java 1.6 is the common environment for enterprise. I did a quick Google search a

[2016-02-01 03:51] akankshajain commented on #173
Thanks. By mistake I had created a class with the same name "AlchemyLanguage" Hence it was trying to search for a method there itself. Issue is fixed. You can close the issue.

[2016-02-01 04:07] #173 closed

[2016-02-01 05:45] jensleis commented on #174
Thanks. That would be great!

Regarding the statistics. It is not clear to me what they have count. It is looking to me that they didn't differentiated between client and server environments. Since even WebSphere Application Sever 7 (which is supporting Java 5) is still supported by IBM, I guess supporting at least Java 6 for this library would be a good compromise. ;)

[2016-02-01 12:30] rohanag12 commented on #167
I received a similar message, here's my logcat:

W/art: Unresolved exception class when finding catch block: javax.naming.NamingException
D/AndroidRuntime: Shutting down VM
E/AndroidRuntime: FATAL EXCEPTION: main
                                                                        Process: cluck.fuster.watsonstt, PID: 20130

[2016-02-01 16:59] germanattanasio commented on #174
@jensleis what if we get the okhttp code, make it 1.6 compatible and build a `java-sdk-1.6-compatible-2.7.1.jar` ?

[2016-02-01 17:43] jensleis commented on #174
For me that would be completely sufficient and helps me to implement against our customers environment.

[2016-02-01 21:34] josephlam1984 commented on #167
It might be helpful to know that this error is thrown in an Android development.

[2016-02-02 02:22] germanattanasio commented on #167
yeah, I'm going to add `android` to travis along with jdk 7 and 8. I'm going to have a fix for this later this week. You can always use 2.6.0 which doesn't have this problem.

[2016-02-02 17:42] akankshajain opened #175 "[visual-recognition] Cannot execute learning task : Could not train classifier. Verify there are at least 10 positive training images and 10 negative training images that are different from each other."
I am trying to create a classifier using java-sdk.  Here is the small code I have written. I have positive.zip and negative.zip in proper folder in my workspace. But still I get Could not train classifier.

Anything wrong with the zip file name or images names inside the folder or any of the locations of zips? Please help.

     System.out.println("Create a classifier with positive and negative im

[2016-02-02 17:59] akankshajain commented on #175
Most of the image files are in jpeg format with few in png format and names of the files are all different. Some long names some short.

[2016-02-02 18:30] germanattanasio commented on #175
We have an [integration test](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/test/java/com/ibm/watson/developer_cloud/visual_recognition/v2/VisualRecognitionIT.java#L90) that creates a classifier, test it and delete it so I don't know why you are getting that error. Can you please try again?

[2016-02-02 18:42] akankshajain commented on #175
curl -u dXXXXXXXXXXXXXXXXX8:1S5XXXXXXj -X POST -F "positive_examples=@positive.zip" -F "negative_examples=@negative.zip" -F "name=roadsHack" "https://gateway.watsonplatform.net/visual-recognition-beta/api/v2/classifiers?version=2015-12-02"

Something wrong with the attached zip? Even curl doesn't work and gives same error.
[positive.zip](https://github.com/watson-developer-cloud/java-sdk/files/114

[2016-02-04 04:30] psbots opened #176 "speechToText api : UnknownHostException: Unable to resolve host "stream.watsonplatform.net""
when running v 2.6.0 (due to this [bug](https://github.com/watson-developer-cloud/java-sdk/issues/167)
on calling the SpeechToText API as shown in the example code, I get the following error :

[code]

[2016-02-04 06:57] rathnaum commented on #15
Is there any C# .Net SDK for speech to text service?

[2016-02-04 13:06] daniel-bolanos commented on #15
Hello @rathnaum , there is not yet, but all you need is a websockets library for .NET. Please take a look at this post: https://developer.ibm.com/answers/questions/211086/calling-the-speech-to-text-service-from-a-c-net-ap.html

[2016-02-04 14:38] germanattanasio opened #177 "[dialog] Allow users to specify the dialog to use during an API call."
Right now dialog needs the `dialog_id` to be send on every API call to an specific dialog. If we store the `dialog_id` in the service and allow users to override it when necessary we can prevent users from sending it all the time.

[2016-02-04 16:43] melissamahoney3 commented on #172
At this time you can only upload one glossary, but you can upload more than one parallel or monolingual corpus. For example, you can train a model with a glossary and two parallel corpora, but you can't train a model with two glossaries.

[2016-02-05 02:43] RollinJin commented on #172
Thanks. I am not going to use more than two glossaries.
A basic scenario is that when I try to create a customized model with one glossary and one parallel corpus. But it seems the parallel corpus is not used during the model creation. please check. Thanks.

[2016-02-05 07:45] shenybluemix opened #178 "android.os.NetworkOnMainThreadException crashed Android App"
Using SDK 2.6 to call Alchemy Sentiment Analysis.  Running the sample code in README.  The whole Android App (Android SDK 23 ) is crashed when because of                                                                     android.os.NetworkOnMainThreadException  ( looks like from okhttp library) when calling getSentiment() function.

[code]

[2016-02-05 07:50] shenybluemix commented on #178
The sample code I am running in my Android App is as follows
[code]

[2016-02-05 07:56] shenybluemix commented on #178
B.T.W I am using SDK 2.6 because I met the issue #167

[2016-02-05 11:12] VidyasagarMSC commented on #178
Starting from HoneyComb (SDK 3.0), Android throws this **NetworkOnMainThreadException** if a long operation such as network access or database query is using it's **Main Thread** aka UI Thread.

One fix which I can think of is running your code in **AsyncTask**.

**Note:** Luckily , okHTTP doesn't use Apache HTTPClient which is deprecated effective API 23/ Android SDK 6.0

[2016-02-05 16:13] germanattanasio commented on #178
As @VidyasagarMSC said. You need to run the code in a different Thread.

[code]

[2016-02-05 16:14] #178 closed

[2016-02-09 02:15] shenybluemix opened #179 "[speech-to-text] Android Audio Capture encoding issue/best practices"
I am using 2.60 on Android for SpeechToText services.

Use Case: capture the voice by Android MIC and use it as the input for SpeecToText.

I am using MediaRecorder class of Android to do capture the audio. It looks the Audio Encoder of MediaRecorder does not support any format which Watson supports.   [http://developer.android.com/reference/android/media/MediaRecorder.AudioEncoder.html
](url)

Is

[2016-02-09 05:08] germanattanasio commented on #176
I'm not able to reproduce your issue. Can you try again and maybe copy the code you are using.

[2016-02-09 14:56] germanattanasio commented on #166
Fixed

[2016-02-09 14:56] #166 closed

[2016-02-09 14:57] germanattanasio commented on #175
I tried the test again and seems to be working. I think this was a hiphup in the service. I'm closing the issue but if you get the error again feel free to re-open it.

[2016-02-09 14:57] #175 closed

[2016-02-09 15:13] germanattanasio commented on #179
hi @shenybluemix this is supported in the [speech-android-sdk](https://github.com/watson-developer-cloud/speech-android-sdk). I saw you open an issue there so I will keep that open and work there instead of there.

[2016-02-09 15:13] #179 closed

[2016-02-09 15:44] germanattanasio commented on #174
Hi @jensleis can you try with one of the two jars here: https://github.com/germanattanasio/okhttp/releases/tag/v2.3.0-java1.6

I forked the repo and build the jars

[2016-02-09 18:15] kaaron1 opened #180 "[visual-recognition] Stream error when calling classify"
I am using the Watson sdk VisualRecognition class and receiving this error about 70% of the time...

[code]
 I could not find a solution on stackoverflow.com or dw. I have an image url, and sending imageUrl.openStream() to the service.classify(fileName, InputStream, VisualClassifier) method. For some reason the bites of the image being streamed are often incorrect.

@germanattanasio: I am posting

[2016-02-09 18:20] kaaron1 opened #181 "[visual-recognition] Take URL as parameter"
Currently some services only take an input stream, like VisualRecognition.classify, and some only take a file, like VisualInsights.getSummary. It would be great if all image related methods could take an image URL directly.

[2016-02-09 18:59] kawatsu opened #182 "[speech-to-text] do not disconnect on interim results with final = true"
`WebSocketSpeechToTextClient#onTextMessage()` should not always disconnect when `transcript.isFinal()`. If interim results is set to true, multiple messages may be received where `isFinal()` returns true.

[2016-02-09 19:18] germanattanasio commented on #180
Do you have the image you are using ?

[2016-02-09 19:20] germanattanasio commented on #181
The visual-recognition service will support URLs in the near future so I will wait until that happens

[2016-02-09 19:21] germanattanasio commented on #182
Good catch.

[2016-02-09 19:30] kaaron1 commented on #180
Here are two images I am using that I snagged from the InterConnect 2016 web page.
 
Thanks, -K
 
----- Original message -----From: German Attanasio Ruiz <notifications@github.com>To: watson-developer-cloud/java-sdk <java-sdk@noreply.github.com>Cc: Kyle Aaron/Beaverton/IBM@IBMUSSubject: Re: [java-sdk] [visual-recognition] Stream error when calling classify (#180)Date: Tue, Feb 9, 2016 11:19 AM 
Do

[2016-02-09 19:35] germanattanasio opened #184 "[retrieve-and-rank] Using 1.7 packages for dealing with Files"
After running http://www.mojohaus.org/animal-sniffer/animal-sniffer-maven-plugin/examples/generating-java-signatures.html

[code]

[2016-02-09 19:36] germanattanasio commented on #180
Can you also include the code you are using to get the image input stream?

[2016-02-09 19:44] kaaron1 commented on #180
So, the images are uploaded to a cloudant DB. The url comes from there. Here is an example.
[code]

[2016-02-09 20:13] daniel-bolanos commented on #179
Hello @shenybluemix , please regenerate the aar from the code in the repository. The AAR is outdated.

[2016-02-09 20:17] jensleis commented on #174
Hey @germanattanasio, thanks for staying on that topic, but unfortunately not.

There is still a dependency to Java 1.7 within the okio-lib. But I took the sources from git and compiled it by myself with Java 1.6. (just one diamond-operator, hmpf)

After that, with the new jars provided by you, I ran into:
java.lang.NoClassDefFoundError: com.squareup.okhttp.HttpUrl
which isn't part of one of the p

[2016-02-09 20:34] germanattanasio commented on #174
I forked the 2.3.0 :( I think I need to fork 2.7.4

On Tue, Feb 9, 2016 at 3:17 PM jensleis <notifications@github.com> wrote:

[2016-02-09 20:57] germanattanasio commented on #180
Looks like this is a problem with the way we send the `InputStream`..

[2016-02-09 22:41] #182 closed

[2016-02-09 22:41] #176 closed

[2016-02-09 22:41] #169 closed

[2016-02-09 22:41] #172 closed

[2016-02-09 22:42] #171 closed

[2016-02-09 22:42] #168 closed

[2016-02-10 00:57] kaaron1 commented on #180
I noticed that in com.ibm.watson.developer_cloud.http.InputStreamRequestBody the contentLength() method is overwritten to use inputstream.available(). It is my understanding that inputstream.available() should not be used as the content length. When I changed this code and returned -1, meaning the length is unknown, the errors I have been receiving stopped.

I will look into making these changes i

[2016-02-10 03:09] germanattanasio commented on #180
@kaaron1 you are the man!
Please make the Pull request to `dev`!

[2016-02-10 17:48] kaaron1 commented on #180
Complete. There is a pull request with the change waiting.
 
Thanks, -Kyle 

@kaaron1 you are the man!Please make the Pull request to dev!
—Reply to this email directly or view it on GitHub.

 

[2016-02-10 19:08] germanattanasio commented on #180
It's fixed but not released yet.

[2016-02-10 23:30] g-may opened #190 "[concept-insights] There should be a simpler method for accessing your service's first accountId"
There is a private method that does this in ConceptInsights.java:

[code]

[2016-02-11 00:02] g-may opened #191 "[concept-insights] you should be able to call methods like getCorpus without having to create a corpus object"
It would be convenient to be able to call getCorpus with:
[code]
instead of:
[code]

[2016-02-11 00:24] jsstylos commented on #190
+1. The upcoming Python SDK has something like this.

[2016-02-11 20:18] germanattanasio commented on #184
To validate that the library is 1.6 compatible please add
[code]
to the pom.xml

[2016-02-11 22:18] germanattanasio commented on #191
fixed in #190

[2016-02-11 22:18] #191 closed

[2016-02-11 22:30] germanattanasio commented on #180
release in a few seconds

[2016-02-11 22:31] #180 closed

[2016-02-11 22:42] #190 closed

[2016-02-12 09:07] Arvindpatricks opened #195 "Application Crashing when the watson java sdk is added in dependencies"
My gradle file is as below. I  get the error
[code]

GRADLE FILE:
[code]

Kindly help me with this issue.

[2016-02-12 15:15] germanattanasio commented on #195
Are you referencing `okhttp:2.X` in your code? We use `Okhttp 2.7.2`
Looks like in your classpath you have different versions of the same dependency.

[2016-02-12 16:46] #184 closed

[2016-02-15 16:10] germanattanasio opened #197 "[alchemy] Add emotion analysis"

[2016-02-15 17:56] fmerici opened #198 "AlchemyDataNews.java enforces param 'return'"
Method 'getNewsDocument' enforces parameter 'return' while the Alchemy specs have 'return' as optional.
- i.e. I can query AlchemyDataNews API directly without passing parameter 'return'  but the Java SDK requires it.
- Alchemy specs: https://alchemyapi.readme.io/v1.0/docs/rest-api-documentation
- SDK implementation:
"public DocumentsResult getNewsDocuments(Map<String, Object> parameters) {
[code]

[2016-02-15 18:26] germanattanasio commented on #198
You are right. I can change that

[2016-02-15 22:03] germanattanasio opened #200 "[alchemy-vision] Add support for text extraction"
POST /image/ImageGetRankedImageSceneText Identifies text in the POSTed image
GET /url/UrlGetRankedImageSceneText Identifies text in the URL

The documentation is: http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/alchemyvision/api/v1/#

[2016-02-17 14:42] davismat opened #201 "DialogService fails to update profile unless updating specific profile variables"
When I used the APIs to get the profile for a clientID, then try to update that profile, I get a 400 error:

status: 400, error: The name_values parameter specified does not properly specify the name value pairs for the profile

Here is some example code:

[code]
The profileMap is successfully populated, and I can see the default value for the "user_name" profile variable. But the `updateProfile`

[2016-02-18 17:32] shikida opened #202 "CredentialUtils for username/passwords too"
Hi

CredentialUtils currently retrieves the apiKey for alchemy.

I think with just a little change, it could also retrieve username and password as well from VCAP_SERVICES

That would be great

thx

[2016-02-18 19:08] germanattanasio commented on #202
Please check https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/util/CredentialUtils.java#L87

We are currently using the VCAP_SERVICES

[2016-02-18 19:08] #202 closed

[2016-02-18 21:19] g-may opened #203 "[concept-insights] listDocuments shouldn't require a parameters map for input"
this doesn't work:
[code]
you have to pass a blank parameter map:
[code]

[2016-02-18 21:29] gcolmen commented on #64
Hello, I know it's a closed issue, but I'm using this simple phrase (without any symbols):
"delete laboratory record"

And I'm getting the very same error. What could it be? Or how can I solve it?

Thanks in advance!

[2016-02-20 15:49] gcolmen opened #204 "Unsupported text language on Alchemy API"
Hello, I'm sending this simple phrase to Alchemy API (getRelations):

"delete laboratory record"

And getting this error back:

{"error":"unsupported-text-language", "code":400}

There aren't symbols in the string, or non-printable characters. I've tried with several other phrases with no problem. But I need this one!.

What could it be? Or how can I solve it?

Thanks in advance!

Giancarlo

[2016-02-21 04:33] germanattanasio commented on #204
I don't think this is related to the java-sdk. Did you try with a curl command to see if the phrase was working ?

[2016-02-21 18:57] gcolmen commented on #204
Thank you for your answer German. I tried that and I've received the same error, but I've noticed that Alchemy is detecting the language as "romanian", and that's why I'm getting the error. I'm now sending the request specifying the language as English and it's working perfectly.

Thanks again.

Giancarlo

[2016-02-21 21:39] #204 closed

[2016-02-21 21:39] germanattanasio commented on #204
No problem, I'm glad it's working

[2016-02-23 08:38] shikida commented on #202
for username/password, this function retrieves Credentials.basic(username, password). I can't use the result of this function in NaturalLanguageClassifier.setUsernameAndPassword(user,pass) for example

[2016-02-23 17:55] germanattanasio commented on #202
use `setApiKet` instead

[2016-02-25 06:04] shikida opened #205 "Is it possible to provide an example on how to deal with long audio files?"
I am trying to transcript a long audio file (20 minutes - 7MB) but transcription ends in the first minute, no matter if I use http or websockets (I am trying the examples)

TIA

Leo

ps.

        private static CountDownLatch lock = new CountDownLatch(1);

	public static void main(String[] args) throws IOException, InterruptedException {
		WatsonAPI api = new WatsonAPI();
		FileInputStream audio =

[2016-02-26 15:20] daniel-bolanos commented on #205
@germanattanasio , we need to fix this one. This seems like an error parsing the hypotheses, can you please take a look at that?

thank you

Dani

[2016-03-03 16:59] germanattanasio opened #206 "[dialog] encoding issue"
Seems like at some point the text is being encoded differently.

[code]

@mitchmason, how can we force the service to use `UTF-8`?

[2016-03-05 22:52] germanattanasio opened #207 "Add templates for issues and pull requests"

[2016-03-06 04:33] germanattanasio commented on #93
Updated today

[2016-03-07 17:16] mishrasambit commented on #200
I tried this extending `com.ibm.watson.developer_cloud.service.WatsonService.`
and using the following code snippet, but I am getting error response
SEVERE: https://gateway-a.watsonplatform.net/calls/image/ImageGetRankedImageSceneText?outputMode=json&imagePostMode=raw, status: 400, error:

[code]

[2016-03-07 21:28] germanattanasio opened #209 "when calling `withBodyContent()` we should not prettyprint the json we send"
We should not use `GsonSingleton.getGson().toJson(object)` because it introduces latency due to the prettyfy

[2016-03-07 21:32] germanattanasio commented on #209
In Tradeoff Analytics:

[code]

[2016-03-08 04:56] germanattanasio commented on #200
You should try to update `AlchemyLanguage.java` not `WatsonService` and it should be pretty straitforward.

In any case I'm planning on working on this this week.

[2016-03-09 08:03] gamal-ahmed commented on #133
i don't know why you are keeping it to show "audio is not a valid audio file" you can separate messages

[2016-03-09 14:54] germanattanasio commented on #133
@gamal-ahmed I'm doing 2 checks.
1. checking if the file is null or doesn't exists
2. checking the file extension to make sure it's a valid audio file: `.wav`, `.flac`, etc..

[2016-03-11 19:34] davismat opened #210 "add support for Alchemy TextExtractDates endpoint"
The is an endpoint for relative date extraction:

/text/TextExtractDates

params include, for example:

BasicNameValuePair outputModeParam = new BasicNameValuePair("outputMode", "json");
BasicNameValuePair textParam = new BasicNameValuePair("text", input);
BasicNameValuePair anchorDateParam = new BasicNameValuePair("anchorDate", anchorDateStr + " 12");

[2016-03-13 01:36] aarora91 opened #211 "ParseException thrown when making getConversationData request to Dialog"
Hi,

I am using the getConversationData method to retrieve conversation history for my dialog. I am quite sure that the date format in my input is correct because I am getting back the expected response, but along with it comes a ParseException as follows:

[code]

Please let me know how to fix this.
Thanks!

[2016-03-14 00:26] shikida opened #212 "Doubt about Alchemy DataNews dates"
doc says

[code]

[2016-03-14 01:36] shikida commented on #212
I think I've got it.
Using the query builder

http://querybuilder.alchemyapi.com/builder?hiddenArrowClass=arrow-example-1&inputDateRange=2016%2F03%2F07+00%3A00+-+2016%2F03%2F14+23%3A00&inputEntity=IBM&selectEntityType=company&selectSentiment=any&selectCategory=technology+and+computing&selectArticlePart=title&inputCount=25&return_title=0&return_publicationData=0&return_docSentiment=1&querySubmit=

[2016-03-14 01:48] shikida opened #213 "How to perform a query using AlchemyDataNews API like this?"
https://access.alchemyapi.com/calls/data/GetNews?apikey=YOUR_API_KEY_HERE&return=enriched.url.title,enriched.url.publicationDate,enriched.url.enrichedTitle.docSentiment&start=1457308800&end=1457996400&q.enriched.url.enrichedTitle.entities.entity=|text=IBM,type=company|&q.enriched.url.enrichedTitle.taxonomy.taxonomy_.label=technology%20and%20computing&count=25&outputMode=json

I was trying

		Strin

[2016-03-14 01:58] shikida commented on #213
oh sorry

just use it like this

params.put("q.enriched.url.enrichedTitle.entities.entity","|text=IBM,type=company|");

sorry, pls close this issue

[2016-03-14 02:57] shikida opened #214 "reverse JSON to object fails for AlchemyDataNews DocumentsResult object"
Hi
Because I am caching Alchemy results, I am saving objects as JSON and deserializing them using a function like

		Gson gson = new GsonBuilder().create();
		DocumentsResult fv = gson.fromJson(new FileReader("/home/leoks/git/newsmood.1/ibm.march.1.to.10.2016.json"), DocumentsResult.class);

The problem seem to be only for the boolean field "confident".

              "publicationDate": {

[2016-03-14 17:58] #213 closed

[2016-03-16 16:58] germanattanasio commented on #214
Can you please add the JSON object you are trying to deserialize ?

[2016-03-16 18:18] germanattanasio commented on #212
Alchemy uses unix timestamp. See http://www.unixtimestamp.com/

[2016-03-16 18:18] #212 closed

[2016-03-17 05:17] #214 closed

[2016-03-17 16:19] #207 closed

[2016-03-17 16:34] germanattanasio commented on #198
I just realized that if you don't specify `return` the output it's the document count. so I decided to add two methods to the `AlchemyDataNews` one that require returns and will return documents like
[code]
and one without `return` that will return the document count
[code]

[2016-03-17 16:34] #198 closed

[2016-03-17 16:35] germanattanasio commented on #197
Documentation: https://www.alchemyapi.com/api/emotion-analysis

[2016-03-17 16:38] germanattanasio commented on #195
@Arvindpatricks can you update okhttp in your dependencies and try again? I'm not able to reproduce your problem.

[2016-03-18 03:18] #203 closed

[2016-03-18 03:18] #210 closed

[2016-03-18 03:18] #211 closed

[2016-03-18 03:43] #209 closed

[2016-03-18 03:46] germanattanasio commented on #205
@shikida make sure that `continuous = true` otherwise the recognition will stop if a half-second silence is detected. See the [documentation](https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/speech-to-text/using.shtml#continuous)

[2016-03-18 03:50] #205 closed

[2016-03-18 03:50] #200 closed

[2016-03-18 03:51] germanattanasio commented on #195
I tried again and I couldn't reproduce the issue. I think it's because you are using a different version of `okhttp`.

Feel free to re-open the issue if you still experiment a problem

[2016-03-18 03:51] #195 closed

[2016-03-18 04:07] germanattanasio commented on #201
I think this is a bug in the service. I coudn't reproduce the issue.
I updated an integration test to validate that `updateProfile` is updating the variable in the server.

See [this](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/test/java/com/ibm/watson/developer_cloud/dialog/v1/DialogServiceIT.java#L108-L113)

[code]

[2016-03-18 04:07] #201 closed

[2016-03-18 04:45] germanattanasio commented on #206
I wrote an integration test and I was able to verify this issue.

[code]
The SDK is sending the string as UTF-8 but the service is not returning it as UTF-8. I will talk to the service team to see if they can fix this on their side.

[2016-03-18 04:45] #206 closed

[2016-03-18 10:37] l2fprod opened #216 "[alchemy-vision] Number format exception when there is no tag returned by the API"
ImageKeywords for this image:
![blank](https://cloud.githubusercontent.com/assets/12746550/13875173/a08c9562-ecfc-11e5-9205-c51fcf178e4f.jpg)

will produce this output:
[code]
the GSON parsing is not working in this case when trying to parse the empty string into a Double:

[code]

A custom typeadapter for Gson might solve the issue. Although I would put the root issue in Alchemy. This NO_TAGS is

[2016-03-18 14:24] germanattanasio commented on #216
@l2fprod  I talked to @zwalchuk and he will work with Alchemy vision to see what they can do.

[2016-03-18 15:39] germanattanasio commented on #216
I ended up writing a custom deserializer/serializer and checks the case when `score: ""` and remove the `NO_TAGS` from the keyword list

[2016-03-18 15:39] #216 closed

[2016-03-18 15:53] #197 closed

[2016-03-18 15:53] #47 closed

[2016-03-18 16:19] germanattanasio opened #217 "Move to okhttp3 and switch to use MockWebServer"
if we switch to okhttp3 we will be able to use `MockWebServer` to mock our services. We will probably remove the current library we use to for unit tests.

[2016-03-22 16:57] germanattanasio opened #218 "[concept-insights] Add builder methods to AccountPermission"
Add utility methods so that we don't need all the code below to create a corpus and give someone permission.

[code]

[2016-03-23 09:28] ishaiborovoy opened #219 "[tone-analyzer] Part of the getting started code is not compiled"
Hi,
In getting started (readme) the following lines is not compiled:

Tone tone = service.getTone(text, Scorecard.EMAIL);
System.out.println(tone);

I am using maven with this dependency:
<dependency>
   <groupId>com.ibm.watson.developer_cloud</groupId>
   <artifactId>java-sdk</artifactId>
   <version>2.9.0</version>
</dependency>

[2016-03-23 13:46] germanattanasio commented on #219
Looks like the readme wasn't updated. See an example [here](https://github.com/watson-developer-cloud/java-sdk/blob/master/examples/java/com/ibm/watson/developer_cloud/tone_analyzer/v3/ToneAnalyzerExample.java)

[2016-03-23 13:49] germanattanasio commented on #219
Fixed in b88f8c3

[2016-03-23 13:49] #219 closed

[2016-03-25 12:24] gmjonker opened #220 "[concept-insights] Concept id regex not accepting parentheses"
This:

        conceptInsightsService.getConcept(new Concept(graph, "Reactivity_(psychology)"));

is not accepted by `IDHelper.validate()`. I think it should, because "Reactivity_(psychology)" is a valid concept name.

Changing

        CONCEPT_ID_REGEX = "^/graphs/[_\\-\\w\\s]*/[_\\-\\w\\s]*/concepts/[_\\-\\w\\s]*$";

to

        CONCEPT_ID_REGEX = "^/graphs/[_\\-\\w\\s]*/[_\\-\\w\\s]*/concepts/[

[2016-03-26 01:14] germanattanasio commented on #167
Seems like this is still happening http://stackoverflow.com/questions/36217233/javax-content-not-accessible

[2016-03-28 18:04] germanattanasio opened #221 "[text-to-speech] Add support for customizations"
Add support for customizations. See: https://watson-api-explorer.mybluemix.net/apis/text-to-speech-v1
There are new endpoints like `/v1/pronunciation` and `/v1/customizations`

[2016-03-29 12:34] martin-labsky commented on #206
Confirm this is a bug when updating profile variable value - will be fixed in the next release.

[2016-04-04 12:22] gams95 opened #224 "[credentialUtils]Could not find class 'javax.naming.InitialContext', referenced from method com.ibm.watson.developer_cloud.util.CredentialUtils.getKeyUsingJNDI"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2016-04-04 19:08] YuningMiao commented on #175
Hi,
when I try to use curl to train and create a classifier, I got error code 400, cannot execute learning task: no classifier name given error, and here is my curl command
`curl -u "0xxxxxxxxxxxxxxxxxxxxxxxxxxxx":"vxxxxxxxxxxxxx" \
     -X POST \
     -F "positive_examples=@bottle-positive.zip" \
     -F "negative_examples=@bottle-negative.zip" \
     -F "name=plasticbottle" \
     -k "https://ga

[2016-04-04 19:21] germanattanasio commented on #175
can you write this as a question in stackoverflow ? this is not related to the java-sdk

[2016-04-05 14:27] germanattanasio commented on #224
duplicate of #167

[2016-04-05 14:27] #224 closed

[2016-04-05 17:51] germanattanasio commented on #167
I've replied to the question and I'm closing this issue because seems like the user was using an old version without the fix for this.

[2016-04-05 17:51] #167 closed

[2016-04-05 22:26] germanattanasio commented on #218
I'm working on provide something like:

[code]

@g-may what do you think?

[2016-04-06 10:24] karthiktsm commented on #205
After updating to 2.9.0 also same issues is throwing IndexOutOfBounds exception.

java.lang.IndexOutOfBoundsException: Index: 1, Size: 1
	at java.util.ArrayList.rangeCheck(Unknown Source)
	at java.util.ArrayList.get(Unknown Source)
	at com.ibm.watson.developer_cloud.speech_to_text.v1.model.SpeechResults.isFinal(SpeechResults.java:76)
	at com.uniphore.platform.voice.asr.phonetic.transcriber.ibm.mod

[2016-04-06 18:10] germanattanasio opened #225 "Add constants for languages in Language Translation"
The `LanguageTranslation` service API in the Java SDK does not define any constants for supported languages. For example, right now you have to write:

[code]

Rather, having a set of pre-defined constants (an enum most likely) of languages supported by the service would be more helpful:

[code]

[2016-04-06 18:10] germanattanasio commented on #225
@jpetitto

[2016-04-06 18:24] tanmayb123 commented on #64
Hi! I'm also getting the same issue. This is when I use "Stephen Hillenburg". Is there a way I can specify that the input is in english? Thanks!

[2016-04-07 00:05] gcolmen commented on #64
Hi, I solved the problem by sending a parameter for the language when making the call:

params.put("language", "english");

(params is the Map containing the parameters for the call).

Hope it's useful.

gc

[2016-04-07 00:46] tanmayb123 commented on #64
Thanks for the info, @gcolmen!
I was able to use this to create #226

[2016-04-08 11:59] shikida opened #229 "Alchemy face boundaries should be integers, not strings"
For example

		AlchemyVision av = new AlchemyVision();
		av.setApiKey("************");
		ImageFaces faces = av.recognizeFaces(new File("/home/leoks/Desktop/20151213_150238.jpg"), false);
		for(ImageFace face:faces.getImageFaces()){
			System.out.println(face.getPositionX());
			System.out.println(face.getPositionY());
			System.out.println(face.getWidth());
			System.out.println(face.getHeight());

[2016-04-08 18:03] germanattanasio opened #231 "Investigate problems with WebSocket connections"
See

http://stackoverflow.com/questions/36504879/watson-stt-java-varying-results-between-websockets-java-and-http-post

[2016-04-09 01:31] tanmayb123 commented on #64
I think we can close the issue now.

[2016-04-09 01:36] germanattanasio commented on #64
I'm going to wait until the next release which is on April 15.

[2016-04-09 17:11] g-may commented on #218
That looks more user-friendly. Especially if you can write

`my_corpus.addAccountPermissions(new AccountPermission("testuser", "ReadWrite"));`

I think we should minimize SDK-specific learning required for people who already understand the base REST API.

[2016-04-10 15:38] germanattanasio commented on #231
Example file https://s3.amazonaws.com/mozart-company/tmp/4.flac

[2016-04-10 21:52] Apisov opened #232 ""docSentiment" field for Article model"
Hello.
Faced with "problem" that now you don't have field `docSentiment` in Article model. In case when we asking in return `enriched.url.docSentiment`. Also don't know why but you have missed getters\setters for `docSentiment` field in `EnrichedTitle` model.

As I understand for now I need to download last version of SDK and modify it or write own fetching, parsing of api. Maybe someone need this

[2016-04-10 21:55] germanattanasio commented on #232
you are right. I will work on this or you can write a pull request

[2016-04-11 03:21] GrapeBaBa opened #234 "Not unified code style for static variable and enum"
Hi,
I cloned the code and looked through it. I found some static variable and enum code style not unified.
somewhere lower case and somewhere upper case. I think it is better to unify upper case and split by underscore. If you agree that, i think i can submit a pull request.

For example:
[code]

[code]

[2016-04-11 05:31] jasoma opened #235 "[AlchemyVision] ImageKeyword does not expose knowledge graph data"
The [AlchemyVision#getImageKeywords](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/alchemy/v1/AlchemyVision.java#L200) has an optional parameter for including knowledge graph data in the response.

But the [ImageKeyword](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/alchemy/v

[2016-04-11 08:16] #220 closed

[2016-04-12 20:29] shikida opened #240 "Typecast translation error"
pom.xml

[code]
code

[code]

error

Exception in thread "main" java.lang.ClassCastException: com.ibm.watson.developer_cloud.language_translation.v2.model.IdentifiableLanguage cannot be cast to com.ibm.watson.developer_cloud.language_translation.v2.model.IdentifiedLanguage
	at Translate.main(Translate.java:16)

[2016-04-12 20:50] germanattanasio commented on #240
Look at your code. you need to change
[code]

to be
[code]

[2016-04-12 23:37] germanattanasio commented on #234
I think you are right regarding having different styles. so go a head a write a pull request

[2016-04-13 01:03] shikida commented on #240
ouch sorry

[2016-04-13 01:26] shikida commented on #240
hey, that's not right
in 2.9.0, lt.identify("this is a test") resolves to List<IdentifiedLanguage>, not List<IdentifiableLanguage>

[2016-04-13 05:57] tanmayb123 commented on #225
Would it be better to use something like "Language.EN" or "Language.ENGLISH"?

[2016-04-13 08:55] tanmayb123 commented on #225
#241 should take care of this.

[2016-04-13 21:54] dselman opened #242 "WARNING: A connection to https://gateway-a.watsonplatform.net/ was leaked"
I am seeing this WARNING when using the Alchemy sentiment service:

WARNING ] A connection to https://gateway-a.watsonplatform.net/ was leaked. Did you forget to close a response body?
(Which seems to be related to: https://github.com/square/okhttp/issues/2158)

My code:

[code]

[code]

[2016-04-14 04:16] germanattanasio opened #243 "Automate releases"
Currently, releases are made by me and if I get hit by a car nobody else will be able to do it so we need to work on automating the releases as with our other SDKs.

I found that **Okhttp** has the process for snapshots automated.
See https://github.com/square/okhttp/tree/master/.buildscript

---

I think that releases that aren't snapshot can't be automated beause they are signed with a PGP key b

[2016-04-16 04:32] #225 closed

[2016-04-18 22:18] #234 closed

[2016-04-18 22:28] #64 closed

[2016-04-18 22:28] #218 closed

[2016-04-18 22:28] #229 closed

[2016-04-18 22:28] #232 closed

[2016-04-18 22:28] #235 closed

[2016-04-18 22:28] #240 closed

[2016-04-18 22:30] #50 closed

[2016-04-18 22:42] germanattanasio commented on #217
from: @jpetitto

A quick naive implementation without having to use OkHttp3 is the following:

[code]

[code]

[code]

And using it in an async manner from Android code:

[code]

We overload the method with an extra ignored parameter, that way we do not break existing code and tests. Then we forward the internal call to the existing `translate` method. A new thread is spawned every time.

There is

[2016-04-18 22:44] germanattanasio commented on #231
I'm assigning this to @vherrin since this team has done something with OkHttp WebSockets

[2016-04-19 00:27] abdielou commented on #231
Good. Something I forgot to mention is that I also tried with the Java Http `recognize` method and worked the same as with cURL. That was expected but at least we know that works using Java.

[2016-04-19 02:49] germanattanasio commented on #231
Thanks, @abdielou, I'm working on moving to okhttp3 and use their WebSockets instead of the library we are using now.

[2016-04-19 11:30] karthiktsm commented on #205
Error throwing while using web-socket
jsoncom.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Unterminated array at line 39 column 38 path $.results[0].alternatives[0].timestamps[6][2]
java.lang.RuntimeException: Error parsing the incoming message: {
   "results": [
      {
         "alternatives": [
            {
               "timestamps": [
                  [

[2016-04-19 14:25] germanattanasio commented on #205
mmmm I think I'm going to change the websocket library...

[2016-04-19 20:12] changbaishan opened #246 "test cases failed"
Running com.ibm.watson.developer_cloud.service.GenericServiceTest
Apr 19, 2016 4:06:13 PM com.ibm.watson.developer_cloud.service.WatsonService execute
SEVERE: http://localhost:9898/v2/profile, status: 404, error: Bad request
Apr 19, 2016 4:06:14 PM com.ibm.watson.developer_cloud.service.WatsonService execute
SEVERE: http://localhost:9898/v2/profile, status: 413, error: Bad request
Apr 19, 2016 4:0

[2016-04-19 22:04] germanattanasio commented on #246
that's the expected output for those tests

[2016-04-19 22:04] #246 closed

[2016-04-20 00:01] changbaishan opened #247 "Please include jar and javadoc in your future releases"
Given that test cases often fail. It is desirable that IBM releases javadoc and jar in the future releases of watson-developer-cloud/java-sdk. In addition, it would also help if you include the library jars(such as okhttp)  in your releases.

[2016-04-20 02:59] germanattanasio commented on #247
The library with the dependencies can be found in the releases section.
For example, if you look at the last release you will see the jar-with-dependencies.
See: https://github.com/watson-developer-cloud/java-sdk/releases/tag/2.10.0
This is already mentioned in the README.md

The javadoc for each version can be found here: http://watson-developer-cloud.github.io/java-sdk/

Looks like we are not re

[2016-04-20 12:13] GrapeBaBa commented on #217
@germanattanasio
Would you like consider use RxJava or Guava ListentableFutrue to implement both sync and async invoke. They are more close to CompletableFuture in java8? Or if we could directly use Retrofit which is a wrapper of OkHttp to refactor our  WatsonService?

[2016-04-20 13:26] germanattanasio opened #249 "[speech-to-text]interim result throws a json malformed exception?"
When using interim results sometimes the results can't be parse.

[code]

Json
[code]

SDK version 2.10.0
See: https://developer.ibm.com/answers/questions/265363/using-speech-to-text-api-java-sdk-setting-interim.html

[2016-04-20 13:38] germanattanasio commented on #217
@GrapeBaBa The decision of using okhttp3 and support Async and Sync here is mainly because we need a library that can run on Java 1.6 (legacy companies see #174) and Android.
We are also going to release an Android SDK next week. It will be just a wrapper of this + some Android classes to work with things like the microphone or speaker.

The dependencies we use in this SDK are small and android co

[2016-04-20 13:39] germanattanasio opened #250 "[general-sdk] Document examples of Sync and Async requests"

[2016-04-20 13:40] germanattanasio commented on #217
@GrapeBaBa I'm really interested in your opinion on the changes for Async and Sync.

[2016-04-20 13:56] GrapeBaBa commented on #217
@germanattanasio
1.RxJava and Guava ListentableFuture both compatible with java 6, and they are very popular in java and Android area. Reactive method is more powerful than callback way. Just a example, jersey also provider a new reactive client https://jersey.java.net/documentation/latest/rx-client.html.
2.Retroit is also derived from square, same with okhttp. It seems combine RxJava and Okhttp a

[2016-04-20 14:12] germanattanasio commented on #217
Can we get an idea of the size of those dependencies?
Can you write an example like the one in this issue so that we can see how
the code will look if you use rxjava and guava?
On Wed, Apr 20, 2016 at 9:56 AM Chen Kai <notifications@github.com> wrote:

[2016-04-20 14:15] GrapeBaBa commented on #217
Sure, let me try to do that.

[2016-04-20 16:51] tanmayb123 opened #251 "Streaming Audio for Speech to Text"
Would it be possible to add Audio Streaming for Speech to Text in this API, just like the Swift API?

[2016-04-20 17:50] germanattanasio commented on #251
We are working on it look at the `update-to-okhttp3` branch

[2016-04-21 03:45] germanattanasio commented on #247
I just double check and we are releasing the javadoc and sources along with the jar.
See  http://central.maven.org/maven2/com/ibm/watson/developer_cloud/java-sdk/2.10.0/

[2016-04-21 03:45] #247 closed

[2016-04-21 03:50] germanattanasio commented on #250
Example of how to do Async calls in Android

[code]

[2016-04-21 08:56] TakahikoKawasaki commented on #205
The current code:

    public void onTextMessage(WebSocket websocket, String message) {
      try {
        JsonObject json = new JsonParser().parse(message).getAsJsonObject();

does not check whether `message` is null or not before passing it to `parse(String)` method.

How about adding the code like below?

    if (message == null)
    {
        message = "";
    }

[2016-04-21 09:09] TakahikoKawasaki commented on #205
@shikida @daniel-bolanos @karthiktsm @germanattanasio The stack trace indicates that the WebSocket server sent data **as TEXT, not as BINARY**. If the data is audio as implied by the title of this issue, it means that the server sent binary audio data as text. It is a critical bug of the server. It is not a WebSocket client library but the server that is to blame.

See RFC 6455, [5.6. Data Frames]

[2016-04-21 15:48] germanattanasio commented on #243
another blog: https://vzurczak.wordpress.com/2014/09/23/deploying-to-maven-repositories-from-tavis-ci/

[2016-04-22 02:39] GrapeBaBa commented on #217
@germanattanasio
RxJava jar size close to 1MB, Guava seems 2MB, both are large. Maybe jsr166 is a good option (http://g.oswego.edu/dl/concurrency-interest/). Maybe we can add one more method in the interface, this example may be not good to display benefit from reactive method. The most benefit is that when the user need make several api call simulate, the CompletableFuture could compose these cal

[2016-04-22 04:14] germanattanasio commented on #217
Based on your example we can add react without breaking users which means we don't need to decide between react and async and we can support both. Let's finish 3.0 and we can add react in 3.1 along with sync and async, eventually we will remove async I guess.

I was looking at http://mvnrepository.com/artifact/io.reactivex/rxjava/1.1.3 it's around 1MB...
Why do you want to add Guava?

BTW. If you

[2016-04-22 04:42] GrapeBaBa commented on #217
@germanattanasio
Cool. My example neither use Guava nor Rxjava, just use jsr166e. It is quite small. But it is not in maven central. I searched http://mvnrepository.com/search?q=jsr166e, except twitter one, both will be OK.

[2016-04-22 17:20] germanattanasio commented on #140
I'm going to keep this test ignored for now. There is nothing wrong with the test. it just can't be run in travis without failing 1 of 10 times.

[2016-04-22 17:20] #140 closed

[2016-04-22 17:42] germanattanasio opened #253 "v3.0.0 review"
Let's add checkboxes here with the proposed changes

[2016-04-22 20:00] germanattanasio opened #254 "When building request objects we need to make them inmutable and add a Builder"
In order to prevent issues when passing request options between the different methods, we need to prevent users from setting values to the request options and make them immutables

Classes to update:

* RecognizeOptions
* ConversationDataOptions
* CreateModelOptions
* ProfileOptions

[2016-04-22 21:31] germanattanasio opened #255 "Investigate the use of Reactive Java along with Sync and Async"
Based on a conversation in #217 we will investigate the use of react.
@GrapeBaBa Let's discuss the work to be done here.

[2016-04-22 21:32] #138 closed

[2016-04-22 21:32] #177 closed

[2016-04-22 21:32] #217 closed

[2016-04-22 21:32] #231 closed

[2016-04-22 21:32] #243 closed

[2016-04-22 21:32] #249 closed

[2016-04-22 21:32] #250 closed

[2016-04-22 21:32] #251 closed

[2016-04-22 21:32] #253 closed

[2016-04-22 21:32] #254 closed

[2016-04-22 21:34] abdielou commented on #231
@germanattanasio What's the ticket about the okhttp3 implementation?

[2016-04-22 23:29] germanattanasio commented on #231
#217

[2016-04-23 02:55] germanattanasio commented on #255
Hi @GrapeBaBa are you an IBMer?

[2016-04-23 03:04] GrapeBaBa commented on #255
@germanattanasio
Yes, I am working on IBM China. My email is ckaiwh@cn.ibm.com

[2016-04-25 03:30] GrapeBaBa opened #257 "[general-jdk]Proposal to use Lombok to simplify getter/setter/toString/equals/builder method"
@germanattanasio
Would you like consider Lombok(https://projectlombok.org/) to simplify current model code? It can reduce many boilerplate codes using compile time code generation. It also can avoid if add one property in an exist model class, someone missing some boilerplate methods.

[2016-04-25 04:14] germanattanasio commented on #257
There are some issues around Javadoc and developer experience when using Lombok. Take a look at http://stackoverflow.com/questions/3852091/is-it-safe-to-use-project-lombok

The goal of the java-sdk is to help developers trying to use the Watson APIs. Every decision we take should take into account the impact in the developer experience. If I add Lombok and I lose the javadoc for the getter and set

[2016-04-25 04:58] GrapeBaBa commented on #257
@germanattanasio You are always there, your concern make sense, I paid no attention about this yet. I just see https://projectlombok.org/features/GetterSetter.html. It seems since 1.12.0, it provide a simple workaround for javadoc for getter/setter. I will try to do some samples.

[2016-04-25 17:16] germanattanasio opened #259 "Add API Reference code snippets as integration tests"
- [ ] Speech to Text              https://speech-to-text-demo.mybluemix.net/
- [ ] Text to Speech              https://text-to-speech-demo.mybluemix.net/
- [ ] Retrieve and rank           https://retrieve-and-rank-demo.mybluemix.net/rnr-demo/dist
- [ ] Natural Language Classifier https://natural-language-classifier-demo.mybluemix.net
- [ ] Personality Insights        https://personality-insights-l

[2016-04-25 18:39] alisa-ipn opened #260 "[AlchemyDataNews] need a method to get the enriched.url.text field"
Currently, Alchemy news has a list of [accessible fields](https://docs.google.com/spreadsheets/d/1wN0e_fhYCO7GBAneN9xjrNo57OtS_0Tr8FI9xCMfmzM/edit?pref=2&pli=1#gid=0)

But not all of them are reachable through the methods provided in the SDK.
Like `enriched.url.text`

A suggested solution if possible:
In `com.ibm.watson.developer_cloud.alchemy.v1.model` package
       `Article` class needs `String

[2016-04-26 12:40] bianca-pereira opened #261 "[tradeoff-analytics] 'map' property missing in Dilemma object"
The following line does not retrieve a 'map' property for the solved dilemma in java-sdk 2.9.0.

Dilemma dilemma = service.dilemmas(problem, true);

[2016-04-27 01:21] germanattanasio commented on #261
How can I reproduce the issue?

[2016-04-27 04:24] germanattanasio commented on #261
I just saw the `map` property in the API specs https://watson-api-explorer.mybluemix.net/apis/tradeoff-analytics-v1#!/tradeoff-analytics/dilemmas

[2016-04-28 21:05] Hsaylor opened #262 "Break services out into separate modules"
Adding async consumption options has helped with the Java SDK's consumability on Android, however there's still the problem of it being quite large. Including the Java SDK pushes Android apps dangerously close to the ~65k method limit. In order to allow for better consumption for Android development we should break each service out into separate modules so developers only have to include services

[2016-04-28 21:42] germanattanasio commented on #262
I think okhttp is doing something like this so we should take a look at what they are doing...

[2016-04-29 01:03] GrapeBaBa commented on #262
+1

[2016-04-29 02:04] germanattanasio commented on #262
(ง •̀_•́)ง

[2016-04-29 16:22] germanattanasio commented on #255
@GrapeBaBa do you want to take the lead here? I think you can add a method to `ServiceCall` and we can go from there.

[2016-04-29 18:44] jconallen opened #264 "3.0.0.RC1 on Bluemix is causing trust manager issue"
When trying to use the 3.0.0.RC1 all dependencies jar, everything runs fine locally.  But when I try to deploy to a Liberty runtime on Bluemix the following error

[code]
This feels like an issue with the Bluemix JVM and the library's TrustManager.

My current workaround is to use the previous version of the library (2.10), which works fine both locally and on Bluemix.

[2016-04-30 00:23] GrapeBaBa commented on #255
My pleasure.

[2016-05-04 14:58] jconallen commented on #264
Is is possible, in the meantime, to put a link to the current GA version of this library in the Readme page.  It is actually kind of hard to find. Thanks.

[2016-05-04 17:18] germanattanasio commented on #264
We don't have a `3.0.X` GA version yet. I think we will do a release next week that will include the fix for this issue if possible

[2016-05-04 19:56] Hsaylor opened #266 "[speech-to-text] Provide functionality to explicitly end transcription"
In order to finish deprecating the speech-android-ask we need to update the java-sdk's speech-to-text to have a method which explicitly ends transcription. Specifically, this should be for the web socket transcription. After quickly reviewing the code, it looks like this can be accomplished by exposing a method within the `SpeechService` which sends a stop transcription message. In `WebSocketManag

[2016-05-05 08:27] GrapeBaBa commented on #257
@germanattanasio
After i try in my own project hyperledger-java, it is indeed a problem for javadoc, i will close this issue.
Thanks.

[2016-05-05 08:27] #257 closed

[2016-05-05 08:28] GrapeBaBa commented on #255
@germanattanasio
As i am busy on other project, i think i can start this issue next Monday.

[2016-05-05 11:46] germanattanasio commented on #255
No rush. take your time!

[2016-05-05 21:04] KonstantinaLazaridou commented on #242
I get the same warning with entity extraction today. Is maven central updated?

[2016-05-07 21:07] neal-hu opened #271 "[speech-to-text] documentation is outdated about `RecognizeOptions`"
`RecognizeOptions` constructor has turned private and a builder pattern is applied, but the latest [README](https://github.com/watson-developer-cloud/java-sdk/blob/e35cf8e04b72d98e96d556f06bb682d30e4f65e8/README.md#speech-to-text) has not been updated.

[2016-05-08 13:06] neal-hu opened #272 "[speech-to-text] documentation for `HttpMediaType.AUDIO_RAW` is vague"
When people uses `HttpMediaType.AUDIO_RAW`(`audio/l16`) as the content type of incoming audio for Speech To Text, e.g.
[code]
But this will lead to a runtime exception: `rate parameter missing mime type: audio/l16`
It turned out that when using `audio/l16`, user needs to specify the rate for the audio in content-type, as required by [RFC 2586](https://tools.ietf.org/html/rfc2586), e.g.:
[code]
It

[2016-05-08 13:19] shmarzooq commented on #64
How we can set language as "English" when "alchemyObj.TextGetTaxonomy(str)" call to alchemy?
Please help.

[2016-05-09 02:12] #271 closed

[2016-05-09 02:47] #272 closed

[2016-05-09 02:56] germanattanasio commented on #64
[code]

[2016-05-09 03:24] shmarzooq commented on #64
@germanattanasio: Thank you for this. I've already setup my code which is using `Document doc = alchemyObj.TextGetTaxonomy("my string")` where "alchemyObj" is of class "com.alchemyapi.api.AlchemyAPI"

Could you please tell where to set Language in this case ?

Thanks!!

[2016-05-09 03:31] germanattanasio commented on #64
@shmarzooq you are using a different SDK. Look at the README.md in this project and switch to use this SDK.

[2016-05-09 03:40] shmarzooq commented on #64
@germanattanasio Thank you for pointing it out. I will look into README.md and will see how the switching goes. I just don't want to redo the whole code again. I've almost finished my project using AlchemyAPI (calling AlchemyAPI, passing string, getting text-taxonomies, text-concepts, and parsing the returned XML). Just getting this language issue and rest it's working fine.

[2016-05-10 11:32] tlindener opened #273 "[relationship-extractor] Add result parsing to service implementation"
In the current state the relationship extractor only gives me the result string in xml. This doesn't help a lot with development.

It would be good to have some kind of Pojo mapping included in the library

[2016-05-11 10:48] hcsekaran commented on #176
Exception in thread "main" java.lang.RuntimeException: java.net.ConnectException: Failed to connect to stream.watsonplatform.net/158.85.132.94:443
	at com.ibm.watson.developer_cloud.service.WatsonService$1.execute(WatsonService.java:172)
	at com.ibm.watson.developer_cloud.speech_to_text.v1.SpeechToTextExample.main(SpeechToTextExample.java:32)
Caused by: java.net.ConnectException: Failed to connect

[2016-05-11 14:16] germanattanasio commented on #176
I don't think this is related to the java-sdk. I just tried and it seems to be working

[2016-05-11 21:09] jconallen commented on #264
OK, I was just suggesting the 2.x GA release get a link in the readme, so new people wanting a GA library can easily find it.

[2016-05-13 17:31] vherrin opened #275 "Text to Speech is missing two stock available voices"
Below or the two missing voices specified @ http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/text-to-speech/api/v1/#get_voice

ja-JP_EmiVoice
pt-BR_IsabelaVoice

[2016-05-17 16:20] briangleeson commented on #174
Was there ever a Java 6 compatible version of the Watson SDK finished?

[2016-05-17 16:34] germanattanasio commented on #174
Nope, and I've updated the okhttp version to be 3.0.1.

[2016-05-18 00:35] germanattanasio commented on #273
#279 fixed this issue

[2016-05-18 00:35] #273 closed

[2016-05-18 00:36] germanattanasio commented on #181
Fixed in the next release

[2016-05-18 00:36] #181 closed

[2016-05-18 00:42] #275 closed

[2016-05-18 00:46] germanattanasio commented on #266
@vherrin  can we get someone to help me with this?

[2016-05-18 01:39] #261 closed

[2016-05-20 08:21] anthonyencarnacion opened #284 "[VisualRecognition] setUsernameAndPassword - throws IllegalArgumentException"
Hi!
I'm creating an android application running on android 4.4.
As I am using the Visual Recognition v3. I got an exception upon setting the username and password of the service.

`VisualRecognition service = new VisualRecognition(VisualRecognition.VERSION_DATE_2016_05_19);
service.setUsernameAndPassword("<username>", "<password>");`

I looked into the codes and saw that we are really throwing an

[2016-05-20 09:19] anthonyencarnacion commented on #284
So I tried to commented out some lines in the code and build the code.
And I was able to connect to my Visual Recognition service.

Here are some of the lines that I commented out.

Visual Recognition.java line : 305
`  // @Override
  // public void setUsernameAndPassword(String username, String password) {
    // throw new IllegalArgumentException("This service requires an api_key. Use the setApi

[2016-05-20 14:23] germanattanasio commented on #284
@anthonyencarnacion we are releasing a new version of the service right now.
You are using `v2-beta` in Bluemix which uses `username` and `password` but the code is trying to use `v3` which will use `api_key`.

Wait 1 more hour and your code will work!

[2016-05-20 14:23] #284 closed

[2016-05-20 18:55] dgterry opened #285 "[retrieve & rank] would like to obtain ranker confidence from a combined retrive and rank call"
Description of problem we are trying to solve:

We are using retrieve and rank to answer user questions and have noticed that answers with a low ranker confidence are not very helpful. We would like to remove answers with a low confidence server side before a user sees them.

We had originally been making calls to R&R using this approach:
https://www.ibm.com/smarterplanet/us/en/ibmwatson/developer

[2016-05-20 18:57] dgterry commented on #285
@sud-puth please add to or correct this issue as necessary

[2016-05-20 19:24] dgterry opened #286 "[retrieve & rank] would like a supported way to use SOLR highlighting along with the ranker"
Description of the problem we're trying to solve:

In our UI when a user asks a question of R&R we want to highlight the important keywords in the results. solrj provides a way to do this when we are just issuing a straight SOLR query but we have been unable to find a way to do this with the SDK when we are using the ranker.

Suggested solution:
We would like a way to specify SOLR highlighting par

[2016-05-20 19:25] dgterry commented on #286
@sud-puth please revise the description if it is not accurate

[2016-05-20 23:09] germanattanasio commented on #285
@gjs29 what do you think?

[2016-05-20 23:09] germanattanasio commented on #286
@gjs29 what do you think?

[2016-05-21 13:19] vinayreddy1983 commented on #174
Hi,

Kindly point out the watson sdk jar that works for 1.6 java.  Unfortunately, we are not able to upgrade to java 1.8 because of our environment (1.8 doesn't work with notes plugins). From the discussion above, it appears that you had built 1.6 compatible sdk based on previous user's request? Please confirm.

[2016-05-21 16:21] germanattanasio commented on #174
I didn't build it yet. I will try to do it next week

[2016-05-22 03:26] anthonyencarnacion commented on #284
I checked for the API key on the previously created Visual Recognition service but I was not able to find it there.
So I deleted the previous service and created a new one and saw the API Key.

I still have to test the v3 though.

Thank you..

[2016-05-23 16:08] germanattanasio opened #287 "[text-to-speech] Add getVoice()"

[2016-05-23 16:09] germanattanasio opened #288 "[speech-to-text] getModel()"

[2016-05-24 17:19] rathnaum opened #289 "Speech recognition engine?"
I want to know which speech recognition engine is used to capture the speech? Is it windows engine or IBM's own engine?

[2016-05-24 20:15] colindean opened #291 "Send JVM and OS statistics in User-Agent"
We should be sending anonymous statistics to understand those using the library.

These properties are most interesting, but other properties could be included.
[code]

The User-Agent, when the statistics are sent, should look something like this:

    Watson-Java-SDK/0.1.19 (java.vendor=IBM Corporation; os.arch=x86_64; os.version=10.11.4; os.name=Mac OS X; java.version=1.8.0_66)

This feature mus

[2016-05-25 13:57] germanattanasio commented on #255
Fixed by @GrapeBaBa

[2016-05-25 13:57] #255 closed

[2016-05-25 14:06] germanattanasio commented on #289
IBM own engine

[2016-05-25 14:06] #289 closed

[2016-05-25 17:19] colindean opened #294 "Determine version for User-Agent programatically"
The version number is hardcoded in both the production code and the test. This should be determined programmatically, most likely from some kind of generated code or properties file.

[2016-05-25 17:19] colindean commented on #294
I have a solid example of how to do this from one of my own projects, which is unfortunately not public. I'll try to set aside some time next week to do it.

[2016-05-26 06:16] ayushshah commented on #174
I tried to use simple Get Post requests to access the Watson Concept-Insights Service in Java6. However I could not get Post to work, probably because of a larger DH key being used. If you could please make the sdk available for 6 it will make things easier.

[2016-05-26 07:25] TechnoKanika commented on #205
is this change working for you ?

[2016-05-26 13:37] #287 closed

[2016-05-26 13:56] michaelkeeling opened #296 "Allow the user-agent header to be modified"
I'm a Watson developer building tools and services on top of the Watson APIs and I'd like to use the java-sdk.  The user-agent is currently hard coded to a value specific to the sdk.  Ideally it would be great if we could modify the user-agent header to include information about our client.  The goal is to allow us to collect some very basic usage information about how often the tool is being used

[2016-05-26 14:13] kognate commented on #296
Can you use a different request header to pass that information or does it have to be in the user agent?

[2016-05-26 14:13] kognate commented on #294
This is probably also related to #296

[2016-05-26 14:14] kognate commented on #291
Likely related to #296

[2016-05-27 13:52] michaelkeeling commented on #296
The problem is in the metrics on the other side.  The core problem is that if I want to use this SDK, I need a way to get standard usage data from the platform.  @germanattanasio I think could answer this question as I believe he also wrote the scripts that data collection from the http logs in WDC.

[2016-05-27 14:01] germanattanasio commented on #296
Let's see if we can push the platform to provide a better solution for this. Otherwise, I can update the code to allow users to add information to the `User-Agent`

[2016-05-29 07:53] handong890 opened #298 "Proposed to increase the new construction method"
Some time we using spring for our project and we want  control them keep one instance.
**So please add all constructor method with username and password**

For example com.ibm.watson.developer_cloud.dialog.v1.DialogService
` public DialogService(String username,String password) {
		    super("dialog");
		    setEndPoint(URL);
		    setUsernameAndPassword(username, password);
		  }`

if have this t

[2016-05-30 06:42] sourav-ibm opened #299 "How to use keyword spotting feature for IBM Waston Speech to text API?"
I am using IBM Watson Speech to text API to convert audio files into text. Every feature is working fine for me. But I am unable to use the Keyword Spotting feature. The output is not giving any info regarding spotted keywords.

Here is my code:

    `SpeechToText service = new SpeechToText();
     service.setUsernameAndPassword("*********", "********");

     service.setEndPoint("https://stream.w

[2016-05-30 15:44] priand opened #301 "LanguageTranslation does not allow multiple string"
The REST service allows it, but not the java binding, thus leading to multiple requests while one ahouls be sufficient.

[2016-05-31 15:14] gjs29 commented on #285
The confidence score has been exposed in the latest version of the ranker. I'll work on getting it added to this sdk as well.

[2016-05-31 15:16] gjs29 commented on #286
Highlighting should work with the ranker when using the fcselect endpoint. Have you tried setting the following commands on your query object? hl=true hl.fl=text

[2016-05-31 16:28] jeffpk62 opened #303 "[text-to-speech] Add support for getVoice() method"
We need to add support for the TTS getVoice() method. The comparable STT getModels() and getModel() methods are already supported. But for TTS, only getVoices() is provided.

[2016-05-31 16:35] jeffpk62 opened #304 "[text-to-speech] Correct name of German Birgit Voice object"
The equivalent Voice object for the voice de-DE_BirgitVoice is currently named DE_GIRGIT.  We need to change the name of the object to DE_BIRGIT.

[2016-05-31 17:04] jeffpk62 opened #305 "[text-to-speech] Synchronize uses of voices between getVoices() and synthesize() methods"
The getVoices() method returns the same information as the equivalent HTTP and Node interfaces:

[code]

However, the synthesize() method for the Java SDK does not accept the string version of a voice (e.g.,
pt-BR_IsabelaVoice).  It instead accepts a Voice object of the form Voice.BR_ISABELA.  We need to do one of the following:

- Modify the output of the getVoices() (and getVoice()) method to re

[2016-05-31 18:14] jeffpk62 opened #306 "[tradeoff-analytics] Call to dilemmas() failing in Google stack"
The following simple Tradeoff Analytics Java program (renamed for attachment)[TradeoffAnalyticsExample.txt](https://github.com/watson-developer-cloud/java-sdk/files/291901/TradeoffAnalyticsExample.txt) appears to be valid.  But it elicits a JsonParseException:

[code]

The JSON object that is failing appears to be valid.  German's initial diagnosis was

_The error is probably the service response.

[2016-05-31 18:31] jeffpk62 opened #307 "[personality-insights] Call to profile() failing in Google stack"
The following simple Personality Insights Java program is failing with a JavaParseException in the Google stack.  The source file is here (renamed for attachment): [PersonalityInsightsExample.txt](https://github.com/watson-developer-cloud/java-sdk/files/291896/PersonalityInsightsExample.txt).  The input file with the profile data is here (renamed from .json for attachment): [p.txt](https://github.

[2016-05-31 19:04] jeffpk62 opened #308 "[speech-to-text] recognize() method without sessions failing with JsonParseException"
The following Java program (renamed for attachment) tests the recognize() method without sessions:
[STTrecognizeSessionless.txt](https://github.com/watson-developer-cloud/java-sdk/files/291916/STTrecognizeSessionless.txt).  I can't find anything wrong in the call to the method, though I could be mistaken.  But the program produces a JsonParseException, presumably on the options object that is pass

[2016-05-31 19:43] Sud-Puth commented on #286
The highlighting with the above parameters works but right now can use only REST calls since the ranker call isn't ready[https://github.com/watson-developer-cloud/java-sdk/issues/285] but we were thinking if it was possible to include that in the response object that we get from the Ranker officially.

[2016-06-01 15:31] jeffpk62 commented on #305
We may also want to consider taking the approach that's used for STT createSession(), where overloaded methods accept either an object or a string for the model.  For TTS, that approach would need to be adopted by synthesize(), but that might lead to excessive versions of the method.  Anyway, just an additional consideration.

[2016-06-01 16:12] gjs29 commented on #285
In the latest version of the ranker, a new field ranker.confidence is exposed. You can return it through SolrJ with the following query:
[code]
We are in the process of upgrading clusters to this version of the ranker and will finish in a few days. Your cluster may already have this feature exposed. No changes to this java-sdk are necessary.

[2016-06-01 16:14] gjs29 commented on #286
Once issue [#285] is closed, this can be accomplished with the following query:
[code]

[2016-06-01 16:38] sandhya9 opened #309 "Concept Insights : ConceptualSearch"
Using https://github.com/watson-developer-cloud/java-sdk/releases/download/java-sdk-3.0.0-RC1/java-sdk-3.0.0-RC1-jar-with-dependencies.jar

and passing user_fields as a string, please see the following code snippet, This is really urgent for keynote/presentation session at Devoxx, UK.

        Map<String, Object> parameters = new HashMap<>();
        parameters.put(ConceptInsights.IDS, ids);

[2016-06-01 18:07] jeffpk62 commented on #308
Additional note:  Not surprisingly, I get the same error when calling recognize() with sessions, and I get the error when passing either a sessionId string or a SpeechSession object with the request.

[2016-06-01 21:25] priand commented on #264
Any news on this issue? We just faced it as well.

[2016-06-01 22:44] g-may commented on #309
There is a bug in the SDK -- try adding getters and setters for "user_fields" to `Result.java` in `com.ibm.watson.developer_cloud.concept_insights.v2.model`

[code]

[2016-06-01 22:55] sandhya9 commented on #309
Hi ,
Thank you ! Have you updated Result class ?
Thank you, Sandhya

[2016-06-02 01:52] jsstylos commented on #309
This will get added into the SDK but may not be published by your conference, so if you need this urgently I recommend cloning the repository and adding the code above

[2016-06-02 08:08] stephanj commented on #309
I can confirm that this fixes the bug, thanks!

[2016-06-02 13:58] jeffpk62 opened #310 "[speech-to-text] No results from recognizeUsingWebSockets() method"
The following Java program (renamed for attachment) uses recognizeUsingWebSockets() to transcribe a simple WAV file: [STTrecognizeWS.txt](https://github.com/watson-developer-cloud/java-sdk/files/295751/STTrecognizeWS.txt).  German had informed me that WS support prior to the v3.0 SDK had some issues, and this may be an artifact of those.  But this program doesn't return any results, and it looks l

[2016-06-02 14:20] g-may opened #311 "okhttp errors in 3.0.0-RC1"
I ran into the following error on AlchemyLanguage/Concept Insights using a local clone of 3.0.0-RC1:

[code]

I found this post https://github.com/square/okhttp/issues/2323#issuecomment-219833184 and tried upgrading the okhttp dependency from `3.2.0` to `3.3.1` in `pom.xml` of my clone, and was able to get things working.

[2016-06-03 11:56] max-vogler commented on #304
I deprecated `DE_GIRGIT` and added the correct `DE_BIRGIT` in 84d9400 of PR #312

[2016-06-03 11:59] max-vogler commented on #305
I added `Voice.getByName(String)` to 1c18bb0 of PR #312. This is imho more modular and composable than adding overloaded methods to `TextToSpeech`.

[2016-06-03 12:00] max-vogler commented on #303
Fixed in 1d55571c7.

[2016-06-03 12:01] #303 closed

[2016-06-03 12:23] max-vogler commented on #311
This is a duplicate of #264. It looks like you're the first to find a solution for it - good job :+1:

[2016-06-03 12:23] #311 closed

[2016-06-03 12:24] max-vogler commented on #264
Looks like the excellent @g-may found a solution for it in #311

[2016-06-03 13:33] jeffpk62 commented on #304
Sounds good.  Thanks!

[2016-06-03 13:41] jeffpk62 commented on #303
Thanks!  Will this be fixed in v2.10 onward or only in v3.0?

[2016-06-03 13:44] max-vogler commented on #303
I cannot answer this bindingly - @germanattanasio or another owner can. Although I don't see a branch for ongoing v2.x development, so chances are the fix will only be integrated in v3.x.

[2016-06-03 13:59] jeffpk62 commented on #305
Thanks, Max.  So what is the visible result of this in the interface?  Can you add a quick example, please?  I'm assuming this is a v3.0 fix, and I'm not testing with that for the imminent release, so if you could show some example output, I'd appreciate it!

By the way, I only mentioned the overloading because it was addressed that way in STT, the corollary of TTS, and because German had suggeste

[2016-06-03 14:10] max-vogler commented on #301
Good find @priand! I added it as `LanguageTranslation.translate(List<String>, ...)` in #313

[2016-06-03 14:22] max-vogler commented on #305
After initializing your data:
[code]
you can get a Voice object by calling
[code]
and use it with all existing methods:
[code]

[2016-06-03 14:28] max-vogler commented on #305
I understand that overloading methods is a viable alternative and I can change my PR if requested. Let me explain my design decision against overloading:

I understand that this is a neat shortcut, although more methods need to be added to support this fully: `getPronunciation(String, String, Phoneme)`, `synthesize(String, String)`, and `synthesize(String, String, AudioFormat)`. That is why my PR

[2016-06-03 14:43] max-vogler commented on #308
Seems like to be a v2 problem - testing a similar code with v3 works.
[code]

[2016-06-03 15:23] jeffpk62 commented on #305
I agree with your decision to avoid additional overloading, Max, especially given the ramifications you describe (thanks for the added detail!).  I just wanted to explain why I'd mentioned it.  That's all good.

But I think there's still a disconnect between the getVoices() method (and the new getVoice() method that I think was added) and the information a user needs to use a voice with synthesis.

[2016-06-03 16:35] jeffpk62 commented on #308
Thanks, Max.  I'm going to need to try working with the v3.0 jar file to see what happens there.  Sadly, time is not my friend at the moment.

[2016-06-03 18:05] max-vogler commented on #305
Transcribing parts of the chat between @jeffpk62 here:

- In v3, the Voice objects are better visible and integrated. The use case from above ("How to specify a Voice in the synthesize() method) has been improved in v3, simply by using Voice objects instead of String IDs consistently.
- @jeffpk62 mentioned an interesting point: The usage of Voice objects instead of String ids introduced a major di

[2016-06-05 18:38] buzea commented on #204
How did you manage this? I'm having a hard time finding out.

[2016-06-06 08:15] max-vogler commented on #204
I think @gcolmen is referring to the `AlchemyLanguage.setLanguage()` method.

[code]

[2016-06-06 09:41] buzea commented on #204
I must pe using an older version of the SDK, because I do not dispose of the `setLanguage()` method. I have found an answer on another thread however. I used the `params.put("language", "english");` approach.

Thank you for your support!

[2016-06-06 09:52] max-vogler commented on #299
Hey @sourav-ibm! You have been using the Watson Java SDK correctly - this feature was not fully implemented yet. I added it in PR #314

[2016-06-06 10:36] sourav-ibm commented on #299
Hey @max-vogler after fixing this bug please let me know. I want to use this feature as it will be a very useful feature for my project.

[2016-06-06 11:44] max-vogler commented on #299
I fixed it already. If you don't want to wait for the next version release, you can use the feature now by downloading [my `fix-299` branch](https://github.com/max-vogler/watson-java-sdk/tree/fix-299) instead of the Maven repo.

[2016-06-06 12:41] jpreisner commented on #176
Hi @germanattanasio , I have the same problem that @hcsekaran. This problem is related to the proxy. What is strange is that this problem does not occur in Python with Python SDK.

Do you know why?

Thanks.

[2016-06-06 12:48] jpreisner commented on #176
To fix the problem of @hcsekaran :

System.setProperty("http.proxyHost",host);
    	System.setProperty("http.proxyPort",port);

    	System.setProperty("https.proxyHost",host);
    	System.setProperty("https.proxyPort",port);

[2016-06-06 14:16] sandhya9 commented on #309
Can you please host the attached 3.0.0-RC2-SNApSHOT.jar  as a public maven repository , so the developers at Devoxx, UK can do the hands-on Lab at Devoxx, UK, 2016.
[java-sdk-3.0.0-RC2-SNAPSHOT.jar.zip](https://github.com/watson-developer-cloud/java-sdk/files/300576/java-sdk-3.0.0-RC2-SNAPSHOT.jar.zip)

[2016-06-06 17:40] gcolmen commented on #204
Yes, indeed I was using params.put("language", "english"); And later they added setLanguage method.

[2016-06-06 19:11] #299 closed

[2016-06-06 19:15] ishaiborovoy opened #315 "2.10.0 is not available version in maven central"

[2016-06-06 19:19] germanattanasio commented on #315
I would recommend you to use the `3.0.0-RC1`.
In any case `2.10.0` is on maven central (see [this](http://mvnrepository.com/artifact/com.ibm.watson.developer_cloud/java-sdk/2.10.0))

Make sure your `pom.xml` has the right dependency name:
[code]

[2016-06-06 19:19] #315 closed

[2016-06-06 19:22] germanattanasio commented on #310
@jeffpk62 The problem is probably related to the dependency we were using prior to `v3.0.0`. We were having some issues sending the WebSockets frames and that's why we switched to `okhttp-ws`.

I'm marking this as `wontfix` but this issue will help new issues facing the same problem.
The solution is to update the dependency to be >= `v3.0.0-RC1`

[2016-06-06 19:22] #310 closed

[2016-06-06 19:30] jeffpk62 commented on #310
I figured that would be the solution, German; that's cool.  I wanted to log it for future reference.  I think the test code is good, and I'll try again (with the required modifications for the async changes) when I have the cycles to migrate to v3.

[2016-06-06 19:30] #309 closed

[2016-06-06 20:40] germanattanasio commented on #307
You are telling `Gson` that the file has an array of `ContentItem`s but it actually has a `contentItems` field which value is a list of `ContentItem`.

The code you have is:
[code]
That will work if `file` was an array of content items but `file` is an object with a property(`contentItems`) that has the array.

`file:` is:

[code]
**not**
[code]

-----

In order to fix it, you need to parse the ob

[2016-06-06 20:44] germanattanasio commented on #306
[code]

[2016-06-06 20:53] germanattanasio commented on #306
This is a problem that was fixed in `v3.0.0`. The problem is that `ResponseUtils` was not using `GsonSingleton` to serialize the `Problem.java` object to a JSON request.
I'm marking this as won't fix since we won't work on v2.X anymore but it's good to have a registry about the issue here

[2016-06-06 20:55] germanattanasio commented on #305
fixed by @max-vogler and merged into `master` already

[2016-06-06 20:55] #305 closed

[2016-06-06 20:55] germanattanasio commented on #304
fixed by @max-vogler

[2016-06-06 20:55] #304 closed

[2016-06-06 20:56] germanattanasio commented on #301
fixed by @max-vogler

[2016-06-06 20:56] #301 closed

[2016-06-06 20:58] germanattanasio commented on #294
@colindean I'm going to leave this our of the next release for now

[2016-06-06 20:59] germanattanasio commented on #291
I'm moving this to the backlog.

Do we have an example of how to get this information dynamically? the example should use jdk1.6 and work on Android.

[2016-06-06 23:19] germanattanasio commented on #176
this is related to #311

[2016-06-06 23:21] #264 closed

[2016-06-06 23:22] germanattanasio commented on #285
I'm closing this since no changes to the java-sdk are necessary

[2016-06-06 23:22] #285 closed

[2016-06-06 23:24] #286 closed

[2016-06-06 23:32] #242 closed

[2016-06-07 13:06] germanattanasio commented on #298
fixed by @ndrlslz

[2016-06-07 13:06] #298 closed

[2016-06-07 13:08] germanattanasio commented on #308
@jeffpk62 I'm closing this since it's fixed in `v.3.0.0`.

[2016-06-07 13:24] max-vogler opened #316 "Migrate to OkHttp's MockWebServer"
# Summary

Remove `MockServer` and use `MockWebServer` in unit tests

- [x] `natural_language_classifier`
- [x] `personality_insights`
- [x] `service.GenericServiceTest`
- [x] `tone_analyzer`

## Backlog:
- [x] `document_conversion`
- [x] Remove dependency, clean up WatsonServiceUnitTest

[2016-06-07 13:57] germanattanasio commented on #288
fixed

[2016-06-07 13:57] #288 closed

[2016-06-07 13:58] germanattanasio commented on #221
fixed by @max-vogler

[2016-06-07 13:58] #221 closed

[2016-06-07 14:36] jeffpk62 commented on #307
German, thanks a lot for taking the time to reply and to correct my Json parsing!  I'm reopening with a few follow-up issues.

**1**. The first code snippet you include doesn't compile for me.  I don't know what Content.java is, and apparently, neither does the compiler. :-)

[code]

I played around some with the code, but I can't find a definition for Content.java, and I'm just not sure what it i

[2016-06-07 14:50] max-vogler commented on #294
FYI: Just found a hardcoded user-agent String in [`service.GenericServiceTest`](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/test/java/com/ibm/watson/developer_cloud/service/GenericServiceTest.java)

[2016-06-07 16:00] germanattanasio commented on #307
**1.** [`Content.java`](https://github.com/watson-developer-cloud/java-sdk/blob/70b51ef3e641419aae824e6976f0e0321c3bf369/src/main/java/com/ibm/watson/developer_cloud/personality_insights/v2/model/Content.java) is part of the `model` package for personality insights.

 **2.A**: @max-vogler can we add the DateSerializer from Tradeoff Analytics to the `ContentItem` class too? That will fix this issue

[2016-06-07 16:08] #296 closed

[2016-06-07 16:09] germanattanasio commented on #316
I'm moving this to the backlog. The Document conversion team will probably do this

[2016-06-07 16:12] max-vogler commented on #307
Yes, simply add `@JsonAdapter(LongToDateTypeAdapter.class)` to all Date fields (see [CustomVoiceModel](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/text_to_speech/v1/model/CustomVoiceModel.java)).

[2016-06-07 16:36] germanattanasio commented on #307
done

[2016-06-07 16:40] #307 closed

[2016-06-07 16:43] germanattanasio commented on #307
@jeffpk62 I added a test case and fixed the gson deserializing issue.

Take a look at the example below:

[code]

[2016-06-07 16:44] jeffpk62 commented on #307
**1.** I'll look again, German; I could easily have missed it.  Is it available with v2.10 or is it new for v3.0?

**2.A** Thanks for jumping on this one, @max-vogler and @germanattanasio .  Will it be fixed in v2.10 or only in v3.0?

**2.B** I understand entirely, German; thanks for the response.  Just thought I'd ask.

[2016-06-07 16:52] germanattanasio commented on #307
`1.` it's available in `2.10.0` @jeffpk62

`2.A` v3.0

[2016-06-07 17:55] max-vogler commented on #262
To support Android users, we could check the Java SDK for compatibility with ProGuard. That way, the unneeded methods can be removed automatically by Proguard, which is very common among Android projects.

See: [Shrink Your Code and Resources](https://developer.android.com/studio/build/shrink-code.html)

[2016-06-07 22:22] germanattanasio commented on #260
fixed

[2016-06-07 22:22] #260 closed

[2016-06-08 01:26] saimouli opened #321 "Main cannot be found"
I'm using eclipse mars
![capture](https://cloud.githubusercontent.com/assets/14081959/15879898/2fef2830-2cf6-11e6-8809-3d88d882c121.JPG)

![capture2](https://cloud.githubusercontent.com/assets/14081959/15879911/52c433b4-2cf6-11e6-8336-b0c9289d2f9c.JPG)

What would be the main class, if I want to run visual recognition service?

[2016-06-08 08:32] GrapeBaBa commented on #321
@saimouli It seems you don't make examples catelog as source code catelog.

[2016-06-08 08:33] max-vogler commented on #321
Hey @saimouli. You have already found the right class: `examples/com/ibm/watson/developer_cloud/visual_recognition/v2/VisualRecognitionExample.java`

You have to move it into the `src` folder to execute it, because `examples` is not part of your build path:
`src/com/ibm/watson/developer_cloud/visual_recognition/v2/VisualRecognitionExample.java`

[2016-06-08 08:41] germanattanasio commented on #321
![me2](http://g.recordit.co/7wAYHRPnkf.gif)

[2016-06-08 09:09] max-vogler opened #322 "Potential Travis and Codecov issues"
**There are two potential issue with Travis and Codecov:**

- [x] The code coverage displayed on Codecov seems to exclude unit test coverage (see [CredentialUtils.java](https://codecov.io/gh/watson-developer-cloud/java-sdk/src/d4848b3652a0bd00f29676478c4dd317047eb252/src/main/java/com/ibm/watson/developer_cloud/util/CredentialUtils.java) vs [CredentialUtilsTest.java](https://github.com/watson-deve

[2016-06-08 11:29] max-vogler opened #324 "Missing models for integration tests"
It seems like several server-side models are missing for integration tests:
- [ ] `NotFoundException: Not found` at `testGetClassifiers(NaturalLanguageClassifierIT.java:134)`
- [ ] `NotFoundException: Not found` at `testClassify(NaturalLanguageClassifierIT.java:95)`
- [ ] `NotFoundException: Not found` at `testGetRankerStatus(RetrieveAndRankIT.java:185)`
- [ ] `NotFoundException: Not found` at `te

[2016-06-08 12:19] germanattanasio commented on #324
fixed

[2016-06-08 12:19] #324 closed

[2016-06-08 12:20] germanattanasio commented on #321
I'm closing this since it's not a problem in the SDK. We don't want to make the examples to be part of the classpath.

[2016-06-08 12:20] #321 closed

[2016-06-08 15:43] #316 closed

[2016-06-08 18:25] jeffpk62 opened #331 "[speech-to-text] Add profanity_filter parameter for speech recognition"
The HTTP REST API and the Node SDK have the `profanity _filter` parameter.  But the parameter doesn't appear to be available for the Java SDK.  It should be available with all recognition methods.

[2016-06-08 19:35] #331 closed

[2016-06-08 20:21] #291 closed

[2016-06-08 20:40] germanattanasio commented on #262
@Hsaylor what do you think? can we have this process described in the `android-sdk` ?

[2016-06-08 21:45] germanattanasio opened #332 "Add the javadoc for 3.0.1 to the gh-pages branch"
Looks like there was a problem when creating the javadoc and the process failed.

- [x] Update the travis build to avoid the output of generating the javadoc
- [x] Manually add the javadoc for 3.0.1

[2016-06-09 15:44] max-vogler commented on #322
Codecov still does not calculate the correct sum of UT and IT coverage. For demonstration purposes I set up a simple [test branch](https://github.com/watson-developer-cloud/java-sdk/tree/test), which contains a [`Pojo` class](https://github.com/watson-developer-cloud/java-sdk/blob/test/src/main/java/com/ibm/watson/developer_cloud/Pojo.java), and two tests [`UnitTest`](https://github.com/watson-dev

[2016-06-09 23:25] #332 closed

[2016-06-10 08:52] max-vogler commented on #322
I opened a support ticket: https://github.com/codecov/support/issues/227

[2016-06-10 13:29] jeffpk62 opened #335 "[personality-insights] Add new language support for content"
ProfileOptions.Language and ProfileOptions.AcceptLanguage currently define English and Spanish.  The service also supports Arabic and Japanese.  So we need to add support for those languages to the Java SDK.

[2016-06-10 14:55] max-vogler commented on #335
Thanks for the report! Fixed in #336

[2016-06-10 14:55] #335 closed

[2016-06-10 16:58] jeffpk62 opened #339 "[personality-insights] Consider changing names of content-type methods for consistency"
The ContentItem class includes a contentType() method to set the content type of an item.  But the getter and setter for the attribute are named getContenttype() and setContenttype().  It would probably be more consistent for the class and more parallel with other methods of the SDK if these methods were named getContentType() and setContentType().

[2016-06-10 17:21] #294 closed

[2016-06-10 18:12] jeffpk62 commented on #339
Alternatively, you could also change the contentType() method to contenttype().  Either approach would probably be fine.

[2016-06-12 02:06] GrapeBaBa commented on #339
@jeffpk62  Your suggestion is good, but as these two methods are public, change the signature will break the user if they upgrade.
@germanattanasio Thoughts?

[2016-06-12 02:52] germanattanasio commented on #339
We can deprecate the existing method and add the new ones

On Sat, Jun 11, 2016 at 10:06 PM Chen Kai <notifications@github.com> wrote:

[2016-06-12 13:00] jeffpk62 commented on #339
Yeah, I was aware of breaking the public signatures, Kai.  It's obviously not a critical change, I really just wanted to point it out for your consideration.  It's really up to you guys to decide whether it's worth the change.  I appreciate the quick consideration.

[2016-06-13 08:46] max-vogler commented on #339
This class contains some more fields that are not capitalized (`parentid`, `sourceid`, `userid`) and generally mixes the *Builder* and *Model* pattern because it exposes methods like `charset(String) -> ContentItem` and `setCharset(String) -> void`.

I would suggest:

1. Deprecating all Builder-style setters: `charset(String), content(String), contentType(String), created(Date), forward(Date), lan

[2016-06-13 08:59] GrapeBaBa commented on #339
@max-vogler Sounds good.

[2016-06-13 10:20] GrapeBaBa commented on #339
@germanattanasio @max-vogler Let me fix this one.

[2016-06-13 11:21] germanattanasio commented on #339
It's all yours @GrapeBaBa

[2016-06-13 19:45] Hsaylor commented on #262
While I'm rather inexperienced with ProGuard, it seems like a possible solution. However, I think at the end of the day it's a question of SDK design. I personally think breaking everything out into separate services is still the better option, again referencing that Google Play Services and OkHttp do this as opposed to saying "just use ProGuard". Simply put I suppose my argument comes down to "wh

[2016-06-13 21:35] Hsaylor opened #341 "Remove Javax"
It was brought to my attention today that using the SDK on API 19 (Android 4.4) and below will fail. This is due to the use of the `javax` library. Android only has an extremely limited version of `javax` available to use, even more so for earlier versions.

Specifically the block of code causing the failure is

[code]
(there is another case of `javax` usage within the relationship extraction serv

[2016-06-14 06:47] GrapeBaBa commented on #262
Two options:
1.Use maven profile to build several independent jars.
2.Change the project structure to multiple modules maven/gradle project.
Thoughts?

[2016-06-14 09:17] max-vogler commented on #341
Good find! The `javax` usage in `Dataset` is definitely a wrong auto-completion and unintended.

[2016-06-14 09:27] #322 closed

[2016-06-14 09:48] max-vogler commented on #262
I totally agree with @Hsaylor's view on SDK design.

There are many StackOverflow posts and even one [Sonatype blog post](http://blog.sonatype.com/2010/01/how-to-create-two-jars-from-one-project-and-why-you-shouldnt/) that warn about this. Personally, I'm seeing some problems here when users depend on multiple of these *independent* jars, which share the same common code (e.g. `http.*`)

I think t

[2016-06-14 13:30] #339 closed

[2016-06-14 13:52] germanattanasio commented on #262
We should keep `java-sdk` as the module that has all the other modules.

Then we can use something like `personality-insights-v2`, `visual-recognition-v2-beta`.

@jsstylos ?

[2016-06-14 14:05] jsstylos commented on #262
Another option would be to do modules per service as opposed to per version. (This wouldn't be as optimized for space, but maybe more logical.)

If `java-sdk` has all of the other modules would there be a separate common module, so that users who just wanted a single service would import the service module which would pull in the common module?

[2016-06-14 14:08] germanattanasio commented on #262
There will be a common project and each module will import that project. The `java-sdk` module will import all the services.

[2016-06-14 15:46] max-vogler commented on #341
A simple solution would be to replace `NamingException` with `Exception` to catch all kinds of unexpected errors. Is there any reason speaking against it?

[2016-06-14 16:21] max-vogler opened #346 "Remove Visual Recognition v2_beta"
The Visual Recognition v2 services will stop at June 30th 2016.

At this point everything under `visual_recognition.v2_beta` (including the tests) can be removed.

[2016-06-14 17:07] max-vogler opened #348 "ServiceResponseException null pointer?"
The [`ServiceResponseException`](https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/service/exception/ServiceResponseException.java) class is always assigning `null` to the `response` field. This is undocumented and looks like a bug.
[code]

[2016-06-14 19:08] Hsaylor commented on #341
No, I just first wanted to investigate completely removing `javax` first. Just using `Exception` for now is the most efficient fix we can do. Pull request #349

[2016-06-15 08:26] #346 closed

[2016-06-15 13:28] germanattanasio commented on #348
We probably need to return response there...

[2016-06-15 13:29] germanattanasio commented on #341
@Hsaylor is it safe to say that after merging #349 we can close this issue ?

[2016-06-15 14:19] #348 closed

[2016-06-15 15:04] Hsaylor commented on #341
Yep.

[2016-06-15 15:04] #341 closed

[2016-06-16 16:35] Hsaylor commented on #266
I'm going to close this. After a second look at the architecture and further thought this isn't something that should be necessary. The user can use the close functionality on the input stream, which should in turn stop transcription and close the socket.

[2016-06-16 16:35] #266 closed

[2016-06-17 09:25] tomking1988 opened #353 "[dialog] Java SDK version 3.* API not compatible with version 2.*"
After I migrated from Java SDK 2.7 to 3.0.1, a lot of original API failed.
For example:
DialogService.CONVERSATION_ID become private and the following API is not applicable:
 public Conversation converse(final Map<String, Object> params)

This discrepancy is really disappointing. And no guidance offered to help migrate.
Please do update document to help user migrate from version 2 to version 3:
ht

[2016-06-17 15:42] germanattanasio commented on #353
Hi @tomking1988 take a look at the [README](https://github.com/watson-developer-cloud/java-sdk#breaking-changes-for-v30)

[2016-06-21 18:39] #353 closed

[2016-06-22 02:08] doconnor78 commented on #262
@germanattanasio And `each module` will be an entire service wrapper as opposed to a version? So I just add a dependency on the nlc module and get all versions? (that would be my preference at least)

[2016-06-22 04:45] germanattanasio commented on #262
Yeah, I think you we are all on the same page here. Can someone take this task, fork the repo and do a first pass moving the services to different repos? I completely booked until July 14

[2016-06-28 20:04] robinsonbonilha commented on #308
This problem didnt fix in v3.0.1, because I had same problem when I use builder.timestamps(true)

[2016-06-28 20:08] germanattanasio commented on #308
@robinsonbonilha can you share the code you are using and the version of the sdk. We have a test case that checks this error...

[2016-06-28 20:18] robinsonbonilha commented on #308
Thank you German, I use jdk 7, follows:
[code]

[2016-06-28 20:44] germanattanasio commented on #308
@max-vogler can you take a look at this?

[2016-06-30 15:08] max-vogler commented on #308
I just tested your code @robinsonbonilha. It works for me on JDK7 with `3.0.0-RC1`, `3.0.1` and `3.0.2-SNAPSHOT`. Are you using 3.0.1? Could you please upload your stack trace and audio file, so I can reproduce this?

[2016-06-30 15:15] robinsonbonilha commented on #308
Hi, I use java-sdk-3.0.1-jar-with-dependencies.jar, follows stack trace:

[code]

[2016-06-30 21:16] robinsonbonilha commented on #308
When I updated the gson.jar of my project, show a new stack trace, follows:
`com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was BEGIN_ARRAY at line 7 column 20`

[2016-07-01 01:45] nastacio opened #367 "TypedRelation service call in Alchemy Language Java SDK not returning entities"
I am using the [AlchemyLanguage] service, more specifically the Typed Relations service.

I am using version 3.0.2-SNAPSHOT

        <repository>
            <id>sonatype</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </repository>

        <dependency>
            <groupId>com.ibm.watson.developer_cloud</groupId>
            <artifactId>java-sdk</artif

[2016-07-01 09:02] max-vogler commented on #308
@robinsonbonilha, I still cannot reproduce the error. I set up a testing repository [max-vogler/speech-to-text-issue-308](https://github.com/max-vogler/speech-to-text-issue-308). It would be great if you could:

1. Check out the repository under [max-vogler/speech-to-text-issue-308](https://github.com/max-vogler/speech-to-text-issue-308) and run it on your local machine, to see if you get the erro

[2016-07-01 11:26] robinsonbonilha commented on #308
Hi @max-vogler, Same error with your audio. When I created a new project without GSON lib, the problem resolved with both audios.
I think that the problem is related with my version of gson-2.3.jar in my current project is different from the version used in sdk v3.0.1 lib for parse JSON objects.

[2016-07-01 11:58] robinsonbonilha commented on #308
I resolve the problem removing my gson lib that my project, and now my project use the same gson lib existing in jdk watson, but I recommend that you in next version update the gson library of your sdk or change the name class

[2016-07-01 14:15] max-vogler commented on #308
@robinsonbonilha: Good to see that it worked out for you! Thanks for the heads up. The Watson Java SDK uses the more recent Gson 2.6.2 already though.

[2016-07-01 14:15] #308 closed

[2016-07-01 16:22] robinsonbonilha commented on #308
Thank you @max-vogler

[2016-07-02 16:10] nastacio commented on #367
In case it helps (still sorting out issues with my local git repo, will try and submit a pull request later)

Code fix
[Archive.zip](https://github.com/watson-developer-cloud/java-sdk/files/344615/Archive.zip)

Testcase fix.
[AlchemyLanguageIT.java.zip](https://github.com/watson-developer-cloud/java-sdk/files/344619/AlchemyLanguageIT.java.zip)

[2016-07-04 11:24] l2fprod opened #371 "Visual Recognition v3 API key lookup problems"
In https://github.com/watson-developer-cloud/java-sdk/blob/master/src/main/java/com/ibm/watson/developer_cloud/visual_recognition/v3/VisualRecognition.java#L71

[code]

This is the old name for the Visual Recognition service. With V3 (the combined Watson + Alchemy), the service name in the VCAP_SERVICES is `watson_vision_combined`, thus the call to CredentialUtils.getAPIKey(name) in WatsonService.

[2016-07-05 09:05] ysfAskri opened #372 "Cannot resolve symbol "LanguageTranslator""
Cannot resolve symbol **"LanguageTranslator"** even i put the Maven dependency in  .pom file.
The Java compiler succeeded to recognize **"TranslationResult"** but **"LanguageTranslator"** he's couldn't.

[ScreenShot](http://hpics.li/a78332d)

[2016-07-05 11:51] max-vogler commented on #372
Hi @ysfAskri: You're getting this error because we renamed `LanguageTranslation` to `LanguageTranslator`, which is already in the README file, but not yet in the Maven release.

To fix your bug use `LanguageTranslation` from the package `com.ibm.watson.developer_cloud.language_translation.v2.LanguageTranslation` like this:

[code]

[2016-07-05 11:51] #372 closed

[2016-07-05 12:01] ysfAskri commented on #372
Thnx you

regards

On 5 July 2016 at 12:51, Max Vogler <notifications@github.com> wrote:

[2016-07-07 12:28] max-vogler opened #374 "[speech-to-text] Implement continuous recognition using WebSockets"
Continuos speech recognition using WebSockets (see [Demo](https://speech-to-text-demo.mybluemix.net/) is not yet implemented in the Java SDK. @pgufAtIBM made me aware that the continuos recognition does not work. After some debugging I realized that it simply was not implemented. Currently, the STT client initially sends the whole AudioInputStream, then closes both the AudioInputStream and the Web

[2016-07-07 15:56] antonatos commented on #371
It seems my issue is somehow related:

I am using the VisualRecognition API. My JDK version is 1.8 and the java-sdk version is 3.0.1:
         <dependency>
            <groupId>com.ibm.watson.developer_cloud</groupId>
            <artifactId>java-sdk</artifactId>
            <version>3.0.1</version>
        </dependency>

I have created a sample application like this (most of it is copy-paste from

[2016-07-07 23:44] #374 closed

[2016-07-11 22:35] craigeebach opened #377 "DocumentConversion(String) constructor neglects API endpoint from VCAP_SERVICES"
The com.ibm.watson.developer_cloud.document_conversion.v1.DocumentConversion.DocumentConversion(String) constructor replaces the API endpoint set by its super class WatsonService with a hardcoded value.  The WatsonService(String) constructor correctly sets the API URL endpoint based on what is defined by VCAP_SERVICES.  But after this endpoint is set in the super class constructor, the DocumentCon

[2016-07-13 07:51] shreyasi10080 opened #378 "[STT] audio file null or does not exist"
Code:

final SpeechToText service = new SpeechToText();
    service.setUsernameAndPassword("<username>", "<password>");

    final File audio = new File("src/test/resources/sample1.wav");
    final SpeechResults transcript = service.recognize(audio, HttpMediaType.AUDIO_WAV);

    System.out.println(transcript);

Getting the following error:
07-13 13:19:19.566 7235-7235/com.ibm.watson.developer_clo

[2016-07-13 08:50] ysfAskri opened #379 ""Unauthorized: Access is denied due to invalid credentials" Conversation Service"
I use a correct credential and workspace id but the response **status: 500** and the message is : **"Unauthorized: Access is denied due to invalid credentials"**
this is the screenshots:
~~CodeJava~~
~~ServiceCredential~~
~~WorkSpaceId~~
[Request](https://postimg.org/image/odfgbx6tj/)
[Response](https://postimg.org/image/e0t5pudaf/)

**Note: I use Conversation of Watson Section not on the catalog

[2016-07-13 09:07] max-vogler commented on #378
Hey @shreyasi10080! That code only works if you clone the GitHub repo. If you use the Watson Java SDK as Maven, Gradle or Jar dependency, the file won't be found. You can download [sample1.wav](https://raw.githubusercontent.com/watson-developer-cloud/java-sdk/master/src/test/resources/speech_to_text/sample1.wav) manually into your project folder and change your code like this:

[code]

[2016-07-13 09:23] max-vogler commented on #379
I removed the screenshots containing your credentials. The underlying problem is that the Java SDK still uses the `conversation-experimental` endpoint, while your credentials are valid for the `conversation` endpoint.

You can change your code like this until we push a fix:
[code]

[2016-07-13 10:27] #379 closed

[2016-07-13 13:01] shikida opened #381 "fix documentation for language translation"
https://github.com/watson-developer-cloud/java-sdk#language-translator says
[code]
it should say
[code]
and I think the TOC is wrong too, the link is not working

[2016-07-14 10:28] Focuson-github opened #382 "cannot get "word_alternatives" from the result by using java sdk"
I want get "word_alternatives" from the result by using java sdk, but it does not work. Thus, i add some code to get "word_alternatives". May I add some code to java sdk. Looking forward to your reply.

[2016-07-14 10:36] max-vogler commented on #382
You're welcome to add your code! Feel free to open a pull request.

[2016-07-14 12:57] germanattanasio opened #383 "cannot get "word_alternatives" from the result by using java sdk"
@Focuson-github commented on [Thu Jul 14 2016](https://github.com/watson-developer-cloud/speech-to-text-nodejs/issues/119)

I want get "word_alternatives" from the result by using java sdk, but it does not work. Thus, i add some code to get  "word_alternatives". May I add some code to java sdk. Looking forward to your reply.

[2016-07-14 12:58] germanattanasio commented on #383
duplicate

[2016-07-14 12:58] #383 closed

[2016-07-14 18:12] germanattanasio opened #385 "[dialog] updating a dialog returns null"
see http://stackoverflow.com/questions/38194938/watson-dialogservice-return-null-when-i-try-to-update-error

[2016-07-15 02:59] Focuson-github commented on #382
I want to pull request, but when i push my code, the client show me a message:  "ERROR: Permission to watson-developer-cloud/java-sdk.git denied to Focuson-github."  how can i push my code?

[2016-07-19 00:36] ugrani opened #392 "[Conversation] - MessageResponse.getText() returns string enclosed with square brackets `[]`"
### Use the java-sdk to call the voyager API version 2016-05-19.
#### Expected behavior - MessageResponse.getText()  should return the response string.
#### Actual behavior - MessageResponse.getText() returns the string enclosed in a square bracket, as an Array element.

### JDK version - 1.8
### java-sdk version - 3.0.1

[2016-07-22 08:20] lagarwalla opened #393 "STT getModels does not return full data"
The actual STT getModel service returns 5 fields:
"url": "https://stream.watsonplatform.net/speech-to-text/api/v1/models/en-US_NarrowbandModel",
 "rate": 8000,
 "name": "en-US_NarrowbandModel",
 "language": "en-US",
 "description": "US English narrowband model."

But the SDK's STT getModels() method only returns "rate" and "name". We have use case where we need "description" also.

getModels() sho

[2016-07-22 08:36] lagarwalla opened #394 "TTS synthesize() does not accept "audio/l16" or "audio/basic""
TTS synthesize() does not accept "audio/l16" or "audio/basic".

The 'new AudioFormat("audio/l16")' is not public, so can not create new AudioFormat using string.

[2016-07-25 13:42] ugrani commented on #392
Hello - I just realized that, the code has already been changed to accommodate the response text messages as an array (public List<String> getText()).  But the maven repository (latest 3.0.1) is not updated (https://mvnrepository.com/artifact/com.ibm.watson.developer_cloud/java-sdk/3.0.1).

[2016-07-28 02:59] germanattanasio commented on #392
@ugrani while we prepare the next release you can use the SNAPSHOT version from sonatype
https://oss.sonatype.org/content/repositories/snapshots/com/ibm/watson/developer_cloud/java-sdk/

[2016-07-28 03:00] germanattanasio commented on #392
I'm closing this since the work was completed. it just wasn't released yet

[2016-07-28 03:00] #392 closed

[2016-07-28 16:07] rafspiny commented on #394
There is no AudioFormat for "audio/ogg; codec=vorbis" as well.

This is limiting API usage on old Android version that do not handle the default ogg codec opus.
It would be nice to see it. I am facing this issue on a Galaxy Nexus with Android 4.3

[2016-07-28 18:15] akosialz opened #397 "AlchemyLanguage getLanguage() not accepting String with less than 15 characters."
Using this code block:

(type of variable **al** is AlchemyLanguage; length of message is < 15):
[code]
Whenever I execute the getLanguage() from **al**,
the error pops out stating that

com.ibm.watson.developer_cloud.service.exception.BadRequestException: not-enough-text-for-language-id

And after a thorough investigation found out that we need at least 15 characters (white spaces not included) i

[2016-07-28 22:35] germanattanasio commented on #394
@Hsaylor is this something you think we can have in the android-sdk ?

[2016-07-28 22:37] germanattanasio commented on #378
This is working but not release yet

[2016-07-28 22:37] #378 closed

[2016-07-28 22:38] germanattanasio commented on #382
based on #391  seems like you realized how to write a pull request

[2016-07-29 08:05] rafspiny commented on #394
@germanattanasio I forgot to specify that in my particular case, I have built an API, deployed on Bluemix with Liberty for Java, that process a text and then return a synthesized text in response using the TTS service.
I am not really using the android-sdk

Thank you for looking into this.

[2016-07-29 18:41] germanattanasio commented on #393
fixed

[2016-07-29 18:41] #393 closed

[2016-07-29 19:57] #382 closed

[2016-07-29 20:30] #394 closed

[2016-07-30 14:55] lagarwalla commented on #394
Can the AudioFormat constructor be made public so that in future string can be passed to for new formats ?

[2016-08-01 14:01] germanattanasio commented on #394
It's private because the service allows a fixed number of audio formats so there is no need to make it public. I know that in this case I forgot about 3 important formats but hopefully that will not happen again.

[2016-08-01 18:06] germanattanasio commented on #367
fixed in #403

[2016-08-01 18:06] #367 closed

[2016-08-01 18:24] germanattanasio commented on #377
fixed in #404

[2016-08-01 18:29] #377 closed

[2016-08-01 21:10] germanattanasio commented on #385
The API returns `{}` there is nothing we can do here

[2016-08-01 21:10] #385 closed

[2016-08-01 21:10] germanattanasio commented on #381
fixed

[2016-08-01 21:10] #381 closed

[2016-08-01 21:11] germanattanasio commented on #397
I'm closing this one @akosialz feel free to open if you think this is a problem in the SDK

[2016-08-01 21:11] #397 closed

[2016-08-02 13:38] germanattanasio opened #409 "conditionally ignore integration tests"
The idea is to ignore integration tests if there aren't credentials for that service. We will create an annotation and check things like `config.properties` to decide whether to run the test or not.
 See http://blog.xebia.com/conditionally-ignoring-junit-tests/

[2016-08-02 14:34] jconallen opened #410 "typo in docs of language translation"
In the code snippet for Language the line:

`LanguageTranslator service = new LanguageTranslation();`

should be

`LanguageTranslation service = new LanguageTranslation();`

[2016-08-02 17:19] #410 closed

[2016-08-02 17:20] germanattanasio commented on #410
Thanks @jconallen and @kognate

[2016-08-07 18:42] abdielou opened #417 "[tone-analyzer] ToneAnalyzer.init(String) NoSuchMethodError"
I'm trying to run the Tone Analyzer Example but it won't initialize. Below is the error I'm getting.

JDK version - 1.8
java-sdk version - 3.0.1  & 3.2.0

[code]

[2016-08-07 20:26] germanattanasio commented on #409
fixed in #416

[2016-08-07 20:26] #409 closed

[2016-08-07 20:39] germanattanasio commented on #417
I tried the example in a new Android project and it worked.

Make sure you are using `3.2.0` which is the latest version at this point.

[code]

[2016-08-07 20:39] #417 closed

[2016-08-09 15:10] Mikemosca opened #418 "[R&R]resizeSolrCluster()"
The API allows out of bounds sizes to pass thru.  Document says the permitted range is one (1) to 14 units.  Here a size of -10 is used.  Should the API check the sizes instead of letting them go thru?
Would like to see an error generated from the SDK instead of SocketTimeoutException.
[code]
[code]

[2016-08-09 15:16] Mikemosca opened #419 "[R&R]uploadSolrClusterConfigurationZip()"
passing in a null directory causes NullPointerException.  Would expect IllegalArgumentException.

 service.uploadSolrClusterConfigurationZip(ANY_CLUSTER_ID, ANY_CONFIG_NAME, **null**).execute();

  java.lang.Exception: Unexpected exception, expected<java.lang.IllegalArgumentException> but was<java.lang.NullPointerException>
	at org.junit.internal.runners.statements.ExpectException.evaluate(ExpectE

[2016-08-09 15:19] Mikemosca opened #420 "[R&R]uploadSolrClusterConfigurationDirectory()"
passing in a null config name causes NullPointerException.  Would expect IllegalArgumentException

service.uploadSolrClusterConfigurationDirectory(ANY_CLUSTER_ID, **null**, configDir).execute();

Caused by: java.lang.NullPointerException
	at java.io.File.createTempFile(File.java:1989)
	at java.io.File.createTempFile(File.java:2059)
	at com.ibm.watson.developer_cloud.retrieve_and_rank.v1.util.ZipUt

[2016-08-09 15:26] Mikemosca opened #421 "[R&R]SolrClusterOptions()"
Passing in a cluster size out of bounds works and the cluster is created.  Should the API check for valid ranges.  Document says Ranges from 1 to 7.  The following shows a size of 10 working.  Would expect an
IllegalArgumentException?

    final SolrClusterOptions options = new SolrClusterOptions(null, 10);

    SolrCluster mockResponse = loadFixture(FIXTURE5, SolrCluster.class);
    server.enqueu

[2016-08-09 15:35] Mikemosca opened #422 "[R&R]getSolrUrl()"
Should some checking be done for null and empty?  These values seem to pass thru and return the bad URL.

  serviceResponse = service.getSolrUrl("");
       **http://localhost:64920/v1/solr_clusters//solr      //  serviceResponse value**

  serviceResponse = service.getSolrUrl(null);
       **http://localhost:64920/v1/solr_clusters/null/solr      //  serviceResponse value**

[2016-08-10 13:52] Mikemosca opened #424 "[conversation]MessageRequest with null inputtext"
The check in the service code for a null inputtext does not work properly.  It does not catch a null or empty inputText and allows the null to pass thru.

code to reproduce
[code]

Stack
[code]

[2016-08-16 18:57] jackleekopij opened #426 "[Text To Speech] TTS speech Customisation_ID expected in synthesize"
Grabbing Java-SDK 3.3.0 in Maven expects Customization_ID when calling synthesize. Should this be optional? This change broke a previous project.

![img_0480](https://cloud.githubusercontent.com/assets/20328608/17711923/5f17ff0c-63b9-11e6-87e5-24f568fec9d2.JPG)

[2016-08-16 19:25] germanattanasio commented on #426
Depending on which version you were using before. We switched to use `AudioFormat` instead of a String. Check the  `examples` folder

[2016-08-19 08:07] christianIreland opened #428 "[Document Conversion Service JDK API] omit Parent ID missing from the answer units"
When using the Watson SDK-API to submit documents to the Document Conversion Service, the Answer Units generated are missing the Parent ID.

The issue is easily reproducible, just by using the Watson SDK. A snippet of code is reported below:
[code]

The issue is reproducible in all the JDK versions available.
Java SDK version is `1.8.0_101`

Apparently, the reason why the issue is happening is the

[2016-08-19 08:18] christianIreland commented on #428
an example of the conversion is reported below:

{
  "answer_units": [
    {
      "content": [
        {
          "media_type": "text/html",
          "text": "\u003cp\u003ethis is the first chapter\u003c/p\u003e"
        },
        {
          "media_type": "text/plain",
          "text": "this is the first chapter"
        }
      ],
      "id": "cdf93476-f4ba-40eb-af1e-cdf96bb19ff0",
      "t

[2016-08-19 08:19] christianIreland commented on #428
the issue was closed by mistake

[2016-08-19 12:30] SirSpidey commented on #428
Thanks @christianIreland.
Looks like `direction` might also be missing from `Answers.AnswerUnits`

[2016-08-19 13:20] #426 closed

[2016-08-19 14:24] #424 closed

[2016-08-19 14:24] #428 closed

[2016-08-19 14:24] #418 closed

[2016-08-19 14:24] #420 closed

[2016-08-19 14:51] #422 closed

[2016-08-19 14:51] #421 closed

[2016-08-19 14:52] #419 closed

[2016-08-19 19:20] sergiofigueras opened #432 "Where is Relationship Extraction?"
Hello guys,

I was using 2.8.0 version, and now I'm moving for 3.3.0. But I realized that I was using import com.ibm.watson.developer_cloud.relationship_extraction.v1.RelationshipExtraction

Where is that functionality now?

[2016-08-19 19:22] sergiofigueras commented on #432
Ok, found it in WatsonService. Thanks.

[2016-08-19 19:33] germanattanasio commented on #432
Relationship Extraction was deprecated. See http://www.ibm.com/watson/developercloud/doc/sireapi/

The service was integrated into AlchemyLanguage so you will have to do some changes to your code.

[2016-08-19 19:33] #432 closed

[2016-08-19 19:34] germanattanasio commented on #262
Well, I guess I will have to do it 😒

[2016-08-20 15:37] #259 closed

[2016-08-20 18:30] germanattanasio commented on #174
I forked and updated `okhttp` and `okio` to be 1.6 compatible with JDK 1.6:
 * https://github.com/germanattanasio/okhttp/releases/tag/3.3.1.java16
 * https://github.com/germanattanasio/okio/releases/tag/1.10.0.java16

I use those dependencies to build the `java-sdk` and added it to the last release at the moment: https://github.com/watson-developer-cloud/java-sdk/releases/download/java-sdk-3.3.0/j

[2016-08-20 18:30] #174 closed

[2016-08-22 16:44] Hsaylor commented on #262
I've got you, @germanattanasio! I had some free time so I wrote an example of breaking things out using the language translation service. Check the `modules-for-android` branch and tell me what you think

[2016-08-22 18:00] germanattanasio commented on #262
I'll take a look at it @Hsaylor. I tried to do it  during the weekend but it was more work than what I  thought

[2016-08-23 21:10] Hsaylor commented on #262
I realized I pushed up the wrong thing >< Although the concept is the same, it might be a bit harder to see what's going on in that project...

[2016-08-25 08:16] nadworny opened #434 "SpeechToText sending inputstream in chunks"
We are implementing a following use case using Java's SpeechToText Watson service:
- Client opens a socket and streams an audio stream to it
- Server waits for connection and as soon it's established it forwards the audio stream to SpeechToText using recognizeUsingWebSocket method

Using the java.net.ServerSocket it can be implemented but this approach requires to define a port for the ServerSocke

[2016-08-26 17:15] Hsaylor commented on #262
@germanattanasio I pushed up a much cleaner version to the `modules-for-android` branch, which includes all services. Examples and Tests are currently broken, as they haven't been updated to reflect the refactor, but the structure should be much more clear.

[2016-08-26 17:22] germanattanasio commented on #262
got it. I will take a look at it this weekend

[2016-08-29 14:53] roy713 opened #436 "[Alchemy] AlchemyLanguage getCombinedResults call should be able to return extracted dates"
According to the documentation of the [AlchemyLanguage combined call](http://www.ibm.com/watson/developercloud/doc/alchemylanguage/tutorials.shtml#curlTutorial-combined-call), the combined call should have the ability to return **dates**. This can be specified as part of the **extract** parameters for the call.

A possible solution for this is adding the following to the `CombinedResults` class:
[

[2016-09-01 08:52] nadworny commented on #434
Hi guys,

Any news on that one? We are in the middle of project and would need to go forward...

[2016-09-01 20:11] afaisma opened #437 "Decoding delay for MicrophoneWithWebSocketsExample"
Decoding is delayed for speech with no pauses for MicrophoneWithWebSocketsExample
To reproduce the problem - cc hltu004.watson.ibm.com/u/faisman/longaudiofiles/sttworkload-0.0.1-SNAPSHOT.jar, and run:
java -jar sttworkload-0.0.1-SNAPSHOT.jar
Then do very quick counting from one to twelve and again, and again, without pauses.
In my tests the delays could reach 60-90 seconds and probably more

Pleas

[2016-09-02 03:27] germanattanasio commented on #437
Can you probably a way for us to reproduce your problem? We need the audio file and the java code you are using.

[2016-09-02 12:44] afaisma commented on #437
I sent you the audio and the code in a separate email. If you can access hltu004.watson.ibm.com/u/faisman/longaudiofiles/sttworkload-0.0.1-SNAPSHOT.jar, you can get the build there.

[2016-09-07 15:12] #436 closed

[2016-09-07 15:16] germanattanasio commented on #434
The `recognize` method accepts an `InputStream` you can use a `BufferedInputStream` and write to that buffer whenever you have data. The `read()` method will block the thread until you have more data.

I don't think there is a problem here. What you do with JavaScript can be done with this SDK without changes.

[2016-09-07 15:24] germanattanasio commented on #437
Which version of the SDK are you using?

[2016-09-07 15:26] germanattanasio commented on #437
I need the code (without credentials), sdk version, jdk version, and audio file.

[2016-09-07 19:07] nadworny commented on #434
Thanks for the answer but maybe I haven't made my point quite clear or I simply don't understand your suggestion...

You are proposing to use a BufferedInputStream with an AudioInputStream as an argument of the constructor? This won't solve the main problem that we have - how to transfer that stream from the client to the server in byte chunks over WebSocket and then transform it into an InputStre

[2016-09-13 14:46] germanattanasio opened #439 "Skip token authentication if skipAuthentication flag is true"
[code]

The output was:
[code]
[code]

[2016-09-16 14:50] roy713 opened #441 "[Alchemy] AlchemyLanguage getCombinedResults call should be able to handle anchorDate as a parameter"
Relates to #436.

Since `getCombinedResults` can handle `dates`, it should be able to process the `anchorDate` parameter, similar to how it is done in the `getDates` method.

For example,  you could add the same code that's in the `getDates` call to handle this parameter:
[code]

You could also create a private method and reuse it in the `AlchemyLanguage` class.

[2016-09-16 15:22] afaisma opened #442 "custom headers in service"
The following code does not do anything when websockets are used:
[code]

[2016-09-16 23:53] #442 closed

[2016-09-16 23:57] germanattanasio commented on #439
fixed

[2016-09-16 23:57] #439 closed

[2016-09-19 20:05] roy713 commented on #441
@germanattanasio - it's worth noting that the `format` method access in the `SimpleDateFormat` is not thread-safe. You could wrap it in a `synchronized` block or something of the sort.

[2016-09-19 20:39] germanattanasio commented on #441
That looks like a pretty easy change @roy713. Can you write a PR with that ?

[2016-09-22 22:02] asidd opened #445 "[NLC] Date format error upon usage of java-sdk"
Soft Bank is complaining the following:
***********************************

When using java-sdk, date format errors occurred.

I have a guess that NLC has changed date formats.
However sdk has not followed that.

Old     : 2016-06-20T04:25:16.218+0000
Current : Reference：2015-05-28T18:01:57.393Z

IBM has published the sdk in formal doc.
Could you update doc or sdk to normal one with no errors.
**

[2016-09-23 18:10] germanattanasio commented on #445
2.X is ~ 8 months old. We are not supporting 2.X versions anymore.

[2016-09-23 18:10] #445 closed

[2016-09-26 15:51] asidd commented on #445
German,

API Reference has the following dependency mentioned:

<dependency>
  <groupId>com.ibm.watson.developer_cloud</groupId>
  <artifactId>java-sdk</artifactId>
  <version>2.0.0</version>
</dependency>

[2016-09-26 16:34] germanattanasio commented on #445
I understand. I will talk to the documentation team to update that.

[2016-09-26 16:45] germanattanasio commented on #445
The documentation will be updated soon. @SirSpidey is working on it

[2016-09-29 18:52] #262 closed

[2016-09-29 21:14] #437 closed

[2016-09-30 14:17] asidd commented on #445
Softbank has comeback stating that they are experiencing this issue with java-sdk 3.x.

[2016-10-03 15:36] ysfAskri opened #451 "Missing artifact com.ibm.watson.watson.developer_cloud:java-sdk:jar:3.4.0"
<dependency>
    <groupId>com.ibm.watson.watson.developer_cloud</groupId>
    <artifactId>java-sdk</artifactId>
    <version>3.4.0</version>
</dependency>

**Missing artifact com.ibm.watson.watson.developer_cloud:java-sdk:jar:3.4.0**

[2016-10-04 07:33] ylassoued commented on #451
I was unable to use the latest release for the same reason as above... I was not able to use the source code in an Android project either... It would be great if someone could make this release available on Maven Central...

[2016-10-04 12:57] ysfAskri commented on #451
i'm using the version of 3.3.1 it works for me
until V 3.4.0 will be able

[2016-10-04 13:12] glaoup opened #452 "Missing [Language Translator API] in 3.4.0 SDK"
Can't see the Language Translator Api inside SDK 3.4.0. Only Language Translation API is present

[2016-10-04 13:15] glaoup commented on #452
Sorry, forgot to mention that the Language Translator API is missing on the java-sdk-3.4.0-jar-with-dependencies.jar file

[2016-10-04 15:56] germanattanasio commented on #452
That change will be release with in `v3.4.0` You can get the SNAPSHOT from [sonatype](https://oss.sonatype.org/content/repositories/snapshots/com/ibm/watson/developer_cloud/java-sdk/3.4.1-SNAPSHOT/java-sdk-3.4.1-20160930.155842-2-jar-with-dependencies.jar).

See: https://oss.sonatype.org/content/repositories/snapshots/com/ibm/watson/developer_cloud/

[2016-10-04 15:58] germanattanasio commented on #451
I'm working on it but Maven central seems to be down :(

[2016-10-04 15:58] germanattanasio commented on #451
Can you guys use the jar in the meantime ?

[2016-10-04 15:59] germanattanasio commented on #451
You can also point to the snapshot repo https://oss.sonatype.org/content/repositories/snapshots/com/ibm/watson/developer_cloud/

[2016-10-04 16:05] ysfAskri commented on #451
I'm waitiiing :D .....
Good Job  @germanattanasio ;)

[2016-10-04 23:24] germanattanasio commented on #451
fixed

[2016-10-04 23:24] #451 closed

[2016-10-05 06:17] ylassoued commented on #451
Brilliant! Thanks @germanattanasio!

[2016-10-05 14:22] PhilippeComte opened #453 "Broken link to jar file"
The Java Jar file cannot be accessed :
https://github.com/watson-developer-cloud/java-sdk/releases/download/java-sdk-3.4.0/java-sdk-3.4.0-jar-with-dependencies.jar   seems to be a broken link

[2016-10-05 15:22] germanattanasio commented on #453
fixed

[2016-10-05 15:22] #453 closed

[2016-10-06 17:46] asidd commented on #445
@kognate @germanattanasio
any updates on this issue in regards to java-sdk 3.x ?

[2016-10-06 17:57] germanattanasio commented on #445
@asidd we have a test written by @kognate that tests the same date you have in your error and it's passing. We need to know which version is softbank using.

[2016-10-06 19:26] asidd commented on #445
@germanattanasio
Client is using java-sdk 3.0.0

[2016-10-06 21:22] germanattanasio commented on #445
Can they move to 3.4.0?

[2016-10-07 14:21] roymitchley opened #454 "[text-to-speech] Using AudioFormat PCM in method synthesize throws exception accept=audio/l16, status: 406, error: rate parameter missing in mimetype audio/l16"
I am trying to call the text-to-speech synthesize method with AudioFormat.PCM. This is giving me the exception accept=audio/l16, status: 406, error: rate parameter missing in mimetype audio/l16
com.ibm.watson.developer_cloud.service.exception.ForbiddenException: rate parameter missing in mimetype audio/l16

I can not see a way for me to pass the rate parameter as the method parameter for synthesiz

[2016-10-11 09:24] carlos-salinas opened #455 "Wrong Conversation Service URL"
In the Java SDK 3.3.1,the Conversation Service still points to the experimental URL.

[2016-10-11 13:48] germanattanasio commented on #455
It points to the right place, see https://github.com/watson-developer-cloud/java-sdk/blob/java-sdk-3.3.1/src/main/java/com/ibm/watson/developer_cloud/conversation/v1/ConversationService.java

[2016-10-11 13:48] #455 closed

[2016-10-11 20:08] dkazakevich opened #456 "[retrieve-and-rank] RetrieveAndRank.rank(...) method returns 10 answers despite the topAnswers value"
I use the following call (answersFile contains 1000 items):
[code]
It's response always contains 10 answers despite the topAnswers value.
I tried R&R service Rest API and this functionality works fine.
I'm not sure, but you use the `"form-data; name=\"answer_metadata\""`, but the Rest API accept the  "answers" form-data.

[2016-10-13 18:42] arthurfabre opened #459 "[all] Incorrect maven dependency"
The maven dependencies are correct on the main [README.md](https://github.com/watson-developer-cloud/java-sdk#maven), but the service specific ones (for example, [text-to-speach README.md](https://github.com/watson-developer-cloud/java-sdk/tree/master/text-to-speech#maven)) have an extra `watson` in the groupId.

[2016-10-13 18:44] arthurfabre commented on #459
Seems to be the cause of #451.

[2016-10-14 21:36] #459 closed

[2016-10-14 21:41] germanattanasio commented on #456
Hi @gjs29 I'm assigning this to you. I can't reproduce it because I don't have a ranker. Can you please take a look?

[2016-10-14 21:57] #454 closed

[2016-10-18 18:05] #441 closed

[2016-10-18 18:09] ajmorello commented on #456
Related to Node fix https://github.com/watson-developer-cloud/java-sdk/issues/456

[2016-10-18 19:52] #456 closed

[2016-10-20 19:59] shikida opened #466 "Invalid POM"
I've created a brand maven project in eclipse using this pom

[project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd"]
	[modelVersion]4.0.0[/modelVersion]
	[groupId]S2T[/groupId]
	[artifactId]S2T[/artifactId]
	[version]0.0.1-SNAPSHOT[/version]
	[build

[2016-10-21 00:45] germanattanasio commented on #466
In Eclipse, you can have:
 * A simple Java project where you use the [java-sdk-3.5.0-jar-with-dependencies.jar](https://github.com/watson-developer-cloud/java-sdk/releases/download/java-sdk-3.5.0/java-sdk-3.5.0-jar-with-dependencies.jar)
 * A Maven/Gradle project where you specify the dependency:
     Maven

[code]
    Gradle
[code]

Create a Java class with a `main` static method like the followi

[2016-10-21 00:45] #466 closed

[2016-10-21 00:46] #452 closed

[2016-10-21 13:32] shikida commented on #466
![untitled](https://cloud.githubusercontent.com/assets/1627632/19600033/fbe6a49a-9781-11e6-84f3-07b90c564d25.png)

If I show you a screenshot then you'll believe me that the latest 3.5.0 release is not going to the central maven repository?

[2016-10-21 13:34] shikida commented on #466
sorry, I just had to right click on the maven project Maven->Update Maven Project->Force Update of Snapshots/Releases

[2016-10-22 20:15] shikida opened #468 "Translator service"
Using 3.5.0

Test #1

    	LanguageTranslator service = new LanguageTranslator();
    	service.setUsernameAndPassword("**", "**");
    	TranslationResult translationResult = service.translate(
    			  "Hello world", Language.ENGLISH, Language.SPANISH)
    			  .execute();
    	System.out.println(translationResult.getFirstTranslation());

result

"Hello world"

Test #2

    public static void main

[2016-10-22 21:31] germanattanasio commented on #468
it's not a problem in this Library. I will contact the service

[2016-10-22 21:31] #468 closed

[2016-10-27 15:04] gjs29 opened #471 "[retrieve-and-rank] New release needed to support larger cluster sizes"
A recent commit allowed cluster sizes larger than 7. A new release is needed to fix this issue with users.

[2016-10-28 03:51] remkohdev opened #472 "The example for AlchemyDataNews has no setAPIKey method"
The proper way to set the apikey is:

// call alchemyAPI Data News
AlchemyDataNews service = new AlchemyDataNews("<api_key>");

but in your example
https://github.com/watson-developer-cloud/java-sdk/blob/master/examples/java/com/ibm/watson/developer_cloud/alchemy_data_news/v1/GetNewsDocumentExample.java

it has setAPIKey("") method, which causes an error

[2016-10-28 18:22] germanattanasio commented on #472
The method is defined in `WatsonService`. See https://github.com/watson-developer-cloud/java-sdk/blob/master/core/src/main/java/com/ibm/watson/developer_cloud/service/WatsonService.java#L323

The constructor also accept the API Key and calls the `setApiKey()` method.

[2016-10-28 18:22] #472 closed

[2016-11-01 05:02] jsrgi opened #473 "I have an error on createServiceCall method in conversationservice.java"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2016-11-01 19:40] #473 closed

[2016-11-01 19:40] #471 closed

[2016-11-02 05:41] remkohdev opened #474 "Parse Date Error - Data News in Core"
When using the Java SDK for the Alchemy Data News
https://github.com/watson-developer-cloud/java-sdk

on Liberty Localhost
http://localhost:9080/JavaCloudantDBApp/api/watson/news?startdate=2016-10-01&enddate=2016-10-30&searchterm=elections&count=5

    String[] fields =
	        new String[] { "enriched.url.title", "enriched.url.url", "enriched.url.author", "enriched.url.publicationDate",

[2016-11-02 13:00] kognate commented on #474
Sorry to hear you are having problems with this.

I just pushed a PR that (I think) fixes this.  If you could try that branch (#475) and let me know if it fixes your issue that would be great.

[2016-11-02 14:47] #474 closed

[2016-11-02 15:55] germanattanasio commented on #474
@remkohdev can you test if the changes now in `master` fix your issue ?

[2016-11-03 06:33] jsrgi opened #477 "I have an error on createServiceCall method in watson conversationservice.java"
I have an error on createServiceCall method in watson conversationService.java while using cloud developer java-sdk.
[code]

Error is "The method createServiceCall(Request, ResponseConverterUtils.getObject(MessageResponse.class)) is undefined for the type ConversationService"

[2016-11-03 14:01] germanattanasio commented on #477
Hi @jsrgi, I think you the problem is with your classpath. You need to clean and compile the project again.

Are you using Gradle/Maven or the jar ?

[2016-11-04 09:40] jsrgi commented on #477
I am using maven

[2016-11-04 19:06] germanattanasio opened #478 "Move the android-sdk as a module of this project and switch from maven to gradle"
We want to have the android-sdk as part of this repository so that the releases are seamless. Since the android-sdk is using Gradle we need to either move this repo to use Gradle or find a workaround to call Gradle from Maven.

Let's start with https://gradle.org/maven_vs_gradle/

[2016-11-07 22:48] germanattanasio commented on #478
See https://zeroturnaround.com/rebellabs/java-build-tools-part-2-a-decision-makers-comparison-of-maven-gradle-and-ant-ivy/

[2016-11-09 13:28] kane77 commented on #478
I have started to make gradle build work. I have a question. Why is there a separate module for tests? IMHO it would be better to have tests as part of module. I would also split the unit tests from integration tests (src/main, src/test and src/it) as this works nicely in gradle. What do you think?

[2016-11-09 19:47] blakesteve commented on #478
Hi @kane77

How far along are you on this process? Just curious because I began work on this yesterday and don’t want to duplicate effort.

I agree about splitting unit and integration tests – but which module do you intend the tests to be a part of? It doesn’t make much sense to me for tests to be under a single module. Why would you be testing parts of one module from within an unrelated module?

[2016-11-09 20:08] kane77 commented on #478
hi @blakesteve
it's building all the projects, running checkstyle and running tests so far, there is still couple of things missing (maven release, animal sniffer, coberture etc.).
What I meant was instead of tests residing in special module to have them as part of the module - tests for 'language-translation' service would be found under 'language-translation' module.
This way it would be possibl

[2016-11-09 21:40] germanattanasio commented on #478
@kane77 tests are in one module because we need to have the credentials for the services and they change frequently. I don't want to be dealing with multiple credentials files. What do you suggest for that?

[2016-11-10 09:41] kane77 commented on #478
@germanattanasio the credentials could be part of core module's test resources and core module would be dependency for all other modules.

[2016-11-13 05:42] germanattanasio commented on #478
What about tests that are using more than one module like [this](https://github.com/watson-developer-cloud/java-sdk/blob/master/tests/src/test/java/com/ibm/watson/developer_cloud/service/GenericServiceTest.java)