[2016-11-14 22:58] blakesteve commented on #478
@kane77 I'm just curious on the status of modularization of the android sdk?

I'm wondering if we should create a separate issue for the discussion on tests to move forward with the merging of the sdks. Thoughts?

[2016-11-16 15:24] kane77 commented on #478
@germanattanasio yes, that is true that currently there is this test that requires all services. What I would suggest to split it into generic test and each service would then call checkApiKey in it's own test. What do you think? I've created a build script that leaves the structure as is.
@blakesteve I'll create pull request, but this only deals with making gradle build work. There will have to b

[2016-11-19 09:52] kane77 commented on #478
I've set up gradle branch. This branch is now built using gradle. There will still be some changes, but I can now start integrating android-sdk.

[2016-11-22 09:31] MJonker opened #481 "Question about VisualRecognition: can I use the SDK if I only have a Base64 encoded image as String ?"
I want to use the VisualRecognition service and the SDK version provided in this project.
I would like to be able to analyse an image that is only available in memory.
This can be a stream or a Base64 encoded String (coming in over HTTP in my server).

My question is:

1. Can you confirm that today I cannot use the SDK for this purpose ?
2. Are there any plans to support this ?

[2016-11-24 10:20] shelzag opened #483 "Getting only 1st line of the audio flac file."
Hi

I am using Speech to text program, the output (transcript) returns only the first line of the audio file(flac in my case) . Please help how to get the full audio returned in transcript.
[code]
Please note that
[code]

[2016-11-24 15:02] MJonker commented on #481
code is available now

[2016-11-24 15:02] #481 closed

[2016-11-25 18:59] germanattanasio commented on #483
Do you have the file you are using ?

[2016-11-30 20:53] henrywann commented on #483
I'm having the exact same issue, instead I'm using a .wav sound file, but still only the first sentence is returned. I have attached the file I used. Please help.

[great_gatsby_demo.wav.zip](https://github.com/watson-developer-cloud/java-sdk/files/622944/great_gatsby_demo.wav.zip)

[2016-12-02 20:15] jsmodic opened #485 "Leaked connections in RnR"
A customer says using the RetrieveAndRank client sometimes yields log messages like:
[code]
I think it's a matter of com.ibm.watson.developer_cloud.util.ResponseUtils not closing the okhttp Response body's in all situations, but it warrants further investigation.

[2016-12-02 20:50] germanattanasio commented on #485
That's correct. We used to have this problem so I need to know if is happening in the last version fo the sdk or not.

[2016-12-05 19:56] germanattanasio opened #488 "Document how to send default headers"
Add the `X-Watson-Learning-Opt-Out` header to the README.md

[2016-12-05 21:15] germanattanasio commented on #477
I'm not able to reproduce the issue @jsrgi, can you provide more details ?

[2016-12-06 02:42] germanattanasio commented on #478
@kane77 I'm playing around with the branch and everything looks good. I have a few questions before merging the branch.

1. How can I do a release to maven central? I'm looking at [this plugin](https://docs.gradle.org/current/userguide/publishing_maven.html), but I didn't find a way on how to integrate it yet. Do you know of another project using gradle and doing releases to Maven central?

2. How

[2016-12-06 04:54] germanattanasio opened #490 "[speech-to-text] The diarization example needs some work"

[2016-12-06 16:01] jeffpk62 opened #491 "[text-to-speech] Definition of voice model es-LA_SofiaVoice missing"
The constant for the es-LA-SofiaVoice is missing from the Voice object.  The voice is returned by getVoices(), but you can't use it the moment.  The abbreviated naming convention for the voice models will be an issue, since there is also an es-US-SofiaVoice model, both of which should be named ES_SOFIA given the current representation.  Without changing all of the existing objects to more complete

[2016-12-06 16:04] jeffpk62 opened #492 "[text-to-speech] getVoice(s)() methods missing supported_features field"
The service returns a SupportedFeatures object via the supported_features field of the JSON that's returned by the equivalent getVoice() and getVoices() methods.  The Java SDK does not appear to return this output.

[2016-12-06 16:08] jeffpk62 opened #493 "[text-to-speech] getVoice() method is missing customization_id parameter"
The service accepts a customization ID with the equivalent call to the getVoice() method.  The output can include a Customization object that provides information about the specified custom voice model.  The Java SDK method is missing this parameter.

[2016-12-06 19:29] jeffpk62 opened #494 "[tradeoff-analytics] Missing ExcludedBy results"
The service was recently updated to include an excluded_by field, which provides an array of options that exclude a given option.  The array can include an objectives field that provides an array of objective values that caused the exclusion.  The Java SDK is missing this new information.

[2016-12-06 21:03] jeffpk62 opened #495 "[text-to-speech] The getPronunciation() method is missing the customizationId parameter"
The pronunciation() methods of the service and the Node SDK include a customization_id parameter to allow the user to get a word's pronunciation for a specified custom voice model.  The parameter needs to be added to the Java getPronunciation() method.  The user can specify a voice model or a customization ID but not both on the same call.

[2016-12-07 00:23] blakesteve commented on #478
I have picked up on this since it's been inactive for awhile, aiming to complete by end of sprint. Running into some strange issues building with multiple gradle projects.

I am unsure about the first question, but I believe there is a simple flag you can add to your gradle build to build with dependencies. alternatively you can create a gradle task in your `build.gradle` that compiles dependencie

[2016-12-07 08:52] kane77 commented on #478
Hi @germanattanasio
I've been away for a while. Here are the answers:
1. there is a task called uploadArchives, that does just that.. It uploads to snapshot repository in case the version ends with '-SNAPSHOT' and to release repository (http://oss.sonatype.org/service/local/staging/deploy/maven2/) if it isn't snapshot version. I haven't been able to test this, but it should work..
2. I will create

[2016-12-08 18:48] #488 closed

[2016-12-08 18:48] germanattanasio commented on #477
closing due to inactivity

[2016-12-08 18:48] #477 closed

[2016-12-08 18:48] #490 closed

[2016-12-08 18:50] #491 closed

[2016-12-08 18:58] #492 closed

[2016-12-08 19:19] #493 closed

[2016-12-08 19:19] #495 closed

[2016-12-08 21:00] jeffpk62 commented on #495
This will address the following issues:

- https://github.com/watson-developer-cloud/java-sdk/issues/495#event-887350123
- https://github.com/watson-developer-cloud/java-sdk/issues/493#event-887350124
- https://github.com/watson-developer-cloud/java-sdk/issues/492#event-887321401
- https://github.com/watson-developer-cloud/java-sdk/issues/491#event-887309693

[2016-12-08 21:31] maniax89 opened #496 "[core] Allow debug logging switches for request/response headers + URL"
### Description

I would like to be able to include a `log4j.properties` file or something similar with the following contents:

[code]

Then, it would be great if it could log `DEBUG` the following (in order of importance):
- [x] Request Headers
- [x] Request URL
- [x] Response Headers
- [x] Response Body
- [x] Request Body

### Suggested Solution

Add `LOG.log(Level.DEBUG, "your message here")`

[2016-12-09 17:45] jeffpk62 opened #497 "[speech-to-text] Keyword results stop being returned after a session is started"
The following truly ugly code illustrates the problem.  Before I create a session, I reliably get keyword results when I request them.  Once I start a session, I can no longer get keyword results from this program.  The code tries multiple workarounds, but none of them is working.  I can provide the audio files if you want them.  Maybe I'm doing something wrong, but the code is pretty basic, so I

[2016-12-09 18:31] jeffpk62 opened #498 "[speech-to-text] Add getCorpus() method"
The service recently added the equivalent of a getCorpus() method to return information about a single corpus. It returns the same information as getCorpora() but for a single specified corpus only. It's very useful for learning the status of an addCorpus() call, and it's the analog of all of the get one/many methods offered by the service.

[2016-12-09 20:43] jeffpk62 opened #499 "[speech-to-text] getModel(s)() methods missing supported_features field"
The service returns a SupportedFeatures object via the supported_features field of the JSON that's returned by the equivalent getModel() and getModels() methods. The Java SDK should return it as well (same as change recently addressed for Text to Speech).

[2016-12-12 13:23] jeffpk62 opened #500 "[text-to-speech] getVoice() method with customization ID not returning customization object"
The getVoice() method now includes an overloaded method that accepts a customizationID parameter, but the method doesn't return the custom voice object when you pass an ID.  Calling the method with or without a customization ID returns the same results:

[code]

The method needs to respond with a customization field that includes information about the specified custom voice.  The following example

[2016-12-12 13:48] jtviegas opened #501 "NLC classifier creation with training data from memory"
It would be great if the NLC library could provide a method to create a classifier with an InputStream, additionally to the existing one with the File param:
[code]

...so that the library client doesn't have to access the server file system.

[2016-12-12 15:47] jeffpk62 opened #502 "[text-to-speech] The service supports a WebSocket interface"
The Text to Speech service, like Speech to Text, supports a WebSocket interface. For Text to Speech, the WS interface provides extra functionality not available with the HTTP REST interface, specifically use of the SSML tag and word timing output. This interface should also be available from the Java SDK.

[2016-12-12 18:20] germanattanasio opened #503 "[speech-to-text] Integration tests are not deleting custom language models"
From: @nfriedly:
[code]

[2016-12-13 20:03] jeffpk62 opened #504 "[speech-to-text] Interim results not returned with recognize() method"
The recognize() method does not return interim results when the interimResults parameter is set to true in sessionless mode.  Instead, the output is identical to omitting the parameter.  We currently document that the parameter is supported and will return interim results.  The method should probably return interim results with the final results, all at once, as the service does.  Alternatively, t

[2016-12-13 20:12] jeffpk62 commented on #504
Note also that interim results are not return from within a session, either.  Apparently, the parameter is not functioning either with or without a session.  But it is supported as a viable parameter in both cases.  Also, the Java SDK does not support the equivalent of an observeResult() method, as the HTTP REST and Node interfaces do.

[2016-12-14 15:33] mauroAntonio commented on #204
guys... unfortunately the system behave is not so linear. happens that the system works correctly for a series of call and goes in error at the arriving of the n request. the only way to overcome such problem is to force the flushing of the alchemy_options. waiting for something less coarse, pls force such options paying attention to the channel/protocol in use. mauro

[2016-12-14 17:34] jeffpk62 opened #506 "[speech-to-text] model.SpeakerLabel class missing confidence attribute"
In addition to the speaker, from time, to time, and final attributes, the results for a speaker label object include a confidence score.  The Java definition of the object is missing the confidence attribute.

[2016-12-19 16:44] germanattanasio commented on #501
This is a great idea, I will work on it after holidays.

[2016-12-20 14:01] yeta-io commented on #502
Upvote

[2016-12-23 04:36] germanattanasio commented on #502
I can work on this during probably next week

[2016-12-23 11:56] yeta-io commented on #502
Thanks,

I have already implementation done using websockets, but I'd like to have official api.

[2016-12-31 04:58] germanattanasio opened #508 "[visual-recognition] Add support for Similarity search"
watson-api-explorer.mybluemix.net/apis/visual-recognition-v3#/

[2017-01-03 15:57] miltatibm opened #510 "Need to Implement additional file identifier when uploading a file to the collection"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2017-01-03 19:30] kognate commented on #510
This has been merged in #511 and will get released with the next java sdk release.

[2017-01-03 21:33] maniax89 opened #513 "[discovery] Add Timeslice Aggregation"
### Description

**Feature Request**: Add in the `timeslice` aggregation enum for a discovery `QueryRequest` . The spec can be found at http://www.ibm.com/watson/developercloud/doc/discovery/query-reference.shtml#aggregrations

Excerpt:

Example:
[code]
### Solution

- [ ] add `TIMESLICE` to the `AggregationType` enum in the `com.ibm.watson.developer_cloud.discovery.v1.model.query` package.
- [ ]

[2017-01-03 21:39] maniax89 opened #514 "[discovery] Add Top Hits Aggregation"
### Description

**Feature Request**: Add in the `top_hits` aggregation enum for a discovery `QueryRequest` . The spec can be found at http://www.ibm.com/watson/developercloud/doc/discovery/query-reference.shtml#aggregrations

Excerpt:

Example:
[code]
### Solution

- [ ] add `TOP_HITS` to the `AggregationType` enum in the `com.ibm.watson.developer_cloud.discovery.v1.model.query` package.
- [ ] cr

[2017-01-03 21:52] maniax89 opened #515 "[discovery] Add document Preview operation"
### Description

**Feature Request**: Add the ability to use the `POST /environments/[:id]/preview` endpoint. For more information, please consult the API explorer -> https://watson-api-explorer.mybluemix.net/apis/discovery-v1#!/Test_your_configuration_on_a_document/post_v1_environments_environment_id_preview

This allows users to test out the configuration without indexing the document in the Dis

[2017-01-03 21:59] maniax89 opened #516 "[discovery] Add support for custom configuration on document ingestion"
### Description

**Feature Request**: Allow a `configuration` parameter to be passed along in the create/update document operations.

Currently the SDK only supports passing a `configuration_id` of an existing configuration. It should also accept an per-request configuration object.

### Solution

- [ ] Change the model file in the `com.ibm.watson.developer_cloud.discovery.v1.model.document.Create

[2017-01-03 22:26] maniax89 opened #517 "[discovery] Rename 'json' to 'json_normalizations' in Configuration"
### Description

Users are unable to create a configuration with json normalization operations because the serialized name is incorrect.

### Steps to reproduce

1. Create a configuration file with some json normalization, example:
[code]
1. Read in the file with the SDK
[code]
1. Attempt to create a configuration
[code]
1. Expected config is not returned on GET requests:
[code]

### Solution
- [

[2017-01-03 22:34] maniax89 opened #518 "[discovery] Make configuration NormalizationOperation operation into enum"
### Description
**Feature Request**: Enumerate the possible values of the `operation` in `com.ibm.watson.developer_cloud.discovery.v1.model.configuration.NormalizationOperation`. See valid options at https://watson-api-explorer.mybluemix.net/apis/discovery-v1#!/Configurations/post_v1_environments_environment_id_configurations:

### Solution

- [ ] Make the string into an enum in the `Normalization

[2017-01-03 22:42] maniax89 opened #519 "[discovery] Conform Enrichment options to spec"
### Description

**Feature Request**: Configuration enrichment options for Discovery do not give much information on what you can do. Use the spec at https://watson-api-explorer.mybluemix.net/apis/discovery-v1#!/Configurations/post_v1_environments_environment_id_configurations to determine appropriate models

### Solution
- [ ] change the `Map<String, Object> options` in the `com.ibm.watson.develo

[2017-01-12 20:32] jeffpk62 opened #521 "[speech-to-text] The createRecognitionJob() method should return warnings field"
The createRecognitionJob() method should return the warnings field that is possible with the async HTTP version of the method.  With the HTTP version, for example, specifying a userToken for a request that does not have a callbackUrl returns the following warning:

[code]

This same field would appear to be possible with the Java SDK.  I'm not sure the wording makes sense for the Java interface, b

[2017-01-13 15:06] JasonLighthunter opened #522 "[retrieve and rank] solrClient.query(MY_COLLECTION, solrQuery) returns invalid JSON"
Dear Watson Java SDK team,

JDK = 1.8.0_112
Java SDK = 3.5.3

I have created a simple application that calls my Watson Retrieve and Rank service. To accomplish this I have followed the example code almost to the letter: [example code](http://www.ibm.com/watson/developercloud/retrieve-and-rank/api/v1/?java#query_ranker)

Using the collection with the web tool works fine. But when I attempt the call

[2017-01-16 04:44] blakesteve opened #523 "Clean up redundancy in Java SDK as a result of maven to gradle transition"
Related to #478

During the gradle migration of the Java SDK the test suite had to be restructured, and currently there are redundant test classes in order to ensure generic tests pass.

[2017-01-16 04:45] #478 closed

[2017-01-16 20:41] vermavikrant opened #525 "[discovery] Update example in Readme"
### Description:
The usage example given in Readme of Discovery service needs update.
Direct Link: https://github.com/watson-developer-cloud/java-sdk/blob/master/discovery/README.md

### Explanation
The first 3 lines for Usage example needs to be changed,
#### From:
[code]
#### To:
[code]
#### Changes:
[code]
#### Optional Changes:
The version date Discovery object using (2016-12-15) can be update

[2017-01-17 00:06] germanattanasio commented on #525
fixied

[2017-01-17 00:06] #525 closed

[2017-01-17 08:50] #522 closed

[2017-01-18 17:35] jeffpk62 opened #527 "[text-to-speech] Customization interface missing getWord() method"
The Java SDK for Text to Speech customization needs to include a `getWord()` method.  For example, it has the following pairings from the HTTP REST interface:

- `getVoice()` / `getVoices()`
- `getCustomVoiceModel()` / `getCustomVoiceModels()`

But it has only the `getWords()` method at present.

[2017-01-19 18:57] Mikemosca opened #528 "[Discovery]CreateConfigurationResponse class issue loading fixture"
Using the response output in the Discovery API documentation to create the json files for the different classes for testing Discovery with mock output.  So far so good until I came upon the create configuration class.

When trying to loadFixture for this class I get the following exception.
[code]

[2017-01-19 18:59] Mikemosca commented on #528
Talked with German and he adds...

The heading class has a FontStyles object which should be a list.

[2017-01-22 15:22] jeffpk62 opened #530 "[text-to-speech] getCustomVoiceModels() needs to accept null language"
The `getCustomVoiceModels()` method needs to accept `null` for the `language` parameter to see all custom voice models regardless of language.  This parallels the functionality of the service and of the Node SDK.  It also matches the functionality of the Speech to Text `getCustomizations()` method.

(The issue originally requested an overloaded version of the method with no arguments, which is inc

[2017-01-22 15:58] jeffpk62 opened #531 "[text-to-speech] saveCustomVoiceModel() should be two methods"
The TTS customization interface for the Java SDK conflates the create and update methods offered by the service for a custom voice model into a single method, `saveCustomVoiceModel()`.  This is basically inconsistent with the service, but a more important inconsistency concerns the inability to add words when updating an existing model.  The update function provided by the service's `POST /v1/cust

[2017-01-22 16:46] jeffpk62 opened #532 "[text-to-speech] Customization getWords() returning escaped Unicode characters"
The TTS customization `getWords()` method is returning escaped Unicode characters for < and >.  These characters are returned correctly with the HTTP REST and Node.js interfaces.   For example, the following CustomTranslation objects are added to a model with the `saveWords()` method:

[code]

The output of `getWords()` looks like the following:

[code]

It should look like this:

[code]

[2017-01-22 16:53] jeffpk62 opened #533 "[text-to-speech] Customization getCustomVoiceModel() not returning custom words"
The TTS `getCustomVoiceModel(id)` method should return the custom words for the single specified model in addition to the information about the model.  The Java method returns the following output:

[code]
The equivalent HTTP REST and Node.js methods return the following output:

[code]

[2017-01-22 17:21] jeffpk62 opened #534 "[text-to-speech] getVoice() method not returning custom model information"
The overloaded TTS `getVoice()` method offers two versions:

- `ServiceCall<Voice> getVoice(String voiceName)`
- `ServiceCall<Voice> getVoice(String voiceName, String customizationId`)

However, they're both returning the same information.

**Without a custom model:**

[code]

[code]

**With a custom model:**

[code]

[code]

[2017-01-22 17:40] jeffpk62 opened #535 "[text-to-speech] deleteWord() should accept a string as well as a CustomTranslation object"
The TTS customization `deleteWord()` method has the following signature:

`deleteWord(CustomVoiceModel model, CustomTranslation translation)`

In this case, it isn't necessary to specify a `CustomTranslation` object.  The constructor for a `CustomTranslation` object accepts a null translation.  But it would be clearer if the method accepted just a string that specifies the word to be deleted; a wo

[2017-01-22 20:08] jeffpk62 opened #536 "[text-to-speech] saveCustomVoiceModel() allows change to language of existing model"
The TTS customization `saveCustomVoiceModel()` method allows the language of an existing model to be changed.  This functionality is not supported by the HTTP REST method that updates a custom model.  The Java method needs to prevent changing the language for an existing model.

[2017-01-23 19:26] jeffpk62 opened #537 "[speech-to-text] Clean up information for sessions methods"
The JavaDoc for STT session-based methods needs to be cleaned up for two issues:

- Remove all references to cookies and the Set-Cookie header, since the API doesn't use cookies.
- State that the inactivity timeout for a session is 30 seconds, not 15 minutes.  (I don't think the API changes the default 30-second timeout, so it's probably just a JavaDoc change.)

Thanks.

[2017-01-24 17:16] jeffpk62 opened #538 "[text-to-speech] Add part_of_speech parameter for custom words (Japanese only)"
The TTS `CustomTranslation` object needs to include a `part_of_speech` attribute that applies only to Japanese custom voice models.  You can take a look at https://watson-api-explorer.mybluemix.net/apis/text-to-speech-v1 for specific details of where it can appear and how it's used.  The attribute will impact the `saveWords()`, `getWords()`, and `getWord()` methods of the existing interface.

[2017-01-25 11:44] androidfanatic commented on #434
@nadworny did you find a solution? I used a connected PipedInputStream and PipedOutputStream to stream byte buffers to STT websocket but I'd like to see if there are other approaches.

[2017-01-25 17:23] Mikemosca opened #539 "Bug: [DISCOVERY] java.lang.NullPointerException thrown when passing in null request"
**Expected Behavior:**
Maybe an extra Validator is needed to catch this and throw an error.

**Actual Behavior:**
java.lang.NullPointerException

## Steps for Reproducing

1. So this is not a big deal.  It happens on most of the APIs when one passes a null request into
most of the APIs in Discovery.  Not sure how often this use case would happen.  Here is one example on how to reproduce this.  But

[2017-01-26 13:19] ota-sandr opened #540 "[speech-to-text] Customization does not work when using recognizeUsingWebSocket() method"
#### Steps to reproduce
[code]

#### Expected behavior

Recognize results should contain the sentences from customization corpus (including custom words) more likely.

#### Actual behavior

When I printed the response message from speech-to-text, it contains string:
[code]
Recognized results also do not contain custom words.

**JDK version:** 1.8.0_112
**java-skd version:** 3.5.2

#### Suggested s

[2017-01-27 19:38] germanattanasio opened #543 "Developer: Add code coverage"
Add Jacoco and send the report to codecov.io

Some examples of Jacoco working for Gradle in a multi-project setup.

 * https://github.com/codecov/example-gradle
 * https://csiebler.github.io/blog/2014/02/09/multi-project-code-coverage-using-gradle-and-jacoco/

Also look into creating 1 test report for all the sub projects using gradles aggregate funtion to create 1 html report.

[2017-01-27 19:40] germanattanasio opened #544 "Developer: Release SNAPSHOTs to nexus."
Every commit to master should release an snapshot to nexus.
Tag commits should release it to maven central.

See: https://benlimmer.com/2014/01/04/automatically-publish-to-sonatype-with-gradle-and-travis-ci/

This can be tricky if we use sonatype so I'm open to change the repository where we are doing the staging releases.

Once we figure out this we should update `RELEASES.md`

[2017-01-27 19:43] #539 closed

[2017-01-27 20:46] cfrasineanu-intx opened #545 "[Alchemy Language] CombinedResults missing Emotion"
According to https://www.ibm.com/watson/developercloud/alchemy-language/api/v1/#combined-call one can get the emotion analysis via the Combined Calls method, but the CombinedResults object returned by AlchemyLanguage#getCombinedResults does not have a method to get the emotion analysis results.
I am using java-sdk 3.5.3

[2017-01-28 00:06] germanattanasio commented on #523
I removed the redundant classes already

[2017-01-28 00:06] #523 closed

[2017-01-28 00:17] germanattanasio opened #547 "Generate javadoc only for src files not test."
As you can see here: http://watson-developer-cloud.github.io/java-sdk/docs/similarity-search/

We are generating JavaDoc to the unit and integration tests. We should exclude those classes.

[2017-01-28 12:19] androidfanatic opened #548 "[speech-to-text] Typo in method name"
Method name: sendInputSteam

At: java-sdk/speech-to-text/src/main/java/com/ibm/watson/developer_cloud/speech_to_text/v1/websocket/WebSocketManager.java

[2017-01-30 20:50] kognate opened #550 "Warning for javadoc in text_to_speech/v1/model/AudioFormat.java:53"
The warning is there is no `@return` in the javadoc.

[2017-01-30 22:16] #548 closed

[2017-01-30 22:16] #550 closed

[2017-01-31 10:03] JamieGilbertIBM opened #552 "Expected BEGIN_OBJECT but was BEGIN_ARRAY exception encountered passing Discovery data to Watson sdk"
We have a customer who is trying to run Discovery code using the Watson java sdk "java-sdk-3.5.3-jar-with-dependencies.jar", the following:

[code]

with:

[code]

is returning:

[code]

Based on preliminary investigation, the "line 39 column 20" in the sdk referred to in the stack trace is referring to the JSON response stream. And what the Expected BEGIN_OBJECT but was BEGIN_ARRAY error usually

[2017-01-31 12:28] maniax89 commented on #552
Looks like a duplicate of https://github.com/watson-developer-cloud/java-sdk/issues/528

[2017-02-01 00:41] #552 closed

[2017-02-01 14:48] germanattanasio opened #553 "Retrieve service url from JDNI"
## As a Developer _I want_ to set the URL automatically when running in Bluemix _so that_ I can use the services running in other places rather than public

**Context:**

We currently load the username and password from a JDNI variable: `"watson-developer-cloud/" + serviceType + "/credentials"`. We need to update the method that retrieve that to also set the service URL. from `"watson-developer-cl

[2017-02-03 11:22] kholy opened #555 "[Alechemy-Language] getEmotion with targets doesn't return an array"
**-To reproduce, use this code snippet**
[code]
 **Expected behavior**
To return an array of emotions (one emotion target for each target)

**- Actual behavior**
Returns only one documentEmotion object as follows
[code]
**-  JDK version**
1.8.0_65

**- java-sdk version**
3.5.3

[2017-02-08 22:46] germanattanasio commented on #544
See: http://www.debonair.io/post/maven-cd/

[2017-02-09 14:45] jeffpk62 opened #564 "[speech-to-text] Customization getWords() method throwing exception for invalid words"
The Java SDK for STT customization looks like it has a defect in the `getWords()` method.  When I use the `addWord()` and `addWords()` methods to add a few valid words as follows:

[code]

The `getWords()` method works fine.  But if I replace the call to `addWords()` with the following parameters:

[code]

Calling `getWords()` fails with the following exception:

[code]

The word `75.00` is invali

[2017-02-09 17:55] jeffpk62 opened #565 "[speech-to-text] Add count attribute to WordData object"
The `WordData` object that is returned by the `getWord()` and `getWords()` methods needs to include a `count` attribute to match the service.  The object also needs the `getCount() `and `setCount()` methods for the attribute.

[2017-02-10 02:31] luoyan011 commented on #174
@germanattanasio , our environment also can not upgrade to Java 1.8 at this point. As such, I tried the 3.3.1 java1.6 compatible sdk and it works.  Thank you for posting this.

I have a question here, do you plan to make all future releases after 3.3.1 (such as the latest 3.5.3) Java1.6-compatible?

[2017-02-10 02:45] shiningbox commented on #174
Hi @germanattanasio , thank you for posting this release, it works in our project.

Can I ask a small question here, will all future release after 3.31 be Java 1.6 compatible?

Thanks again

[2017-02-10 16:55] germanattanasio commented on #174
This is a manual process so I won't be doing releases for 1.6 very often

[2017-02-12 01:39] jeffpk62 commented on #565
Done.

[2017-02-12 01:39] #565 closed

[2017-02-12 01:39] jeffpk62 commented on #498
Done.

[2017-02-12 01:39] #498 closed

[2017-02-12 16:28] jeffpk62 commented on #499
In addition to adding the `SupportedFeatures` support (parallel to the implementation for Text to Speech), we also need to add the remaining attributes that are returned for a `SpeechModel`, `language` and `url`, to parallel both the service and the Node SDK.

[2017-02-13 03:34] Puttappaiahm opened #569 "[Alchemy-Concepts]- Concepts does not return Knowledge Grapg details"
When we access Alchemy Language Concepts API, we do not get the Knowledge Graph details. When I look at the model object Concept, it does not contain any info about Knowledge Graph. Here is the difference between directly accessing the API and accessing the API using Java SDK.

A. When I use the Java SDK. I get the following JSON, which does not contain Knowledge Graph attribute. When I looked at

[2017-02-13 03:35] Puttappaiahm commented on #569
We are doing a POC at customer site. Quick resolution is highly appreciated.

[2017-02-13 03:35] Puttappaiahm commented on #569
Sorry, clicked a wrong button. Looking for quicker resolution on this issue.

[2017-02-13 15:50] jeffpk62 opened #570 "[speech-to-text] Add sort parameter to getWords() method"
The Speech to Text `getWords()` method needs to accept a `sort` parameter that is equivalent to the parameter provided by the service.  The parameter lets the user indicate the order in which words are to be listed.

[2017-02-14 14:30] avelinsk opened #571 "Support /v3/collections/{collection_id}/images/{image_id}/metadata"
Please, support the REST /v3/collections/{collection_id}/images/{image_id}/metadata in the Java connector - GET, PUT and DELETE.

[2017-02-14 14:42] #537 closed

[2017-02-14 14:42] #570 closed

[2017-02-14 14:43] #535 closed

[2017-02-14 14:43] #530 closed

[2017-02-14 14:43] #527 closed

[2017-02-14 14:43] #506 closed

[2017-02-14 14:43] #499 closed

[2017-02-14 21:06] jeffpk62 opened #573 "[speech-to-text] Add an addCorpus() method"
The names of the methods for the Java SDK parallel the service functionality and the Node SDK pretty well, with one exception.  Instead of an `addCorpus()` method, the interface offers an `addTextToCustomizationCorpus()` method.  I don't know what happened here, but I'd like to add the simpler `addCorpus()` alternative to go along with `getCorpora()`, `getCorpus()`, and `deleteCorpus()`, as well a

[2017-02-15 12:28] #538 closed

[2017-02-15 12:54] jeffpk62 opened #574 "[speech-to-text] Incorrect overwrite parameter sent to add corpus file"
The `addTextToCustomizationCorpus()` method includes a Boolean `allowOverride` parameter.  Specifying `true` for the parameter passes the query parameter as `allow_override`.  But the query parameter is named `allow_overwrite`, so the service ignores the parameter and still fails on a valid overwrite request.  The name of the parameter and the query string it sends both need to be adjusted.

[2017-02-15 14:29] jeffpk62 commented on #503
German, I can address this one for you.  Just let me know.

[2017-02-15 16:05] germanattanasio commented on #503
Yes please, assign the issues to you and you are set.

[2017-02-15 19:48] jeffpk62 commented on #503
@germanattanasio, the integration test already had a finally clause that deleted the custom model.  The 140 models that existed were from December and January.  I did the following:

- Updated the name and description of the IT custom model to indicate that it's temporary.  Otherwise, the IT code is already good.
- Verified that the STT tests all pass without the old models and that we're not leak

[2017-02-16 02:03] robertyates opened #576 "[discovery] add support for uploading an in memory json structure as a 'document'"
sorry opened in the wrong SDK, this should be against node, will close and update one over there, apologies.

[2017-02-16 02:05] #576 closed

[2017-02-16 12:51] #574 closed

[2017-02-16 12:52] #573 closed

[2017-02-16 12:52] jeffpk62 commented on #503
The Speech team is looking into deleting the locked models.  We can't do anything with them.

[2017-02-16 12:52] #503 closed

[2017-02-16 13:35] germanattanasio commented on #503
You have the credentials so I think you can delete them
On Thu, Feb 16, 2017 at 6:52 AM Jeff Kaminski <notifications@github.com>
wrote:

[2017-02-16 14:12] jeffpk62 commented on #503
@germanattanasio, you would think, but unfortunately, I can't.  I used the credentials to delete the other 135 models fine.  But these five are stuck in a strange locked state that generates the conflict error above.

[code]

The service had an issue with this in the past, and I think these predate the fix.  They're following up for me.

[2017-02-16 14:54] jeffpk62 commented on #503
@germanattanasio, Tony sent the following:

`OK, I cleared those 5 models.  You should now be able to delete them, let me know if you are successful now.`

And I was able to clear the last five models.  We're clean now.

[2017-02-16 18:42] bujjiphani commented on #379
I have a similar problem.
conversation = ConversationV1(
  version = '2016-09-20',
  username = "{myuser}",
  password = '{mypass}',
  url = 'https://gateway.watsonplatform.net/conversation/api/v1'
)

How do I get to know the correct version that I should use?
I created my instance and workspace yesterday!

[2017-02-17 18:38] jeffpk62 commented on #534
This issue is a duplicate of https://github.com/watson-developer-cloud/java-sdk/issues/500.

[2017-02-17 18:38] #534 closed

[2017-02-17 18:39] jeffpk62 commented on #500
This issue was duplicated by https://github.com/watson-developer-cloud/java-sdk/issues/534; sorry.  The other issue has now been marked as a duplicate and closed.

[2017-02-17 19:35] #500 closed

[2017-02-19 18:49] #521 closed

[2017-02-19 18:49] #564 closed

[2017-02-19 20:20] jeffpk62 commented on #540
Thanks a lot for identifying the problem _and_ for providing the solution!  Made things pretty easy.  Should be fixed once the PR is merged.

[2017-02-20 14:39] JamieGilbertIBM opened #582 "[discovery] Add Filter Aggregation"
**Description**

Feature Request: Add in the filter aggregation enum for a discovery QueryRequest . The spec can be found at http://www.ibm.com/watson/developercloud/doc/discovery/query-reference.shtml#aggregrations

Excerpt:

Example:

`filter(enriched_text.concepts.text:Pharmacovigilance)`

**Solution**

- [ ] add `filter `to the `AggregationType `enum in the `com.ibm.watson.developer_cloud.disc

[2017-02-20 14:45] JamieGilbertIBM opened #583 "[discovery] Add Nested Aggregation"
**Description**

**Feature Request**: Add in the `nested `aggregation enum for a discovery `QueryRequest `. The spec can be found at http://www.ibm.com/watson/developercloud/doc/discovery/query-reference.shtml#aggregrations

Excerpt:

Example:

`nested(enriched_text.entities)`

**Solution**

- [ ] add `nested `to the `AggregationType `enum in the `com.ibm.watson.developer_cloud.discovery.v1.model.

[2017-02-20 15:42] jeffpk62 opened #584 "[speech-to-text] Fix and enhance constructors for customization Word object"
To create a word without a `sounds_like` field, the current implementation requires casting the `null` parameter to `(String)` which fails with an internal service exception or to `(String[])` which fails with a null pointer exception.  We can fix the constructor for the `Word` object by testing for a null `soundsLike` parameter, but that still requires that the user pass `(String[]) null` for the

[2017-02-20 16:35] #540 closed

[2017-02-20 17:14] #584 closed

[2017-02-20 17:32] DimuthRuwantha opened #586 "[conversation] version.properties file could not be found"
When the project is built and run the war file, it gives null in `InputStream` in the `RequestUtils.class`  in the `java-sdk/conversation`. but when I run it from the ide it works.
this is the line of code which returns null
[code]

- [x] 1.8 JDK version
- [x]  3.5.3  java-sdk version
I have already asked on the [StackOverfolw](http://stackoverflow.com/questions/42311861/version-properties-file-co

[2017-02-20 17:42] germanattanasio commented on #586
This is something we need to fix before our next release

[2017-02-20 18:06] germanattanasio opened #587 "Add methods for onListening() and onInactivityTimeout() in the Speech callback"

[2017-02-20 20:45] jeffpk62 commented on #531
In addition to being more parallel with the service and the other SDKS and to enabling the addition of words on an update, creating two methods may be the best way to preclude allowing users to change the language of an existing model, which should not be possible.

[2017-02-21 03:28] DimuthRuwantha commented on #586
Hello Sir,
If you need more clarifications about what was actually happend please
don't hesitate to leave me a message.
Since I'm new to maven there may something I have done wrong.
Thanking you in advance,
Regards.

*Dimuth Ruwantha,Undergraduate,Faculty of Engineering,University of
Ruhuna,Sri Lanka.*

On Mon, Feb 20, 2017 at 11:12 PM, German Attanasio <notifications@github.com

[2017-02-22 14:01] #543 closed

[2017-02-22 17:27] jconallen opened #594 "[visual-recognition] VisualRecognitionOptions builder should have InputStream option like that of ClassifyImagesOptions"
When trying to detect faces, the images must be supplied as a File.  In my cloud based web app, I really want to avoid creating temp files, so an InputStream option like that available for the classify options builder would be nice (and expected).

[2017-02-22 19:59] Mikemosca commented on #517
@maniax89 - hi Andrew

Is the configuration schema defined anywhere in the documentation?  Your test case works if you use "json" instead of "json_normalizations".  I just want to make sure the schema calls for "json_normalizations" before I change it.  Thanks!

<pre>
{
  "name": "my_config",
  "conversions": {
    "json_normalizations": [
      { ...

</pre>

[2017-02-22 20:11] maniax89 commented on #517
yes it calls for `json_normalizations` - see here https://watson-api-explorer.mybluemix.net/apis/discovery-v1#!/Configurations/get_v1_environments_environment_id_configurations_configuration_id

[2017-02-22 20:24] Mikemosca commented on #517
Thanks, I was looking in the API reference.

[2017-02-23 12:47] #536 closed

[2017-02-23 14:13] Mikemosca commented on #517
In review - https://github.com/watson-developer-cloud/java-sdk/pull/597

[2017-02-23 16:38] jeffpk62 commented on #494
Closed by the following PR from Anna Bekkerman: https://github.com/watson-developer-cloud/java-sdk/pull/568.

[2017-02-23 16:38] #494 closed

[2017-02-23 16:40] jeffpk62 commented on #531
Adding support for new words with an update request requires changes related to https://github.com/watson-developer-cloud/java-sdk/issues/533.  For now, we can add the new methods and then address the word support all at once across the API.

[2017-02-23 16:40] #517 closed

[2017-02-23 16:43] jeffpk62 opened #598 "Add support for addWords() and addWord() methods"
Add new `addWords()` and `addWord()` methods to the Text to Speech customization API.  This is an enhancement, but it parallels other changes and makes the interface match the service completely.  It's also fairly simple, so we may as well complete the steps to normalize the interfaces.

[2017-02-24 06:39] DimuthRuwantha commented on #586
try adding this two lines into the RequestUtils.class
`ClassLoader classLoader = RequestUtils.class.getClassLoader();
Thread.currentThread().setContextClassLoader( classLoader );`

[2017-02-27 14:48] #598 closed

[2017-02-27 14:49] #533 closed

[2017-02-27 14:49] #531 closed

[2017-02-28 18:41] Mikemosca commented on #518
in review - https://github.com/watson-developer-cloud/java-sdk/pull/601

[2017-03-02 07:33] josepmao opened #602 "[Text-to-Speech] failed with combine of special characters, e.g Spanish + ";""
- [ ] Steps to reproduce
_**With following code:**_
[code]

Get error:
[code]
**_Change second line code to:_**

[code]

It works as expected.

Because in Java-SDK, we use HTTP GET to send request, thus need URL-encoded, while it seems not working fine while in Spanish.

Suggest either improve URL-encoder part, or change to use POST method.

[2017-03-02 18:09] jeffpk62 commented on #602
@germanattanasio moving to a POST seems like a good first attempt at a fix.  I can look at this tomorrow.

[2017-03-02 21:19] #518 closed

[2017-03-02 22:29] germanattanasio commented on #602
great

[2017-03-06 06:31] joralemarti opened #603 "WatsonServices: Unable to find acceptable protocols"
Hello, I'm testing the Watson Conversation Services:

Using Netbeans, IBM JAVA SDK 1.8, java-sdk-3.5.3-jar-with-dependencies.jar

I got this error when I tried the following:
[code]
`
WARNING: Exception on MessageDispatcher: java.lang.RuntimeException: java.net.UnknownServiceException: Unable to find acceptable protocols. isFallback=false, modes=[ConnectionSpec(cipherSuites=[TLS_ECDHE_ECDSA_WITH_A

[2017-03-06 17:49] jeffpk62 commented on #602
@germanattanasio I took a look, and converting to a POST requires changing a number of tests accordingly.  Using URL encoding may be better, but then we break tests for other reasons and I don't think we want to double URL encode the string.  Also, the okhttp library may be URL encoding the string already, but I don't know it well enough and lack the time to work through it.  I'm really sorry; I j

[2017-03-07 21:06] Mikemosca commented on #528
In review

https://github.com/watson-developer-cloud/java-sdk/pull/606

[2017-03-08 01:04] josepmao commented on #545
@germanattanasio can you help check this one?  from the api reference, combined-call method should support emotion with "doc-emotion", which not working now.
There is no emotion in class CombinedResults at all

[2017-03-08 13:48] #528 closed

[2017-03-08 13:48] germanattanasio commented on #545
The service was deprecated Josep can you use natural language understanding
?
On Tue, Mar 7, 2017 at 8:04 PM josepmao <notifications@github.com> wrote:

[2017-03-08 21:03] #544 closed

[2017-03-08 21:34] bruceadams commented on #603
IBM Java and the Apache Http Client library do not cooperate very well when accessing TLS 1.2 servers.

See: https://issues.apache.org/jira/browse/HTTPCLIENT-1784
and: http://www.ibm.com/support/knowledgecenter/SSYKE2_8.0.0/com.ibm.java.security.component.80.doc/security-component/jsse2Docs/matchsslcontext_tls.html

[2017-03-08 22:13] germanattanasio commented on #504
We don't support interim results in HTTP because you need to do 2 HTTP calls to get them. We encourage users to use the WebSocket connection for that.

[2017-03-08 22:14] #510 closed

[2017-03-08 22:16] germanattanasio commented on #602
I'm going to assign this @blakesteve

[2017-03-08 22:46] josepmao commented on #545
get it.  Thanks @germanattanasio for the info

[2017-03-09 12:57] jeffpk62 commented on #504
So no interim_results with HTTP sessionless or session-based calls?  OK, I'll update the documentation accordingly; thanks.

[2017-03-09 13:40] GarrettHamers opened #609 "Watson Alchemy date extraction not working in some scenarios in Java SDK"
The Alchemy date extraction is not working properly for the Java SDK. The date extraction is failing to find any dates with both the DateExtraction and CombinedCall API calls. The following are example strings that do not return any dates:

Show all results in 2016.
2016

I have narrowed down the problem to the jars contained in

[code]

I know this because I ran the same queries using the curl po

[2017-03-09 13:55] cfrasineanu-intx commented on #545
Thanks @germanattanasio. We can close this issue as OBE

[2017-03-09 15:24] coxd opened #610 "[All Services] IBM Java results in only the 3DES cipher suite being choosen"
IBM Java (any version) has incompatibilities with the OkHttpClient that are documented [here](https://github.com/square/okhttp/issues/3173). It is possible OkHttpClient may resolve this issue soon as there is current activity on it.

This [issue](https://github.com/cloudant/java-cloudant/issues/215) proposes a solution that involves configuring OkHttpClient with a custom SSLContext but I believe w

[2017-03-09 15:52] bruceadams commented on #610
A lightweight way to figure out if code is running on IBM Java is by looking at the Java System Property `java.vm.name`. The value of that property, across many releases of IBM Java is `IBM J9 VM`. In Java code, this is roughly:
[code]

[2017-03-09 15:56] germanattanasio commented on #610
What's the output of that if running in Android?

[2017-03-09 16:00] bruceadams commented on #610
I don't have an easy way to try it on Android. It most certainly is _not_ `IBM J9 VM` on Android. I suppose there is a risk that it's not defined, which means the Java code should get flipped around to avoid a Null Pointer Exception:
[code]

[2017-03-09 16:21] germanattanasio commented on #545
I'm going to leave it open and see if someone can actually add emotion. it should be an easy fix but it's not a priority now

[2017-03-10 00:25] josepmao commented on #602
@germanattanasio @blakesteve any update here?

[2017-03-12 11:17] bruceadams commented on #610
The OkHttpClient issue https://github.com/square/okhttp/issues/3173 has been closed by this pull request https://github.com/square/okhttp/pull/3218 being merged into `master`. Do we want to test that this (not yet released) change to OkHttpClient works for us?

[2017-03-13 20:23] germanattanasio commented on #609
Hey @GarrettHamers we are looking into it. No ETA yet.

[2017-03-14 17:26] shekhargowda opened #612 "[tradeoff-analytics] Call to dilemmas() failing in Google stack"
Error:
[code]
- [x] JDK version  (1.8)
- [x] java-sdk version (3.6.0)

[2017-03-14 17:34] shekhargowda commented on #306
This issue is occurring with 3.6.0 also.
                   <dependency>
			<groupId>com.ibm.watson.developer_cloud</groupId>
			<artifactId>tradeoff-analytics</artifactId>
			<version>3.6.0</version>
		</dependency>

[2017-03-15 05:39] ugrani opened #614 "java.lang.NoSuchMethodError with sdk 3.6.0"
The JVM throws `java.lang.NoSuchMethodError` when I upgrade my sdk from 3.5.3 to 3.6. Seems to be a dependency issue with okhttp/okio.

[code]

[2017-03-15 16:46] germanattanasio commented on #614
Can you provide code to reproduce the error?

[2017-03-15 18:35] ugrani commented on #614
I used IBM JDK (IBM Bluemix Liberty docker container)

[code]
The code is similar to what is mentioned here in the sample below(Java example)
https://www.ibm.com/watson/developercloud/conversation/api/v1/#send_message

[2017-03-16 15:03] #545 closed

[2017-03-17 03:35] germanattanasio commented on #614
I think that this is related to #610

[2017-03-17 03:37] germanattanasio commented on #612
@shekhargowda do you have the code you are using ?

[2017-03-17 04:03] germanattanasio commented on #610
@bruceadams I tried the solution from this [gist](https://gist.github.com/swankjesse/d094cb17d0562520cdbf64254542694a#file-tlsonibm-java-L50) but I'm still seeing the error.

Here is what I'm doing: https://gist.github.com/germanattanasio/3f0e7458328e817b4e63952ffaa93da2

[2017-03-17 04:03] germanattanasio commented on #587
fixed

[2017-03-17 04:03] #587 closed

[2017-03-17 04:31] germanattanasio commented on #555
Hey, @kholy Targeted Emotions won't be supported in Alchemy Language. I would suggest you use Natural Language Understanding.

[2017-03-17 04:31] #555 closed

[2017-03-17 14:28] #569 closed

[2017-03-17 15:08] shekhargowda commented on #612
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.springframework.stereotype.Service;

import com.ibm.watson.developer_cloud.tradeoff_analytics.v1.TradeoffAnalytics;
import com.ibm.watson.developer_cloud.tradeoff_analytics.v1.model.Dilemma;
import com.ibm.watson.developer_cloud.tradeoff_analytics.v1.model.Option;
import com.ibm.watson.de

[2017-03-20 02:48] germanattanasio commented on #603
This is a duplicate of #610

[2017-03-20 02:48] #603 closed

[2017-03-20 17:58] julianommartins opened #621 "Visual Recognition 3.7.0 not found at maven central"
Team, Im not able to get 3.7.0 from maven central. Just 3.6.0. The documentation tell to use 3.7.0.

[2017-03-20 18:12] julianommartins commented on #621
FYI:  Failed to execute goal on project watsontests: Could not resolve dependencies for project com.ibm.mysa:watsontests:jar:0.0.1-SNAPSHOT: Failure to find com.ibm.watson.developer_cloud:java-sdk:jar:3.7.0 in https://repo.maven.apache.org/maven2 was cached in the local repository, resolution will not be reattempted until the update interval of central has elapsed or updates are forced -> [Help 1]

[2017-03-21 06:25] germanattanasio commented on #621
Hi @julianommartins, it usually takes a few hours for the jar to be available in Maven.
It's available now https://search.maven.org/#artifactdetails%7Ccom.ibm.watson.developer_cloud%7Cjava-sdk%7C3.7.0%7Cjar

[2017-03-21 11:17] julianommartins commented on #621
Worked now. thanks.

[2017-03-21 13:42] germanattanasio commented on #621
https://search.maven.org/#artifactdetails%7Ccom.ibm.watson.developer_cloud%7Cvisual-recognition%7C3.7.0%7Cjar

[2017-03-21 14:17] germanattanasio commented on #621
I'm reopening this issue because it seems like Visual Recognition is the one that returns 404

[2017-03-21 19:38] asidd commented on #610
@germanattanasio - what's update on this issue

[2017-03-21 19:51] ShubhamSharmaCSE commented on #610
Please can anyone provide me about the details of how to tackle this issue, I have a submission of my final year project this week but this error is not letting us test our project .

Thanks.

[2017-03-21 20:22] ShubhamSharmaCSE commented on #603
Please can anyone provide me about the details of how to tackle this issue, I have a submission of my final year project this week but this error is not letting us test our project .

Thanks.

[2017-03-22 00:22] bruceadams commented on #603
@ShubhamSharmaCSE The easiest workaround is to use OpenJDK or Oracle Java instead of IBM Java. Can you do that?

[2017-03-22 00:23] bruceadams commented on #610
@ShubhamSharmaCSE The easiest workaround is to use OpenJDK or Oracle Java instead of IBM Java. Can you do that?

[2017-03-22 01:12] asidd commented on #603
Here is an update from a customer who is using Oracle JDK but faces this issue:

[2017-03-22 08:03] mjoellnier commented on #610
@bruceadams how can this be done? can this be done even when the project is hosted on bluemix?

I also have a presentation of my project next tuesday... hopefully there will be a way to get it working again.

Thank you!

[2017-03-22 10:36] tahir-mehmood commented on #603
I am also facing same issue when I try to deploy a modified application. It gives me below error :

2017-03-22T15:20:23.06+0500 [APP/0]      OUT 10:20:23.040 [Thread-20] ERROR com.ibm.watson.apis.conversation_enhanced.listener.SetupThread - Error ini
tializing Collectionjava.net.UnknownServiceException: Unable to find acceptable protocols. isFallback=false, modes=[ConnectionSpec(cipherSuites=[TLS_

[2017-03-22 11:33] craigeebach commented on #610
You might try moving back to the previous buildpack until the issue is resolved.  For example, I believe the previous liberty buildpack uses a slightly older 1.8 IBM JRE in which this issue does not occur.  I'm not sure about other non-liberty buildpacks but that's what changed and what introduced the issue in my own experience.

You can view the buildpacks from the cf cli by running `cf buildpack

[2017-03-22 12:20] mjoellnier commented on #610
Thank you @craigeebach ! Works perfect for me

[2017-03-22 15:14] germanattanasio commented on #603
@asidd The customer needs to specify a different `buildpack`, See https://github.com/watson-developer-cloud/java-sdk/issues/610#issuecomment-288260821

[2017-03-22 15:45] anshumg opened #623 "[discovery] Java SDK ignores the specified configurationId when creating a new collection"
Steps to reproduce:

[code]

Creating a new collection using a non-default config ID ends up with a collection that uses the default config instead, ignoring the specified configuration ID.

SDK versions tested with: 5.5.3, 5.7.0

[2017-03-22 15:46] #547 closed

[2017-03-22 16:20] germanattanasio commented on #621
I redeployed 3.7.0 and tested that Visual Recognition is there. https://repo1.maven.org/maven2/com/ibm/watson/developer_cloud/visual-recognition/3.7.0/visual-recognition-3.7.0.jar

[2017-03-22 16:20] #621 closed

[2017-03-22 18:36] tahir-mehmood commented on #610
I have resolved it by using OpenJDK instead of IBM JDK.

[2017-03-23 19:49] julianommartins commented on #621
Strange, I just got the same issue. Here is my POM
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>
  <groupId>com.ibm.mysa</groupId>
  <artifactId>watsontests</artifactId>
  <version>0.0.1-SNAPSHOT</version

[2017-03-23 19:52] julianommartins commented on #621
It worked now. Tks

[2017-03-24 00:12] bruceadams commented on #610
A little experiment, https://github.com/bruceadams/j9experiment, that demonstrates that the https://github.com/square/okhttp/issues/3173 fix does successfully fix this issue.

[2017-03-29 15:31] boazdavid opened #625 "[Conversation] date objects serialization and deserialization"
PR #624 add support for conversation workspaces.
A workspace has `created` and `updated` fields as in this example:
[code]
The following test pass green on my local computer, but is red in travis.
I suspect the problem is that my computer and travis are in different timezones. The `Z` symbol should indicate that the date is in UTC. Hence, the timezone should not matter.
[code]

A similar issue is

[2017-03-30 09:07] lagarwalla commented on #610
I also faced the issue after our instance moved to Liberty buildback 3.8. This issue is resolved after using previous buildpack of 3.7

[2017-03-30 18:57] joralemarti commented on #603
I solved my issue , modifying the WatsonService.java in this way.

  protected OkHttpClient configureHttpClient() {
    ConnectionSpec spec = new ConnectionSpec.Builder(ConnectionSpec.COMPATIBLE_TLS)
    .tlsVersions(TlsVersion.TLS_1_0)
    .cipherSuites(
          CipherSuite.TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,
          CipherSuite.TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,
          CipherSuit

[2017-03-30 22:13] coxd commented on #603
@bruceadams @joralemarti has identified the key element that I missed when trying this approach: `.allEnabledCipherSuites()`. This overrides the cleansing of the cipher suites by OkHttp and uses the explicit set you enable in the sample socket.

[2017-03-30 23:04] germanattanasio commented on #483
You need to use `continuous=true` otherwise the service will stop after detecting silence.

[code]

@henrywann I tried your file and I got all the sentences transcripted

[2017-03-30 23:04] #483 closed

[2017-03-31 02:43] germanattanasio commented on #532
The value has `<` and `>` but it was escaped by Gson when calling the `toString()`.
See: http://google-gson.googlecode.com/svn/trunk/gson/docs/javadocs/com/google/gson/GsonBuilder.html#disableHtmlEscaping%28%29

[2017-03-31 02:54] germanattanasio commented on #609
@GarrettHamers
After some experiments I realized that:
[code]
This is not a bug in the SDK, it's coming from the service so I will communicate this to them.
Did you try using Natural Language Understanding?
https://natural-language-understanding-demo.mybluemix.net/

[2017-03-31 02:59] germanattanasio commented on #612
I'm not able to reproduce your issue. I'm using 3.7.0.
[code]

[2017-03-31 03:12] germanattanasio commented on #623
It seems like we are sending the configuration parameter as `configurationId` instead of `configuration_id`

[2017-03-31 03:33] germanattanasio commented on #603
In #626 I'm planning on moving to use `okhttp-3.7.0-SNAPSHOT`

If someone can validate that the java-sdk-3.7.1-SNAPSHOT from sonatype: https://oss.sonatype.org/content/repositories/snapshots/com/ibm/watson/developer_cloud/java-sdk/3.7.1-SNAPSHOT/ fixes the IBM JDK issue then I will release the jar to maven.

[2017-03-31 03:46] coxd commented on #603
@germanattanasio:

All we need to do is this to continue to use 3.6.0 and which will work for all JDKs:

[code]

See my comment in your gist for the explanation/justification.

[2017-03-31 03:48] coxd commented on #603
@joralemarti

Thank you again for pointing out the obvious. You will notice above I do not explicitly set any cipher suites. Forgetting about the basic problem that IBM JDK and Oracle names mismatch that has caused all of this - `.allEnabledCipherSuites()` clears the suites you've just set.

[2017-03-31 11:34] GarrettHamers commented on #609
@germanattanasio  Please reopen this issue.  You did not solve the problem with extracting out the year from some queries.

Show all results in 2016.
2016

I have tested this scenario in the Java SDK and in curl posts.  These queries do not work in the Java SDK, but they do work in the curls.

[2017-03-31 11:41] GarrettHamers commented on #609
@germanattanasio I do not have the option to switch over to the Natural Language Understanding as my team as paid for Watson Alchemy, and has not paid for Natural Language Understanding.  Therefore, we need to have the situation solved for Watson Alchemy.  If you have figured out this isn't a problem in the SDK, then I need this bug to be escalated to the correct team.  So which team should be res

[2017-03-31 13:34] germanattanasio commented on #609
I'm letting the development team know and they are looking at the issue

[2017-03-31 15:40] jtviegas commented on #603
hello All,
we are taking the jars from maven central with graddle,
3.7.1 still not in maven central, do you have an idea if it will be there soon?

thanking you in advance

[2017-03-31 16:35] #306 closed

[2017-03-31 16:35] #496 closed

[2017-03-31 16:35] #532 closed

[2017-03-31 16:35] #610 closed

[2017-03-31 16:51] germanattanasio commented on #612
I'm closing this as it works with 3.7.0

[2017-03-31 16:51] #612 closed

[2017-03-31 16:53] #508 closed

[2017-04-02 07:15] boazdavid opened #631 "[core] testSpecialCharacterQuery FAILED"
this test fails on my computer.
Windows 7
java version "1.8.0_91"
Java(TM) SE Runtime Environment (build 1.8.0_91-b14)
Java HotSpot(TM) Client VM (build 25.91-b14, mixed mode, sharing)
[code]

[2017-04-02 07:39] boazdavid commented on #625
PR #632 instead of #624

[2017-04-02 23:46] germanattanasio commented on #614
@ugrani can you try again using 3.7.1 ?

[2017-04-03 01:23] germanattanasio opened #633 "Write an STT sample android app in the examples module"
Create an example for users trying to write an android app using the java-sdk and the android module.

See
http://stackoverflow.com/questions/41134462/ibm-watson-speech-to-text-for-android-noclassdeffounderror

[2017-04-03 08:00] sacpopli commented on #610
I used 3.7.0 version of conversation, but the issue still persists.

<dependency>
    		<groupId>com.ibm.watson.developer_cloud</groupId>
		    <artifactId>conversation</artifactId>
		    <version>3.7.0</version>
		</dependency>

Is there anything wrong i am doing here?

[2017-04-03 10:29] jtviegas commented on #603
saw that now, 3.7.1 already in maven central, thank you !!!

[2017-04-03 14:02] germanattanasio commented on #610
You need to use 3.7.1

[2017-04-03 17:02] germanattanasio commented on #609
@blakesteve I think this could be an error in the way we parse the dates in the SDK. Can you please take a look?

[2017-04-03 18:04] blakesteve commented on #609
Sure thing, looking into it now

[2017-04-03 19:27] bjoernkarmann opened #634 "Missing readme in Natural Language Understanding"
There is missing a readme for the natural-language-understanding, just like in the Natural Language Classifier.

[2017-04-03 21:07] arthurfabre opened #635 "[text-to-speech] Spaces in text are encoded as +"
- [ ] Steps to reproduce:
`TSS.synthesize("Hello Bob", Voice.EN_LISA`);

- [ ] Expected behavior
Audio for "Hello Bob"

- [ ] Actual behavior
Audio for "Hello+Bob"

- [ ] JDK version: OpenJDK 1.8.0_121

- [ ] java-sdk version: 3.7.1

With commit 7d9bbd7dc18b80483b73cf25d398d0ed07b9cbbc, to resolve #602, the text is now url-encoded before being passed off to okhttp.

Unfortunately, `RequestUtils.en

[2017-04-03 21:40] arthurfabre commented on #635
`URLEncoder.encode("é")` returns `%C3%A9` as expected.

okhttp then encodes this again, resulting in `%2525C3%2525A9`. I'm not sure why the `%` character is encoded twice, I would have expected it to become `%25C3%25A9`.

Regardless, this is not the correct solution, as the backend service won't be able to decode the `é` without decoding the URL twice.

Weirdly enough, GET or POST requests, with t

[2017-04-03 23:19] arthurfabre commented on #635
Actually, it seems the 400 - Bad Request issue is only caused when there is a semicolon followed by a unicode character. curl also receives a BadRequest using this:

    curl -X GET -u "user:pass" --output test-get.wav "https://stream.watsonplatform.net/text-to-speech/api/v1/synthesize?voice=es-ES_EnriqueVoice&text=;%C3%A9" -w "%{http_code}"

However a POST request works successfully:

    curl -X

[2017-04-04 18:57] wturosz commented on #635
Similar issue reported to IBM customer support:
TTS inserts '+' in converted audio
"[DEBUG] Temperature today will be 45 fahrenheits and the wind speed will be 3 miles per hourApr 03, 2017 8:20:22 PM okhttp3.internal.platform.Platform logINFO: --> GET https://stream.watsonplatform.net/text-to-speech/api/v1/synthesize?text=Temperature%2Btoday%2Bwill%2Bbe%2B45%2Bfahrenheits%2Band%2Bthe%2Bwind%2Bspee

[2017-04-04 21:23] blakesteve commented on #602
Reopening due to reversion, see #635

[2017-04-05 13:50] pieterjanverbruggen commented on #603
Hi all,

I still have this issue when deploying to Watson. In Netbeans it seems to work fine though.. Below the error but let me first give you the versions of the POM file

[code]

[2017-04-05 14:53] pieterjanverbruggen commented on #610
Hi all,

I still have this issue when deploying to Watson. In Netbeans it seems to work fine though.. Below the error but let me first give you the versions of the POM file

[code]

[2017-04-06 02:16] aruniyengar opened #640 "natural-language-understanding API should provide disambiguation information for entities"
The NaturalLanguageUnderstanding service provides disambiguation information for entities. Here is an example from the Bluemix Web site:
[code]
The Java SDK should provide the ability for Java programs to access disambiguation information.

[2017-04-06 02:22] aruniyengar commented on #634
When the readme file for natural-language-understanding is added to the github repository, it would be good to include examples similar to the ones in:
 java-sdk/natural-language-understanding/src/test/java/com/ibm/watson/developer_cloud/natural_language_understanding/v1/NaturalLanguageUnderstandingIT.java

The readme file could direct users to this file.

[2017-04-06 06:16] sacpopli commented on #610
I used openjdk with 3.6.0 version of conversation to resolve this.

On Wed, Apr 5, 2017 at 8:23 PM, pieterjanverbruggen <
notifications@github.com> wrote:

[2017-04-06 07:08] pieterjanverbruggen commented on #610
What is the Maven dependency for openjdk?

[2017-04-06 07:28] sacpopli commented on #610
Not in maven. Need specify it as part of manifest.yml under env section
when pushing the app to Bluemix.

JVM: openjdk

And also specified it as environment variable in Runtime tab of the
application on bluemix

Hope it helps.

On 06-Apr-2017 12:38, "pieterjanverbruggen" <notifications@github.com>
wrote:

[2017-04-06 08:16] pieterjanverbruggen commented on #610
@sacpopli My apologies for my ignorance regarding manifest files, I will try to not change this into a stack overflow post but could you perhaps point out on what I have to change in my manifest file? Based on what I could find I came up with the below but it is not accepted. I do want to avoid to set the open jdk as variable in the runtime properties. I want to put it in my manifest..

[code]

[2017-04-06 09:50] sacpopli commented on #610
No issues.

I have a very simple manifest.yml for my application. I mentioned openjdk
like below.

env:
  JVM: openjdk

applications:
- path: .
  memory: 512M
  instances: 1

That is all. I had to edit the environment variable in the Environment tab
of application because it used to retain the Liberty pack environment
variable from my earlier manifest.yml version. Please do ensure that after
your

[2017-04-06 19:21] aruniyengar opened #642 "natural-language-understanding: limiting number of categories returned would be a useful feature"
For natural-language-understanding, it would be good to have the ability to limit the number of categories returned. I can limit the number of concepts, entities, and keywords returned but not the number of categories.

It appears that the class:
https://github.com/watson-developer-cloud/java-sdk/blob/develop/natural-language-understanding/src/main/java/com/ibm/watson/developer_cloud/natural_langu

[2017-04-07 15:03] #634 closed

[2017-04-07 15:44] #640 closed

[2017-04-07 16:23] jeffpk62 commented on #504
@germanattanasio, I updated the docs to say that Java supports interim results only with WebSockets and that the `interimResults` parameter is a no-op for non-WebSocket requests.  It would probably be good to add a caveat to the documentation for the `interimResults` parameter of the `RecognizeOptions `object saying that it's supported only with the `recognizeUsingWebSocket()` method.

[2017-04-07 19:01] shekhargowda commented on #612
@germanattanasio what version of jdk? I am still seeing this error.
Exception in thread "main" java.lang.RuntimeException: Unable to invoke no-args constructor for class com.ibm.watson.developer_cloud.tradeoff_analytics.v1.model.column.Column. Register an InstanceCreator with Gson for this type may fix this problem.
	at com.google.gson.internal.ConstructorConstructor$8.construct(ConstructorConstru

[2017-04-07 19:48] germanattanasio commented on #612
3.7.1

[2017-04-07 20:15] shekhargowda commented on #612
@germanattanasio with 3.7.1
Message:
Apr 07, 2017 4:14:03 PM okhttp3.internal.platform.Platform log
INFO: --> POST https://gateway.watsonplatform.net/tradeoff-analytics/api/v1/dilemmas?generate_visualization=true http/1.1 (1364-byte body)
Apr 07, 2017 4:14:03 PM okhttp3.internal.platform.Platform log
INFO: <-- 200 OK https://gateway.watsonplatform.net/tradeoff-analytics/api/v1/dilemmas?generate_vi

[2017-04-07 20:16] germanattanasio commented on #642
I don't think the API supports this

[2017-04-07 20:21] #504 closed

[2017-04-07 20:21] germanattanasio commented on #631
It'working for me.

[code]

[2017-04-07 20:21] #631 closed

[2017-04-07 20:22] germanattanasio commented on #631
Check if you are using the latest code from `develop`

[2017-04-07 21:04] #635 closed

[2017-04-07 21:04] #602 closed

[2017-04-09 05:09] lihuiniu commented on #519
@maniax89 This is Hui, could you do tell me how can I add the "language": "english" via IBM Watson online tooling? I tried multiple times still not sure how to do right using the online-created configuration file?

[2017-04-09 19:44] maniax89 commented on #519
@lihuiniu there isn't a way to modify many of the enrichment options exposed in the tooling as of right now. In the tooling, users can only specify `source_field` (we generate the `destination_field`for them) + the enrichment `options.extract` value -> see https://watson-api-explorer.mybluemix.net/apis/discovery-v1#!/Configurations/getConfiguration for the references

For the java-sdk, the `option

[2017-04-10 09:56] JSHHansen opened #647 "[java-sdk] Broken link to jar with dependencies in installation guide"
In the Readme.md under "Installation", when you click the link for the jar with dependencies under "jar" subsection you get 404.

This is the link my browser tries to open:

https://github.com/watson-developer-cloud/java-sdk/releases/download/java-sdk-3.7.2/java-sdk-3.7.2-jar-with-dependencies.jar

[2017-04-10 12:36] germanattanasio commented on #647
Fixed

[2017-04-10 12:36] #647 closed

[2017-04-10 17:08] teja-tummalapalli opened #649 "[natural-language-understanding] Wrong usage of constructor in readme file"
In readme file the NLU service is created with default constructor.

`NaturalLanguageUnderstanding service = new NaturalLanguageUnderstanding();`

But this constructor is not  available. The two constructors available accepts one string or three strings.
Working example:
`NaturalLanguageUnderstanding service = new NaturalLanguageUnderstanding("2017-02-27");`

So readme need to changed to reflect c

[2017-04-10 19:52] germanattanasio commented on #649
Fixed

[2017-04-10 19:52] #649 closed

[2017-04-10 19:53] germanattanasio commented on #642
@g-may what can we do here?

[2017-04-11 21:04] mkistler opened #652 "[conversation] Add support for workspace, intent, example, and counterexample APIs"
The 2017-02-03 version of the Conversation service provides APIs for workspaces, intents, examples, and counterexamples.  These should be added to the Java SDK.

[2017-04-11 21:22] JoshSharpe commented on #614
I am using the same project as @ugrani. Using 3.7.2 version of conversation sdk. Tried 3.7.0 and 3.7.1. Still getting the following error ```javax.servlet.ServletException: org.glassfish.jersey.server.ContainerException: java.lang.NoSuchMethodError: okio/BufferedSource.rangeEquals(JLokio/ByteString;)Z (loaded from file:/opt/ibm/wlp/output/defaultServer/workarea/org.eclipse.osgi/80/data/cache/com.i

[2017-04-12 15:48] danwig52 commented on #614
@germanattanasio This is starting to be urgent for us, how do we proceed?

[2017-04-12 16:11] germanattanasio commented on #614
I'm going to look at it tomorrow. I'm out of office today

[2017-04-12 18:36] pbwilmot commented on #514
I agree this would be very helpful

[2017-04-13 03:25] mwakao opened #654 "[Discovery] Query execution fails with RuntimeException if query string contains '|' character"
The following code using Discovery service Java Client API fails with error.
If I change the query to just "author", it works fine.

[code]
- Expected behavior
The query is successfully executed and query result is responded.
- Actual behavior
Runtime exception
[code]
- JDK version
JDK 1.8.0
- java-sdk version
3.7.0

[2017-04-13 15:18] Ericus1 opened #655 "Bug in the getModels call of the LanguageTranslator"
[Language Translator] getModels()

This is literally a copy/paste error.

 public ServiceCall<List<TranslationModel>> getModels(final Boolean showDefault, final String source, final String target) {
    final RequestBuilder requestBuilder = RequestBuilder.get(PATH_MODELS);

    if ((source != null) && !source.isEmpty()) {
      requestBuilder.query(SOURCE, source);
    }

    if ((target != null)

[2017-04-13 22:30] blakesteve commented on #609
@GarrettHamers can you provide some curl posts which worked for you but did not work via the java SDK?
I've found that the java SDK is returning matching results as the curl attempts I've tried.

For instance:
`curl -X POST -d "outputMode=json" -d "text=shipment from last week" -d "anchorDate=2017-04-13 16:32:31" "https://gateway-a.watsonplatform.net/calls/text/TextExtractDates?apikey=
$API_KEY`
i

[2017-04-14 11:38] GarrettHamers commented on #609
These are the queries that give correct results in the direct rest call, but not in the Java SDK.
**Show all results in 2016.
2016**

[2017-04-14 16:02] JoshSharpe commented on #614
Moving back to an old IBM Liberty image worked in resolving the issue by allowing me to move back to 3.6.3 sdk.

[2017-04-14 16:30] #625 closed

[2017-04-14 17:52] #623 closed

[2017-04-14 21:05] #655 closed

[2017-04-16 22:56] shekhargowda commented on #612
SDK Version: 3.7.1
               <dependency>
			<groupId>com.ibm.watson.developer_cloud</groupId>
			<artifactId>tradeoff-analytics</artifactId>
			<version>3.7.1</version>
		</dependency>

Code:
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.springframework.stereotype.Service;

import com.ibm.watson.developer_cloud.tradeoff_analyti

[2017-04-17 09:47] goncalogomes opened #656 "[speech-to-text] Speaker Labels are null more often than expected"
The issue is that I enable speaker labels in the options, but they are almost always null (I've seen populated speaker labels only once). If I use exactly the same file in the watson's demo site I get very different results (most of the transcripts have a speaker label there).

The screenshoots attached show I'm enabling speaker labels, that they are null, and that the same file on the demo has la

[2017-04-17 13:59] germanattanasio commented on #656
@goncalogomes can you try with a newer version of the SDK?

[2017-04-17 14:24] goncalogomes commented on #656
Hi @germanattanasio Apologies, I was actually on 3.7.1 (had the dependency duplicated). Have just tried it on 3.7.2 and got the same results. speechResults.getSpeakerLabels() is still null.
I've added some logging now:

![screenshot from 2017-04-17 15-22-49](https://cloud.githubusercontent.com/assets/15087246/25091572/cd4a038e-2381-11e7-9a42-c561b8c7e728.png)

These should definately not be null.

[2017-04-17 14:25] goncalogomes commented on #656
The file used: https://drive.google.com/file/d/0BwcIjGjm9GTmRjV5WHpsdm9SbDA/view?usp=sharing

[2017-04-17 18:41] blakesteve commented on #609
Hi @GarrettHamers

I'm seeing consistent (incorrect) results for both queries between a direct curl and the java sdk. Both **Show all results in 2016.** and
**2016**
return an empty array for dates:
[code]
Can you try a curl post for both queries again?
At this point I believe this is something that can only be fixed within the service itself.

[2017-04-17 19:07] GarrettHamers commented on #609
There is a problem in both layers.  After doing some testing, the dates are being extracted out when there isn't a model id or anchor date included.  When an anchor date or model id are included the dates are not being extracted.

![rest](https://cloud.githubusercontent.com/assets/26303327/25100768/6bbb7384-237f-11e7-8921-93663908e94c.PNG)

`<results>
<status>OK</status>
<usage>By accessing Alchem

[2017-04-17 22:43] blakesteve commented on #609
I just tested without anchor date, and **Show all results in 2016.** does return
[code]

However, I am failing to see any discrepancy between the results through the SDK vs a direct curl post.

Curl post with anchorDate included:
`curl -X POST -d "outputMode=json" -d "text=Show all results in 2016." -d "anchorDate=2016-04-13 16:32:31" "https://gateway-a.watsonplatform.net/calls/text/TextExtractDat

[2017-04-18 11:33] GarrettHamers commented on #609
@germanattanasio @blakesteve How is the issue going to be transferred to the "service team"?  I need to have a way to track the progress of the problems presented in this issue.

[2017-04-18 20:09] maniax89 commented on #654
seems like @germanattanasio already opened an issue a long time ago about this https://github.com/square/okhttp/issues/1976

[2017-04-18 21:02] jagan120 commented on #614
@germanattanasio I work with @JoshSharpe and @ugrani. We are seeing this error consistently with new SDK Versions(3.7+). Doesnt matter if I use new/old Liberty. The Workaround we are using for now is not updating the SDK Version and using older liberty. Newer Liberty gives cipher issues with older versions of SDK.

cc : @danwig52

[2017-04-19 12:48] Pmagnard opened #659 "[discovery] creating a collection does not use the configuration id"
I use Watson Java SDK v3.7.2 to create a Discovery collection based on a non-default configuration.
By using the sample code from the API reference (https://www.ibm.com/watson/developercloud/discovery/api/v1/?java#create-collection), I can create the collection but it is created with the default configuration of the environment instead of the the supplied configuration id.
The problem is located i

[2017-04-19 21:05] germanattanasio commented on #656
Hey @goncalogomes I'm able to use your file and get valid results. Here are the options I'm using:

[code]

[2017-04-19 21:06] #633 closed

[2017-04-19 21:18] germanattanasio commented on #609
Hi @GarrettHamers,

I talked to the development team and now that we know that this is not an issue in the SDK they will investigate on their side. No ETA on when they would be able to look at the issue. You should be able to open a support ticket here: https://support.ibmcloud.com/Support/5377/5383/en-us/Portal/Index

I'm closing this issue because it's not a problem in the SDK.

[2017-04-19 21:18] #609 closed

[2017-04-19 21:26] germanattanasio commented on #614
I've updated the okhttp version to 3.7.0 which includes a new version of okio.
Before I do a release I want to make sure this change will fix your problem.

Can you guys download the SNAPSHOT from sonatype. It should be `3.7.3-SNAPSHOT`

[2017-04-19 21:55] jagan120 commented on #614
We have a different problem now. This is the stacktrace I see when connecting to conversation :

[code]

[2017-04-20 05:28] mwakao commented on #654
I think https://github.com/square/okhttp/issues/1976 was a problem of okhttp3.HttpUrl#uri() . Now uri() method escapes '|'. That's fine now.

com.ibm.watson.developer_cloud.http.RequestBuilder that constructs URL in Watson SDK uses okhttp3.HttpUrl#url() method that doesn't escape '|' character. That may cause this problem.

See https://square.github.io/okhttp/3.x/okhttp/okhttp3/HttpUrl.html for mo

[2017-04-20 13:54] doconnor78 opened #663 "[Conversation] The Java-SDK should support the `/workspaces` API for Watson Conversation Service"
The Watson Conversation service has released the `/workspaces` REST API. The Java SDK should be updated to support the methods on that API (POST/GET etc)

[2017-04-20 20:49] #652 closed

[2017-04-20 23:39] germanattanasio commented on #663
We have the 3.7.3-SNAPSHOT in sonatype.

https://oss.sonatype.org/content/repositories/snapshots/com/ibm/watson/developer_cloud/java-sdk/

[2017-04-21 20:18] immyemperor opened #665 "{conversation} cannot find symbol RecognizeOptions and RecognizeDelegates i tried to clean rebuilt several times and checked dependencies everything is fine but it cannot find these two class."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2017-04-23 14:20] germanattanasio commented on #665
@immyemperor Can you write the steps to reproduce the issue?

[2017-04-23 17:32] boazdavid opened #668 "[Conversation] getCursor()"
all listXXX() methods get a cursor parameter.
the cursor can be used to get the next page of items.
currently, there is no simple way to extract the cursor from the response.getPagination.nextUrl().
here is the method I used to extract the cursor. I propose to augment the SDK with this functionality:
[code]

[2017-04-23 17:33] boazdavid opened #669 "[Conversation] getStatus() as Enum"
WorkspaceExportResponse.getStatus() returns String. Consider defining it as enum

[2017-04-24 11:12] boazdavid opened #670 "[Conversation] Date deserialization"
When I use curl to get workspaces
https://gateway.watsonplatform.net/conversation/api/v1/workspaces/?version=2017-02-03
I get the dates in this format:
`"created": "2017-04-23T19:09:46.712Z"`
which is UTC.

But when using the SDK, the date is: `Sun Apr 23 19:09:46 IDT 2017`. in my time zone (Israel, UTC +3).
Seems that the SDK does not understand the `Z` (UTC) syntax

see also #625

[2017-04-24 19:01] #665 closed

[2017-04-25 00:05] #668 closed

[2017-04-25 00:05] #670 closed

[2017-04-25 00:06] #669 closed

[2017-04-25 00:06] germanattanasio commented on #614
Fixed

[2017-04-25 00:06] #614 closed

[2017-04-25 01:24] germanattanasio commented on #656
I've provided a configuration in which I was able to get valid results so I'm going to close this for now.

[2017-04-25 01:24] germanattanasio commented on #663
3.8.0 Added support for `/workspaces`

[2017-04-25 01:24] #663 closed

[2017-04-25 09:43] goncalogomes commented on #656
Hey,

I'm very sorry, I've been out for a while and forgot to answer this! Apologies.

The configuration above does not work for me. Which version were you on?

(I'm on 3.7.2)

What do you mean by valid results? Do you get all the speaker labels?

Could it be a problem of me looking in the wrong results? Maybe I shouldn't be considering only isFinal transcripts...

Here's the code that looks at re

[2017-04-25 13:58] germanattanasio commented on #656
Thanks for the response. I want to see what are the parameters you are using when creating the `RecognizeOptions` instance. Based on your code you are not using interim results.

[2017-04-25 14:21] goncalogomes commented on #656
Currently I'm on 3.5.3 and using the code below (tried several times with 3.7.2 and 3.7.1 and no joy so moved to this one. Also, recent versions seem to have problems with certain files that were working on 3.5.3. That's a different issu though):
[code]

[2017-04-25 15:03] germanattanasio commented on #656
@goncalogomes can you try with 3.8.0 (released today).
Can you disable `interimResults`, `timestamps`, `wordAlternativesThreshold` and `smartFormatting` ?

[2017-04-25 15:10] goncalogomes commented on #656
Getting an error:

[code]

[2017-04-25 16:34] goncalogomes commented on #656
Hey,

I'm getting better results with 3.8.0 (that last error was just because there was no interim results and the first transcript was taking a long time).

Now I do get speaker labels, but am seeing an error I wouldn't see in 3.5.3:
[code]

I'm using this config now:

[code]

[2017-04-25 18:01] JoshSharpe opened #673 "[Conversation] dialog_nodes field is missing from the WorkspaceExportResponse object"
In version 3.8.0 of the sdk, dialog_nodes is missing from the WorkspaceExportResponse object.

Code: https://github.com/watson-developer-cloud/java-sdk/blob/develop/conversation/src/main/java/com/ibm/watson/developer_cloud/conversation/v1/model/WorkspaceExportResponse.java#L71
Docs: https://www.ibm.com/watson/developercloud/conversation/api/v1/#get_workspace

[2017-04-25 18:20] mkistler commented on #673
That was intentional because Dialog Nodes are not considered "public" yet.

[2017-04-25 19:37] klamotte opened #674 "Using the Messenger API to get the response in the Conversation TryIt Panel stopped working"
This call stopped working about a month ago
We are using Selenium to make this call
 Using -JRE - Java80

Here is the Call we are using
[code]
Here is the Call Stack
[code]

### When reporting a bug, please be sure to include the following:

- [ ] Start the title with the service name in brackets:  `[speech-to-text] websockets...`
- [ ] Steps to reproduce
- [ ] Expected behavior
- [ ] Actual behav

[2017-04-25 19:50] daniel-bolanos commented on #656
Hi,
that error `Session timed out, no data received in the last 30 seconds.` is because you cannot leave the connection open for more than 30 seconds without pushing audio through it.

[2017-04-25 20:17] jconallen opened #675 "[Language Translator] snippet has syntax error."
In the documentation the line:

`LanguageTranslator service = new LanguageTranslation();`

should read:

`LanguageTranslator service = new LanguageTranslator();`

[2017-04-25 20:18] jconallen opened #676 "The jar with dependencies link in the main documentation is broken."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2017-04-25 22:34] germanattanasio commented on #674
What's the Java SDK version you are using?

[2017-04-25 22:35] germanattanasio commented on #674
DId you try with 3.8.0 ?

[2017-04-25 22:39] germanattanasio commented on #676
fixed

[2017-04-25 22:39] #676 closed

[2017-04-25 22:40] germanattanasio commented on #675
fixed

[2017-04-25 22:40] #675 closed

[2017-04-26 07:56] goncalogomes commented on #656
OK. Cool, so if I ignore this error (I'm sending a file bigger than 30 seconds) everything seems to work fine now.
Thanks for all the help!

[2017-04-26 10:40] klamotte commented on #674
Is this the info you need?

Keith LaMotte
Tooling/UI Test Engineer - Watson Core
550 King Street, LKG1-Floor 1, Office # A1135C
Littleton, MA 01460 U.S.A.
email: klamotte@us.ibm.com. Tel: 978-899-3120

From:   German Attanasio <notifications@github.com>
To:     watson-developer-cloud/java-sdk <java-sdk@noreply.github.com>
Cc:     klamotte <klamotte@us.ibm.com>, Author <author@noreply.github.com>
D

[2017-04-26 12:38] phcannesson opened #677 "[visual-recognition] Crash on date deserialization on Android"
I'm encountering a crash when using the visual-recognition SDK on Android devices.

A similar issue has already been submitted and resolved here : #76

Here is the stacktrace :
[code]
It looks like it's caused by deserialization in the DateDeserializer.class.

I'm using v3.8.0 of the SDK.

Here's the code throwing the exception :
[code]

[2017-04-26 17:21] klamotte commented on #674
This is our current SDK

![eclipsesdk](https://cloud.githubusercontent.com/assets/28020257/25447336/ceea84e0-2a82-11e7-9cf0-9566751ee9cb.png)

[2017-04-26 17:45] germanattanasio commented on #674
@klamotte that's your eclipse version not the java SDK version.

[2017-04-26 17:47] germanattanasio commented on #677
@mkistler I think this is because Android could be using JDK 1.6 where X is not supported.

[2017-04-26 17:48] germanattanasio commented on #656
Thanks @daniel-bolanos

[2017-04-26 18:21] klamotte commented on #674
Here is the SDK version
 compile group: 'com.ibm.watson.developer_cloud', name: 'conversation', version: '3.5.3'
Tim Snow tried 3.6.0 and still had the same problem
Have you tested it using SDK 3.8?

[2017-04-26 19:20] klamotte commented on #674
Tim Snow say the updated SDK appears to be working and he going to do some more testing before he deliver it to us. Thanks

[2017-04-26 19:39] goncalogomes commented on #656
Right,
Sorry for posting again here since the issue is closed. I can open another one if you prefer...

So it seems that if interimResults is on, then only the last transcript (still using the same file) brings a speaker label.
If interimResults is off then all transcripts bring speaker labels (hence my last comment saying everything was fine).
But we do need interimResults (one of my customer's b

[2017-04-26 20:22] germanattanasio commented on #656
It takes some time for the service to start returning the speaker label, initially it will think that everything is being said by the same person and will only change that when it has enough information to detect multiple speakers

[2017-04-27 08:32] goncalogomes commented on #656
Sure, I understand that. But, like I said, it's a lot faster to detect on the demo. That's why I'm asking if there might be a problem with the Java SDK, as it's not behaving in the same way as NodeJS in the demo...

Here's when it detects speaker labels in the demo (at about 15 seconds):

![screencapture-speech-to-text-demo-mybluemix-net-1493279916435](https://cloud.githubusercontent.com/assets/15

[2017-04-27 17:15] #677 closed

[2017-04-29 14:03] DavidHormigo opened #681 "[speech to text] Android: java.lang.IllegalArgumentException: Unknown pattern character 'X' when instantiating the service"
Hi,

I found a bug when using the Speech to text service on Android (I know that was already reported on #76 and #677):
[code]

I'm using Android 6.0 (Android API 21) and using JDK 1.7

![image](https://cloud.githubusercontent.com/assets/28193883/25556036/602e101a-2cf5-11e7-97f5-66927dc9eba5.png)

[2017-05-02 06:35] jsrgi opened #682 "conversation service with spring mvc"
For core java conversation service example working fine,
For spring mvc it's show error like:
[code]
 Kindly help to solve this problem. I am using following example,
[code]

Thanks.

[2017-05-02 17:38] germanattanasio commented on #682
@jsrgi What are you trying to do? It seems like you have the same 3 queries. Are you replacing the `workspace-id` ?

[2017-05-02 19:46] JonLNielsen commented on #656
I can confirm there's a bug.

In my code I get 1 alternative with 1 list of speaker labels after a few seconds. After that happens I don't get any more.

Something very strange is happening in the SDK.

[2017-05-02 19:49] JonLNielsen commented on #656
I can confirm there's a bug.

In my code I get 1 alternative with 1 list of speaker labels after a few seconds. After that happens I don't get any more.

Something very strange is happening in the SDK.

[2017-05-03 06:24] #682 closed

[2017-05-04 02:25] RollinJin opened #684 "[language-translator] Get model status return null"
When I try the latest JDK, and use method getStatus() of com.ibm.watson.developer_cloud.language_translator.v2.model.TranslationModel, it always returns null. Please help to check. Thanks.

[2017-05-05 14:42] varadharajan1 opened #685 "Stream audio from mic to IBM Watson SpeechToText service using Java SDK"
Hi,

https://github.com/watson-developer-cloud/java-sdk/blob/master/examples/src/main/java/com/ibm/watson/developer_cloud/speech_to_text/v1/MicrophoneWithWebSocketsExample.java

The above example "Line not supported" message and program exits.

[code]

Note: `watson-develomer-cloud/java-sdk/3.8.0 (java-sdk-3.8.0-jar-with-dependencies.jar)`

Thanks

[2017-05-05 15:57] germanattanasio commented on #685
Java SDK version? Android? Can you please provide steps to reproduce the issue

[2017-05-05 16:16] varadharajan1 commented on #685
Hi,

Thank you for your prompt reply.
I used JDK 1.8 and watson java-sdk 3.8.0.  No Android.

Regards
Varadharajan

[2017-05-05 16:32] varadharajan1 commented on #685
Hi,

Thank you for your prompt reply.
I used JDK 1.8 and watson java-sdk 3.8.0 (java-sdk-3.8.0-jar-with-dependencies.jar)

Steps to reproduce:

1) Create SpeachToText watson service on BlueMix
2) Get the username and password and replace it on the below example.

In the https://github.com/watson-developer-cloud/java-sdk/blob/master/examples/src/main/java/com/ibm/watson/developer_cloud/speech_to_te

[2017-05-07 00:40] assaftibm opened #686 "[speech-to-text] websockets interface - internal threads never terminate (and more)"
JDK 1.8.0.131
java-sdk-3.8.0
Windows 7 64bit

I'm trying to build a desktop application in which a WAV file is selected, sent to IBM's speech to text service to obtain a transcript, the transcript is sent to some recipient, and after some time this process repeats.

I ran the code of RecognizeUsingWebSocketsExample  as an example of using the WebSockets interface, but it seems like quite a lot of

[2017-05-08 00:49] #654 closed

[2017-05-08 14:03] germanattanasio commented on #686
I'm making some changes to reuse the `OkHttp ConnectionPool` and `OkioWatchdog`. I also found a few interesting discussions around this topic.

* See https://github.com/square/okhttp/issues/2482
* OkHttpClient: http://square.github.io/okhttp/3.x/okhttp/okhttp3/OkHttpClient.html

[2017-05-08 21:41] JonLNielsen opened #689 "[Speech-to-text] Websocket remains open after inputstream is closed"
Hi all,

When using the Speech-To-Text service the websocket keeps streaming even after closing the inputstream. Eventually it times out after 30 seconds of inactivity and throwing this following exception:
[code]
My question is: Can I avoid this by manually closing the websocket? If so, how?

Using the latest version:
[code]

[2017-05-08 22:19] #684 closed

[2017-05-08 22:22] germanattanasio commented on #689
I'm working on this @JonLNielsen.

[2017-05-08 22:34] JonLNielsen commented on #689
Thanks @germanattanasio - Looking forward to see your solution.

[2017-05-09 07:40] assaftibm commented on #686
Thanks!

[2017-05-09 12:51] markwinap commented on #681
im also having the same issue will building for android sdk 22. I hope this issue is resolved soon

[2017-05-09 13:28] germanattanasio commented on #681
I'm on it. Give me a few hours

[2017-05-09 13:30] germanattanasio commented on #656
I'm trying to work around this by changing the frame size of the WebSocket messages we send. We are currently using 4kb, I'm going to try to bump up that to 16kb.

[2017-05-09 13:41] daniel-bolanos commented on #656
@germanattanasio I think those frame sizes are already quite big, 4kb is quite big. Bigger frame sizes cause more latency, so we need to be careful with that. BTW, are the frame sizes the same regardless of the audio encoding? because 4kb for opus (which can have a very low bit rate) is very big and would cause significant latency. However 4kb for raw audio is ok.

[2017-05-09 13:50] germanattanasio commented on #685
See: http://stackoverflow.com/questions/30287131/java-recording-audio-line-not-supported

[2017-05-09 13:51] germanattanasio commented on #685
You are probably trying that on your computer. Check your microphone and `DataLine` configuration

[2017-05-09 14:00] #674 closed

[2017-05-09 14:13] #686 closed

[2017-05-09 14:13] #689 closed

[2017-05-09 14:23] germanattanasio commented on #686
@assaftibm Once I merge #691 it will be in sonatype snapshots.
Check the readme for instructions on how to use the snapshot repository

[2017-05-09 14:24] germanattanasio commented on #689
@JonLNielsen  Once I merge #691 it will be in sonatype snapshots.
Check the readme for instructions on how to use the snapshot repository. It will be great if you can validate that this issue was fixed

[2017-05-09 14:24] germanattanasio commented on #681
@DavidHormigo  Once I merge #691 it will be in sonatype snapshots.
Check the readme for instructions on how to use the snapshot repository. It will be great if you can validate that this issue was fixed

[2017-05-09 14:24] germanattanasio commented on #684
It will be fixed in 3.8.1

[2017-05-10 10:11] DavidHormigo commented on #681
Hi @germanattanasio , there's no reference on readme on how to use snapshots. I figured it out and you have to add to your gradle file the repository
allprojects {
    repositories {
        maven { url "https://oss.sonatype.org/content/repositories/snapshots" }
    }
}

And in your dependecies change the version to point to the snapshot, in speech to text case:
compile('com.ibm.watson.developer_c

[2017-05-10 10:13] #681 closed

[2017-05-10 13:43] #685 closed

[2017-05-10 13:43] #673 closed

[2017-05-11 17:13] assaftibm commented on #686
Can you point out to the instructions how to use the snapshot repository? I found a link on the main page but didn't figure our how to use this repo. is there a way to tell gradle to download the new version from the snapshot repo instead of the standard maven repo? thanks again.

[2017-05-11 20:09] jsstylos commented on #371
I don't think the VCAP_SERVICES part of this issue was ever fixed.

[2017-05-11 20:37] germanattanasio commented on #371
Fixed in #693

[2017-05-12 12:02] ahmad3ttallah commented on #677
The bug still there, could you please advice?
`05-12 13:54:27.464 20232-21456/net.hopesun.dolphins E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #1
                                                                      Process: net.hopesun.dolphins, PID: 20232
                                                                      java.lang.RuntimeException: An error occurred while executing doInBackg

[2017-05-12 13:23] germanattanasio commented on #677
@ahmad3ttallah The bug was fixed but it's in the snapshot repository not in maven central.
Take a look at the instructions on how to use the snapshot release [here](https://github.com/watson-developer-cloud/java-sdk#development-snapshots)

[2017-05-12 20:14] germanattanasio commented on #656
I wrote a test case and validated that it behaves like the public demo.

[code]

Output
[code]

[2017-05-12 20:16] germanattanasio commented on #656
Speaker label results appear after 13 seconds which is the same as with the demo

[2017-05-12 20:16] germanattanasio commented on #656
This is for `3.8.1-SNAPSHOT`

[2017-05-12 20:34] RobertWSaunders opened #695 "Java SDK + React Native Compatibility"
Feature Request: Enable the Java SDK to be used with React Native Android projects. Currently React Native does not support `okhttp 3.7.0` which is needed by the SDK to run IBM JDK.

When adding the SDK to the `build.gradle` of a Android project generate using React Native file like:

[code]
After syncing Gradle and building the project an error will occur:

[code]
This error is a result of `com.f

[2017-05-14 18:45] #371 closed

[2017-05-14 19:15] #594 closed

[2017-05-15 01:07] assaftibm commented on #686
My question was answered by commit aa3ca857369c2f64a6d7c16dd183f2961bae7f85; latest info is on the README file.

[2017-05-16 13:35] assaftibm opened #701 "[speech-to-text] websocket interface - end of transaction is uninformative"
JDK 1.8.0.131
java-sdk-3.8.0
speech-to-text:3.8.1-SNAPSHOT
Windows 7 64bit

Version 3.8.1 changed the way in which the server notifies the client about the end of a transaction. It looks like in this version the end of transaction is notified by a call to "onDisconnect".  However, in this way the client is not informed whether the disconnection is due to a successful completion of a transaction or

[2017-05-16 13:41] assaftibm opened #702 "[speech-to-text] Websocket interface - add support for specifying channels number for audio/l16"
JDK 1.8.0.131
java-sdk-3.8.0
speech-to-text:3.8.1-SNAPSHOT
Windows 7 64bit

When sending PCM chunks to the service (mimetype: audio/l16 rather than audio/wav), it always assumes that the data is in mono.

 It would be useful to add an option by which the client can specify whether the data is of a mono or stereo recording. Note that the service has no problem to deal with stereo files in general,

[2017-05-16 13:48] germanattanasio commented on #702
@daniel-bolanos ^^

[2017-05-16 18:01] germanattanasio commented on #701
I can add an `onTranscriptionComplete()` method. That way we will call that when the transcription is over.

[2017-05-16 18:56] germanattanasio commented on #701
Once #703 gets merged you will be able to test the new method with the SNAPSHOT release.

[2017-05-17 03:23] brianchu opened #705 "$ gradle idea (or eclipse) does not work"
README.md said you can work with Intellij (or eclipse) but there are no tasks in the gradle file.

$ gradle idea     # Intellij IDEA
$ gradle eclipse  # Eclipse

[2017-05-17 11:40] assaftibm commented on #701
Adding `onTranscriptionComplete()` sounds good. I'd suggest to use it only for successful ending of a transaction, and to use `onDisconnected()` only for unexpected disconnection cases.  In addition, I would add the arguments 'code' and 'reason' to `onDisconnected()` (or at least just 'reason').

[2017-05-17 12:56] jeffpk62 commented on #701
@germanattanasio, just adding myself so that I remember to update the API ref when the new callback is in place.

[2017-05-17 13:34] #701 closed

[2017-05-17 13:57] germanattanasio commented on #701
@assaftibm the `onDisconnected()` will always be called because we close the WebSocket when we get the final results. The user needs to know when the connection is close. I guess we should not write code thinking that `onDisconnected()` is something that happened due to an error.

[2017-05-17 14:48] shikida opened #707 "Suggestion - Conversation API example enhancement"
Just because we don't  have any example or unit test with this, and just because Conversation is all about walking on the tree of nodes of the Conversation model, I'd like to suggest a very minor change in the documentation, just to show how to get from node 1 to node 2 of the conversation tree.

In order to do that, It' s incredibly simple, but since it's not documented anywhere, it's quite frust

[2017-05-17 15:24] germanattanasio commented on #707
Hi @shikida, we can add the example but can you update the snippet and make it a complete example. We usually use the `car_dashboard.json` for examples

[2017-05-19 00:21] shikida opened #708 "Conversation node contains an answer that has a @ sign (email) and output is interpreted as an entity"
Not sure if this is a bug or not, but I have a node that contains an email.

When I try to print the MessageResponse object, here's what happens

`System.out.println("OUT "+response.getOutput());`

If I use this instead

`System.out.println("OUT "+response.getTextConcatenated(" "));`

No error is reported.

Maybe I am not understanding what getOutput() means in this case.What's the difference betw

[2017-05-19 00:29] shikida opened #709 "com.ibm.watson.developer_cloud.conversation.v1.model.Intent should have a toString() method"
com.ibm.watson.developer_cloud.conversation.v1.model.Intent should have a toString() method

makes it easier to debug things

maybe because it does not extends GenericModel

[2017-05-19 10:12] androidfanatic commented on #702
Would specifying content type in RecognizeOptions work? I've not tried this yet!

Something like this:

    options = new RecognizeOptions.Builder()
	  .model("en-US_BroadbandModel")
	  .contentType("audio/l16; rate=16000; channels=2");

[2017-05-23 05:47] shekharsaini commented on #681
Thanx buddy It works.......

[2017-05-24 02:18] RobertWSaunders commented on #695
This has since been fixed as the React Native update their version of `okhttp`. :) The Java SDK is now compatible in React Native projects.

[2017-05-24 02:27] germanattanasio commented on #695
Nice!

[2017-05-24 15:59] mkistler commented on #659
I've create a test to reproduce this problem.  But my test passes.  The new test is in this branch:

https://github.com/watson-developer-cloud/java-sdk/tree/mdk/659-use-configid-on-create-collection

Please let me know if I have misunderstood the problem, or somehow failed to translate it correctly in my test.  Otherwise I'm inclined close this issue as `invalid`.

[2017-05-25 04:57] boazdavid opened #711 "[Conversation] MessageResponse.getIntents() should return an empty list instead of null"
In some circumstances the `/message` api returns a `MessageResponse` with an empty array of intents. See example below. When calling the `getIntents()` method returns `null`. It should be safer to return an empty list instead.
same for `getEntities()` and maybe for other list getters.

[code]

[2017-05-31 09:26] stanleywym commented on #582
+1

[2017-05-31 09:36] stanleywym commented on #513
+1

[2017-05-31 15:54] kognate opened #712 "Checkstyle causes gradle build to fail"
There are checkstyle errors causing the gradle build
to fail.  These are mostly (very) minor issues.

[2017-05-31 16:52] RobertWSaunders commented on #695
The issue persists now that React Native has been downgraded to `okhttp 3.6.0`. See [`3af9be5`].
 (https://github.com/facebook/react-native/commit/3af9be52b272b767b480ed4f989ddfd6146a56f8)

[2017-05-31 20:04] mkistler commented on #712
@kognate I am unable to reproduce the checkstyle errors in my environment.  Any thoughts on why?

[2017-05-31 20:05] mkistler commented on #659
Closing as invalid.

[2017-05-31 20:05] #659 closed

[2017-06-01 16:24] froesmatheus commented on #502
Hi, any news about the Websocket implementation? @germanattanasio

[2017-06-01 19:10] jeffpk62 opened #715 "Tone Analyzer ToneOptions Builder needs an includeSentences() that sets the parameter"
The `Builder` class of the `ToneOptions` class needs to have an `includeSentences()` method that accepts a boolean argument that indicates whether sentence-level analysis is to occur.  By default, sentences are analyzed.

[2017-06-02 06:45] djett41 commented on #174
Im getting this error using Java 8 and AlchemyLanguage.  Unfortunately I cant upgrade to the new Language Understanding API yet.  I can hit the Translation endpoint using the java sdk, but get the same error when making requests to any alchemy language endpoint

[code]

Is this a known issue or are there any suggestions @germanattanasio @g-may @jensleis ?  Thanks

[2017-06-02 13:29] jeffpk62 commented on #715
Fixed and merged.

[2017-06-02 13:29] #715 closed

[2017-06-02 13:47] germanattanasio commented on #174
@djett41 That's a problem with the server. It will get fixed without you modifying your code.

[2017-06-02 22:41] djett41 commented on #174
Great thanks @germanattanasio !

[2017-06-03 03:01] germanattanasio commented on #712
@mkistler I found that it depends on the JDK you are using.

[2017-06-03 03:02] germanattanasio commented on #502
I didn't have time to work on it. @yeta-io do you think you could write a PR?

[2017-06-06 16:15] leliseu opened #721 "[Retrieve & Rank] Error 500 - Internal server error"
Well, regarding the steps to reproduce the error, I don't really have a step-by-step, but here's what happened:
We have an application running on Bluemix since july 2016 and we using Retrieve & Rank API service.
Recently our API calls started returning error code 500 and we are unable to use our application right now. We openned a ticket to Bluemix support and they confirmed that this issue should

[2017-06-06 18:52] DigitalZebra commented on #686
Thanks for this @germanattanasio, unfortunately though this change removed the ability to configure a proxy server or similar for the Speech to Text service. We had been making use of the `configureHttpClient` method call in `WatsonService` to set up a proxy for the purposes of debugging, going through enterprise proxy, etc. Is there a new recommended way of doing this in light of the changes made

[2017-06-06 21:36] germanattanasio commented on #721
Hi @leliseu, Can you try updating your SolrJ dependency? can you also check if calling `listClusters()` works?

[2017-06-08 22:28] DigitalZebra opened #722 "[speech-to-text] Recent commit removed ability to configure OkHttpClient for services"
Hello,
We are currently using the ability to configure OkHttpClient in the method `WatsonService.configureHttpClient` to configure proxies and other settings needed before connecting to the speech to text service via the SDK. We noticed that this configuration API was removed with commit https://github.com/watson-developer-cloud/java-sdk/pull/690/commits/3e1c6b6e36c42ef132aea2e5dfadf1722305d941 to

[2017-06-09 16:12] germanattanasio commented on #722
My bad @DigitalZebra, I will work on this and get it fixed next week

[2017-06-09 16:27] DigitalZebra commented on #722
Thank you so much! We really appreciate it. Let me know if I can assist in any way.

[2017-06-09 17:31] germanattanasio commented on #722
If you can write a PR that will be awesome!

[2017-06-09 20:11] leliseu commented on #721
Hello @germanattanasio ! Sorry for the delayed response, I`ve updated the SolrJ and SolrJ-core both to version 6.5.1 and java-jdk is already at 3.8.0 but I still get the error code 500 while trying to get the collections from the clusters or any other call to our Retrieve & Rank service ...
listClusters() worked for almost a year, we haven`t changed anything on the code, right now it is returning

[2017-06-09 20:17] leliseu commented on #721
@germanattanasio Do you think it is possible to us to schedule a meeting or something so that we could work together and try to fix this real-time? My email is leliseu@br.ibm.com and I`m available from Monday to Friday from 9:00AM till 6:00PM GMT-3, message me if you need anything else!

[2017-06-14 20:10] leliseu commented on #721
After uploading it a few time to Bluemix it finally worked out! Thanks!

[2017-06-15 15:07] #721 closed

[2017-06-16 02:00] germanattanasio commented on #712
fixed in the previous pull request

[2017-06-16 02:00] #712 closed

[2017-06-16 02:12] germanattanasio commented on #705
Run `gradle tasks`

[code]

[2017-06-16 02:14] #656 closed

[2017-06-16 02:15] germanattanasio commented on #586
Hi @DimuthRuwantha sorry for the delay, do you think you can write a PR for this particular issue. It seems like you know how to fix it.

[2017-06-16 02:17] germanattanasio commented on #485
@jsmodic do you know which version of the SDK was the user using? I'm not able to replicate this on 3.8.0

[2017-06-16 02:18] germanattanasio commented on #434
I read this issue like 10 times and I'm still unable to understand the use case 😢 , @nadworny can you give me an example and also what you are doing now as a workaround.

[2017-06-16 02:20] germanattanasio commented on #497
@jeffpk62 can you reproduce this with the latest release 3.8.0? You can use the code above.

[2017-06-16 12:47] jeffpk62 commented on #497
@germanattanasio, I now get keyword results for all sessionless requests, both before and after creating the session.  I don't get keywords for the session-based request, just an empty array:

`      "keywords_result": {}`

So at least part of the issue appears to be resolved, since keywords are returned consistently as long as sessions aren't used.  I ran the test with the latest jar file with de

[2017-06-16 13:32] daniel-bolanos commented on #702
@androidfanatic , yeah, that is correct. For headerless audio the number of channels can be passed in the `content-type` the way you did. For file formats with a header, that info is in the header.

[2017-06-16 17:35] jsmodic commented on #485
I haven't heard anything of it again and no other customer has reported this, so we can probably consider this a closed issue for now.

[2017-06-16 17:35] #485 closed

[2017-06-16 22:11] #705 closed

[2017-06-16 22:11] #722 closed

[2017-06-19 00:13] germanattanasio commented on #708
This is not a problem with the SDK. See https://stackoverflow.com/questions/38703213/getting-org-springframework-expression-spel-spelparseexception-error-from-watson. You need to make sure special characters are escaped in the conversation nodes.

[2017-06-19 00:13] #708 closed

[2017-06-19 00:27] germanattanasio commented on #711
I can't reproduce this. The default behavior for GSON is to create an empty object.

`message.json`:
[code]
Use the code below in the `ConversationServiceTest` class:
[code]

Which version of the SDK are you using. Can you check with 3.8.0?

[2017-06-19 00:27] #711 closed

[2017-06-19 00:34] #702 closed

[2017-06-19 00:53] #707 closed

[2017-06-19 00:53] #709 closed

[2017-06-19 17:03] nimicent opened #727 "[Speech-to-Text] Stops in seconds for websocket transcription"
Hey guys this is Julia in Watson,

Since there is a possible NDA I cannot go into detail publicly and client has not had time to file issue due to migrating to Node from Java. I don't think they have done this process before so I can help with this and re-route the correspondence furthermore.

This is big migration and I think they prefer Java so it might save time to solve this issue for them.

E

[2017-06-20 21:05] dpowell1 opened #729 "Discovery readme needs to be updated"
Discovery `QueryOptions` should be changed to `QueryRequest` in the README.

[2017-06-21 13:13] dpowell1 opened #730 "Retrieve and Rank readme needs updating"
There is no such method `createSolrCluster`. How does one create a SolrCluster?

[2017-06-22 02:07] germanattanasio commented on #730
https://github.com/watson-developer-cloud/java-sdk/blob/master/retrieve-and-rank/src/main/java/com/ibm/watson/developer_cloud/retrieve_and_rank/v1/ClusterLifecycleManager.java#L31

[2017-06-22 02:07] #730 closed

[2017-06-22 02:09] germanattanasio commented on #729
The class name is `QueryOptions`
https://github.com/watson-developer-cloud/java-sdk/blob/develop/discovery/src/main/java/com/ibm/watson/developer_cloud/discovery/v1/model/QueryOptions.java

[2017-06-22 02:09] #729 closed

[2017-06-24 21:39] germanattanasio commented on #727
@nimicent I need the code and file you are using in order to reproduce the issue.

[2017-06-24 22:08] germanattanasio commented on #642
I've communicated this to the team working on Natural Language Understanding.

[2017-06-24 22:08] #642 closed

[2017-06-24 22:54] #586 closed

[2017-06-24 22:56] germanattanasio commented on #434
Closed due to inactivity.

[2017-06-24 22:56] #434 closed

[2017-06-25 07:42] DimuthRuwantha commented on #586
Thank you for the notification sir.
Even-though I couldn't write a PR due to busy schedules of my exams, I
could contribute to watson at-least by a word.
Regards.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-ema

[2017-06-28 20:29] zverbatim commented on #501
curious if any updates on this?

[2017-06-29 01:49] germanattanasio commented on #501
We are going to work on this soon. I would saw 2 weeks

[2017-07-03 14:05] shikida opened #733 "wrong code example"
at https://github.com/watson-developer-cloud/java-sdk/tree/develop/conversation

`ConversationService service = new ConversationService(ConversationService.VERSION_DATE_2017_03_02);`

should be

`ConversationService service = new ConversationService(ConversationService.VERSION_DATE_2017_02_03);`

[2017-07-03 16:46] nrudd commented on #174
Thanks @germanattanasio for your comments and work on this issue.  Any chance of a JDK 1.6 version of the latest release?  Looks like 3.3.1 was the last version you made this manual build for?

[2017-07-04 12:55] mkistler opened #736 "Integration test testUserAgent failing"
Integration test testUserAgent in `develop` branch is failing in Travis.

https://travis-ci.org/watson-developer-cloud/java-sdk/jobs/249804235

This is blocking all merges into develop.

[2017-07-04 13:57] mkistler opened #737 "Retrieve and Rank Integration Tests build failure"
In develop branch:

[code]

[2017-07-05 07:10] himadripr opened #740 "IllegalArgumentException: Unknown pattern character 'X' thrown in visual recognition api"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2017-07-05 07:12] himadripr commented on #740
![issue](https://user-images.githubusercontent.com/25811657/27853179-5fa68e6a-617f-11e7-9d38-483e55788ad1.JPG)

[2017-07-05 15:27] germanattanasio commented on #174
@nrudd This is a lot of work as I have to update the forked `okhttp` and `okio` to support 1.6
I have a lot of things on my plate if you can take the work of updating the two dependencies listed above I can update this library

[2017-07-05 15:54] germanattanasio commented on #740
That issue was fixed, See https://github.com/watson-developer-cloud/java-sdk/issues/681.

Please use the snapshot release while we work on 4.0

[2017-07-05 15:54] #740 closed

[2017-07-05 18:16] #737 closed

[2017-07-05 22:45] germanattanasio opened #741 "Use Jdiff to publish the API changes along with the javadoc"
See: http://javadiff.sourceforge.net/

Guava uses this in their release history: https://github.com/google/guava/wiki/ReleaseHistory

[2017-07-06 08:25] ghiringh opened #742 "[conversation] CreateDialogNode class uncomplete"
Hi,

The class named CreateDialogNode contains a private attribute dialogNode corresponding to the name or the title of the dialogNode. It is the only attribute present in the class and in the builder (intern class).

Example :
CreateDialogNode cdn = new CreateDialogNode.Builder().dialogNode("name").build();

This makes impossible to set the attributes :
- conditions
- context
- description
- goTo

[2017-07-06 14:08] germanattanasio commented on #742
We are working on this @ghiringh. See #732.

[2017-07-06 19:01] amalober opened #743 "[NaturalLanguageUnderstanding ] NoSuchMethodError in Java SDK"
I am trying to run the documentation example (with text instead of a url) like this:

[code]
and it immediately returns the error:

_Exception in thread "main" java.lang.NoSuchMethodError: com.ibm.watson.developer_cloud.http.RequestBuilder.query([Ljava/lang/Object;)Lcom/ibm/watson/developer_cloud/http/RequestBuilder;
	at com.ibm.watson.developer_cloud.natural_language_understanding.v1.NaturalLangu

[2017-07-08 17:26] tgrundmanis opened #745 "Is your team having problems checking code style?"
If your team is having issues checking code style, try out this automated code style review tool here: stickler-ci.com. Connect your repository and create a new pull request or update an existing one to see it in action!

[2017-07-14 00:13] ExtremoBlando opened #748 "[conversation] Why is the API Endpoint hardcoded?"
Using the latest java-sdk version, had to compile myself to replace
`private static final String URL = "https://gateway.watsonplatform.net/conversation/api"`
 with
` "private static final String URL = "https://gateway-fra.watsonplatform.net/conversation/api"`
 otherwise it would fail with 401 Unauthorized

Why is the API Endpoint hardcoded if there are several possibilities? I have the service pla

[2017-07-14 21:41] germanattanasio commented on #748
The default value is hardcoded, but you can replace it calling `setEndPoint()`

[2017-07-14 21:41] #748 closed

[2017-07-14 21:42] germanattanasio commented on #748
I think we can improve the README so that people know about this method. Do you think you can write a PR for that @ExtremoBlando?

[2017-07-25 13:40] BerndSerker opened #751 "[discovery] Create a new build of discovery sdk"
I need the sort and natural language options to be available in the SDK for a customer project. Could you please build a new Version and make it available on Maven? So far I have seen all the options needed are already in Development Branch. Thanks.

[2017-07-25 16:30] troyibm opened #752 "[speech-to-text] Getting RuntimeException: Malformed GUID: 'en-US_BroadbandModel' when using STT in Frankfurt and customizationID"
This has something to do with STT customization and the Java SDK as I don't get any problems with using the same STT service in Frankfurt without the customization ID.  But I also don't see this problem on iOS using the same service in Frankfurt WITH the customization ID.

This also isn't particular to the speechModel shown.  I've also tried the en-UK_BroadbandModel and get the same failure.

This

[2017-07-25 17:43] germanattanasio commented on #752
@lpatino10 this could be a good issue to start getting familiar with the SDK

[2017-07-26 03:48] zhang-w commented on #752
This was fixed by https://github.com/watson-developer-cloud/java-sdk/pull/735.

[2017-07-26 03:52] zhang-w commented on #752
The model option was used as the customization id, that's why it complained

"Malformed GUID: 'en-US_BroadbandModel'"

public WebSocket recognizeUsingWebSocket(final InputStream audio, final RecognizeOptions options,
      final RecognizeCallback callback) {
    ...
    ...

    if (options.customizationId() != null && !options.customizationId().isEmpty()) {
      **urlBuilder.addQueryParameter(CU

[2017-07-26 04:03] zhang-w commented on #752
@lpatino10 Sorry, Hope you get another starting point soon :-)

[2017-07-27 17:56] elamocaibm commented on #721
Did this problem just fixed itself? My team's experiencing the exact same issue.

[2017-07-28 16:46] #745 closed

[2017-07-28 16:47] germanattanasio commented on #751
@BerndSerker we are trying to release a new version in the meantime you can build a version with the code in `develop`.

[2017-07-28 16:47] #751 closed

[2017-07-28 16:49] germanattanasio commented on #743
@amalober can you try with the code in `develop` or `3.8.1-SNAPSHOT`

[2017-07-29 13:08] shikida opened #754 "[speech-to-text] websockets - Getting 500 Server Error while trying to recognize using custom model and websockets"
I've just created the custom model, added corpus and trained (400 words in the model). Model is available. Trying to recognize 2 minutes of audio from a FLAC file. Job worked with Watson default (not custom) model and also using the regular request (not using websockets).

Maybe Watson custom model is slower than the default one and the latency may be affecting the websockets timeouts?

So

this w

[2017-08-01 14:29] DigitalZebra commented on #754
Hi @shikida, increases in latency with 400 words should be very very minimal, so I don't think that's the issue. I would first verify that your corpus loaded and processed successfully. Next, I would make sure the model itself is in a good state. Take a look at this API: https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/#list_model

Does the response say that the model is in an avail

[2017-08-01 18:17] shikida commented on #754
The model seems ok.
[code]

[2017-08-01 18:27] DigitalZebra commented on #754
Do other custom models on your same service work correctly? I'd maybe try creating a new custom model, add a word or two, train it, and then test that one. It could be an issue with your specific Watson service as well maybe?

[2017-08-01 19:11] germanattanasio commented on #754
@shikida there was an issue around customization that was fixed in the SNAPSHOT release. Which version are you using?

[2017-08-01 19:44] shikida commented on #754
STT service was provisioned and model was created a couple of days ago, Watson SDK I am using the latest stable 3.8.0

[2017-08-07 16:51] germanattanasio opened #756 "Language Translator readme example is outdated"

[2017-08-07 16:52] vivekmalikymca opened #757 "Discovery : Not returning Passages."
I don't think we have option to enable passages in current sdk.
could you please add passages support.

** queryBuilder class doesn't have any method for passages just unlike count and filter
current option.
      queryBuilder.query(q);
      discovery.query(queryBuilder.build()).execute();

[2017-08-08 17:33] germanattanasio commented on #752
This is fixed and in `develop` will be released soon

[2017-08-08 17:36] germanattanasio commented on #754
IT's on sonatype. The readme describes how to connect your maven/gradle file to download the snapshot release.

[2017-08-09 12:29] YoungCholKim commented on #756
and please update API document examples at https://www.ibm.com/watson/developercloud/language-translator/api/v2/?java

it's for v3.4 or older.

[2017-08-10 20:41] lpatino10 commented on #757
This capability should be possible in version 3.8.0 of the SDK. It's possible as an option in the QueryRequest.Builder as shown here: https://www.ibm.com/watson/developercloud/discovery/api/v1/?java#query-collection

[2017-08-10 20:41] #757 closed

[2017-08-16 07:23] aximo opened #760 "the speech-to-text readme can not work"
follow the readme and test the most simple case but fail
i use this version
[code]

and my code
[code]
i down the simple1.wav from this git repo

and the error is
[code]

i also try it via curl, but with same error
[code]

any suggestion or help?

[2017-08-16 13:54] ScottChapman opened #761 "Please add complete NLU usage information"
NLU responds with a "usage" property that looks like:
[code]

To understand the cost of the request one needs to have the text_units and features. Right now I think we just get the features...

[2017-08-17 14:05] stefan-hering opened #763 "[visual-recognition] Metadata not added to images"
## Steps to reproduce

- Add image to collection with watson sdk with metadata (com.ibm.watson.developer_cloudvisual_recognition.v3VisualRecognition.addImageToCollection())
- Get image by querying api

## Expected behavior

- Metadata is returned alongside the image

## Actual behavior

- Metadata is not present on the returned image

## JDK version

- 1.8

## java-sdk version

Happens in both:
-

[2017-08-17 14:17] stefan-hering opened #764 "[visual-recognition] Adding an image does not return the added image"
## Action

- Add an image with the VisualRecognition.addImageToCollection method.
- The returntype of the ServiceCall is Void

## Problem

By returning void the generated internal id is not returned from the call. That means we cannot identifiy the image in watson anymore. If we need to delete the image, we do not know the internal image id, which is necessary for other calls.

When adding the ima

[2017-08-17 14:38] lpatino10 opened #765 "SDK Generation TODO - Conversation"
- [x] SDK needs to be updated to add dialog_nodes feature (no version date update)
- [x] Need to remove “additionalProperties” from messageResponse for generation
- [x] Working on ordering of methods — no functional change
- [x] Hand-coding still required for pagination support
- [x] Need tests for new dialog nodes endpoints

[2017-08-17 14:40] lpatino10 opened #766 "SDK Generation TODO - Discovery"
- [x] SDK needs to be updated to 2017-08-01 version date
- [x] Swagger updates in codegen/conversation in PR #146
- [x] A few hand tweaks to fix codestyle issues not handled by formatter
- [ ] Some hand-coded classes for query responses (this could be improved)
- [x] Need tests for new training data endpoints
- [x] Also need test for passages parameter on query

[2017-08-17 14:41] lpatino10 opened #767 "SDK Generation TODO - Language Translator"
- [ ] Swagger changes in codgen/language-translator PR to staging (#148)
- [ ] Updates in codegen/language-translator — need to merge (PR #759)
  - Removes mediaType parameters

[2017-08-17 14:43] lpatino10 opened #768 "SDK Generation TODO - Natural Language Understanding"
- [x] Need tests for limit_text_characters param

[2017-08-17 14:45] lpatino10 opened #769 "SDK Generation TODO - Personality Insights"
- [ ] Merge updated generated SDK for swagger changes in codegen/personality-insights
- [ ] Generated SDK is missing `getProfileAsCSV` method
  - Generator does not create multiple methods for an operation with multiple produces

[2017-08-17 14:46] lpatino10 opened #770 "SDK Generation TODO - Tone Analyzer"
- [ ] Merge updated generated SDK for swagger and generator changes in codegen/tone-analyzer

[2017-08-17 14:48] lpatino10 opened #771 "SDK Generation TODO - Visual Recognition"
- [ ] No obvious way to describe multiple file uploads of createClassifier
- [ ] Generated SDK has several issues
  - [ ] Excessive generated models: 45 vs 21 in hand-written SDK
  - [ ] Build errors in getImageMetadata, updateImageMetadata because response does not extend GenericModel
  - [ ] createClassifier will probably need to be hand-coded

[2017-08-21 14:04] lpatino10 opened #773 "Resolve "additionalProperties" in Conversation"
I need to research and implement a way to deal with "additionalProperties" on things like messageResponse. The idea right now is that a Gson TypeAdapter might be the way to go, so I'll look into that first.

[2017-08-21 14:09] lpatino10 opened #774 "Add tests for Query passages parameter in Discovery"
Need to add unit and integration tests for this.

[2017-08-27 20:17] germanattanasio commented on #760
Hi @aximo,

I just tested the `recognize()` method with the `sample1.wav` file in this repository and its working fine.

**Code:**
[code]

**Response:**
[code]

Can you try again?

[2017-08-27 20:17] #760 closed

[2017-08-27 20:35] germanattanasio commented on #736
Fixed in 5f42034a65d599b7136cdf30da3585e458f84745

[2017-08-28 01:50] aximo commented on #760
the same error is still existed, I use the sample1.wav at

https://github.com/watson-developer-cloud/java-sdk/blob/master/speech-to-text/src/test/resources/speech_to_text/sample1.wav

but it seems that the file format is not  right,

[2017-08-29 13:50] #754 closed

[2017-08-29 13:50] #756 closed

[2017-08-29 13:50] #763 closed

[2017-08-29 13:50] #764 closed

[2017-08-29 13:51] #736 closed

[2017-08-29 13:51] #727 closed

[2017-08-29 13:51] #733 closed

[2017-08-29 13:51] #752 closed

[2017-08-30 19:44] lpatino10 commented on #773
Changes have been made to the Java SDK repo and now just need to be added to the watson-swagger-codegen one

[2017-08-31 19:54] fabriziopisciottaibm opened #782 "Speech to text service launch a session time out when audio input stream is stopped using web sockets"
Basically I would like to stop the streaming after I receive a recognized text to call another api, and then start again when i process the response from that api. The reason i am doing this is to avoid sending audio to the service continously. The error I'm getting is as follows:

[code]

[2017-09-01 19:16] #773 closed

[2017-09-01 19:49] lpatino10 commented on #765
@mkistler, do you think we're done in terms of Conversation support or are there more things to be added?

[2017-09-01 23:06] mkistler commented on #765
I don't think we're completely done because pagination still requires hand-coding.  But until we get changes from the service, or come up with a completely new way to paginate, I don't see that changing.

[2017-09-05 13:28] germanattanasio opened #786 "Fix the deploy to github pages"
We could use https://gist.github.com/Maumagnaguagno/84a9807ed71d233e5d3f

[2017-09-06 14:31] #786 closed

[2017-09-06 19:44] #768 closed

[2017-09-06 19:45] #765 closed

[2017-09-12 18:31] joveval opened #797 "[speech-to-text] Websockets issue while using java SDK"
I've tried to use `recognizeUsingWebSocket` but when using it I just obtain a log message:
`2017-09-07 10:07:09.836 ERROR 13200 --- [WebSocketThread] .w.d.s.v.w.SpeechToTextWebSocketListener : Stop message discarded because WebSocket is unavailable`
And after that nothing more happens.

### Additional information
- [ ] Steps to reproduce:
`SpeechToText service = new SpeechToText();`
`service.setUs

[2017-09-12 20:05] germanattanasio commented on #797
@lpatino10 can you take a look at this?

[2017-09-12 21:09] lpatino10 commented on #797
If you are still having this problem, would you be able to provide more information on your `RecognizeOptions` or implementation details? I just ran the following code on my computer with the same JDK and java-sdk versions and I'm seeing the `onTranscription()` method being executed:

[code]

[2017-09-12 21:43] joveval commented on #797
I've added:
 `.interimResults(true)`
 `.inactivityTimeout(40)`
 `.contentType(HttpMediaType.AUDIO_FLAC)`
 `.inactivityTimeout(120)`
to `RecognizeOptions`
And now is working. Thanks for your help!

[2017-09-13 03:00] germanattanasio commented on #797
![selfie-0](https://i.imgur.com/2PabAv4.gif)

[2017-09-13 03:00] #797 closed

[2017-09-16 04:06] YingjiaLiu opened #798 "[Conversation] doesn't return the same order of entities when input different speechs"
SDK version: 3.9.1
VERSION_DATE_2017_04_21.
Please refer to Ticket #5377-13727509

When analyzing the entities in MessageResponse, the order for "she goes down a tunnel" get reversed.
Below is the entity list in `MessageResponse`.
[code]

[2017-09-18 17:35] lpatino10 commented on #798
The entities returned in `MessageResponse` don't come back in any particular order. They should be parsed based on the entity properties like `value` or `location`.

[2017-09-18 17:35] #798 closed

[2017-09-19 13:52] yuenghole opened #801 "Customization id in wrong format"
Hi, I have the code below:
[code]
and when I run, it shows the below error:

[code]
Please advice.

[2017-09-19 14:13] germanattanasio commented on #801
You are setting the parameters in the endpoint URL.
You should use the `RecognizeOptions` class.

[code]

[2017-09-19 14:13] #801 closed

[2017-09-19 16:30] yuenghole commented on #801
Hi,, thanks for info.

This is my code:

/*
 * Copyright 2017 IBM Corp. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distri

[2017-09-20 21:48] #513 closed

[2017-09-20 21:48] #514 closed

[2017-09-20 21:48] #515 closed

[2017-09-20 21:48] #516 closed

[2017-09-20 21:48] #519 closed

[2017-09-20 21:48] #571 closed

[2017-09-20 21:48] #582 closed

[2017-09-20 21:48] #583 closed

[2017-09-20 21:48] #742 closed

[2017-09-20 21:48] #766 closed

[2017-09-20 21:48] #767 closed

[2017-09-20 21:48] #769 closed

[2017-09-20 21:48] #770 closed

[2017-09-20 21:48] #771 closed

[2017-09-20 21:48] #774 closed

[2017-09-21 18:16] germanattanasio opened #805 "Use bumpversion to update readmes before a release"
https://github.com/peritus/bumpversion

[2017-09-25 20:39] #743 closed

[2017-09-27 13:44] gopikrishnagurram opened #806 "Training Conversation API through java coding"
Hi,
I want to train conversation api from java conversation client library, I want sample examples to create Entity,  Node conditions and responses. Is it possible, If yes how?

Thanks

[2017-09-27 15:21] germanattanasio commented on #806
Hi @gopikrishnagurram, You can use the Javadoc to learn about the SDK: http://watson-developer-cloud.github.io/java-sdk/docs/java-sdk-4.0.0/

You can also look at the documentation for Conversation: https://console.bluemix.net/docs/services/conversation/index.html

[2017-09-27 15:21] #806 closed

[2017-09-28 05:13] #805 closed

[2017-09-28 14:14] lpatino10 commented on #782
Would you be able to provide more of your code to give more context into what the problem might be? It's possible that the connection is not being closed properly, but I can't tell based on what you've written.

[2017-10-03 15:22] christianIreland opened #808 "[Watson Discovery Service] Exception in thread "main" java.lang.NoSuchMethodError: com.ibm.watson.developer_cloud.http.RequestBuilder.query"
Hi,
I am trying to use the SDK api to consume WDS Rest Services, in particular, I am trying to create new documents in a collection I have previously configured in my bluemix account.

Below is reported a code snipped of what I am doing:
[code]

When I try to run the code I get the following error:

Exception in thread "main" java.lang.NoSuchMethodError: com.ibm.watson.developer_cloud.http.Request

[2017-10-03 16:28] lpatino10 commented on #808
Hi, sorry for the issue you're having.

By java-sdk version at the bottom of your issue, do you mean that you've tested this and found it doesn't work on all of those versions? I just tested it myself using version 4.0.0 of the SDK and was able to add a document, so I was hoping for a bit more information if possible so that I can try and recreate this issue.

[2017-10-04 08:20] christianIreland commented on #808
Hi Thank you for your answer,
yes with the code snipped I included in the version I keep getting the
same error. I Have tested it with all the reported version, of course the
code for 3.8.0, 3.9.0, 3.9.1 is slightly different from what I used for
the version 4.0.0 because the APIs have changed.

The error message does not change it cannot find the query method.

In my environment I imported the SD

[2017-10-04 12:35] mkistler commented on #808
I don't know what's going on here, but the exception report you included looks very suspicious.

at com.ibm.watson.developer_cloud.retrieve_and_rank.v1.utils.DiscoveryServiceTest.main(DiscoveryServiceTest.java:34)

What is suspicious is that the Discovery service seems to be using code from the `DiscoveryServiceTest` in `retrieve_and_rank.v1.utils`.  Why that should _ever_ be the case is a mystery

[2017-10-04 12:57] christianIreland commented on #808
Hi Mike,
The code snippet included in the issue is with I use with 4.0.0. I will
include in this mail an image, maybe this can clarify. I have cleaned up
the code a bit more so it will look a bit different from what I originally
put in the issue on git.

The class called DiscoveryServiceTest is my class, so there is no test
code used from the SDK packages. I do have an old eclipse project called
r

[2017-10-04 15:38] christianIreland commented on #808
Thank you Mike for helping me on this issue. I have now noticed that in the code example you have ran, you were pointing to a different Maven repository location.

You point to:

<dependencies>
        <dependency>
            <groupId>com.ibm.watson.developer_cloud</groupId>
            <artifactId>discovery</artifactId>
            <version>4.0.0</version>
        </dependency>
    </dependencie

[2017-10-04 16:32] germanattanasio commented on #808
@christianIreland if you look at our integration tests there should be one for in-memory JSON objects.

See https://github.com/watson-developer-cloud/java-sdk/blob/develop/discovery/src/test/java/com/ibm/watson/developer_cloud/discovery/v1/DiscoveryServiceIT.java#L759

[2017-10-04 17:15] mkistler commented on #808
The dependency info I used came from the Discovery README.

https://github.com/watson-developer-cloud/java-sdk/blob/develop/discovery/README.md

Very glad we were able to pinpoint the problem in your code.

[2017-10-04 17:24] #808 closed

[2017-10-05 09:05] christianIreland commented on #808
Hi German,
thank you for your help and also thank you to your team. I am still a bit
confused and I would appreciate if you could help me to understand. I
noticed that the 2 libraries, as reported below, have the exact same
package structure for discovery service.

I believe this one also contains the API for other services. Is the
discovery artifact the one that will be officially maintained?  If

[2017-10-05 13:29] lpatino10 commented on #808
Both artifacts should be working correctly and will be maintained. I just double-checked this morning using both dependencies and was able to add a document to a collection in both cases.

The only difference between the two artifacts is that using just the `discovery` version, or another service like `visual-recognition`, limits you to using just that service's classes, whereas using the full `ja

[2017-10-12 15:41] magdielhf opened #810 "Add support for multi-part requests to core-sdk"
The current version of the core-sdk for apex supports only JSON, add support to multi-part request.

## Acceptance criteria

- [ ] Apex class to encapsulate files being uploaded.
- [ ] Multi-part request builder
- [ ] Successful file transfer
- [ ] Unit test coverage

[2017-10-12 16:03] #810 closed

[2017-10-12 16:06] magdielhf commented on #810
this issue belongs to the Salesforce SDK, closed.

[2017-10-13 19:58] germanattanasio commented on #761
Fixed.

[2017-10-13 19:58] #761 closed

[2017-10-13 20:01] germanattanasio commented on #695
@RobertWSaunders I think I'm going to close this. We need to use the `okhttp-3.8.0` because of an issue with the IBM TLS certificates. This should work once the `react-native` project updates their dependency

[2017-10-13 20:01] #695 closed

[2017-10-13 20:02] germanattanasio commented on #782
closing due to inactivity

[2017-10-13 20:02] #782 closed

[2017-10-20 15:23] jsharpetbscg opened #813 "[visual recognition] Possibly missing API calls (version 4.0.0 compared to 3.9.1)"
Hiya

The 3.9.1 API had the following API calls:

VisualRecognitionOptions vro = new VisualRecognitionOptions.Builder().images(tmpFile).build();
RecognizedText t = service.recognizeText(vro).execute();

The "VisualRecognitionOptions" and "RecognizedText" appear to have been remove/not present

Is this due to the closing of the Beta "find Similar"?

JoN

[2017-10-20 19:01] ayush2k opened #814 "[natural-language-understanding] Field missing in DocumentSentimentResults class"
Document field of  Sentiment analysis results doesn't include `label` field.
https://github.com/watson-developer-cloud/java-sdk/blob/develop/natural-language-understanding/src/main/java/com/ibm/watson/developer_cloud/natural_language_understanding/v1/model/DocumentSentimentResults.java

Based on the document of NLU, the document field should consist of Label and Score.
Example:
`{
"score": 0.12703

[2017-10-20 20:22] leliseu commented on #721
The problem fixed after I updated a few dependencies such as SolrJ and Solr-core

[2017-10-22 23:44] germanattanasio commented on #813
`recognizeText` was deprecated and that's why it's not in the SDK.
Check the API specification here: https://watson-api-explorer.mybluemix.net/apis/visual-recognition-v3

[2017-10-22 23:44] #813 closed

[2017-11-08 05:35] chethan-89 opened #817 "Create configuration is not working"
I am using the latest SDK version and was trying to create a configuration. The api documentation still does not reflect latest changes to SDK. I made the necessary changes and tried creating the configuration. But it is not working. Looks like the configuration created using GSON function is skipping the Enrichment options part from the config JSON file. Below is the code I used

[code]

[2017-11-08 16:14] germanattanasio commented on #817
@lpatino10 can you take a look at this when you come back from SF?

[2017-11-10 12:19] ysadam24 opened #818 "watson-developer-cloud/java-sdk SockertTimeoutException issue"
When I used watson-developer-cloud/java-sdk conversation version 4.0.0, We have encountered a problem with SocketTimeoutException.

I suspect that the excute method of the SeviceCall implementation generated by the createServiceCall method of the WatsonService class does not close after calling the excute method of OkHttp3.

### WatsonService.class
[code]
### okhttp3 - interface Call
[code]
Please

[2017-11-13 14:44] lpatino10 commented on #814
PRs to `develop` and `master` were merged.

[2017-11-13 14:44] #814 closed

[2017-11-13 15:02] lpatino10 commented on #817
I'm taking a look at this now. In the meantime @chethan-89, you should be able to create a configuration successfully by manually populating a `CreateConfigurationOptions` object. An example of this can be found in the `DiscoveryServiceIT` file in the `createConfigurationIsSuccessful` test.

[2017-11-13 16:12] lpatino10 commented on #817
@chethan-89 could you give more details as to what the issue is? Is your `EnrichmentOptions` object empty in your returned configuration?

I ran the method with the following configuration and got back everything in my response object. It could be that the configuration file format is different:

[code]

[2017-11-13 16:19] germanattanasio commented on #818
@ysadam24 What service and method are you trying to execute? We read the response and that close the socket. The only methods that aren't closing the response are the methods that return an `InputStream`

[2017-11-14 05:05] ysadam24 commented on #818
I am sorry. We found a closing part.

I have additional questions.

I created a service object on every request.
Could this be the cause of the problem?
Do I need to create only one service object, and do I need to share a service object on the per-request thread?

[2017-11-14 15:50] germanattanasio commented on #818
If you have only one instance you will only do the authorization dance once because the instance will reuse the cookies from the first request. That will save you 200ms for every subsequent request.

[2017-11-20 14:36] germanattanasio commented on #553
@lpatino10 we currently retrieve the credentials from a JNDI variable called `"watson-developer-cloud/" + serviceType + "/credentials"` We need to do the same for the service url using
`"watson-developer-cloud/" + serviceType + "/url"`

See https://github.com/watson-developer-cloud/java-sdk/blob/develop/core/src/main/java/com/ibm/watson/developer_cloud/util/CredentialUtils.java

[2017-11-27 16:45] scprotz opened #820 "Missing "continuous(Boolean b)" in RecognizeOptions of Speech-to-Text."
I was moving my code to the newest version of STT and it was complaining about the 'continuous(true) call in the RecognizeOptions.Builder() call.  I read through the source code and it is missing the function in 4.0.

Hope this can be added back soon, or a suggestion for a workaround (my quick 5 minute read of the class didn't suggest any alternatives to setting it).

here is my sample line of cod

[2017-11-27 19:02] mkistler commented on #820
The `continuous` parameter has been removed from STT recognize.  See this issue for the Swift SDK for some good information on how applications can adapt to this change.

https://github.com/watson-developer-cloud/swift-sdk/issues/632

[2017-11-27 20:19] #820 closed

[2017-11-27 20:20] germanattanasio commented on #817
closing due to inactivity

[2017-11-27 20:20] #817 closed

[2017-11-28 02:01] amaresh-rajasekharan opened #822 "[speech-to-text] HTTP - large set of keywords results in a error"
I am using HTTP Session based request to process multiple audio recordings through STT service.

I also use keyword lookup and set the keyword threshold. When I have large number of key words the request throws an error like the following:

Starts with "INFO: <-- 400 Bad Request"
Prints the whole request with all the parameters and the keywords, followed by the message
length exceeds the maximum l

[2017-11-28 06:19] mkistler commented on #822
The `recognize` method in the Java SDK uses the form of the `recognize` API that passes keywords as query parameters -- that is, as part of the URL.  All services impose limits on the length of the URL -- it seems that for STT this limit is 1024.

I strongly suspect that this issue is _not_ limited to the session-based form of the API, since the sessionless also passes keywords in the query string

[2017-11-28 12:47] scprotz commented on #820
If this is the case, then it needs to be documented in the sample on STT readme on github.

[2017-11-28 13:54] jeffpk62 commented on #822
See this section of the documentation:  https://console.stage1.bluemix.net/docs/services/speech-to-text/http.html#HTTP-multi.  It includes the following information:

The multipart approach is intended for two use cases:

- For use with browsers for which JavaScript is disabled. Multipart requests based on form data do not require the use of JavaScript.
- When the parameters used with the recognit

[2017-11-28 14:35] jeffpk62 opened #823 "Add customizationWeight parameter to Speech to Text trainCustomization() method"
In addition to appearing on the various recognize methods (via the RecognizeOptions object), the customizationWeight parameter can also be specified when a custom language model is trained.  The parameter needs to be added to the trainCustomization() method.

[2017-11-28 18:44] sheethalk opened #824 "Conversation - OutputData does not have nodes_visisted data"
com.ibm.watson.developer_cloud.conversation.v1.model.OutputData
This method should not use **`nodesVisited`** but should use **`nodes_visited`**

[code]

[2017-11-29 21:57] lpatino10 opened #825 "Fix URL construction in Java SDK to properly encode slash in path segments"
The Watson Java SDK does not properly encode slashes in the url path.  This is because the SDK constructs the url with `String.format` rather than using `HttpUrl`'s builder.

So for example, this works:
[code]
(Here I modified our RequestBuilder to accept an HttpUrl directly, rather than “parse” one from a string.)

The URL from this code is `https://do.not.use/v1/foo/foo%2Fbar/baz`

Our current a

[2017-11-29 22:29] lpatino10 commented on #824
Thanks for bringing this to our attention. The issue is actually something that needs to be fixed across the SDK so I'll start working on that first thing in the morning.

[2017-11-30 17:03] chethan-89 opened #826 "[Discovery] - Add/update configuration does not work"
I am using the latest Java SDK. I tried adding configuration to Discovery using Java API. But it is failing. Although the config is pushed to Discovery, when you try to open the configuration at Discovery UI it does not since the configuration is parsed and uploaded in an incorrect format.

After debugging for a while, I noticed that, when parsing local config Json, it is skipping options part of

[2017-12-04 14:31] lpatino10 commented on #826
This issue is currently due to the `EnrichmentOptions` model being incorrectly described in the API spec. As soon as this is resolved, I'll make the change in the Java SDK.

[2017-12-05 20:46] #824 closed

[2017-12-06 21:02] #553 closed

[2017-12-07 16:08] rhorsfal commented on #826
I have a PR for that I expect it to be merged later today.

[2017-12-08 16:46] lpatino10 opened #831 "Automatically upload release jars"
Upon new releases, the jar is generated but not automatically uploaded to the GitHub releases entry. This functionality should be added.

[2017-12-08 18:22] germanattanasio commented on #831
This is what you need

[code]

More info: https://docs.travis-ci.com/user/deployment/releases/

[2017-12-08 18:23] germanattanasio commented on #831
I think the file to upload is here: `java-sdk/build/libs/jar-with-dependencies-<version>.jar`

[2017-12-08 18:24] germanattanasio commented on #831
@jeffpk62 Hopefully this will fix the problem of having to upload the jar manually 👍

[2017-12-09 10:59] jeffpk62 commented on #831
@germanattanasio Thanks a lot!

[2017-12-13 18:35] asidd opened #835 "[WDS] Error reading the http response"
[code]

Error detail is like below.
[ERROR   ] Error reading the http response
java.io.EOFException
[err] java.lang.RuntimeException: Error reading the http response
[err]     at com.ibm.watson.developer_cloud.util.ResponseUtils.getString(ResponseUtils.java:110)
[err]     at com.ibm.watson.developer_cloud.service.WatsonService.getErrorMessage(WatsonService.java:284)
[err]     at com.ibm.watson.dev

[2017-12-14 17:05] lpatino10 commented on #835
I ran the provided code using multiple threads to query the Discovery News collection and managed to do it successfully.

With the error given, my assumption is that the problem has something to do with the specific data being queried. It's possible that that returned data is not being handled properly by the SDK, but I can't say for sure without looking at it. If there's any way you could give us

[2017-12-14 22:09] #831 closed

[2017-12-15 21:02] #826 closed

[2017-12-19 05:51] KyubeomKim opened #838 "[Visual_Recognition] Issue of authorization in dedicated environment."
Hi.
I found the issue of Authorization in Dedicated environment.

In our Visual Recognition Dedicated, the credentials are username and password. This is different from the public environment. (not API key)
However, we can't authenticate the user with the SDK 'setUsernameAndPassword()' method.
When this method is used, a 401 authentication error occurs.
We also changed the endpoint to our endpoint

[2017-12-19 13:38] lpatino10 opened #839 "Current Javadocs are not valid"
The current Javadocs generated with the code are not valid. We should update the generator to improve this or possibly look at something like JAutodoc.

[2017-12-19 14:39] lpatino10 commented on #835
After getting some of the data, my first assumption was that the issue had to do with parsing some of it properly. The data contains things like mathematical symbols and non-English characters.

However, I was still able to do a successful sample query, even using multiple threads. So at the moment, I'm still unable to pin down the source of the issue.

[2017-12-19 19:02] germanattanasio commented on #838
@lpatino10 ☝️ this is very important

[2017-12-20 09:26] asidd commented on #835
@lpatino10

 -The environment that dev team executed the query is the customer dedicated environment? or other public environment?
-How many threads are executed at same time. (Our case is 15 threads)
-How many results did the each query get from WDS?(Our case is 1000)
-Did they execute the queries repeatedly without sleep between each query?(The codes we provided are including 2.5 sec sleep betwe

[2017-12-21 22:38] asidd commented on #835
@lpatino10 @germanattanasio - update your progress here please.

[2017-12-22 00:16] lpatino10 commented on #835
1. I tested my queries above on my own, public environment.
2. I executed it using 3 threads.
3. In my first test just making sure that the `query()` method worked properly using multiple threads, I queried the Discovery News Collection and probably received a couple hundred results back. Using the customer's sample data, I only uploaded a small subset and received no more than 10-15 results back.

[2017-12-28 21:29] germanattanasio commented on #818
Closing since this is not an issue.

[2017-12-28 21:29] #818 closed

[2018-01-02 05:45] Hidetomi opened #841 "[natural-language-classifier]A certificate error occurs in Java 8 environment."
SSLHandshakeException occurs.
It is reproduced by sending a request to the API with jdk 8 u 144. It is reproduced in java version 9 as well.
The problem is that you are using the SHA1 algorithm on APIURL 's root certificate.
This problem is not a problem on the program, but because the program ends abnormally, it registers Issue.

[2018-01-03 17:54] #839 closed

[2018-01-04 15:28] #838 closed

[2018-01-05 14:40] lpatino10 commented on #835
Closing as this hasn't been able to be reproduced.

[2018-01-05 15:24] asidd commented on #835
@lpatino10 please reopen this as this is not resolved

[2018-01-08 16:40] MJonker opened #846 "[Conversation] Output.getText() gives error Expected STRING but was BEGIN_ARRAY"
I am running version : 4.2.1 of the SDK

When parsing this response:

[code]
**Versus an output that is smaller:**
[code]

[2018-01-08 17:04] MJonker commented on #846
I am using version: 2017-05-26 of the Conversation Service

[2018-01-08 18:48] lpatino10 commented on #846
Would you be able to post a stack trace of the error? This will help identify exactly where the problem is coming from.

[2018-01-09 16:56] lpatino10 commented on #841
Would you be able to give me any more information, like the code you're trying to run, the stack trace, and the version of the SDK you're using?

[2018-01-10 06:08] Hidetomi commented on #841
## Can be solved by the following method, is it mandatory to use jdk?
### file:
`java.security`
### edit(before):
[code]
### edit(after):
[code]

## Requested information
### using the version of the SDK
`3.7.1`
### the code(Excerpt):
[code]

### the stack trace:

[2018-01-10 08:36] MJonker commented on #846
StackTrace below
[code]

[2018-01-10 08:39] MJonker commented on #846
I understand that this is an edge case, but since the Watson Conversation Service is capable of producing this output, I hope you can fix this ?

[2018-01-15 14:35] germanattanasio commented on #835
closing due to inactivity

[2018-01-15 14:37] lpatino10 commented on #835
I've gotten in contact with the customer directly to work on the issue in their environment and will be investigating further.

[2018-01-15 15:08] germanattanasio commented on #846
`output` used to be something like
[code]

but now it's

[code]

[2018-01-15 15:09] germanattanasio commented on #846
Which `version_date` are you using?

[2018-01-15 15:11] germanattanasio commented on #841
This issue was fixed and should not be a problem if you use a version > 4.0.

[2018-01-17 19:05] Hidetomi commented on #841
I tried it with version 4.2.1.
This problem was not reproduced.
I appreciate your comment.

[2018-01-17 19:05] #841 closed

[2018-01-18 16:11] lpatino10 commented on #835
I've worked with the customer on their Discovery environment to try and pin down the issue, but was still not able to replicate it. If more details surface in the future, feel free to open a new issue about it. For now, I'm closing this one.

[2018-01-18 16:11] #835 closed

[2018-01-19 16:56] asidd opened #848 "[speech-to-text] | space is incorrectly encoded in URL"
# Expected behavior
White spaces are encoded as `%20` in URLs and `%2B` in forms submitted data (content type application/x-www-form-urlencoded)

# Actual behavior
Spaces are encoded as `%2B` in URLs and forms submitted data

# Example code

[code]

URL = `https://stream.watsonplatform.net/speech-to-text/api/v1/recognize?timestamps=true&keywords_threshold=0.5&keywords=latest%2Bwheather%252Ccolorad

[2018-01-22 07:43] pritish5 opened #850 "Does this tool support in xamarin studio for android as wel as for ios app."
Does this tool support in xamarin studio for android as wel as for ios app.

[2018-01-22 15:26] lpatino10 commented on #850
As far as I know, Xamarin Studio uses C#, meaning this SDK won't be compatible.

[2018-01-22 15:26] #850 closed

[2018-01-22 20:00] lpatino10 commented on #835
I've worked with the customer some more and determined that the error was caused by long query strings resulting in request URLs longer than 2000 characters. Someone from the Discovery team has told me they're aware of the limitation in their current `query()` implementation but don't have a current timetable for the change.

[2018-01-24 08:30] MJonker commented on #846
I tried all but the we want to use : .VERSION_DATE_2017_05_26.
But I think this really is an edge case, we only get this for this conversation we have not touched in a while. So this was more a letting you know kind of issue, than a "must be fixed" :-)

[2018-01-24 08:58] data-henrik opened #851 "README: Clarify and update "Running in Bluemix" and VCAP"
This should be updated to IBM Cloud and clarified that the automatic binding only works within Cloud Foundry.

[2018-01-25 16:03] germanattanasio commented on #846
I checked with the team, and this seems to be due to how you reply to the `output.text` to users. By default, it is an array of strings, but you can change that when you design your dialog

[2018-01-26 11:59] RogerioBaldiniIBM opened #854 "[discovery] java.lang.StackOverflowError when executing query with more then one aggr egation."
When executing this aggregation query:
[code]

Version 4.2.1
Thanks.

[2018-01-26 12:00] MJonker commented on #846
ok let's close this issue then..

[2018-01-26 12:00] #846 closed

[2018-01-26 19:13] germanattanasio commented on #854
There is currently a limitation where queries can only be up to 2000 characters. make sure your query is not longer than that

[2018-01-26 19:13] germanattanasio commented on #854
Related to #835

[2018-01-26 19:17] #851 closed

[2018-01-29 10:55] RogerioBaldiniIBM commented on #854
I am sure my query is no longer then 2000 caracteres...

[2018-01-31 08:22] FlatErik90 opened #855 "[conversation] nodes_visited_details option for message method"
IBM recently announced that a _nodes_visited_details_ option attached to the message method would invoke

[Release Notes](https://console.bluemix.net/docs/services/conversation/release-notes.html#release-notes)

According to the API Explorer, this option has to be added to the URL as `&nodes_visited_details=true`. But I don't see any way to do this via the Java SDK. So maybe there needs to be an a

[2018-02-07 22:03] germanattanasio opened #859 "Remove any reference to Language Translation"
### Acceptance Criteria

- [ ] Should not mention Language Translation unless is a deprecation notice
- [ ] Should not have code that sends requests to `language-translation`

[2018-02-08 16:57] germanattanasio commented on #859
Fixed in d126426153

[2018-02-08 16:57] #859 closed

[2018-02-08 16:58] germanattanasio commented on #854
Please provide a set of reproducible steps. Check the CONTRIBUTING.md for an example.

[2018-02-08 17:02] lpatino10 commented on #855
The newest major version of the SDK should be released in the next week or two, and this will include updates for all services, including the `nodesVisitedDetails` parameter.

[2018-02-09 17:48] lpatino10 commented on #823
This feature will be added with the upcoming 5.0.0 release 👍

[2018-02-09 17:52] lpatino10 commented on #822
Closing this issue as a solution was identified.

[2018-02-09 17:52] #822 closed

[2018-02-14 15:03] coderaviverma commented on #656
Hi,

I am getting same error with IBM Watson Speech to Text. I am using

I am getting speakerlabel as Null many a times. Can you please suggest me suggestion, how to resolve this.

[2018-02-19 16:45] atonetti opened #870 "[speech-to-text] Customization ID Not Being Used When Specified"
The Customization ID is not being used when it is passed into the RecognizeOptions object.  I was running the same file into the sessionless recognize audio code provided by the API and getting the exact same response in terms of confidence and transcription, regardless of whether I specified the  custom language model or not.  The model I was using was trained with a corpus of 1.7 million utteran

[2018-02-20 02:31] germanattanasio commented on #870
Thanks a lot for filing this issue! Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2018-02-20 20:50] lpatino10 commented on #870
I took a look and was able to reproduce the issue, both through the SDK and through cURL. We think it might be a service-related issue and are looking into it further.

I'll update with more information once we get it figured out on that side.

[2018-02-21 13:57] atonetti commented on #870
@lpatino10 Sounds great! Let me know.  @germanattanasio I would love to create the patch if I am allowed to.  My manager was really excited about me getting the chance to contribute to the SDK.  Don't know if you saw but I work for IBM Watson on the public sector implementations team so it would be a great experience to get under the hood of something that we use so frequently.

[2018-02-21 17:16] viniciuscarneiro opened #871 "[conversation] A certificate error occurs in Java 8 environment."
SSLHandshakeException occurs.
It is reproduced by spring boot autowing the Conversation with :

Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed

            <dependency>
                <groupId>com.ibm.watson.developer_cloud</groupId>
                <artifactId>watson-spring-boot-starter</artifactId>
                <version>0.1.0<

[2018-02-21 18:18] arla916 commented on #870
@atonetti The error "Cannot specify customization weight when not using customization" occurs when the custom model ID passed in doesn't exist.  Can you double check (using curl) that your custom model does indeed exist?

[2018-02-21 18:40] #871 closed

[2018-02-22 20:08] atonetti commented on #870
@arla916 When I was doing it cURL was working for me, it was just the Java SDK that was not working

[2018-02-22 20:42] arla916 commented on #870
@atonetti The error only occurs if the custom model doesn't exist so maybe the Java SDK is passing the wrong customization ID or deleting the custom model in error.  I don't think this is an issue in the STT service.  @germanattanasio

[2018-02-24 00:05] germanattanasio commented on #870
@atonetti can you provide the model id you are using? I would like @arla916 to validate that the model exists and see if he can reproduce the issue on his side.

[2018-02-27 13:50] atonetti commented on #870
7598974b-9f89-47aa-b433-f31cda792246

[2018-02-27 17:18] daniel-bolanos commented on #870
I just checked, the model does exist

[2018-02-27 18:35] arla916 commented on #870
@atonetti And you see the problem with this model, getting the same error as before when passing a customization_weight parameter?  @daniel-bolanos is the model in 'available' state?

[2018-02-27 20:38] daniel-bolanos commented on #870
yes it is in `available` state

[2018-02-28 14:50] atonetti commented on #870
@arla916 Yeah when I was using the Java SDK and trying to get the transcripts for an audio file there was no difference in the output (i.e. exact same transcription, same confidence scores, etc.) whether I was using the custom model or not.  I was using the sessionless audio transcription, I didn't try the other methods.  My suspicion was that the Java SDK wasn't passing the customization ID on to

[2018-03-07 11:18] FlatErik90 commented on #855
Is there any news about when the new major version is to be released?

[2018-03-07 15:38] germanattanasio commented on #855
This week.

[2018-03-08 21:59] smccants opened #889 "Incomplete documentation"
The JavaDocs for com.ibm.watson.developer_cloud.speech_to_text.v1.model.RecognizeOptions and com.ibm.watson.developer_cloud.speech_to_text.v1.model.RecognizeOptions.Builder are incomplete.  All the references to inactivityTimeout do not contain the units of the timeout.

It seems the units are seconds (based on the example, I expected milliseconds) based on this documentation:  https://www.ibm.com

[2018-03-08 22:02] germanattanasio commented on #889
I think we are having some issues with the script that publish the javadocs. We will take a look @smccants

[2018-03-08 22:07] smccants commented on #889
It seems to be missing in the code.  I think this is a trivial fix unless your java docs are generated through something more complicated.

[2018-03-10 17:24] pwcremin opened #893 "Could not find com.ibm.watson.developer_cloud:java-sdk:5.0.1."
[code]

My complete build.gradle
[code]

[2018-03-10 17:42] lpatino10 commented on #893
Unfortunately, we're currently having some issues with the Gradle deployment, so the library is not up on Maven Central yet. We're working to resolve the issue, but in the meantime, v4.2.1 will work.

I'll be sure to check back in when we get the release up.

[2018-03-12 18:23] lpatino10 commented on #893
Closing this issue as v5.0.1 has just been successfully released and should be up on Maven Central shortly.

[2018-03-12 18:23] #893 closed

[2018-03-12 18:24] lpatino10 commented on #855
Hey @FlatErik90, v5.0.1 has just been released and has the `nodesVisitedDetails` functionality. Thanks for your patience!

[2018-03-12 18:24] #855 closed

[2018-03-12 18:25] lpatino10 commented on #823
Closing as this feature is now available as of the v5.0.1 release.

[2018-03-12 18:25] #823 closed

[2018-03-12 18:27] lpatino10 commented on #889
Hi @smccants. The new documentation generated for v5.0.1 should have more complete, including the `inactivityTimeout` information you were looking for earlier.

With this update, I'm going to close this issue.

[2018-03-12 18:27] #889 closed

[2018-03-12 18:29] germanattanasio commented on #501
This should be fixed in `v5.0.1` You can now use an `InputStream`. Make sure specify the file name and contentType too

[2018-03-12 18:29] #501 closed

[2018-03-12 18:30] germanattanasio commented on #497
We deprecated session-based requests so I'm going to close this for now.

[2018-03-12 18:30] #497 closed

[2018-03-12 19:46] lpatino10 commented on #870
Just tested with the newly released v5.0.1 and I got the expected results. Running with a customization ID vs. without produced different results and passing in the customization weight did not throw any errors. It seems the issue has been resolved.

I'm going to close this issue for now, but feel free to reopen it if you upgrade and the issue isn't fixed @atonetti

[2018-03-12 19:46] #870 closed

[2018-03-12 21:09] lpatino10 commented on #854
Thanks for submitting this issue @RogerioBaldiniIBM.

Right now, the Java SDK only supports the following query aggregations: max, min, average, sum, histogram, and term. Unfortunately, attempting to use unsupported aggregations causes the program to crash, as you've realized.

I'll start work on supporting the rest of the aggregations and adding a working default aggregation for any future unsupp

[2018-03-14 15:33] atonetti opened #894 "[speech-to-text] Uploading Corpus Results in Junk Custom Words"
When using the SDK to upload a corpus file using either method (File or InputStream) it seems file properties, and other random strings are being added as custom words.  I ran this code to upload:

*Note: I removed my service credentials, but left my customization ID if you would like to verify*
[code]
Here is my output for uploading with File:
[code]
Here is my output for uploading with InputStre

[2018-03-14 18:55] lpatino10 commented on #894
That does seem to be some strange behavior... Thanks for bringing this up @atonetti. I'll start investigating soon.

[2018-03-16 16:19] #825 closed

[2018-03-16 16:19] #848 closed

[2018-03-18 21:10] udelblue opened #899 "Please update Readme for Speech to Text"
service.recognize only support one parameter
SpeechResults transcript = service.recognize(**audio**, options).execute();

[2018-03-21 13:09] lpatino10 commented on #899
Thanks for the catch @udelblue. This week I'll be sure and update this and a few other inconsistencies in the docs.

[2018-03-26 20:54] #899 closed

[2018-03-27 01:48] alpha-netzilla opened #904 "[Speech to Text] STT tool for WebSocket written in Java suddenly stops outputing."
If I use small size audio files, STT runs properly.
However, I use large size audio files(e.g. 50MB), this tool stops outputs on the way to transcribe.

I wrote a script at latest version(5.1.1) using the following updated procedures.
https://github.com/watson-developer-cloud/java-sdk/tree/develop/speech-to-text

e.g. output in my case
[code]

The output should continue.
Note: The messages of "Sto

[2018-03-27 22:17] elvists opened #905 "[text-to-speech] Call service with AudioFormat.WEBM_OPUS"
When executing this aggregation query:

E/WatsonService: POST https://stream.watsonplatform.net/text-to-speech/api/v1/synthesize?voice=pt-BR_IsabelaVoice&accept=audio/webm;%20codecs%3Dopus, status: 400, error: The query arguments [' codecs=opus'] must not be empty in voice=pt-BR_IsabelaVoice&+codecs%3Dopus=&accept=audio/webm%3B+codecs%3Dopus
E/Erro: The query arguments [' codecs=opus'] must not be

[2018-03-28 02:56] lpatino10 commented on #905
Hey @elvists, thanks for bringing this issue to light. It does seem that the space in the audio format was causing issues, since it was being passed as a query parameter.

As you've noticed, this has been fixed in versions >5.0 as the audio format is now always passed as a header. I've tested with and without the space and both work with the latest version.

I'm going to close this issue as it's b

[2018-03-28 02:56] #905 closed

[2018-03-28 02:58] lpatino10 commented on #904
Hi @alpha-netzilla, thanks for submitting this issue. I'll be sure to take a look at the cause of this problem as soon as I get the chance.

[2018-03-29 11:37] goxr3plus opened #906 "MicrophoneWithWebSocketsExample not working on v5.1.1"
On

[code]

1) method ```continuous(boolean)``` doesn't exist.

[code]

```recognizeUsingWebSocket(audio, options...)``` doesn't exists.

Please i am new using IBM products and this library generally , can you provide some explanation and help for this .

[2018-03-29 11:41] goxr3plus commented on #906
So for future users i have found the below solution , though i am not sure how corect it is:

[code]

[2018-03-30 15:28] mbesoft opened #907 "[Discovery-add document] : getting errors when adding documents to my collection by multithreaded calls"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2018-03-30 15:35] mbesoft commented on #907
I'm getting errors during ingestion of multiple documents : multhreaded calls (add docs) on :
-Lite version
- java sdk 5.1.1
- 20 thread adding docs simultaneously  - there 1500 threads in total
Getting the following error on more than 50% of my adds :
"Error during indexing. The document contains a field type that is different than one with the same name in other documents"
Please could you check

[2018-03-30 17:34] lpatino10 commented on #907
Hey @mbesoft. Looking at the error message you're getting, I found something that seems related in the troubleshooting section of the Discovery docs here: https://console.bluemix.net/docs/services/discovery/troubleshooting.html#troubleshooting

That being said, it doesn't say anything about how to work around the issue, so I'm not sure if this is helpful enough. I've reached out to the service tea

[2018-04-02 18:24] andrewrfreed opened #910 "[java-sdk] Cannot connect to Discovery API on Oracle JRE, can connect on IBM JRE"
I am trying to connect to https://gateway.watsonplatform.net/discovery/api
This works fine on IBM JRE 8.0, but does not work on Oracle JRE 8.0.

java-sdk version is 5.1.0

Oracle JRE version is 1.8.0_162-b12
IBM JREs version is 1.8.0_151 (build 8.0.5.6)

The error received is handshake_failure.
When trace is turned up very high I see a suspicious line:
Invalidated: [Session-1, TLS_ECDHE_RSA_WITH_A

[2018-04-02 20:04] lpatino10 commented on #907
The response I've gotten back is that it's up to the individual user to fix any type mismatches in their documents so that they may be ingested correctly. The link I posted previously gives a small example of what the problem is, so hopefully that's enough to resolve the issue.

As this isn't a problem with the SDK, I'm going to go ahead and close this issue.

[2018-04-02 20:04] #907 closed

[2018-04-03 18:42] guatson opened #911 "[Assistant] getWorkspace throws a java.lang.NoSuchMethodError"
[code]
I am converting my old working code from Conversation version 4.0.0 to Assistant 5.1.1 to be able to manage DialogNodes of "type":"folder".
This code was working well, the update API was throwing issues so I decided to convert to this version, but I am receiving  the following error:
[code]

I have check all my variable where not null,
- [ ] Expected behavior.  Get a WorkspaceExport object

[2018-04-03 18:44] germanattanasio commented on #911
Make sure you update all the versions including the `core` version.
Are you using gradle or maven?

[2018-04-03 20:33] guatson commented on #911
Maven, it bring all the libs.
Initially I used artifact java-sdk, then assistant only.
✌
I will try to download dependency manually, it seems the error is at
okhttp..while Is a debugging I was able to see only IBM sdk sourcecode...

El mar., 3 de abr. de 2018 15:44, German Attanasio <notifications@github.com>
escribió:

[2018-04-03 20:39] germanattanasio commented on #911
Can you share your `pom.xml` file?

[2018-04-03 21:07] lpatino10 commented on #911
It sounds like your `core` library isn't updated.

With the latest release, we added a new method to the `core` that every service method calls. I see it in the error message: `constructHttpUrl` in the `RequestBuilder` class. That's why my guess is that your updated `Assistant` class is trying to call that method, but your `core` isn't updated so it can't find it.

If you think the `core` should'v

[2018-04-03 21:18] guatson commented on #911
`<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<groupId>ConversationTools</groupId>
	<artifactId>ConversationTools</artifactId>
	<version>0.0.1-SNAPSHOT</version>
	<build>
		<sourceDirectory>src</sourceD

[2018-04-03 21:25] guatson commented on #911
![image](https://user-images.githubusercontent.com/22660771/38276700-43552cf8-376c-11e8-867e-dae43c639023.png)

[2018-04-04 13:08] andrewrfreed commented on #910
Using the java-sdk in WebSphere Liberty, I was able to get this to work by forcing a downlevel version of TLS.  (Desired version was SSL_TLS2)

<ssl id="myDefaultSSLConfig"
         keyStoreRef="defaultKeyStore"
         sslProtocol="TLSv1.1"/>

[2018-04-04 14:04] guatson commented on #911
I tried the following:

* Delete the .m2/repository folder
* Reload the dependencies, rebuild the project
* The issue persist.

What I am going to do:
* Create a new project solely for this simple test to call a Workspace.

What I found:
* When I run in Debug mode the source code is not really sync to the binaries, it shows lines in source code where there are comments...

[2018-04-04 14:14] lpatino10 commented on #911
I just created a new Maven project and used your `pom.xml` file with no issues, so I'm not sure off the top of my head what the problem is. Let me know if creating a new project still doesn't resolve the issue and we can investigate further.

[2018-04-04 15:39] lpatino10 commented on #910
Hey @andrewrfreed. Glad you were able to find a workaround for this for now.

I'm a little busy with things at the moment but I'll take a closer look at this issue as soon as I get the chance.

[2018-04-05 23:05] guatson commented on #911
Thanks to all, I've created a new project from scratch and worked fine...

[2018-04-05 23:05] #911 closed

[2018-04-06 14:12] mbesoft commented on #907
I'm opening the same issue again because it seems that the problem is not related to the file type ...

I uploaded 10 documents --> got the this error : "Error during indexing. The document contains a field type that is different than one with the same name in other documents" on 3 of them (only 7 were ingested)

I deleted the collection, tried again with 20 docuements (the previous ones and ten o

[2018-04-09 10:30] mbesoft opened #915 "[Discovery-add document] : getting errors when adding documents to my collection by multithreaded calls"
I'm opening the same issue again (#907) because it seems that the problem is not related to the file type ... it happens randomly.

I uploaded 10 documents --> got the this error : "Error during indexing. The document contains a field type that is different than one with the same name in other documents" on 3 of them (only 7 were ingested)

I deleted the collection, tried again with 20 docuements

[2018-04-09 19:12] germanattanasio commented on #915
Hi @mbesoft, It seems like you are getting the error when using the tooling too.
Let me get someone from the @watson-developer-cloud/discovery team to help you here.

[2018-04-10 13:55] jeanlange commented on #915
## What's going on

Hi @mbesoft - The issue isn't with the /file/ type. It's about the /field/ type of one or more of your fields. What's happening is that one document gets ingested first, and that sets the schema for the index - and then a future document is ingested and doesn't match the schema, so it throws that error.

That's what [this documentation](https://console.bluemix.net/docs/services

[2018-04-10 14:05] mbesoft commented on #915
Now everything's clear !
Many thanks for your help @jeanlange and @germanattanasio .

[2018-04-10 15:34] #915 closed

[2018-04-10 15:34] germanattanasio commented on #915
Thanks @jeanlange

[2018-04-13 13:42] #854 closed

[2018-04-23 20:12] germanattanasio commented on #741
@chohanbin if the build passes and we publish the API Diff then we can close this issue

[2018-04-26 18:08] djett41 commented on #174
@germanattanasio It seems that the server cert issue has resurfaced.  anyone aware of this?

[2018-04-26 18:49] germanattanasio commented on #174
@lpatino10 can you look at 👆

[2018-05-07 08:33] changemyminds opened #932 "[java-sdk] IBM Watson APIs Java SDK use token authentication fail"
I have some problem.  I use Watson APIs Java SDK and my Authentication was use function setUsernameAndPassword(username, password), but now I want to use [Tokens for authentication](https://console.bluemix.net/docs/services/watson/getting-started-tokens.html#tokens-for-authentication).

my "Username and Password" Code
[code]
it work fine.

Tokens for authentication
[code]

get the error code
[code

[2018-05-07 13:41] lpatino10 commented on #932
Hey @changemyminds. I just checked myself and it seems that this form of authentication works fine with other services, so it might just not be supported by the Assistant service. I'm going to get more details to verify and I'll get back to you. The code you've written looks fine though.

[2018-05-07 13:53] lpatino10 commented on #932
Hey @changemyminds. I just checked myself and it seems that this form of authentication works fine with other services, so it might just not be supported by the Assistant service. I'm going to get more details to verify and I'll get back to you. The code you've written looks fine though.

[2018-05-07 15:44] lpatino10 commented on #932
Alright I've got a workaround @changemyminds.

Due to the Conversation -> Assistant rename, there seems to be an issue with authorization using the new name. Therefore, once you get your authorization token, you can use the `setEndPoint()` method to call the Conversation endpoint, like so:

[code]

Assistant is just an alias for Conversation internally so your API calls should work the same. Let m

[2018-05-08 02:09] changemyminds commented on #932
Method-1
Get token by url https://gateway.watsonplatform.net/assistant/api
[code]
Use token
[code]

Method-2
Get token by url https://gateway.watsonplatform.net/conversation/api
[code]
Use token
[code]
Thanks for your answer. It work fine for me. But there have two method for use token, which method is better ?

[2018-05-08 15:05] lpatino10 commented on #932
If you're using the Assistant service, I think it makes more sense to use the first method. Like you said though, both are essentially equivalent.

Since this has been resolved, I'm going to go ahead and close this issue.

[2018-05-08 15:05] #932 closed

[2018-05-23 11:42] balakrishnanitw commented on #503
{
   "owner": "5b65fb45-5c04-4381-b4d7-9f778a89ff6e",
   "base_model_name": "en-US_BroadbandModel",
   "customization_id": "1cd859d1-a522-4001-b8e0-e3e3637b48e1",
   "versions": ["en-US_BroadbandModel.v2017-11-15"],
   "created": "2018-05-18T10:07:39.606Z",
   "name": "EVA acoustic model",
   "description": " VOICE EVA custom acoustic model",
   "progress": 0,
   "language": "en-US",
   "error": "

[2018-06-01 19:02] germanattanasio commented on #894
We have identified the problem. It's related to how we build the request. We will be working on a fix @atonetti.

Sorry for the delay!

[2018-06-04 15:28] lpatino10 commented on #741
Unfortunately, the changes we made don't quite work yet. Hopefully fixes in #949 will let us close this.

[2018-06-14 04:42] changemyminds opened #953 "[java-sdk] IBM Watson Assistant MessageResponse issue"
I have some problem.
On some mobile phones (version 7.0, ASUS_Z012DA), I found that if I let the phone standby for about ten minutes and then resume the phone and execute the following code it will wait three minutes before going to the exception. Is Assistant class have timeout function?
Or I need to check time if the following code waits a long time then interrupt and resend it.
I think it is a

[2018-06-18 16:33] germanattanasio commented on #953
What's the error? Can you add the logs from the simulator?

[2018-06-18 17:33] germanattanasio commented on #741
I'm looking at http://watson-developer-cloud.github.io/java-sdk/apidiff/ and I don't think it's working 🤔

[2018-06-18 17:34] germanattanasio commented on #894
@lpatino10 I think this was a problem that @jeffpk62 found and was related to the swagger and the generated code.

Do you know if it was fixed in the last release?

[2018-06-18 17:37] germanattanasio commented on #906
Hi @goxr3plus sorry for the delay.

You are right. We were documenting an old version of this SDK in March. Since last week we switched to generate the documentation along with the SDK so this won't happen again.

[2018-06-18 17:37] #906 closed

[2018-06-18 17:39] germanattanasio commented on #910
@andrewrfreed how did you downgraded the TLS version? did you do that in the http client using `configureHttpClient()`?

[2018-06-18 17:41] germanattanasio commented on #904
@alpha-netzilla can you provide the code for the script you are using so that we can reproduce this issue on our end?

Can you also try with the latest version of the SDK after enabling the logging as described [here](https://github.com/watson-developer-cloud/java-sdk#debug)?

[2018-06-18 19:40] andrewrfreed commented on #910
I no longer have access to the code repo but I think that's exactly what I did.

[2018-06-20 05:46] alpha-netzilla commented on #904
I used the sample code below using the latest version of the SDK after enabling the logging.

WebSocket support
https://github.com/watson-developer-cloud/java-sdk/tree/develop/speech-to-text

I changed only one place.
[code]
Note: The myAudio.wav is a large size audio file(e.g. 50MB).

However, the problem I pointed out has not been solved. The SDK suddenly stopped outputs with no error message.

[2018-06-22 08:39] changemyminds commented on #953
Sorry. I can't repeat the issue to get the error log.  Because it work fine now.
So I think it is network issue cause by special cell phone.

[2018-06-22 14:51] germanattanasio commented on #953
Cool. I'm going to close this issue then. Feel free to re-open it

[2018-06-22 14:51] #953 closed

[2018-06-29 21:06] lpatino10 opened #959 "Dynamic variables set to null are not returned from/sent to API"
Currently, there's an issue where dynamic variables set to `null` are not serialized/deserialized properly when interacting with the API. An example of this is that the following `Workspace` object:

[code]

would not have its `dynamic_var` successfully passed to the Assistant service. Similarly, we wouldn't get this property in our Java object if it was set this way in the UI.

[2018-07-02 11:20] VRudzins opened #961 "Update your documentation guys, will you ?"
Hi guys.
I am making a Watson Workspace app that uses Discovery Service to extract passages of text that have particular String in it and display them and the headers they were under to the user.

At some point I needed to implement a way for user to upload a new document to collection. After 3 days  I finally did that, the app recognizes the files posted in space, downloads the file and posts it

[2018-07-02 14:37] jsstylos commented on #959
Yes, we should probably prevent this in the Assistant v2 API (setting to null should be equivalent to removal).

[2018-07-03 02:00] germanattanasio commented on #959
I agree with Mike and Jeff.

I'm closing this since it's working as designed

[2018-07-05 16:30] mkistler commented on #959
Null is not an object.  If the behavior you want is to reset the context to be empty, the service should send an empty object.
[code]

[2018-07-05 17:17] jsstylos commented on #959
Is the issue with `context` itself being null or variables inside `context` being null? `context` itself should never be null.

[2018-07-09 17:44] mkistler commented on #959
Just had a chat with AndyS and I understand the issue better now.  There are legitimate use cases for explicitly encoding `null` _within_ application objects (e.g. to support JSON merging).  We need to think about how use can support these use cases with the SDKs.

[2018-07-09 21:51] lpatino10 commented on #961
Hey @VRudzins, thanks for the feedback.

I've created a PR to update our code examples, which is referenced in this issue. As far as I can tell, this should bring all of the code examples in this repo up to date.

If I've missed something or you'd like me to get in contact with a different team about their documentation being outdated, please let me know.

[2018-07-09 22:03] #961 closed

[2018-07-11 06:08] EKInnovationLab opened #965 "Socket Exception: Connection reset Exception."
We have observed sometimes we are not getting response from IBM Watson conversation service API. We checked logs and found Socket Exception: Connection reset Exception. Below are the logs for reference.

JDK Version used: 1.8
code snippet

[code]

Logs:

[code]

[2018-07-12 07:00] arajwade commented on #959
Can you please provide an ETA for fixing this defect?
This has been filed by Support based on a use case from a BMC developer.

Thx.
--- Abhijit Rajwade
BMC Software

[2018-07-12 13:40] germanattanasio commented on #965
This is not a problem in the SDK but an issue with the service. `Connection reset` means the other side of the TCP conversation abruptly closed its end of the connection.

[2018-07-13 19:52] lpatino10 commented on #959
I can't provide an ETA quite yet @arajwade but I'll get back to you when we have something concrete in mind.

[2018-07-29 19:31] germanattanasio opened #971 "Does the maintainer of this repo have instagram?"
## Acceptance Criteria
- [ ] The maintainer should create an instagram account
- [ ] The username should contain `Logan`

[2018-07-29 19:31] germanattanasio commented on #971
any progress on this?

[2018-07-29 19:34] apropos13 commented on #971
We need the results ASAP please

[2018-07-29 19:36] germanattanasio commented on #971
![giphy](https://user-images.githubusercontent.com/313157/43369976-b93571c0-937f-11e8-8e2e-99c39e6d5282.gif)

[2018-07-29 19:46] lpatino10 commented on #971
Done 🎉🎉🎉

[2018-07-29 19:46] #971 closed

[2018-07-30 16:09] foward opened #972 "Error in the Documentation"
https://github.com/watson-developer-cloud/java-sdk#default-headers

[code]

The headers is a Map of String and String and you are giving an Integer ... so is that a "1" or a "true" ?

please correct,

Thanks

[2018-07-31 13:35] mamoonraja commented on #971
Job Well done 🍾

[2018-07-31 19:01] lpatino10 commented on #972
Good catch! It should be "true" for clarity. I'll be sure to make the change in the release this week.

[2018-08-03 15:11] stevengassert94 opened #974 "Determine who the most handsome employee in IBM Watson Cambridge office is"
## Description
- in order to further progress the features and usability of this SDK, we must determine who the most handsome employee in IBM's Watson Cambridge location is so that our development team may stop pondering this question and return to work.

## Acceptance Criteria

- [ ] the most handsome employee has been determined.

[2018-08-03 15:12] stevengassert94 commented on #974
until I have the correct permissions, please assign this issue to @germanattanasio

[2018-08-03 15:18] germanattanasio commented on #974
I will be working on this today. I hope to find him soon

[2018-08-03 15:39] germanattanasio commented on #974
After some research I'm confident to say that the most handsome employee in IBM Watson Cambridge office is **Steven Gassert**.

I'm closing this as completed

[2018-08-03 15:39] #974 closed

[2018-08-07 20:43] #972 closed

[2018-08-10 04:11] devzip8 opened #976 "[discovery_data_crawler] InvalidKeySpecException occurred when using Discovery data crawler with Box."
I would like to crawl BOX and upload files to Discovery by using the Data Crawler.
I reffered to the link below and configured BOX crawl options.

https://console.bluemix.net/docs/services/discovery/data-crawler-seeds.html#configuring-connector-and-seed-options

When I executed "crawler testit" cmd, the following error happend.
(Some Japanese are included.)

At first, I asked IBM Cloud support.
Th

[2018-08-10 13:30] germanattanasio commented on #976
@bruceadams do you know someone that can help with the issue above?
It's not a problem in the SDK.

[2018-08-10 13:52] bruceadams commented on #976
Yes. I'll get the more eyes on this question.

An alternate that I strongly recommend using is the new _Connecting to Data Sources_ feature in Discovery, see: https://console.bluemix.net/docs/services/discovery/connect.html#connectbox

[2018-08-16 18:28] ShreeyaJoshi opened #978 "STT compiling issue in Android Studio for WebSocket (microphone)"
Hi,
I am trying to implement STT for Android device using java-sdk (Android-SDK is built on old Java-SDK so some of the functionality which we require is missing, so trying with latest java-sdk).
When I tried implementing Microphone example provided in STT, getting compilation errors for package javax.sound.sampled.* (which includes AudioFormat, DataLine, AudioSystem, etc).
Looks like these classe

[2018-08-17 00:42] devzip8 commented on #976
Thanks for your information.
I referred to the URL and finally I could crawl files from Box into Discovery.
Because I have new questions about the behaviour of crawling, I'll ask IBM Cloud support again.
I close this issue.
Thank you.

Sincierly,

[2018-08-17 00:42] #976 closed

[2018-08-21 17:14] lpatino10 commented on #904
Hey @alpha-netzilla. The latest release `v6.5.0` addresses some issues with WebSockets and I think might clear up this issue of large files. Maybe this will work for you.

If you try, let me know if it helps.

[2018-08-22 16:51] lpatino10 commented on #894
It has not been fixed yet, but I just identified the issue. I'll have a fix for it in the next release, which is scheduled for 8/21.

[2018-08-23 00:16] lpatino10 commented on #894
It looks like it is just an issue with how the file parameter is definined in the swagger and how it's generated in Java. I can send you a link privately @mkistler.

[2018-08-29 05:59] alpha-netzilla commented on #904
I confirmed that the issue has been fixed.
Thank you for promptly handling the matter with care.

[2018-08-29 17:46] #904 closed

[2018-08-29 18:07] lpatino10 commented on #894
This change should be fixed in the [newest release](https://github.com/watson-developer-cloud/java-sdk/releases/tag/java-sdk-6.5.1), so I'm going to go ahead and close this.

[2018-08-29 18:07] #894 closed

[2018-09-18 20:02] lpatino10 opened #987 "Issues with WebSockets and custom language models"
Two different issues have been found while using the `recognizeUsingWebSocket()` method on a custom language model in `v6.6.0` of the SDK.

In one instance, the `onTranscription()` method is never hit and the WebSocket connection times out, even though the audio file being tested was ~15 seconds long with no pauses.

In the other, the WebSocket connection disconnects and closes immediately, but wo

[2018-09-24 19:36] lpatino10 commented on #987
After investigating more, it seems that the second case (immediate closing) was invalid and was just user-error on my part 🙂

I still need to figure out how to reproduce the first issue.

[2018-09-29 09:31] DhruvUpadhyaya opened #990 "how to resolve "No Text Given error""
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, pl

[2018-10-03 15:11] lpatino10 commented on #990
Hi @DhruvUpadhyaya. Could you please post a snippet of the code you're trying to run and a copy of the error? It will help my diagnose the issue.

[2018-10-04 06:51] lavanya-lnt opened #991 "WatsonSTT- Converting the byte code from Python to InputStream gets slow response"
We receive 1024 CHUNK from Python to Android. In Android we append in one Array and convert it to InputStream. We send this InputStream to STT service from which we receive a slow response. Please find the code snippet below:

[code]

- Android-sdk version 0.4.3
- java-sdk version 6.7.0

[2018-10-07 23:18] germanattanasio commented on #991
@lavanya-lnt can you provide the steps to reproduce the problem? Maybe even a docker image we can use here.

[2018-10-07 23:19] germanattanasio commented on #990
Not reproducible in the latest release. Please re-open this issue if it still occurs, with a set of reproducible steps. Check the CONTRIBUTING.md for an example.

[2018-10-07 23:19] #990 closed

[2018-10-08 00:12] germanattanasio commented on #741
is this working @lpatino10?

[2018-10-08 00:12] germanattanasio commented on #965
Not reproducible in the latest release. Please re-open this issue if it still occurs, with a set of reproducible steps. Check the CONTRIBUTING.md for an example.

[2018-10-08 00:12] #965 closed

[2018-10-08 00:14] germanattanasio commented on #910
I just tested the latest release with the Oracle SDK and it worked. I don't think this was an SDK issue. I think it's related to the component in our platform that handles the TLS handshake.

@andrewrfreed feel free to reopen if this still occurs

[2018-10-08 00:14] #910 closed

[2018-10-08 06:07] lavanya-lnt commented on #991
Steps: We are transferring the audio stream from Python using the following code
stream = p.open(format=FORMAT, channels=CHANNELS, rate=RATE, input=True, frames_per_buffer=CHUNK)
    print("* recording")
    c.send("STR")
    for i in range(0, int(RATE / CHUNK * RECORD_SECONDS)):
            data = stream.read(CHUNK)
            c.send(data)   # Sending audio Stream to client
    c.send("STP")

[2018-10-08 14:18] germanattanasio commented on #991
Can you write `myInputStream` into a file and reproduce it correctly?
What type of audio are you saving, mp3, wav?

When you say "We receive late response from STT", what's `late`? 1 second? 10 seconds? 1 month? 1 year? 1 decade?

From the Python code, I can't see the `CHANNELS` or `FORMAT`.

I need to understand what you are trying to send to the server and how you are using the SDK in order to h