[2018-10-08 16:05] rball1 opened #992 "Another 'Unable to find acceptable protocols.' error"
I'm using the latest Watson java SDK (6.0) in a web service to communicate with Watson Assistant. Running in WAS version 9. This was working before the change of Watson to TLS1.2
I get the following error:
[code]

I've enables TLS1.2 in WAS and tried various ConnectionSpec settings.
[code]

[2018-10-08 22:13] germanattanasio commented on #992
Check doing something like this: https://github.com/cloudant/java-cloudant/pull/220/files and setting the http client configuration in the watson service class

[2018-10-09 14:41] mkistler commented on #959
It had fallen off the radar -- thanks for bringing it back up.  This is something we need to solve in a consistent way across all the SDKs.  I'll open an issue in our planning repo for this.

[2018-10-09 20:42] lpatino10 commented on #741
Nope, still not working 😕

[2018-10-16 06:59] yashpatel001 opened #996 "conversation is not entering into child node in Android Application"
[code]

### Conversation API : 6.7.0
### Android sdk : 0.4.3
### java sdk : 3.9.1

How to enter into child node suggest me?

[2018-10-16 15:30] jsstylos commented on #959
Okay, digging more the issue is that null values are used to unset variables, and so you might legitimately want a dialog node that clears a value. Is there a link to an issue on (de)serialization of null value objects? Is there some other sentinel value we can use and wrap the base serializer?

[2018-10-21 14:36] mymitedu opened #997 "android.os.NetworkOnMainThreadException crashed Android App"
Error in using Natural Language understanding API.
[code]

[2018-10-22 04:48] yashpatel001 opened #998 "IBM Watson Text to speech taking 2-4 seconds."
IBM Watson TTS Service taking 2-4 second

Expectation: Response time should be 1 second

[code]

compile 'com.ibm.watson.developer_cloud:java-sdk:6.8.0'
TTS version 6.8.0
android sdk 0.4.3

Requirement:  Like STT Service i want TTS Also using websocket or any other method to get less response time like 1 seconds.

[2018-10-22 18:34] lpatino10 commented on #998
Hey @yashpatel001. Unfortunately, we currently don't have SDK for using the `synthesize()` method with WebSockets.

That being said, I just tried your code snippet and got the resulting file in under a second consistently. Are you still seeing this delay? If so, it might've been a temporary slowness with the service. Also, if you're actually making this call in a larger app as opposed to just the

[2018-10-23 03:53] yashpatel001 commented on #998
Thanks @lpatino10 when TTS Will come using websocket anything update will come or not soon??

[2018-10-23 14:33] lpatino10 commented on #998
There are no current plans on implementing WebSocket support for TTS in the SDK. It's been talked about briefly but not prioritized.

[2018-10-24 03:36] yashpatel001 commented on #998
@lpatino10 Thanks,
So we cant achieve TTS Response time within a 1 second??

[2018-10-24 03:36] yashpatel001 commented on #996
@lpatino10 Thanks it is working fine

[2018-10-24 11:29] mymitedu commented on #997
[code]
JAVA SDK = java-sdk-6.8.0-jar-with-dependencies.jar
minSdkVersion 21
targetSdkVersion 27

[2018-10-24 12:49] #996 closed

[2018-10-24 13:01] lpatino10 commented on #998
As far as I know, you should generally be able to get that response time unless you're trying to convert a really large piece of text. Like I said originally, I tested the code snippet you posted locally and it was synthesized almost immediately.

If you are working with larger blocks of text, it's possible you could do something like breaking the text up and asynchronously synthesizing the smalle

[2018-10-24 13:04] #997 closed

[2018-10-26 11:13] mjpradeep opened #1000 "conversation+discovery java code is not working"
I am trying to run the sample java Watson conversation with discovery service in my IBM account. I have created the java app and added the service details in environment variables and tried to deploy the code but getting below error. please let me know what is the cause for this issue.

[code]

FAILURE: Build failed with an exception.

What went wrong: A problem occurred configuring root project '

[2018-10-29 02:28] germanattanasio commented on #1000
Hi @mjpradeep,

It looks like you are trying to use an application(`https://git.eu-gb.bluemix.net/anil.narayanaswamy002/tnchatbot.git`) that uses this SDK and it's based on https://github.com/watson-developer-cloud/assistant-with-discovery

That application was archived and we don't support it anymore.

I'm closing this since this is not a problem with the SDK

[2018-10-29 02:28] #1000 closed

[2018-10-29 02:28] germanattanasio commented on #992
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2018-10-29 02:28] #992 closed

[2018-10-29 02:29] germanattanasio commented on #998
Duplicate to #987.

We need to add WS to Text to Speech

[2018-10-29 02:29] #998 closed

[2018-10-29 04:17] yashpatel001 commented on #998
@germanattanasio Thank you
so your team will develop WS Text to speech right?

[2018-11-12 16:13] l2fprod opened #1003 "[assistant] Endpoint is set to visual-recognition/api if not specified explicitely"
Take this code:

[code]

This output:
[code]

Yes visual-recognition!!!

This is using `com.ibm.watson.developer_cloud:assistant:6.9.1` on Android

Looks like the issue comes from this code:
https://github.com/watson-developer-cloud/java-sdk/blob/master/core/src/main/java/com/ibm/watson/developer_cloud/service/WatsonService.java#L342 and side effect of https://github.com/watson-developer-cloud/jav

[2018-11-12 16:33] germanattanasio commented on #1003
If the user specifies the `setApiKey()` we update the URL to be
[code]

I think what you want to use is set the IAM apikey using `setIamCredentials()`

[code]

I'm going to close this since it's not an issue.
Once all our VR users move to IAM we will deprecate/remove `setApiKey()`

[2018-11-12 16:33] #1003 closed

[2018-11-13 13:03] milenkara opened #1004 "[speech-to-text] EOFException during audio file processing"
I am developing application that utilizes IBM speech to text feature. For that purpose I am using Java API. For some files `BaseRecognizeCallback` interface is called with `onError` method, with `java.io.EOFException` with message set to `null`. This happens when I call speech to text with some larger files.

- [x] Steps to reproduce:
In order to reproduce this issue, I used your example project,

[2018-11-14 07:51] VidyasagarMSC opened #1005 "[speech-to-text] Interim results set to true but seeing final results"
I have set the .interimResults(true) for Speech to Text new RecognizeOptions.Builder()
but still seeing the final results than interim results

When reporting a bug, please be sure to include the following:

I have used the examples code and set the interimResults to true. But when I check the response I always see this

{
      "result_index": 0,
      "results": [
        {
          "alternativ

[2018-11-14 10:57] jeffpk62 commented on #1005
@VidyasagarMSC Just a couple of quick comments:

- Interim results are available _only_ with the Speech to Text WebSocket interface.  So if your calls are to the HTTP speech recognition methods, you should not be able to get interim results.
- When you get interim results with the WebSocket interface, you also get final results.  So once you enable interim results, you'll get both interim and fina

[2018-11-14 13:00] lpatino10 commented on #1005
Good catch @VidyasagarMSC. Both points @jeffpk62 made are true, but it should still be there. I'll add it and release a fix as soon as possible.

[2018-11-14 13:51] lpatino10 commented on #1004
Hey @milenkara, thanks for your submission. I was able to successfully replicate your issue and am looking at writing a fix for it. I'll update this when I figure it out.

[2018-11-14 19:47] #1004 closed

[2018-11-14 19:47] #1005 closed

[2018-11-14 21:19] lpatino10 commented on #1004
@milenkara just wanted to let you know that the fix for this issue is part of the latest release. Thanks again for your submission!

[2018-11-14 21:19] lpatino10 commented on #1005
@VidyasagarMSC just wanted to let you know that the fix for this issue is part of the latest release. Thanks again for your submission!

[2018-11-15 15:40] grale88 opened #1007 "[Speech-To-Text] Bad_record_mac when analyzing big audio file"
I am developing java application that uses speech to text analysis. When I run a big file (~60Mb) on local machine, everything goes fine. When I perform the same analysis on testing environment I get "bad_record_mac" fatal error in "onError" callback. When we run some smaller file (couple of Mb) on test environment everything is fine. I know this is insufficient information for now but I'm wonderi

[2018-11-16 11:45] grale88 commented on #1007
Just to leave a comment that upgrade of OS from Ubuntu 16.04 to 18.04 resolved this problem.

[2018-11-18 19:16] germanattanasio commented on #1007
I'm glad that you were able to solve the issue @grale88. I guess it was related to the libraries to manipulate the audio. I'm going to close the issue but it will be there for future users running into the same issue

[2018-11-18 19:16] #1007 closed

[2018-11-18 19:18] germanattanasio commented on #991
This issue has no reproducible steps. Please re-open this issue if it still occurs.
Check the CONTRIBUTING.md for an example.

[2018-11-18 19:18] #991 closed

[2018-11-19 06:14] yashpatel001 opened #1008 "How to update Variable value in IBM Watson Assistant v1 Dialognode respone"
{
  "output": {
    "text": {
      "values": [
        "$(data)good morning"
      ],
      "selection_policy": "sequential"
    },
    "txcom": 1
  }
}

How to update data register value in Dialognode response using Watson Assistant v1 API using JAVA

[2018-11-19 14:56] germanattanasio commented on #1008
@yashpatel001 did you look at the examples in the example folder? There should be one related to this and how to send the context back in subsequent messages

[2018-11-19 14:56] #1008 closed

[2018-11-19 16:08] germanattanasio commented on #987
It looks like `customization_id` is being used even that it was deprecated. See https://github.com/watson-developer-cloud/java-sdk/blob/master/speech-to-text/src/main/java/com/ibm/watson/developer_cloud/speech_to_text/v1/websocket/SpeechToTextWebSocketListener.java#L58

![image](https://user-images.githubusercontent.com/313157/48719400-69393980-ebeb-11e8-9bf8-ba070c8015f7.png)
https://www.ibm.com/

[2018-11-21 15:51] MJonker opened #1010 "[visual-recognition] Inputstream option in detectFaces does not detect images"
- [ to reproduce use this code]
[code]

- [  Expected behavior ]
[code]
- [  Actual behavior]
[code]
- [ JDK version 8]
- [ java-sdk version 6.9.3 (and 6.51)]

[2018-11-26 19:56] jsstylos opened #1011 "Better error message for invalid urls"
When attempting to set a url of "{https://gateway.watsonplatform.net/natural-language-understanding/api}" the SDK throws a null pointer exception instead of returning a more useful error message.

A small fix would be to catch null pointer exceptions due to invalid urls and treat them similarly to valid but unreachable urls.

Another, somewhat larger change would be check for and remove surroundin

[2018-11-26 19:58] jsstylos commented on #1011
See https://stackoverflow.com/questions/53462871/ibm-watson-natural-language-understanding-java-null-pointer-exception/53487466

[2018-11-30 21:12] lpatino10 opened #1012 "Passing user defined context in Assistant v2"
Currently, there's an issue with generating the Watson SDKs in which a model for the Assistant v2 context is not generated.

There's also a service limitation which requires that the skill in the user-defined context **must** be called `main skill`.

That being said, here's an example of how to pass user-defined context in Assistant v2:
[code]

[2018-11-30 21:12] #1012 closed

[2018-12-04 12:31] msogrin opened #1013 "Use Java 8 CompletableFuture or Reactive Streams API"
https://github.com/watson-developer-cloud/java-sdk/issues/255 has added reactive support by utilizing a `CompletableFuture` class from `jersey-jsr166e`.

However, there's a standard [java.util.concurrent.CompletableFuture](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/CompletableFuture.html) class in Java 8, which is the better match from compatibility perspective.

There's also [

[2018-12-07 19:04] lpatino10 commented on #1013
Hey @msogrin, thanks for bringing this up. I've fallen behind on these standards a bit honestly so it's good to know that this might be worth looking into if it's confusing.

I'll do some research and update here, so I'm going to go ahead and leave this open in the meantime.

[2018-12-09 18:15] Cidkinneas opened #1017 "[speech-to-text] websockets : java.io.EOFException when using Header "Transfer-Encoding chunked""
Hi,

When using the SpeechToText with header "Transfer-Encoding chunked" okio return an java.io.EOFException.

When I ommit it, the response is ok (I receive transcription results)

Full Trace :
[code]

Source Code:

            Map<String, String> mapHeaders = new HashMap<>();
            mapHeaders.put("Transfer-Encoding", "chunked");

            SpeechToText speechToText = new SpeechToText(opt

[2018-12-10 15:11] lpatino10 commented on #1017
Hey @Cidkinneas. The `Transfer-Encoding` header isn't supported in the WebSocket version of `recognize` because the `WebSocket` implementation already sends data piece-by-piece instead of all at once.

It'll work fine in the normal `recognize()` method, but if you omit that header in your code above, you should still get the results you're looking for.

[2018-12-13 15:11] zlogic opened #1018 "HttpLoggingInterceptor logging level may cause an exception when uploading files"
It appears that increasing the log level may cause issues with uploading files.

How to reproduce:
1. set the ```com.ibm.watson.developer_cloud.util.HttpLogging#LOG``` level to ```ALL```
2. Call a Watson service with which uploads a file, for example the [Visual Recognition](https://console.bluemix.net/apidocs/visual-recognition?language=java#detect-faces-in-images) service:
[code]

`HttpLoggingIn

[2018-12-13 15:36] zlogic opened #1019 "Custom TLS configuration cannot be disabled or modified"
`HttpClientSingleton#setupTLSProtocol` configures TLS/SSL when creating an `HttpClientSingleton` instance. It's not possible to disable this (and just use the default SSL context/socket factory) or to provide a custom TLS/SSL configuration.

[2018-12-13 15:58] zlogic opened #1020 "Unnecessary changing the com.ibm.jsse2.overrideDefaultTLS system property"
The `HttpClientSingleton#setupTLSProtocol` method sets the `com.ibm.jsse2.overrideDefaultTLS` system property to `true`.

However this method only modifies the SSL configuration for a `HttpClientSingleton` instance, and the global SSL configuration remains unaffected.

1. This may result in unexpected behavior if the user specifically launched the JVM with a `-Dcom.ibm.jsse2.overrideDefaultTLS=fal

[2018-12-14 21:32] lpatino10 commented on #1019
Hey @zlogic. You're correct that currently there's not much configuration available in this area: it's either use what we're setting or disable SSL verification altogether.

Would you be able to explain your use case a bit to understand your desire to configure this? "Configurability" is always a nice option, but we like to limit that ability in the SDKs apart from crucial configuration options. A

[2018-12-14 22:06] lpatino10 commented on #1020
Hey @zlogic, I appreciate the input. We had an issue a while back with some handshake exception causing issues in Oracle JDK 7 and this seemed to fix it, but it's very possible that it was a misguided solution.

I'll do some more research and take another look at it.

[2018-12-17 09:34] zlogic commented on #1019
Hi @lpatino10, I've had issues with running the Watson Java SDK in a Java container with a custom security policy. This policy has a whitelist of System Properties which can be read or written.

The `HttpClientSingleton#setupTLSProtocol` method was throwing a security exception (caused by  #1020) and made it impossible to initialize an `HttpClientSingleton` instance.

So one way of fixing this cou

[2018-12-17 21:19] vperrinfr opened #1021 "[Assistant V2] Truncated output in MessageResponse in Java SDK"
I have in a dialog node with a custom JSON output with that content:
[code]

And, I want to retrieve the dialog node response of Watson Assistant.

- Expected behavior
I want to retrieve the content of the output field with all the content.
in Java SDK Assistant V1, it works fine.

I have also tested with Node.Js Assistant V2 and I have that result:
[code]

- Actual behavior

But in fact, with Jav

[2018-12-18 15:20] lpatino10 commented on #1021
@vperrinfr thanks for submitting this. I'll take a look at reproducing this soon. Just to check before though, are you using the same workspace for the Node and Java calls?

[2018-12-18 15:31] vperrinfr commented on #1021
Yes, I can share the four files (2 in Node, 2 in Java) I have written to test. I can even give you my skill json if you want.

[2018-12-18 15:48] lpatino10 commented on #1021
@vperrinfr that would be very helpful!

[2018-12-19 19:59] lpatino10 commented on #1021
@vperrinfr I just opened a PR to fix this that I've linked to this issue. The PR explains how to grab the keys that were previously missing.

Once that's merged, just be on the lookout for a patch release to resolve this problem.

[2018-12-20 14:56] #1018 closed

[2018-12-20 14:57] #1021 closed

[2018-12-24 10:35] #1019 closed

[2019-01-16 09:32] instakarlo opened #1029 "[WDS][Discovery] Error / Exception when using Watson Discovery Crawler"
I followed everything from here: https://console.bluemix.net/docs/services/discovery/data-crawler.html#adding-content-with-data-crawler

But when I run the crawler, I get the following error:
[code]
Here is my java version:
[code]

Anyone knows how to fix?
Thank you!

[2019-01-16 16:57] lpatino10 commented on #1029
Hey @instakarlo, sorry about the issue. Would you be able to tell me what version of the SDK you're using to help try and diagnose the issue?

[2019-01-17 08:02] instakarlo commented on #1029
Hello @lpatino10, sorry not sure what SDK you need

Are you talking about the crawler version?
I am using this:
[code]

If for java, the version is
[code]

The libraries are located here:
[code]

Let me know if this is the info that you need.
Thank you!

[2019-01-17 14:08] lpatino10 commented on #1029
Sorry @instakarlo, I mean the version of the SDK in this repo. Or are you not using the SDK?

If you're not, I don't think I'll be able to help much personally, but I can try and ask around.

[2019-01-17 14:41] germanattanasio commented on #1029
@bruceadams is this something you can help us with? There is an issue in the crawler, but I don't know where that code is.

[2019-01-17 16:46] roxanoula commented on #1029
Can you please run the crawl in debug mode and attach the full log file.
Also, if you can send me the config files too, that will be useful.

[2019-01-21 02:30] instakarlo commented on #1029
@lpatino10 is there an instruction on how to install this on RHEL?
Thank you!

[2019-01-23 15:38] roxanoula commented on #1029
@instakarlo i am taking a look at this problem. Meanwhile you should remove your credentials from the files you posted.

[2019-01-23 15:49] instakarlo commented on #1029
@roxanoula thank you so much!! :)

yup all the credentials/DB info were all masked, they are not the real values.

[2019-01-24 17:17] mahernan opened #1034 "[Compare and Comply] public: Java SDK failing to parse an element classification output"
[Compare and Comply] public service. Java SDK.

To reproduce:
- The contract that produced this error will be send internally.
- Try to load and parse it using the Java SDK

The customer saw this:
[code]

[2019-01-24 17:18] mahernan commented on #1034
More information (from the customer):
[code]

[2019-01-28 21:31] lpatino10 commented on #1034
We're planning on an SDK update this week. I'll look at this issue to package along with the other updates.

[2019-01-29 14:24] lpatino10 commented on #1034
Hey @mahernan, just wanted to circle back and say that I was able to successfully reproduce the issue and identify the bug. I'll give you an update again when the fix is out!

[2019-01-30 01:33] #1034 closed

[2019-01-30 19:44] lpatino10 commented on #1034
@mahernan I just released the v6.13.2 update to Maven Central, so it should be available soon with the fix for this issue. Thanks again for the catch!

[2019-02-06 17:48] lpatino10 opened #1038 "v7.0.0 goals"
Hey everyone,

Soon (within the next month or so), we plan to release **v7.0.0** of the Java SDK. We wanted to create this issue to get feedback on features/changes the community might want to see with this release. If you see suggestions from others or in the list we already have that you agree with, please give a thumbs-up to help drive development for those items.

Here's what we're already pla

[2019-02-07 18:09] germanattanasio commented on #1038
Remove the code to parse the error which includes alchemy stuff

[2019-02-11 06:14] instakarlo commented on #1029
@roxanoula just wondering if you have found any solution for this?
thank you!

[2019-02-11 10:58] prokulit06 opened #1039 "I tried to use this in android and I get an error like this"
I tried using java sdk to create an app audio file to text by the way i am using android and i use your example

SpeechToText service = new SpeechToText();
service.setUsernameAndPassword("<username>", "<password>");

File audio = new File("src/test/resources/sample1.wav");

RecognizeOptions options = new RecognizeOptions.Builder()
  .audio(audio)
  .contentType(HttpMediaType.AUDIO_WAV)
  .build();

[2019-02-11 11:02] prokulit06 commented on #1039
I tried this also but the same error

SpeechToText service = new SpeechToText();
service.setUsernameAndPassword("<username>", "<password>");

InputStream audio = new FileInputStream("src/test/resources/sample1.wav");

RecognizeOptions options = new RecognizeOptions.Builder()
  .audio(audio)
  .contentType(HttpMediaType.AUDIO_WAV)
  .interimResults(true)
  .build();

service.recognizeUsingWebSocket

[2019-02-11 14:39] lpatino10 commented on #1039
@prokulit06 this is another case of needing to understand Android development a bit better before trying to use the SDK.

On newer versions of Android, the OS prevents you from making network calls on the main thread to make sure the UI is responsive. The docs for this error can be found [here](https://developer.android.com/reference/android/os/NetworkOnMainThreadException) and they link to a full

[2019-02-11 14:39] #1039 closed

[2019-02-15 12:59] prokulit06 opened #1040 "Error in android speech to text"
[SpeechToText service = new SpeechToText();
service.setUsernameAndPassword("<username>", "<password>");

InputStream audio = new FileInputStream("src/test/resources/sample1.wav");

RecognizeOptions options = new RecognizeOptions.Builder()
  .audio(audio)
  .contentType(HttpMediaType.AUDIO_WAV)
  .interimResults(true)
  .build();

service.recognizeUsingWebSocket(options, new BaseRecognizeCallback()

[2019-02-15 13:07] lpatino10 commented on #1040
This has already been answered in [this issue](https://github.com/watson-developer-cloud/java-sdk/issues/1039). Please read up on documentation in that response.

[2019-02-15 13:07] #1040 closed

[2019-02-26 15:41] lpatino10 opened #1041 "Error making IAM-authenticated calls on Android"
Pulled from https://stackoverflow.com/questions/54862363/ibm-watson-asynchronous-requests-fail

Newer Android OS versions prevent users from making network requests on the main thread to improve UI responsiveness. When users call our APIs through the Java SDK and use one of the asynchronous forms of execution, that satisfies that requirement and allows everything to run.

The issue posted above is

[2019-03-01 19:20] lpatino10 commented on #502
Added in [v6.10.0](https://github.com/watson-developer-cloud/java-sdk/wiki/Changelog#version-6110) 🎉

[2019-03-01 19:20] #502 closed

[2019-03-01 19:22] #1017 closed

[2019-03-11 12:58] lpatino10 commented on #959
Taking a look at this for the upcoming major release. It does look like using `serializeNulls()` will at least handle those cases in this SDK so I think I'm going to make that change unless there are strong thoughts otherwise.

[2019-03-11 12:59] lpatino10 commented on #987
Closing as it looks like this was just user-error on my part.

[2019-03-11 12:59] #987 closed

[2019-03-11 13:10] lpatino10 commented on #1010
Sorry @MJonker...this _really_ fell through the cracks.

The issue is actually still present in the latest version of the SDK. The workaround is that if you're supplying an `InputStream`, you need to set the `imagesFilename` on the builder as well, but that's pretty counterintuitive since you don't have to for the `File`.

It's on my list for upcoming `v7.0.0` changes/fixes. Sorry again for missin

[2019-03-11 13:11] lpatino10 commented on #1011
Closing as this was fixed in [v6.11.2](https://github.com/watson-developer-cloud/java-sdk/wiki/Changelog#version-6112)

[2019-03-11 13:11] #1011 closed

[2019-03-18 17:11] lpatino10 commented on #1010
Just looked at this more closely and it actually _is_ expected behavior.

When users pass in a `File`, we set the filename automatically as a convenience because we can pull the name from that `File` object. This isn't something we can do with an `InputStream`.

I do still think we could do something small to mitigate this confusion, but it's not something high on the priority list right now. I've

[2019-03-18 17:11] #1010 closed

[2019-03-22 10:31] davidmeredith opened #1046 "Difference in turn_count if you request the context is returned for conversation_start special condition."
Hi there,
I've encountered a difference in behaviour when invoking a dialog that defines a 'conversation_start' special condition depending on whether you request the context is returned (or not). It appears that returning the context on the first request invocation produces a different turn_count value compared to when you don't request the context is returned. The test below demonstrates this. I

[2019-03-22 13:29] germanattanasio commented on #1046
@davidmeredith did you try this with the `Try it out` feature in Assistant?

[2019-03-22 16:36] davidmeredith commented on #1046
I don't see the issue using the `Try it out` tab in Assistant UI, but couldn't that be down to a number of reasons? E.g. does 'Try it out` tab in the Assistant UI use the java sdk under the hood?  if true, does it not request the context is returned when making the first request to the conversation_start node akin to my 2nd call of `executeNewDialogSession`?  Either way, is my assumption correct i

[2019-03-28 18:14] camrschuette opened #1048 "[assistant] customer id parameter when sending message"
When sending a message through either version of the assistant service, having a parameter available to set that header in the request would be useful instead of using the `addHeader` function on the `ServiceCall` class.

For example: the `Assistant` class in the v2 package, the `message` function could set both the analytics header and optionally the `X-Watson-Metadata` header with the customer i

[2019-03-28 21:20] #959 closed

[2019-03-28 21:20] #1013 closed

[2019-03-28 21:20] #1020 closed

[2019-03-28 21:20] #1041 closed

[2019-03-28 21:21] #741 closed

[2019-03-28 21:24] lpatino10 commented on #1038
Closing as `v7.0.0` is in the process of releasing now!

[2019-03-28 21:24] #1038 closed

[2019-03-29 10:25] akyong opened #1051 "Cannot use getResult on Voices [TextToSpeech]"
[code]

[2019-03-29 10:34] lpatino10 commented on #1051
Is this like like this in your code or just a typo?
[code]
Otherwise, have you upgraded to `v7.0.0` where this is introduced?

[2019-03-29 11:42] lpatino10 commented on #1051
Sorry @akyong, it seems like the installation instructions didn't get fully updated in the README. I'm fixing that up now.

[2019-03-29 12:06] akyong commented on #1051
sorry, you are right, i must upgrade it to v7. thank you

[2019-03-29 12:36] lpatino10 commented on #1051
@akyong it looks like there were some problems with the release entirely actually 😞  I would stick to `6.14.0` for now until things get resolved.

[2019-03-29 15:33] lpatino10 commented on #1051
@akyong Things are resolved for the most part now. If you'd like to use `v7.0.0`, just be sure to follow the new installation instructions since they're a little different: https://github.com/watson-developer-cloud/java-sdk#installation

[2019-03-29 15:33] #1051 closed

[2019-03-30 00:00] jchblsc opened #1053 "Download Jar here link is broken 7.0.0"
Download Jar here link is broken 7.0.0

[2019-03-30 14:09] lpatino10 commented on #1053
Whoops, thanks for the heads up! It should be fixed now.

[2019-03-30 14:09] #1053 closed

[2019-04-01 03:46] akyong commented on #1051
@lpatino10  thank you 👍

[2019-04-02 19:23] jchblsc opened #1054 "C&C - IBM Cloud Java API Doc does not match source or SDK JAR"
Specifically for C&C, the Java API doc on IBM Cloud references the primary class as CompareAndCompy whereas the actual implementation is CompareComply - as reflected in the source on this GitHub site and in the SDK JAR.

[2019-04-02 19:31] lpatino10 commented on #1054
Hi @jchblsc, thanks for pointing this out to us! I'll let the right people know to get that changed and clear up any confusion.

[2019-04-02 19:32] lpatino10 commented on #1048
Hey @camrschuette, thanks for the feedback. Just for my understanding though, would you be able to give some sort of pseudocode example or more concrete explanation as to how your request would be different? I'd just like to get an idea of how useful this could be.

[2019-04-02 19:52] lpatino10 commented on #1046
Hey @davidmeredith, thanks for the detailed description of the issue and the code sample. After taking a look it does seem strange to me as well.

I've reached out to the team who manages that actual API to try and confirm whether or not that's unexpected behavior before trying to debug anything. I'll keep you posted on the progress in this issue.

[2019-04-03 18:54] lpatino10 commented on #1054
@jchblsc the change has been made but there's a bit of a process to get docs changed. Whenever the next updates get released though, it should be cleared up. I'm going to go ahead and close this issue since the fix is in the pipeline, but thanks again for bringing this to our attention!

[2019-04-03 18:54] #1054 closed

[2019-04-04 08:38] davidmeredith commented on #1046
Great, thanks @lpatino10

[2019-04-17 15:40] davidmeredith opened #1055 "Missing artifact for common-7.0.0.jar"
hi there,
For the 7.0.0 release I'm getting the following unresolved dependency issue:

[code]
I've updated my pom accordingly according to the doc by removing the `.developer_cloud` from the groupId:

[code]
cheers,
david

[2019-04-17 15:57] #1055 closed

[2019-04-17 15:58] davidmeredith commented on #1055
My apologies, just saw the migration guide.

[2019-04-17 16:47] lpatino10 commented on #1055
No worries, it was an unintended step that we'll be fixing in a later release, so the confusion is understandable. Glad you got it working though!

[2019-04-18 05:54] danhaha commented on #1055
i meet the same problem, can you tell me some thing about migration guide?

[2019-04-18 06:54] danhaha opened #1056 "hi, I have updated watson discovery to 7.0.0.But an error occured when i use getTitle() in the QueryResult class."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1.

[2019-04-18 06:54] danhaha opened #1057 "hi, I have updated watson discovery to 7.0.0.But an error occured when i use getTitle() in the QueryResult class."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1.

[2019-04-18 06:54] danhaha opened #1058 "discovery 7.0.0. an error occured when use getTitle() in the QueryResult class."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/ibm-watson) for that, or you may want to start a discussion on the [dW Answers](https://developer.ibm.com/answers/questions/ask/?topics=watson).

Before you open an issue, please check if a similar issue already exists or has been closed before.

**Check service status**

1.

[2019-04-18 06:56] #1056 closed

[2019-04-18 06:57] #1057 closed

[2019-04-18 07:00] danhaha commented on #1058
Exception in thread "main" com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected STRING but was BEGIN_ARRAY at path $
	at com.google.gson.Gson.fromJson(Gson.java:899)
	at com.google.gson.Gson.fromJson(Gson.java:952)
	at com.ibm.cloud.sdk.core.util.GsonSerializationHelper.serializeDynamicModelProperty(GsonSerializationHelper.java:29)
	at com.ibm.watson.discovery.v1.model.Qu

[2019-04-18 14:59] lpatino10 commented on #1058
@danhaha thanks for submitting this! It sounds like it might be an issue with the `QueryResult` model definition. I'll verify and get back to you.

[2019-04-19 17:50] lpatino10 commented on #1058
Hey @danhaha, just wanted to circle back to say that it is an issue with how we've defined the model. We're in discussions about how to fix it long-term but I'll update you if there's a patch in the meantime as a workaround.

[2019-04-22 06:31] danhaha commented on #1058
@lpatino10 thanks for you reply and look forward to your update

[2019-04-25 12:24] lorimbrius opened #1059 "Support for "search" type responses from AssistantV2"
Watson Assistant v2 supports a "search" type response if the dialog falls through to a search skill. The structure looks like this:

[code]

But the ```DialogRuntimeResponseGeneric``` class doesn't support this response type:

[code]

See screenshots:
![Screenshot 2019-04-23 12 01 27](https://user-images.githubusercontent.com/19329347/56735395-f5b3cf00-672a-11e9-9c9c-72ac3712470c.png)
![Screenshot

[2019-04-25 18:14] lpatino10 commented on #1059
Hi @lorimbrius. The `search` type should still be supported if you just supply the string `"search"`. The provided interfaces with string constants are just there for convenience and don't need to be used.

`search` isn't present already because the SDK is slightly behind the API but it'll be updated relatively soon. Let me know if passing the string manually doesn't work for whatever reason.

[2019-04-25 18:18] lorimbrius commented on #1059
I can pass the string "search" but the ```header``` and ```results``` fields aren't there either. Likewise, if I pass "search", the ```text``` field is empty (because the "search" type doesn't have a "text" field, but a "header" instead).

[2019-04-25 21:42] mediumTaj commented on #1059
@rrberry any idea about the `search` responseType?

[2019-04-26 13:31] rrberry commented on #1059
Search skill is still in beta, so it isn't documented in the Swagger yet. If there is a requirement to support it in the SDK, we'll have to figure out how to address that.

[2019-04-26 13:46] mediumTaj commented on #1059
Thanks @rrberry . @lorimbrius Beta features aren't supported in the SDKs because they can lead to incompatible changes. Closing this issue.

[2019-04-26 13:46] #1059 closed

[2019-05-03 20:25] viveknairibm opened #1060 "DISCOVERY - IAM Endpoint not using custom headers when performing query"
The problem happens when trying to connect and perform our first query against the Production collection, which requires IAM to authenticate. While we had adjusted the base URLs for connectivity to pass through the corporate Data Power, we found that there is an additional IAM-specific endpoint that we need to configure to go through DataPower.

While changing the code is a quick change, our testi

[2019-05-07 13:54] eshwarne opened #1061 "Duplicate class error with latest Android Studio SDK"
Causes duplicate class error when used with latest android studio

[2019-05-09 21:27] lpatino10 commented on #1061
Hey @eshwarne, would you please provide some more information about your setup to help diagnose the problem? Some helpful things would be the Java SDK version and Android SDK version to start.

[2019-05-09 21:29] lpatino10 commented on #1060
Hi @viveknairibm, thanks for bringing this up. Currently, there's no built-in way to edit headers being sent to the IAM endpoint through the SDK. There might be a workaround using the underlying HTTP library, but it's not something we have readily available.

We'll discuss this and see what we can do to support this if necessary.

[2019-05-10 14:08] lpatino10 commented on #1060
@viveknairibm while we discuss, someone did come up with a workaround.

You can authenticate with IAM by using username/password auth with the following format:
[code]
If you do this, headers that are set with `discovery.setHeaders()` will also be set for authentication. I think this should work for now.

[2019-05-15 18:58] sidvenu commented on #1061
I have this error as well.
`Duplicate class javax.annotation.CheckForNull found in modules annotations-3.0.1.jar (com.google.code.findbugs:annotations:3.0.1) and jsr305-3.0.2.jar (com.google.code.findbugs:jsr305:3.0.2)
Duplicate class javax.annotation.CheckForSigned found in modules annotations-3.0.1.jar (com.google.code.findbugs:annotations:3.0.1) and jsr305-3.0.2.jar (com.google.code.findbugs:js

[2019-05-15 19:01] eshwarne commented on #1061
Hey I ve actually got the solution, you have to remove transitive dependencies. Hope it helps

[2019-05-15 19:03] sidvenu commented on #1061
@eshwarne can you elaborate?

[2019-05-15 19:07] eshwarne commented on #1061
While adding the implementation(...) line in gradle script. Exclude the transitive dependencies. If you need the code to run it. Email me
 northeasteditsofficial@gmail.com.. I will send u the gradle script.

[2019-05-15 19:07] #1061 closed

[2019-05-15 19:09] sidvenu commented on #1061
Experimented with the exclusions and found it out.
This does the trick:
[code]

[2019-05-15 19:10] eshwarne commented on #1061
Yea exactly what I meant

[2019-05-16 18:29] lpatino10 commented on #1061
Glad you were able to figure it out! And thanks for posting the solution.

[2019-05-16 18:33] eshwarne commented on #1061
Cheers! Thanks for the response!

[2019-05-19 14:19] Danilo-Araujo-Silva commented on #176
If we are not using proxy, how can we handle this?

I'm receiving this error and I'm using the most recent version of the watson sdk.

[2019-05-19 14:26] Danilo-Araujo-Silva commented on #176
I was able to solve the problem using this:

[code]

It's kind of crazy since I'm not really using proxies.

[2019-05-22 16:45] jassingh01 opened #1064 "WA API V2 Java SDK - Add setters for DialogRuntimeResponseGeneric class"
The use case I am working on needs the Service Orch Engine (SOE) do some "on the fly" modifications to the text under `MessageResponse object -> MessageOutput object -> DialogRuntimeResponseGeneric object` coming as an output from WA before it is sent to VGW for play back.

This is needed as our use case has a security requirement to limit exposure to user's PII data as much as possible.  So, WA i

[2019-05-22 17:02] jassingh01 commented on #1064
As a pictorial illustration ... what we are trying to do is:

WA's output JSON with [PLACEHOLDER] ===> SOE to replace the place holder with actual data ===> input JSON to Voice gateway.

The setter method we are curently using for our use case (/assistant/src/main/java/com/ibm/watson/assistant/v1/model/DialogRuntimeResponseGeneric.java) :

`  /**
   * Sets the text.
   *
   * @param text the new t

[2019-05-23 19:21] lpatino10 commented on #1064
Hi @jassingh01. We're sorry for the inconvenience.

We generate the SDKs, and as part of that, models are categorized in terms of whether they're sent to the service or returned. Ones that aren't ever sent to the service don't get setters. Apparently, this categorization has changed from Assistant v1 -> v2, hence the lack of setters.

So, what you're seeing is expected, but your use case is someth

[2019-05-24 15:57] jassingh01 commented on #1064
@lpatino10 Thank you for your prompt reply and looking forward to your updates.

[2019-06-14 02:38] eskivelevolution commented on #1058
I solved it by update GSON Library manually in my project:

### Download

Gradle:
[code]

Maven:
[code]

[2019-06-24 13:25] lpatino10 opened #1069 "v8.0.0 goals"
## Schedule
We're looking forward and planning on releasing the next major release (`v8.0.0`) in late September, with a release candidate being released early that month.

## Breaking changes
- [ ] Remove old deprecation methods in `BaseService`, like `setUsernameAndPassword()` and `setIamOptions()` in favor of the constructor and single method to set auth in [this release](https://github.com/wats

[2019-07-02 17:25] mhp0rtal opened #1070 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => riskified-sdk/src/main/java/com/riskified/SHA256Handler.java: Line number => 29: API name => SecretKeySpec:<BR> File name => riskified-sdk/src/main/java/com/riskified/SHA256Handler.java: Line number => 29: API name => SecretKeySpec:<BR> File name => riskified-sdk/src/main/java/com/riskified/SHA256Handler.java: Line number =>

[2019-07-08 15:18] germanattanasio commented on #1070
Hi @mhp0rtal I updated your issue based on the information you wrote but there is still information that is missing. Before we can understand this issue we need you to fill fields like OS, SDK version, etc..

[2019-07-08 15:24] lpatino10 commented on #1064
Closing as this was fixed in #1065

[2019-07-08 15:24] #1064 closed

[2019-07-10 13:15] marloncarvalho opened #1071 "Set Proxy Username and Password"
Many applications may need to configure a proxy to access external services. The Java SDK supports defining a proxy through the class HttpConfigOptions however it doesn't allow us to define a username and password to access this proxy. Often, it's not possible to change proxy policies in the companies, so the alternatives listed in issue #384 are not feasible.

One simple solution to this problem

[2019-07-10 13:17] germanattanasio commented on #1071
@marloncarvalho I think the README has instructions on how to do this

[2019-07-10 13:32] marloncarvalho commented on #1071
Thanks, @germanattanasio! It shows how to set a Proxy using HttpConfigOptions and points to a StackOverflow question showing how to configure an Authenticator using OkHttpBuilder directly. However, in my case, I think it doesn't solve the problem.

The class HttpClientSingleton holds an OkHttpClient instance, with common configurations, that is shared throughout the whole SDK. I cannot see a way t

[2019-07-10 21:33] lpatino10 commented on #1071
Hi @marloncarvalho. I had to look through the code a bit but what you're saying makes sense. Basically, we offer the ability to configure the proxy, but adding authentication to that isn't possible.

I think your simple solution makes sense, but I'll take a look at the core code and investigate how best to fix this. I'll keep you updated in the issue about a patch.

[2019-07-10 22:06] marloncarvalho commented on #1071
Hi @lpatino10. Thanks! If you guys are too busy, I can make this change and send a Pull Request. Just point out what's the best solution to this problem.

[2019-07-11 13:17] lpatino10 commented on #1071
Issue moved to [watson-developer-cloud/java-sdk-core #1](https://github.com/watson-developer-cloud/java-sdk-core/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-11 13:17] #1071 closed

[2019-07-11 13:19] lpatino10 commented on #1071
@marloncarvalho that would be great! I just closed this to move it to the correct repo here: https://github.com/IBM/java-sdk-core/issues/44

[2019-07-29 13:15] AlonKapi opened #1076 "Unable to convert Context to json"
**Overview**
Trying to use assistant version 7.1.0 and up, I'm unable to to convert Context objects to json using Gson.

**Expected behavior**
Working as intended on 6.x.x versions.

**Actual behavior**
Getting error:
`Caused by: java.lang.UnsupportedOperationException: Attempted to serialize java.lang.Class: java.lang.Object. Forgot to register a type adapter?
	at com.google.gson.internal.bind.Ty

[2019-07-29 15:14] lpatino10 commented on #1076
Hey @AlonKapi, thanks for bringing this up. I'll take a look and see what we can do.

[2019-07-29 15:40] lpatino10 commented on #1076
We have some special Gson adapters in place to do serialization/deserialization of our models, so I can confirm that the base Gson object doesn't work for something like `Context`. The Gson setup we have with the registered adapters is available with the following:

[code]

That should be available everywhere and will give you the result you're looking for!

[2019-07-29 15:40] #1076 closed

[2019-09-04 18:16] geniusKoder opened #1084 "Error with Java Documentation"
Hi, I'm unsure if this is the place report an issue with the documentation (https://cloud.ibm.com/apidocs/assistant?code=java#create-workspace), but under Workspaces, Create workspace, following the Java code sample I can't get it working. Thank you.

[code]

[2019-09-06 23:57] geniusKoder commented on #1084
My apologies. I'm closing this issue as I have fixed it. There is no error with this. I made a rookie mistake. I forgot to declare the main method.

[2019-09-06 23:57] #1084 closed

[2019-09-09 21:50] lpatino10 commented on #1069
Just as a heads-up, the first release candidate has been released: https://github.com/watson-developer-cloud/java-sdk/releases/tag/java-sdk-8.0.0-rc1.

It can be pulled from Maven Central as well, and the changelog is in the release description.

[2019-09-09 23:17] jchblsc opened #1085 "Discovery Query IllegalStateException"
**Overview**
Discovery query result causes `IllegalStateException` with 7.4.0.  The same code works fine with 6.14.0. (after removing `.getResult()`).  Also, the JSON returned by the corresponding curl command appears to parse correctly when saved and opened by Firefox.

**The Error**
[code]
**Code**
[code]

**SDK Version**
ibm-watson-7.4.0-jar-with-dependencies.jar

**Additional information:**
-

[2019-09-10 00:38] jchblsc opened #1086 "Discovery HTTP 404 retrieving Stop Words"
**Overview**
Unable to retrieve stops words using SDK 7.4.0 or 6.14.0.  The associated curl command also fails.

**Error**
[code]

**How to reproduce**
Call the API as documented in the API doc.
[code]
or via `curl`

[code]

**SDK Version**
7.4.0 and 6.14.0.

**Additional information:**
- OS: Windows 10
- jre1.8.0_202

[2019-09-10 23:40] germanattanasio commented on #1086
@maniax89 do you think you can take a look at this? It looks like the curl command is failing too so it could be a service issue

[2019-09-11 00:19] maniax89 commented on #1086
First off, I would make sure you have already uploaded a stopword list before attempting to retrieve it's status.

If curl is still failing after uploading a stopword list, I would open a support ticket at https://watson.service-now.com/wcp with your environment and collection ids so that a member can look into the logs to help diagnose the issue.

[2019-09-11 13:16] lpatino10 commented on #1085
Hi @jchblsc, thanks for the submission. This issue sounds the same to me as https://github.com/watson-developer-cloud/java-sdk/issues/1058, which we unfortunately don't have a solution for yet 😕

Just to verify, are you by any chance trying this query on a collection with a Smart Document Understanding (SDU) model?

[2019-09-11 13:18] lpatino10 commented on #1060
@viveknairibm just wanted to let you know that this feature of being able to send headers specifically for the IAM request will be added in the `8.x.x` release!

[2019-09-11 18:49] jchblsc commented on #1085
Yes, it is an SDU model.

[2019-09-11 20:08] jchblsc commented on #1086
I have not loaded stopwords.  I will assume that the Discovery team has intentionally used HTTP 404 as the way to indicate that no stopword list has been uploaded.

[2019-09-11 20:08] #1086 closed

[2019-09-11 20:26] lpatino10 commented on #1085
Unfortunately the way the API is defined for that case currently, it's not compatible with the SDK 😞  We've let the Discovery team know about it but there's no immediate timetable for a fix.

[2019-09-11 22:44] jchblsc commented on #1085
That seems weird since it does work using SDK 6.14.

[2019-09-11 23:35] lpatino10 commented on #1085
Yeah that is strange... We made a small tweak to the deserialization library with the jump to 7.x.x that was supposed to be backwards-compatible, but maybe the old way happened to handle this case.

I can take a closer look at it when I get the chance.

[2019-09-26 07:29] shreyansbardia commented on #1061
Hey it is not working for me

[2019-09-26 07:29] shreyansbardia commented on #1061
Please provide a solution

[2019-09-30 03:23] esdrasdemorais commented on #178
AssyncTask is more recommended:
https://developer.android.com/training/articles/perf-anr

[2019-10-07 14:24] lpatino10 commented on #1069
Closing as the full release has been made :shipit:

https://github.com/watson-developer-cloud/java-sdk/releases/tag/java-sdk-8.0.0

[2019-10-07 14:24] #1069 closed

[2019-10-07 14:24] lpatino10 commented on #1060
Closing as this is included in the latest release (v8.0.0)

[2019-10-07 14:24] #1060 closed

[2019-10-12 19:38] skltree opened #1090 "java.lang.NoSuchMethodError: com.ibm.watson.discovery.v1.Discovery.getServiceUrl()"
I am using very simple code :

import com.ibm.cloud.sdk.core.security.IamAuthenticator;
import com.ibm.watson.discovery.v1.Discovery;
public class DiscoveryTest {

	public static void main(String[] args) {
		IamAuthenticator authenticator = new IamAuthenticator("<KEY>");
		Discovery discovery = new Discovery("2018-08-01",authenticator);

		discovery.setEndPoint("https://gateway.watsonplatform.net/

[2019-10-12 22:44] lpatino10 commented on #1090
If you're using the SDK you don't need to manually pull in the core package as well. The SDK library already contains the `sdk-core` version that it needs, so removing the `com.ibm.cloud:sdk-core` dependency from your POM should solve the problem.

Right now you're pulling in a release candidate version of the core which doesn't have the `getServiceUrl()` method, so it's conflicting.

[2019-10-12 22:44] #1090 closed

[2019-10-13 06:41] skltree commented on #1090
Hello, Thanks for replying .
I am using  com.ibm.cloud.sdk.core.security.IamAuthenticator;
I can only find IamAuthenticator in core sdk how to get rid of this error if I remove core sdk POM dependency ?

[2019-10-13 06:48] skltree opened #1091 "java.lang.NoSuchMethodError: com.ibm.watson.discovery.v1.Discovery.getServiceUrl()"
I am using very simple code :
`
import com.ibm.cloud.sdk.core.security.IamAuthenticator;
import com.ibm.watson.discovery.v1.Discovery;
public class DiscoveryTest {

public static void main(String[] args) {
    IamAuthenticator authenticator = new IamAuthenticator("<KEY>");
    Discovery discovery = new Discovery("2018-08-01",authenticator);

    discovery.setEndPoint("https://gateway.watsonplatfor

[2019-10-13 08:02] #1091 closed

[2019-10-13 11:18] lpatino10 commented on #1091
I know you closed this but I'll go ahead and answer for anyone who might come across this in the future.

You do not need to manually specify a version of the `com.ibm.watson:sdk-core` package to use this SDK. The SDK already specifies a compatible version in its dependencies.

[2019-10-13 11:20] lpatino10 commented on #1090
See https://github.com/watson-developer-cloud/java-sdk/issues/1091#issuecomment-541409604.

You should already have access to that class through the transitive dependency.

[2019-10-13 21:18] mahsankhaan opened #1092 "MicrophoneWithWebSocketsExample.java ,ERROR "could not detect endianness after looking at the tail ..""
Any idea what's wrong in this?
<img width="1055" alt="Screenshot 2019-10-14 at 2 10 07 AM" src="https://user-images.githubusercontent.com/56512649/66722572-cdc73d80-ee28-11e9-8379-0653fd7471a6.png">

[2019-10-14 13:54] lpatino10 commented on #1092
Hmm I haven't seen that error before, but I'd be happy to take a look. Would you be able to paste the full code snippet for me to walk through?

(Also, be sure not to share any sensitive credentials 🙃)

[2019-10-18 07:28] davidmeredith commented on #1046
hi, was this ever investigated and resolved?

[2019-10-18 13:37] lpatino10 commented on #1046
Hey sorry @davidmeredith, I never actually heard anything back from the API team and then this fell by the wayside. I'll try this again with the new release and see if the issue still pops up.

[2019-10-19 20:23] mkistler commented on #1046
@mediumTaj This might be one to add to the outstanding service issues list.

[2019-10-21 16:51] jessedewild commented on #1061
android {
    applicationVariants.all { variant ->
        variant.getRuntimeConfiguration().exclude group: 'com.google.code.findbugs', module: 'jsr305'
        variant.getRuntimeConfiguration().exclude group: 'com.google.code.findbugs', module: 'annotations'
    }
}

Add this :)

[2019-10-21 16:52] jessedewild commented on #1061
`android {
    applicationVariants.all { variant ->
        variant.getRuntimeConfiguration().exclude group: 'com.google.code.findbugs', module: 'jsr305'
        variant.getRuntimeConfiguration().exclude group: 'com.google.code.findbugs', module: 'annotations'
    }
}`

Add this :)

[2019-10-23 12:20] JaPaBu opened #1093 "Make builder initializers public"
I am trying to set the previousSibling field of a DialogNode but there is no setter.

When creating a builder you are forced to initialize every field by yourself. This is bad since new fields can be added by the SDK.

Why not make this builder public for example?

https://github.com/watson-developer-cloud/java-sdk/blob/a7852f941e78798d277b450ba3ff6e753ac982d9/assistant/src/main/java/com/ibm/watso

[2019-10-23 14:48] lpatino10 commented on #1093
Hey @JaPaBu, would you be able to elaborate on this a bit? I'm not sure I totally understand.

When you're trying to set the `previousSibling` field, you can create a new builder and set that:

[code]

I'm also not sure what you mean by:

[2019-10-24 07:47] JaPaBu commented on #1093
Of course @lpatino10 .

I use the SDK to manipulate the dialog of my assistant. When removing a dialog node for example you need to reconnect the dialog or else the API throws an error. This is done by either setting the previousSibling field of the now unconnected node with reflections or by specifying every field again to get a copy of the now unconnected node with just a modified previousSiblin

[2019-10-24 16:18] #1029 closed

[2019-10-24 16:18] #1048 closed

[2019-10-24 17:30] lpatino10 commented on #1058
Reopening as we've brought it up with the Discovery team to try and get something resolved. Nothing yet but it should be tracked.

[2019-10-25 07:55] JaPaBu commented on #1093
You are right i must have overlooked that method.

Sorry for the inconvenience.

[2019-10-25 07:55] #1093 closed

[2019-10-25 11:56] lpatino10 commented on #1093
No worries! Glad I could help.

[2019-11-04 16:20] lpatino10 opened #1094 "Investigate `OutOfMemoryError` when making multi-threaded `recognize()` calls on v8.0.0"
This issue was reported by someone working with a client. Their full transcript is below:

---

They have a process in which they’re requesting transcripts from the service and renaming the audio file. They’re receiving two separate errors.
1. A File Exception error, which happens after they receive transcripts and attempt to rename the file:
[code]
(Note, they were able to resolve this by closing

[2019-11-06 16:13] smccants opened #1095 "Jar with dependencies contains unnecessary and potentially harmful dependencies"
**Overview**
I'm trying to use the ibm-watson-8.0.0-jar-with-dependencies.jar in my application and cannot because it contains unnecessary class files that conflict with classes included in my application.

**Expected behavior**
Be able to add the jar file to my application and successfully compile.

**Actual behavior**

[code]

**How to reproduce**
Build an application that includes FindBugs and

[2019-11-06 16:26] smccants commented on #1095
Switching from using the jar file to the gradle include

    implementation 'com.ibm.watson:ibm-watson:8.0.0'

Results in the same problem:

[code]

[2019-11-06 16:27] smccants commented on #1095
Possible interest - #93

[2019-11-06 16:46] smccants commented on #1095
Tried with just the components I need from Gradle:

    implementation 'com.ibm.watson:speech-to-text:8.0.0'
    implementation 'com.ibm.watson:text-to-speech:8.0.0'

Resulted in the same compile error as the two above.

[2019-11-06 16:48] lpatino10 commented on #1095
This might be of interest to you for dealing with the duplicate dependencies issue: https://github.com/watson-developer-cloud/java-sdk/issues/1061#issuecomment-492785271

Otherwise, I haven't run into this issue before, but I can verify. I know off the top of my head though looking at your dependency list that there are some that are definitely used in the project and required. I can go through an

[2019-11-06 20:49] smccants commented on #1095
@lpatino10 I looked at the comment you referenced and it seems to be just a different way to exclude dependencies I don't want, but I'm confused.  Why would those dependencies be included in the first place?  Shouldn't you include the minimum set of dependencies necessary to use the product?

[2019-11-06 21:57] smccants commented on #1095
I tried taking a different approach.  Using the dependency tree here (https://javalibs.com/artifact/com.ibm.watson/ibm-watson) and trial and error, I came up with a minimum set of jar files we seem to need for our text-to-speech and speech-to-text usages.  Those mimimum jars are:

    implementation files('libs/speech/ibm-watson-common-8.0.0.jar')
    implementation files('libs/speech/ibm-watson-s

[2019-11-06 22:05] lpatino10 commented on #1095
Thanks for continuing to look @smccants. Also, that tool you linked is pretty cool.

I've been reviewing dependencies and we have FindBugs and Mockito in the core SDK package. We don't seem to be using FindBugs at all, so I can go ahead and remove that, and Mockito wasn't tagged as a test dependency only, hence why it shows up in release JARs.

Other dependencies you mentioned we either do need or

[2019-11-06 22:13] smccants commented on #1095
@lpatino10 Thanks for looking into it.  My guess is that marking Mockito as a test library will also remove objensis and hamcrest, as that link shows Mockito pulling them in.  We could likely move to whatever version you next release with those changes.

I'm not sure what to do about javax.annotations as we load javax.annotations for our own purposes and that seems to trip up Android's build proce

[2019-11-07 16:01] smccants commented on #1095
Ended up going with the exclude route as a work around and that is easier and meets our needs:

    implementation ('com.ibm.watson:ibm-watson:8.0.0', {
        exclude group: 'com.google.code.findbugs' // We already have findbugs
        exclude group: 'org.mockito' // Mockito isn't needed either
    })

[2019-11-07 18:47] lpatino10 commented on #1095
Glad you have a workaround for now! I have a PR open to the core of the SDK so just be on the lookout for a patch release of this SDK.

[2019-11-11 22:04] #1095 closed

[2019-11-12 13:21] lpatino10 commented on #1058
It looks like this was related to a problematic `title` field in the query response that shouldn't have been defined there, since it can be defined with two different types. We've made the change in the API definition and there should be a fix to move this to an `additional_properties` section of the response model in the next release, which should clear up any deserialization issues.

[2019-11-14 15:22] lpatino10 commented on #1094
Testing so far, I unfortunately haven't been able to replicate the `OutOfMemoryError` 😞  It's possible that this is a hardware constraint on my end, since trying to send that many files for me has resulted in timeouts from the Speech to Text service or my internet just cutting out.

[2019-11-14 15:23] lpatino10 commented on #1085
It looks like this should be cleared up in the upcoming release. The Discovery API team has confirmed that the `title` field is incorrectly specified at the moment and should be placed in the dynamic `additional_properties` section of the response, which won't break deserialization.

[2019-11-25 17:25] cunhazera opened #1098 "Can not login at IBM with Java SDK"
I'm using the last version of this project and trying to use Basic Authentication with user and password, but It always responds 401.

This is the code I'm actually running:
[code]

**SDK Version**
8.0.1

Java version: 11

[2019-11-25 18:19] lpatino10 commented on #1098
Hey @cunhazera.

The username and password you should be supplying are the credentials given to you when you create a service instance on IBM Cloud. If you're trying to use Watson Assistant, that would mean going here and selecting your price tier: https://cloud.ibm.com/catalog/services/watson-assistant. We have a free option to get up and running.

If you want to try other Watson services that ar

[2019-11-25 19:10] cunhazera commented on #1098
We're already using watson, but we're creating everything throught Cloud Funtry.
We have to migrate the authentication method to the IBM API.
So I'm the scenario that I have to retrieve my data with no API Key, nor token, only the user and pass in a first moment.

[2019-11-25 19:26] lpatino10 commented on #1098
I don't have much experience using Cloud Foundry, but if you have a Watson instance of some service, it should have associated credentials. Your regular IBM login will not work when trying to access a Watson API.

Can you find your instance(s) somewhere on your IBM Cloud dashboard? They should be somewhere in your resources list: https://cloud.ibm.com/resources

[2019-11-25 20:09] cunhazera commented on #1098
Ok, I got it. For each instance that I created a group of credentials is generated, right?

How do I create an instance with the IBM SDK? Forgive me, but I don't which SDK to use for this case.

[2019-11-25 21:12] germanattanasio commented on #1098
@cunhazera You can't create service instances with the SDK.

if you go to https://cloud.ibm.com/resources you will see your Watson service instances. Click on any of them and you will see the credentials.

[2019-11-25 21:14] lpatino10 commented on #1098
What German said ☝️

I would go through the UI to create your instance. Once you get those credentials, you can do everything else through the SDK.

[2019-11-26 11:14] cunhazera commented on #1098
@germanattanasio and @lpatino10 thanks for the response.
Maybe *service* was not the word. I'm actually creating `instances` with Cloud Foundry:

[code]

When our clients create a new Watson Bot a instance is created, so we have a deadline to migrate from CF to IBM APIs.

[2019-11-26 14:21] lpatino10 commented on #1098
Unfortunately, we stopped supporting Cloud Foundry-based authentication for service instances on October 30th in favor of IAM. See [here](https://medium.com/ibm-watson/identity-and-access-management-updates-for-watson-services-12b6344b9cf) for more info.

[Here](https://cloud.ibm.com/docs/iam?topic=iam-iamoverview) is a page explaining a bit more about IBM Cloud IAM. There are some links to API re

[2019-11-27 14:16] cunhazera commented on #1098
Ok, I got it.

I'm trying to use the `BasicAuthenticator`, which user & pass should I use to get my credentials?

[2019-11-27 19:37] lpatino10 commented on #1058
This issue should be cleared up in v8.1.0.

[2019-11-27 19:37] #1058 closed

[2019-11-27 19:37] lpatino10 commented on #1085
This issue should be cleared up in v8.1.0.

[2019-11-27 19:37] #1085 closed

[2019-11-27 20:09] cunhazera commented on #1098
I'll leave the gist that German wrote, might be helpful in the future for somebody else.
https://gist.github.com/germanattanasio/478fd6a6c24c5c8fddb74f3cf3e7dff6#file-readme-md

@lpatino10 @germanattanasio thank you guys.

[2019-11-27 20:09] #1098 closed

[2019-11-27 20:49] lpatino10 commented on #1098
Awesome, thanks for the detailed rundown @germanattanasio!

[2019-12-04 09:39] martin-labsky commented on #1046
The issue is with `.context(context) // using context from previous message` used for the 2nd turn.
The V2 message keeps context server-side and the client should just send context in when it needs to change some parts of it. This includes the `global.system.turn_count`. As when it is sent in by the client, the service assumes the client actually wants to reset the `turn_count` to the specified va

[2019-12-05 14:20] germanattanasio commented on #1092
This issue is fairly old and there hasn't been much activity on it. Closing, but please re-open if it still occurs.

[2019-12-05 14:20] #1092 closed

[2019-12-10 16:53] smccants opened #1099 "Unnecessary IOException from SpeechToTextWebSocketListener when socket is closed."
**Overview**
IOException is sometimes thrown when the MicrophoneInputStream is closed.

**Expected behavior**
The exception should not be thrown.

**Actual behavior**
W/System: A resource failed to call end.
 W/System: A resource failed to call close.
 W/System.err: java.io.IOException: Pipe closed
 W/System.err:     at java.io.PipedInputStream.read(PipedInputStream.java:312)
 W/System.err:     at

[2019-12-10 16:54] smccants commented on #1099
Question posted here:
https://developer.ibm.com/answers/questions/524417/using-a-timeout-to-close-websocket-for-speech-to-t.html

[2019-12-11 14:43] lpatino10 commented on #1099
Hey @smccants, thanks for posting this. I'm going to look through the code now but what you point out about the `socketOpen` logic makes sense to me at first glance.

I'll report back shortly!

[2019-12-11 19:06] lpatino10 commented on #1099
Hi again @smccants. I just got done trying to reproduce the issue and here's what I found. I was modifying the [example application](https://github.com/watson-developer-cloud/android-sdk/tree/master/example) to play around with this.

Starting at [line 147](https://github.com/watson-developer-cloud/android-sdk/blob/master/example/src/main/java/com/ibm/watson/developer_cloud/android/myapplication/M

[2019-12-11 19:59] smccants commented on #1099
Hi @lpatino10 .  Thanks for looking into this and providing a fix so quickly!

[2019-12-11 21:33] #1099 closed

[2020-01-14 14:42] lpatino10 commented on #1046
Closing since it looks to be resolved. Thanks @martin-labsky!

[2020-01-14 14:42] #1046 closed

[2020-01-20 16:39] #1094 closed

[2020-02-05 09:12] yusufcakmakk opened #1104 "cannot override user defined context from client"
**Overview**
User defined context value cannot be overridden by client.

**Expected behavior**
When I set user defined context variable to null or remove, it shouldn't be in watson responce context.

**Actual behavior**
When I set user defined context variable to null or remove, it comes with same value like no change.

**How to reproduce**
[code]

// We're done, so we delete the session.
DeleteSe

[2020-02-11 16:32] germanattanasio commented on #1104
@yusufcakmakk you can't delete a key by just removing it from the context. You need to set the value to something like `false` or `0`. When you set you set it to `null` I think it's not added to the json you sent to the service.

Try setting it to something you know is not a valid value

[2020-02-12 06:19] yusufcakmakk commented on #1104
@germanattanasio We could do this in v1. As a result we couldn't delete any key from context. We can just replace its value, right?

[2020-02-19 03:38] AnwarBari opened #1105 "The jar file is missing"
JAR
Download the jar with dependencies here.
The link is broken!

[2020-02-24 22:43] germanattanasio commented on #1105
Fixed in https://github.com/watson-developer-cloud/java-sdk/commit/aa4d1a5d427e2b5e84d3316aa8e4e7eb2366eccc

[2020-02-24 22:43] #1105 closed

[2020-02-24 22:43] germanattanasio commented on #1104
Yes It looks like you can remove the key anymore

[2020-03-03 07:47] #1104 closed

[2020-03-30 15:20] Brian-Woodsworth opened #1115 "Discovery rejects a file with French characters in the file name."
**Overview**
I have been working on a java program to upload files from a folder into a collection in Watson Discovery. The program is designed to upload English documents to a English collection and French documents to a French collection. The same code is used to add and update the documents to either collection.

The English documents upload fine, but when a French document with French characte

[2020-04-30 13:19] germanattanasio commented on #1105
@all-contributors please add @germanattanasio for code, tests, and documentation

[2020-04-30 13:26] germanattanasio commented on #1105
@all-contributors please add @germanattanasio for code, tests, and documentation

[2020-05-18 14:40] elizacamber commented on #1039
Most of the SDKs do take under consideration threading and issues like that, and when not they **specifically** mention it so you know without diving into the library. IBM should at least update their documentation and mention the calls that are not thread safe, especially if the call is not as "clear" as a` .execute` but `recognizeUsingWebSocket ` for instance. For us it stopped crashing randomly

[2020-05-30 11:27] mediumTaj commented on #1115
Still active

[2020-06-04 06:46] premchand-algo opened #1126 "speech_to_text: "%HESITATION" && **** placeholder in response"
In the speech_to_text we are getting these placeholder %HESITATION && ****

**Speech Response: 1.**
[
{
  "result_index": 35,
  "results": [
    {
      "alternatives": [
        {
          "confidence": 0.78,
          "transcript": "you can check that it's **** like that "
        }
      ],
      "final": true
    }
  ]
}

**Speech Response: 2.**
{
  "result_index": 10,
  "results": [
    {

[2020-06-04 13:43] germanattanasio commented on #1126
Hi @premchand-algo,

HESITATION and *** are part of the response, see: [Understanding recognition results](https://cloud.ibm.com/docs/speech-to-text?topic=speech-to-text-basic-response)

[2020-06-04 13:43] #1126 closed

[2020-08-01 10:47] mediumTaj commented on #1115
Is this still an issue?

[2020-08-04 11:50] Brian-Woodsworth commented on #1115
No, That project was put on hold.

From:	Ajiemar Santiago <notifications@github.com>
To:	watson-developer-cloud/java-sdk <java-sdk@noreply.github.com>
Cc:	Brian-Woodsworth <brian.woodsworth@ca.ibm.com>, Author
            <author@noreply.github.com>
Date:	2020-08-01 06:47 AM
Subject:	[EXTERNAL] Re: [watson-developer-cloud/java-sdk] Discovery
            rejects a file with French characters in the

[2020-08-14 12:07] juliankamil opened #1127 "Latest release v8.5.0 contains Okio package vulnerable to CWE-327"
**Overview**
The latest Watson APIs Java SDK release v8.5.0 is reported by HCL AppScan to use an implementation of Okio package that is vulnerable to high-risk weaknesses described in **CWE-327: Use of a Broken or Risky Cryptographic Algorithm** (https://cwe.mitre.org/data/definitions/327.html).

**Expected behavior**
Release not to include the vulnerable Okio package implementation

**Actual beha

[2020-08-31 16:12] premchand-algo opened #1129 "Issue while reading text using speech to text"
Hi,

I am getting this issue most of the time and the application is going to crash randomly.

FATAL EXCEPTION: AudioToWebSocketThread
java.lang.IllegalMonitorStateException
at java.util.concurrent.locks.ReentrantLock$Sync.tryRelease(ReentrantLock.java:156)
at java.util.concurrent.locks.AbstractQueuedSynchronizer.release(AbstractQueuedSynchronizer.java:1291)
at java.util.concurrent.locks.Reentrant

[2020-10-07 16:55] sarahbacha commented on #1071
We are trying the proxy with a discovery instance
[code]
[code]

And getting the following error:
**type definition error: [simple type, class com.ibm.cloud.sdk.core.http.Headers]; nested exception is com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class com.ibm.cloud.sdk.core.http.Headers and no properties discovered to create BeanSerializer (to avoid except

[2020-10-07 16:57] sarahbacha opened #1131 "Proxy username password"
We are trying the proxy with a discovery service on cloudpack
[code]
[code]

[code]

And getting the following error:
**type definition error: [simple type, class com.ibm.cloud.sdk.core.http.Headers]; nested exception is com.fasterxml.jackson.databind.exc.InvalidDefinitionException: No serializer found for class com.ibm.cloud.sdk.core.http.Headers and no properties discovered to create BeanSeriali

[2020-10-07 17:01] hlewis910 commented on #1131
i am having a similar issue as above.

[2020-10-07 17:15] sarahbacha commented on #1131
Using it with the Tone Analyzer works with **_@Autowire_**  but we could not do the same with Discovery since Bearer Token is not working we had to manually initialize the service instance

[2020-10-08 15:55] kevinkowa commented on #1131
Hi @sarahbacha, can you provide more information (sdk version, etc)?

[2020-10-08 16:01] sarahbacha commented on #1131
Hello @kevinkowa
		<dependency>
			<groupId>com.ibm.watson</groupId>
			<artifactId>discovery</artifactId>
			<version>8.6.1</version>
		</dependency>
and as well we tried it 8.6.0
As for discovery we are using V1

[2020-10-10 03:48] #1115 closed

[2020-10-12 17:20] padamstx commented on #1131
Hi @sarahbacha , could you please include the stacktrace that you see when the error occurs?   The Java core library doesn't use jackson for serialization/deserialization so I'm a little curious how jackson is involved here.  I suspect that you are using it within your application.   Anyhow, a stacktrace and any other details you can offer with respect to the point at which the error is occurring

[2020-10-12 17:41] sarahbacha commented on #1131
hello @padamstx  I just emailed you the details, thank you!

[2020-10-12 21:00] padamstx commented on #1131
Hi Sarah, I've been working with Kevin for a bit on this issue and I noticed this in the error message that you posted in your initial problem report:
[code]
This leads me to believe that there was an attempt to serialize an instance of ServiceResponseException.   The only way that would occur (I think) is if your server side code invoked an operation in the Java SDK that resulted in an exception

[2020-10-14 07:03] JxSun opened #1133 "[Speech To Text] Interim results set to true but doesn't work"
**Overview**
Set the `interimResults` field of `RecognizerOptions.Builder` to true but still can't receive non-final results. Just similar to https://github.com/watson-developer-cloud/java-sdk/issues/1005.

**Expected behavior**
When `interimResults` is true, the client app should be able to continuously receive non-final results while users are speaking.

**Actual behavior**
The Java SDK won't gi

[2020-10-14 07:28] JxSun commented on #1133
Here's my PR: https://github.com/watson-developer-cloud/java-sdk/pull/1134

[2020-10-14 16:59] kevinkowa commented on #1131
Hi @sarahbacha,

What HTTP version are you using?  1.0 is not allowed.
Also, What cluster/region is this?

[2020-10-14 17:11] sarahbacha commented on #1131
okhttp3
us-south

[2020-10-14 19:16] kevinkowa commented on #1131
Hi @sarahbacha,

I noticed that in your code you use proxyAuthenticator for Discovery but not for Tone Analyzer.
The problem from my point of view looks like it's related to your proxy. We have no logs that indicate that you received a 505 status code.
Also, that's the okhttp library version, not the actual http version.

You said that Tone Analyzer works, one thing to try out is to get rid of the

[2020-10-14 19:19] kevinkowa commented on #1133
Thank you @JxSun! We merged your PR!

[2020-10-14 19:19] #1133 closed

[2020-10-14 19:46] sarahbacha commented on #1131
It seems that was the issue!
Thank you!

[2020-10-14 19:46] #1131 closed

[2020-10-14 19:48] mediumTaj commented on #1133
So one of the issues here is that the async recognize operations does not support those properties while the websockets do. Both operations share the same options model. For the major release we should look into splitting the options model into `RecognizeOptions` and `RecognizeWithWebsocketOptions` with the latter containing the missing properties.

@kevinkowa

[2020-10-22 13:34] Jennifer-Hadley commented on #1127
Hi stale bot. This is still an issue, unfortunately the development team does not know who to contact to get appropriate support.

[2020-10-22 13:45] mediumTaj commented on #1127
@kevinkowa can you look at this for the major release?

[2020-10-22 13:54] kevinkowa commented on #1127
Alright!

[2020-10-22 14:29] mediumTaj commented on #1127
hmm strange that our appscan reports didnt pick this up. we should look into this as well cc @Mikemosca

[2020-10-22 16:49] mediumTaj commented on #1127
We didn't catch this with our appscan since we don't scan the Core repo. We need to add the core repo to our scans.

Also opened up an issue in the core to address
https://github.com/IBM/java-sdk-core/issues/97

[2020-10-23 15:36] mediumTaj commented on #1127
Talking to @jorge-ibm we should move to the latest version of the java sdk core for the major release.

@kevinkowa

[2020-11-15 18:41] #1129 closed

[2020-11-17 08:57] tbrodbeck opened #1141 "Please specify versions"
Hey I wanted to install this as recommended with `gradle assemble`
But I got a variety of errors like `Could not initialize class org.codehaus.groovy.runtime.InvokerHelper`

This is probably from a version conflict. (according to https://github.com/gradle/gradle/issues/12599 for example)

Can you maybe specify which version of Gradle and Java are supported and tested?

I have tried with Java 15, G

[2020-12-16 17:04] kevinkowa commented on #1141
Hey @tbrodbeck sorry for the late response, try using the version of `4.0.2` for gradle and `java 1.8`

[2020-12-28 16:03] #1141 closed

[2020-12-28 16:08] kevinkowa commented on #1127
Fixed in the latest release

[2020-12-28 16:08] #1127 closed

[2021-01-02 21:58] jackpeters667 opened #1149 "[Text-to-Speech] Exception in provided example"
Hi there, I'm failing to get the example running on my application. I'm using

- JavaFX 15.0.1 (Gradle)
- JDK 15.0.1

And in my dependency list, I have:

-   'com.ibm.cloud:sdk-core:9.5.3'
-   'com.ibm.watson:ibm-watson:9.0.2'

My stacktrace outputs:

`Caused by: com.ibm.cloud.sdk.core.service.exception.ForbiddenException: Forbidden
Caused by: com.ibm.cloud.sdk.core.service.exception.ForbiddenExce

[2021-01-03 08:14] jackpeters667 commented on #1149
I had to use `.setServiceURL();` please include that in the docs too.

[2021-01-03 08:14] #1149 closed

[2021-01-15 04:13] munish-usit opened #1150 "Watson Discovery V1 Duplicate Documents Upload"
**Overview**
We are using Watson Discovery V1 document upload API. With this API it is accepting two file name with same name.
`InputStream documentStream = new ByteArrayInputStream(jsonDocument.getBytes());
				createDocumentBuilder = new AddDocumentOptions.Builder(environmentId, collectionId);
				createDocumentBuilder.file(documentStream)
				.filename(documentName);
				.fileContentType(HttpMe

[2021-01-15 16:53] kevinkowa commented on #1150
Hi @munish-usit! Did you try using the function `updateDocument`?

[2021-01-16 06:07] munish-usit commented on #1150
Thanks @kevinkowa ,
I have tried updateDocument, but this require document_id, when we are ingesting content, we are not aware of document_id, so there is overhead of managing and mapping document_id with the content.

I was expecting the same feature as there in UI tooling/interface. In UI tooling , filename is treated as unique and document is overridden based on filename unique parameter.

Than

[2021-01-19 19:49] kevinkowa commented on #1150
Hey @munish-usit!

The SDKs are not supporting this particular action, the way to overcome this is to use updateDocument if you know the id for it (map filenames to ids) or you can query the documents and find the id of the one you want to overwrite:
[code]
You can also use this curl command to upload/override a file. where `{id}` is the md5 hash of the filename
`curl -X POST -u "apikey":"{apikey}

[2021-01-20 04:45] munish-usit commented on #1150
Hi @kevinkowa ,

Thanks a lot for clarifying it.  Will be using updateDocument approach.  Closing the ticket also.

Thanks,
Munish

[2021-01-20 04:45] #1150 closed

[2021-02-15 13:50] lwittenb opened #1152 "Assistant - HTTPS proxy not working?"
Hello,

I have opened a question on stackoverflow, but with no feedback and further investigation, I think there's something wrong.
Initial question: https://stackoverflow.com/questions/66174163/ibm-watson-assistant-https-proxy-not-working

**Context**
Java application (jdk 1.8.0_65 and 11.0.6+10), using IBM Watson Assistant API at https://api.eu-de.assistant.watson.cloud.ibm.com, within corporate

[2021-02-15 19:33] kevinkowa commented on #1152
Can you send the stack trace for `9.0.2`?

[2021-02-15 19:56] kevinkowa commented on #1152
One suggestion that I can give out right now is to check if you have the right certificates

[2021-02-16 11:21] lwittenb commented on #1152
Here is the full stack trace:
[code]

DialogManager is my class and line 183 is the following:

[code]

What certificates are you referring to?
I don't have any... :(

[2021-02-16 14:28] lwittenb commented on #1152
Ok, so having again a look at the stacktrace, what is this additional endpoint?
`Caused by: java.net.ConnectException: Failed to connect to iam.cloud.ibm.com/95.100.59.118:443`

I am being told that the only URL pattern in the proxy whitelist is:
`https://*.watson.cloud.ibm.com/*`

Because of the service endpoint we're using: https://api.eu-de.assistant.watson.cloud.ibm.com

So far it was enough w

[2021-02-17 21:27] kevinkowa commented on #1152
@lwittenb Okay so here's what could be happening, in the older version of the SDK the proxy would affect the authenticator when you called the function`configureClient`. So, the proxy would be used to grab your credentials by going to the `iam.cloud.ibm.com` site. Now, in newer versions of the SDK, you have to add a proxy for the authenticator too. In other words, `configureClient` doesn't set a p

[2021-02-22 18:23] paulombweber opened #1153 "Assistant v1 - Can't remove NextStep from Dialog Node"
While using updateDialogNode trying to update my node, I also want to remove the NextStep saved previously, but since Behaviour is required by Builder, I can't send a empty DialogNodeNextStep, so my choice is to send null wich is ignored when the requestBody is being assembled and the next step isn't correctly removed.

I expected that I could send either send null to newNextStep, or send a empty

[2021-02-23 13:35] paulombweber commented on #1153
I forked the assistant and removed the validation
**if (updateDialogNodeOptions.newNextStep() != null) {**

it fixed the issue but since the source seems to be generated it probably isn't the right way to fix it. Also, it could unintentionally remove the nextStep in some cases.

[2021-02-23 15:03] kevinkowa commented on #1153
Hi @paulombweber, what version did you fork?

[2021-02-23 16:20] paulombweber commented on #1153
I used the master branch for the latest, I managed to fix breaking changes on my application code to work with the new version.

[2021-02-23 17:10] paulombweber commented on #1153
@kevinkowa I've pushed the code on my forked repo so that you can better understand.
https://github.com/paulombweber/java-sdk/commit/9fbdb41f85c3e2f43766f7fcc3dea4fa6b58c3fd

I'm not sure this is the correct fix, because if someone uses the SDK as a PATCH request(only sending what did change) it will cause problems.

[2021-02-23 19:13] kevinkowa commented on #1153
well, the problem here is that if you look at the documentation (https://cloud.ibm.com/apidocs/assistant/assistant-v1#updatedialognode), assistant doesn't allow a null value for it. it only has the following `Allowable values: [get_user_input,skip_user_input,jump_to,reprompt,skip_slot,skip_all_slots]`

[2021-02-23 19:32] paulombweber commented on #1153
@kevinkowa Yes, the behaviour can't be null, that's ok. But how can I remove the next step then? my commit allows to send null to the nextStep, but it'll affect users that expect the SDK to work as a PATCH.

[2021-02-24 10:32] lwittenb commented on #1152
Aaaah perfect, setting the proxy for the authenticator solved my issue.
I had no idea it was also necessary for that, as I did not find any related note either in the readme.md or in the apidocs.

Thanks a lot anyway.
Cheers

[2021-02-24 10:32] #1152 closed

[2021-02-24 19:53] kevinkowa commented on #1153
I'm investigating this issue, I'll keep you updated!

[2021-03-09 11:11] tiagoboeing commented on #1153
@kevinkowa any news about that?

[2021-03-09 16:18] kevinkowa commented on #1153
We believe this is happening across multiple SDKs, so we are checking into possible solutions. I'll keep this issue updated when we learn more about the issue.

[2021-03-14 23:39] YamirL opened #1154 "[Watson-assistant] Context variables passed from client does not work"
**Overview**
I have configured an watson skill that have a node which responds a greeting using the context variable "username". Response configured within node is "Hi $username! How can I help you?"

When I try it out from assistant's configurator, setting the value "Alice" for username context variable I have the result "Hi Alice! How can I help you?" what is ok.

I tried to do same from a Java

[2021-03-15 15:39] kevinkowa commented on #1154
Hi @YamirL! This is working on my side, can you verify that you are using the correct assistant id?

[2021-03-15 16:44] YamirL commented on #1154
I verified assistant id and it is correct, however I found that skill version was incorrect. I updated to latest skill version and it works correctly.

[2021-03-15 16:44] #1154 closed

[2021-04-07 13:41] vini0012 commented on #1153
@kevinkowa I have the same problem, any news about it?

[2021-04-07 14:54] kevinkowa commented on #1153
We are looking into it 👍

[2021-05-18 14:33] kevinkowa commented on #1153
Hi, thank you for your patience. You can now try the new version `9.1.1` which includes a fix for this issue.
We introduced new models and a new functions so this is achievable.

Example of usage:
[code]

If there are any questions, feel free to create a new issue!

[2021-05-18 14:33] #1153 closed

[2021-06-04 13:36] paulombweber commented on #1153
This solved my issue, but just for the record, .asPatch isn't a patch, you should rename it to .asPut, since as REST standard a patch you should only send what you want to change, and this method does the exatc opposite, it just get the object to map, so if you have any property previously saved and you doesn't inform it, you'll overrade it.

[2021-06-07 20:49] 3xpl0itz opened #1171 "[Language Translator] InaccessibleObjectException when fetching supported languages with JDK 16"
**Check service status**
No current service issues.

---

**Overview**
Using the newly released JDK 16, attempting to get a list of all supported languages with LanguageTranslator.listLanguages() throws an InaccessibleObjectException. Before JDK 16, a reflection access warning would be printed to the console instead, but now it throws an exception and fails to get all supported languages. This see

[2021-06-14 14:17] kevinkowa commented on #1171
Thanks, we will look into this!

[2021-11-10 10:05] HidekiMori opened #1195 "Gson 2.8.9 java.lang.NoSuchFieldError"
(I apologize if I have read the posting rules because I don't understand English enough.)

Hi, it's just a report, not a bug.

When I use Gson updated to 2.8.9, I get the following error :

java.lang.RuntimeException: Error while fetching access token from token service:
	at com.ibm.cloud.sdk.core.security.TokenRequestBasedAuthenticator.getToken(TokenRequestBasedAuthenticator.java:222)
	at com.ibm

[2021-11-23 09:02] manish-bansal commented on #1195
Please update the core sdk to latest. Core already has fix for it.

[2021-11-24 14:01] HidekiMori commented on #1195
Thank you for your advice.
I have confirmed that the following set works.

sdk 9.3.0
sdk-core 9.15.0
gson 2.8.9

[2021-11-24 14:01] #1195 closed

[2021-12-15 21:17] kevinkowa commented on #1171
Closing this issue since the core team is debugging it. Latest version of the core is using a newer version of gson, try it out with `v9.3.1`

[2021-12-15 21:17] #1171 closed

[2022-03-16 13:54] kevinkowa opened #1204 "Deserialization target class for discriminator value: search"
**Overview**
Calling log functions that contain both v1 & v2 responses causes an error if it contains an output type not available in v1 such as search which is not available in v1. This creates an issue with the de-serialization of the object since that is not available in v1.

RuntimeResponseGenericRuntimeResponseTypeSearch is not available in Assistant v1.

Follow up for https://github.com/IBM/

[2022-03-16 16:12] prasant94 opened #1205 "[Watson-Assistant v1] Missing fields in Workspace model get overridden after update request"
The `Workspace` model in the sdk is missing some fields that we receive if we make a curl request to the [Get Workspace API](https://cloud.ibm.com/apidocs/assistant/assistant-v1#getworkspace). Specifically, the `WorkspaceSystemSettings` field ([WorkspaceSystemSettings.java](https://github.com/watson-developer-cloud/java-sdk/blob/master/assistant/src/main/java/com/ibm/watson/assistant/v1/model/Work

[2022-03-16 17:05] kevinkowa commented on #1205
`auto_learn` is not included on the sdks, it’s marked as for internal use only. As for `intent_classification`, it's not listed in our docs. This could potentially be available later on in some future release.

For now if you need to modify them, feel free to use the following custom code:

[code]

[2022-03-16 19:52] prasant94 commented on #1205
The main problem is

I don't want to change those two fields. But I want to be able to update the rest of the Workspace without affecting those two settings. But since I can't include them in the request, they get changed (presumably to their default values)

[2022-03-16 20:30] kevinkowa commented on #1205
@prasant94 what did it have for `training_backend_version` & `auto_learn` before calling the function?

[2022-03-16 20:34] prasant94 commented on #1205
`training_backend_version` was `v2` and `auto_learn` was `{"apply": true}`

Before
[code]

After
[code]

[2022-06-13 10:06] abajzat opened #1210 "ibm.sdk-core bump for gson fix"
Hi. Not really a bug, but rather a question/request.  We're encountering a `java.lang.NoClassDefFoundError: com/google/gson/internal/reflect/ReflectionAccessor` because of gson:2.8.9. I see this is a transitive dependency coming from java-sdk-core, and that it's been updated to `gson:2.9.0`. See this issue https://github.com/IBM/java-sdk-core/issues/168.

Can we bump java-sdk-core to `9.15.5` ? We

[2022-07-20 10:09] manish-bansal commented on #1210
Really need this one please release new version.

[2022-08-19 15:22] apaparazzi0329 commented on #1210
Release 10.1 of the java-sdk comes with core version 9.17.3 so this issue should be resolved. Feel free to reopen this issue if the issue persists

[2022-08-19 15:22] #1210 closed

[2022-09-28 08:35] vinzaceto opened #1212 "Fatal Exception: java.lang.NoClassDefFoundError on Android 6"
We are facing a fatal crash on Android 6 on create assistant session: NoClassDefFoundError Exception.
This is the log of the crash:
[code]
The problem seems to be related to GUAVA version used in the SDK.
Looking at your pom.xml file, I found this:
[code]
that may not be compatible with Android 6 (API 26).

Could you check and give us feedback?

**SDK Version**
- v10.1.0

**Additional information: